<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3eb38bb-c197-4e78-952a-a5eb3d180725" Alias="Blaaskrampen" Level="4">
  <Info>
    <Parent Key="eec8b459-b84b-4660-a4dd-98c2cecd19e2">Veelgestelde vragen</Parent>
    <Path>/Website/SharedContent/VeelgesteldeVragen/Blaaskrampen</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2022-07-04T08:49:23</CreateDate>
    <NodeName Default="Blaaskrampen">
      <Name Culture="nl-nl">Blaaskrampen</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<p>Blaaskrampen voelen alsof u moet plassen. Dit kan pijn doen.</p>
<p>U heeft vooral pijn in de onderbuik. Soms straalt de pijn uit naar de penis of schaamstreek.</p>
<p>Door de blaaskrampen kan urine lekken langs de katheter.</p>
<p>Blaaskrampen kunnen ontstaan door:</p>
<ul>
<li>Het plaatsen van de katheter. Vooral de eerste dagen moet het lichaam wennen aan de katheter.</li>
<li>Een verstopping van de katheter. Controleer daarom ook de punten die zijn genoemd bij: verstopping van de katheter.</li>
</ul>
<p>Heeft u veel last van de blaaskrampen en gaan ze niet over? <br /><strong>Neem dan contact op met OLVG</strong></p>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Blaaskrampen]]></Value>
    </question>
  </Properties>
</Content>