<?xml version="1.0" encoding="utf-8"?>
<Content Key="b832a28a-279b-4924-8c0c-9407edd9e4e0" Alias="Hartcentrum" Level="5">
  <Info>
    <Parent Key="e6dc5fa5-2fad-45e5-96e8-61689168277e">Afdelingen</Parent>
    <Path>/Website/Pages/Home/Afdelingen/Hartcentrum</Path>
    <Trashed>false</Trashed>
    <ContentType>department</ContentType>
    <CreateDate>2022-04-22T11:07:01</CreateDate>
    <NodeName Default="Hartcentrum">
      <Name Culture="en-us">Heartcentre</Name>
      <Name Culture="nl-nl">Hartcentrum</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="10609b1b-0305-4eea-811b-75eeef67f993">Afdeling</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <contactLink>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Test redactioneel contact",
    "udi": "umb://document/feb48aea42034bf7925747421cadf0c4"
  }
]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "MijnOLVG",
    "url": "https://www.mijnolvg.nl/MyChart-PRD/Authentication/Login?"
  }
]]]></Value>
    </contactLink>
    <contactsTitle>
      <Value Culture="en-us"><![CDATA[Contact]]></Value>
      <Value Culture="nl-nl"><![CDATA[Contact & afspraak]]></Value>
    </contactsTitle>
    <departmentContacts>
      <Value Culture="en-us"><![CDATA[[
  {
    "abstractText": "<p>020 599 30 32</p>",
    "abstractTitle": "Contact & afspraak",
    "key": "b5777c21-0791-4149-a0bc-187b225f375d",
    "name": "Item 1",
    "ncContentTypeAlias": "abstractTitleText"
  }
]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "abstractText": "{\"markup\":\"<p>020 599 30 32</p>\",\"blocks\":{\"contentData\":[],\"settingsData\":[]}}",
    "abstractTitle": "Contact & afspraak",
    "key": "a08a39d3-bcbd-4342-a6fd-886fa9f3ba68",
    "name": "Item 1",
    "ncContentTypeAlias": "abstractTitleText",
    "PropType": null
  }
]]]></Value>
    </departmentContacts>
    <departmentContactsBL>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c3152cf344164d6fbad0eead296c3b86"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<p>020 599 30 32</p>",
      "abstractTitle": "Contact & afspraak",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/c3152cf344164d6fbad0eead296c3b86"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f17f8ae99b7a4b119220129ade37040f"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": {
        "markup": "<p>020 599 30 32</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "abstractTitle": "Contact & afspraak",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/f17f8ae99b7a4b119220129ade37040f"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContactsBL>
    <departmentErvaringsverhaal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/7aaa0a748c434b97b4e6be5b9046988f]]></Value>
    </departmentErvaringsverhaal>
    <departmentFacts>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "factAmount": "2000",
    "factTitle": "dotterbehandelingen per jaar",
    "key": "09668f14-3024-47dd-8ac0-3bb69537be10",
    "name": "dotterbehandelingen per jaar - 2000",
    "ncContentTypeAlias": "factItem",
    "PropType": null
  },
  {
    "factAmount": "800",
    "factTitle": "hartoperaties per jaar",
    "key": "25535bf4-585f-445a-9d5b-3ac8b8ea6659",
    "name": "hartoperaties per jaar - 800",
    "ncContentTypeAlias": "factItem",
    "PropType": null
  }
]]]></Value>
    </departmentFacts>
    <departmentFactsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/97aa646bb3c6430e92c93d0013faa831"
      },
      {
        "contentUdi": "umb://element/b1dabf06115e40e8a7bf117ea0506566"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
      "factAmount": "2000",
      "factTitle": "dotterbehandelingen per jaar",
      "udi": "umb://element/97aa646bb3c6430e92c93d0013faa831"
    },
    {
      "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
      "factAmount": "800",
      "factTitle": "hartoperaties per jaar",
      "udi": "umb://element/b1dabf06115e40e8a7bf117ea0506566"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentFactsBL>
    <departmentImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "9cc9edf5-0448-451a-8488-31e0ea12c1e5",
    "mediaKey": "54595fb3-aecd-4f93-ae9c-380b0a0c89bd"
  }
]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "4200891a-c057-4966-8ac2-96e609c19cc9",
    "mediaKey": "8c7bc22c-e97b-44c5-a237-3a140667c415"
  }
]]]></Value>
    </departmentImage>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <faq>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/58b38b58e5dd4dfbababf8c87fecd934]]></Value>
    </faq>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <healthcareProfessionals>
      <Value Culture="en-us"><![CDATA[umb://document/238e8e74f5054bc5ace5316cc3866fe5]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/238e8e74f5054bc5ace5316cc3866fe5]]></Value>
    </healthcareProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionExtraContentBlock>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Dit is content boven de inhoudsopgave.</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introductionExtraContentBlock>
    <introductionText>
      <Value Culture="en-us"><![CDATA[<p>Dit is een full RTE met <strong>bold</strong>, <em>schuingedrukt</em>, onderstreept</p>
<p><a href="https://www.werkenbijolvg.nl">linkje</a></p>
<p><a href="https://www.werkenbijolvg.nl">Button</a></p>
<p class="intro">Introtekst Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Dit is een full RTE met <strong>bold</strong>, <em>schuingedrukt</em>, onderstreept</p>\n<p><a href=\"https://www.werkenbijolvg.nl\">linkje</a></p>\n<p><span class=\"big-button-red\"><a href=\"https://www.werkenbijolvg.nl\">Button</a></span></p>\n<p class=\"intro\">Introtekst Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="en-us"><![CDATA[<p>Dit is een full RTE met <strong>bold</strong>, <em>schuingedrukt</em>, onderstreept</p>
<p><a href="https://www.werkenbijolvg.nl">linkje</a></p>
<p><a href="https://www.werkenbijolvg.nl">Button</a></p>
<p class="intro">Introtekst Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Dit is een full RTE met <strong>bold</strong>, <em>schuingedrukt</em>, onderstreept</p>\n<p><a href=\"https://www.werkenbijolvg.nl\">linkje</a></p>\n<p><span class=\"big-button-red\"><a href=\"https://www.werkenbijolvg.nl\">Button</a></span></p>\n<p class=\"intro\">Introtekst Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introductionTextExpandable>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <lijstExterneLinks>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Hoe werkt het hart?",
    "url": "#"
  },
  {
    "name": "Hartstichting",
    "url": "#"
  },
  {
    "name": "Filmpje 'Herstellen na een operatie'",
    "url": "#"
  },
  {
    "name": "Filmpje 'Goed voorbereid en beter herstel'",
    "url": "#"
  }
]]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Hartrevalidatie",
    "url": "#"
  },
  {
    "name": "High Performance Partner TeamNL",
    "url": "#"
  },
  {
    "name": "OLVG start nieuwe aanpak hartfalen",
    "url": "#"
  },
  {
    "name": "Hartcentrum jaarverslag 2019",
    "url": "#"
  }
]]]></Value>
    </lijstInterneLinks>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <photobook>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/61098a05877f4c7eaff712c9af45a301,umb://document/d5f2777a13c2435987ff189c13fce7ea]]></Value>
    </photobook>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Omschrijving]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Test
Test2]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[<SEOChecker>
  <focusKeyword></focusKeyword>
  <seoTitle>Hartcentrum | OLVG</seoTitle>
  <seoKeywords></seoKeywords>
  <seoDescription></seoDescription>
  <culture />
</SEOChecker>]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[<SEOCheckerMetaRobotValues>
  <index>index</index>
  <follow>follow</follow>
</SEOCheckerMetaRobotValues>]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[<SEOCheckerXMLSitemapValues>
  <prio></prio>
  <changeFrequency></changeFrequency>
</SEOCheckerXMLSitemapValues>]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[<p>Subtitel custom</p>]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Subtitel custom</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <synonyms>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonyms>
    <synonymsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonymsBL>
    <tableOfContentsTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="en-us"><![CDATA[Heartcentre]]></Value>
      <Value Culture="nl-nl"><![CDATA[Hartcentrum]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[Hartcentrum | OLVG]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
    <videoComponentLink>
      <Value><![CDATA[[
  {
    "name": "https://vimeo.com/648080311",
    "url": "https://vimeo.com/648080311"
  }
]]]></Value>
    </videoComponentLink>
    <videoComponentTitleItem>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Video Vimeo test]]></Value>
    </videoComponentTitleItem>
  </Properties>
</Content>