<?xml version="1.0" encoding="utf-8"?>
<Content Key="325acf62-2feb-4294-9926-20fb6e0eb808" Alias="OLVG volgt CMS training bij Proud Nerds" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/OLVGVolgtCMSTrainingBijProudNerds</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-09-08T11:33:37</CreateDate>
    <NodeName Default="OLVG volgt CMS training bij Proud Nerds">
      <Name Culture="nl-nl">OLVG volgt CMS training bij Proud Nerds</Name>
    </NodeName>
    <SortOrder>54</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="d88ac16f-7cc9-4c6c-af05-8042e12cff62">MedicalInformation</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <departments>
      <Value><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "72211a24-0f76-4a0b-9a12-d91e62b3373d",
    "medicalContentBlocks": "umb://document/f983ad6572b1424b879e8c0f11f4dc3f",
    "name": "Gekoppelde pagina: Hartkatheterisatie",
    "ncContentTypeAlias": "medischInformatieBlokElement",
    "shortTitle": "OLVG volgt CMS training bij Proud Nerds"
  },
  {
    "key": "0ea163e2-01c1-4efa-a326-272832fe7583",
    "medicalContentBlocks": "umb://document/a692091fed52496d94ba885faa7fc48b",
    "name": "Gekoppelde pagina: TestB",
    "ncContentTypeAlias": "medischInformatieBlokElement",
    "shortTitle": ""
  },
  {
    "key": "74974343-51e5-4526-960c-cd4beb4927e7",
    "medicalContentBlocks": "umb://document/11bb6c894f5a4810870b8a73f3c9fc77",
    "name": "Gekoppelde pagina: Besnijdenis CMS Titel",
    "ncContentTypeAlias": "medischInformatieBlokElement",
    "shortTitle": ""
  }
]]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/51dd6cd0c89c4d2ab436dbdceaebe679"
      },
      {
        "contentUdi": "umb://element/47ff742f503c42dbb4177c517321331d"
      },
      {
        "contentUdi": "umb://element/0d18ccd8fb2f4c8c95620a11ecc10d82"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/f983ad6572b1424b879e8c0f11f4dc3f",
      "shortTitle": "OLVG volgt CMS training bij Proud Nerds",
      "udi": "umb://element/51dd6cd0c89c4d2ab436dbdceaebe679"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/a692091fed52496d94ba885faa7fc48b",
      "udi": "umb://element/47ff742f503c42dbb4177c517321331d"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/11bb6c894f5a4810870b8a73f3c9fc77",
      "udi": "umb://element/0d18ccd8fb2f4c8c95620a11ecc10d82"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[blablablablabla]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[blablablalbalvalbalvavpakv[wg;oaputae;oir]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Nuttig",
    "target": "_blank",
    "url": "https://olvg-web-acc.azurewebsites.net/"
  }
]]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "meer",
    "url": "https://olvg-web-acc.azurewebsites.net/"
  }
]]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "backgroundColor": "",
    "backgroundImage": "[]",
    "importantInformationIcon": "[\r\n  \"Ja\"\r\n]",
    "importantInfoText": "<p>Heeel belangrijk</p>",
    "key": "8f939715-a3c9-4540-9242-7d0968ce8101",
    "name": "Uitgelicht blok",
    "ncContentTypeAlias": "belangrijkInformatie"
  },
  {
    "backgroundColor": "",
    "backgroundImage": "[]",
    "image": "[\r\n  {\r\n    \"key\": \"c68f6eec-5a3a-497c-8941-203fe7773e57\",\r\n    \"mediaKey\": \"103e64c3-cfc2-41fd-b7a5-80610bf99627\"\r\n  }\r\n]",
    "imagePosition": "Centreren",
    "imageText": "",
    "key": "1be20c92-c7d3-49bf-8ba0-a3bb09561be4",
    "name": "Afbeelding",
    "ncContentTypeAlias": "afbeeldingRij"
  },
  {
    "backgroundColor": "",
    "backgroundImage": "[]",
    "key": "ecefca70-5145-4586-a57b-e035ae8f0741",
    "medicalInfoPhotobook": "",
    "name": "OLVG volgt CMS training bij Proud Nerds",
    "ncContentTypeAlias": "photobook",
    "photoBookTitle": "OLVG volgt CMS training bij Proud Nerds"
  },
  {
    "backgroundColor": "",
    "backgroundImage": "[]",
    "gradientBlock": "",
    "key": "0d481ee0-1715-434a-b7fa-fb669f9f2ea3",
    "name": "verloop",
    "ncContentTypeAlias": "nestedContentGradientBlock",
    "verloopTitle": "verloop"
  },
  {
    "backgroundColor": "",
    "backgroundImage": "[]",
    "factTitle": "Het is een feit",
    "key": "0578aeec-9965-4629-9812-0956a1a1619e",
    "medicalInfoFacts": "[\r\n  {\r\n    \"factAmount\": \"234\",\r\n    \"factTitle\": \"echt waar\",\r\n    \"key\": \"f1b95c44-88f6-4531-af5f-ac7469f6ef7f\",\r\n    \"name\": \"echt waar - 234\",\r\n    \"ncContentTypeAlias\": \"factItem\"\r\n  }\r\n]",
    "name": "Het is een feit",
    "ncContentTypeAlias": "feiten"
  }
]]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/23dc710358604d1a895f9b98688fb1b2"
      },
      {
        "contentUdi": "umb://element/cd33811b4cc94b6394c4d4c0effebd91"
      },
      {
        "contentUdi": "umb://element/aeb5144ad69b405e8315f467320e5b5f"
      },
      {
        "contentUdi": "umb://element/1954291138924640949f5ee9327d3f06"
      },
      {
        "contentUdi": "umb://element/830f4234c3644ea99e66b08d743763c9"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Heeel belangrijk</p>",
      "udi": "umb://element/23dc710358604d1a895f9b98688fb1b2"
    },
    {
      "backgroundImage": [],
      "contentTypeKey": "6392fb73-e9d7-47de-99b1-f3262e9fc9dc",
      "image": [
        {
          "key": "c68f6eec-5a3a-497c-8941-203fe7773e57",
          "mediaKey": "103e64c3-cfc2-41fd-b7a5-80610bf99627"
        }
      ],
      "imagePosition": "Centreren",
      "udi": "umb://element/cd33811b4cc94b6394c4d4c0effebd91"
    },
    {
      "backgroundImage": [],
      "contentTypeKey": "015cf604-2419-4baf-9ce2-9cc65c91293e",
      "photoBookTitle": "OLVG volgt CMS training bij Proud Nerds",
      "udi": "umb://element/aeb5144ad69b405e8315f467320e5b5f"
    },
    {
      "backgroundImage": [],
      "contentTypeKey": "be2f80ef-c73b-427b-bc9b-02e17cb2f868",
      "udi": "umb://element/1954291138924640949f5ee9327d3f06",
      "verloopTitle": "verloop"
    },
    {
      "backgroundImage": [],
      "contentTypeKey": "40c70104-bf61-4972-b539-cf39ee38599b",
      "factTitle": "Het is een feit",
      "medicalInfoFactsBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ddb66ebd8fd54690a51fec038bd39661"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
            "factAmount": "234",
            "factTitle": "echt waar",
            "udi": "umb://element/ddb66ebd8fd54690a51fec038bd39661"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/830f4234c3644ea99e66b08d743763c9"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Onderzoeken]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>Leer meer</p>]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[Geen goede inhoud]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[OLVG volgt CMS training bij Proud Nerds]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>