<?xml version="1.0" encoding="utf-8"?>
<Content Key="f23479bc-68dd-43b0-92ec-353ef8bad0b3" Alias="PGO" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/PGO</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContent</ContentType>
    <CreateDate>2023-02-13T06:56:34</CreateDate>
    <NodeName Default="PGO">
      <Name Culture="nl-nl">PGO</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="bc49de6b-905a-4cd6-b721-5cdfe311ce18">StandaardContent</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <content>
      <Value Culture="nl-nl"><![CDATA[<p class="component-expandable-introduction collapse-expand-component intro">Nederlandse ziekenhuizen werken samen om de digitale uitwisseling van gezondheidsinformatie mogelijk te maken. Ook OLVG werkt hieraan mee. Op deze pagina leest u meer over de voordelen van digitale gegevensuitwisseling via een persoonlijke gezondheidsomgeving (PGO).</p>
<h3>Informatie op verschillende plekken</h3>
<p>Momenteel wordt op verschillende plekken informatie over uw gezondheid bewaard. De huisarts heeft bijvoorbeeld een overzicht van uw gezondheidsklachten, de apotheker beheert uw medicatieoverzicht en u heeft zelf een stappenteller op uw telefoon. Voor uzelf en voor de verschillende zorgorganisaties zou het veel gemakkelijker zijn als al deze informatie bij elkaar staat en uitgewisseld kan worden. Dat kan met een <strong>persoonlijke gezondheidsomgeving (PGO). </strong></p>
<h3>Alle gegevens bij elkaar </h3>
<p>Een <strong>PGO </strong>is een app of website waarin u digitaal informatie over uw gezondheid kunt bijhouden. Een PGO is anders dan ons patiëntenportaal MijnOLVG, waarin u alleen de medische gegevens kun bekijken die OLVG van u heeft. In een PGO kunt u uiteindelijk informatie van <strong>alle zorginstellingen</strong> waar u onder behandeling bent beheren. Bijvoorbeeld de bloeduitslagen van uw huisarts, de vaccinaties van de GGD en uw medicatieoverzicht van de apotheek. Het is ook mogelijk om <strong>zelf informatie toe te voegen</strong>, zoals allergieën of uw gewicht. Met een PGO heeft u dus grip op uw medische gegevens.<a href="https://youtu.be/mm9qOgyJeM8"></a></p>
<div class="mceNonEditable embeditem" data-embed-url="https://youtu.be/mm9qOgyJeM8" data-embed-height="240" data-embed-width="360" data-embed-constrain="true"></div>
<div class="media media-element-container media-default">
<div id="file-9696" class="file file-video file-video-youtube">
<div class="content">
<div class="media-youtube-video media-element file-default media-youtube-1">
<h3>Informatie uitwisselen</h3>
<p>Een PGO is handig voor uzelf én voor ons als ziekenhuis. Voor uzelf geeft het <strong>overzicht</strong>, alle gegevens over uw gezondheid staan op één online plek. Deze gegevens kun u <strong>gemakkelijk en veilig delen </strong>met uw zorgverleners. U bepaalt altijd zelf of u deze informatie deelt en met wie.<br />Een PGO heeft ook voordelen voor de zorgverleners. Omdat zij straks alle medische gegevens kunnen inzien, krijgen zij een <strong>completer beeld</strong> van uw gezondheid. Daarnaast scheelt het op den duur ook in tijd en administratie. Er hoeven dan namelijk geen gegevens meer uit andere zorginstellingen opgevraagd te worden. </p>
<p>Het gebruik van een PGO zorgt uiteindelijk voor betere gesprekken tussen u als patiënt en onze zorgverleners. Daardoor kunnen wij passende en betere zorg leveren. </p>
<h3>Gegevens delen vanuit MijnOLVG</h3>
<p class="dummy">Het toegankelijk maken van medische informatie in een PGO gaat stap voor stap. Het is al een tijdje mogelijk om informatie van uw huisarts toe te voegen in een PGO. Sinds kort kunt u ook uw medische gegevens van OLVG delen met uw PGO. </p>
<h3>Kiezen voor een PGO</h3>
<p>Er is niet één PGO, sterker nog, veel verschillende leveranciers bieden een PGO aan. Het kan best lastig zijn om daarin een keuze te maken. Daarom heeft de organisatie MedMij regels gemaakt voor het veilig uitwisselen van medische gegevens. PGO’s met een <strong>MedMij-label</strong> volgen deze regels en gaan dus vertrouwelijk met uw gegevens om. Er zijn 24 PGO’s met een MedMij-label. In elke PGO kunt u weer andere gegevens bijhouden. Bijvoorbeeld hartslagmetingen, of eet- en slaapgewoonten. Kies een PGO die goed <strong>bij uw situatie past</strong>. Vindt u het lastig om een keuze te maken, gebruik dan de <a rel="noopener" href="https://www.pgo.nl/kies-een-pgo/" target="_blank" class="ext">PGO-vergelijker</a>. </p>
</div>
</div>
</div>
</div>]]></Value>
    </content>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <fAQ>
      <Value><![CDATA[]]></Value>
    </fAQ>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElementsBL>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>grip op uw medische gegevens</p>]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="nl-nl"><![CDATA[PGO]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
    <zorgverleners>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </zorgverleners>
  </Properties>
</Content>