<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa1ed1de-fe55-4d66-90a5-b00021ee60ae" Alias="Redactionele blokken" Level="3">
  <Info>
    <Parent Key="da8f90bb-08a2-48d8-86e2-c7013c502599">Shared content</Parent>
    <Path>/Website/SharedContent/RedactioneleBlokken</Path>
    <Trashed>false</Trashed>
    <ContentType>editorialFolder</ContentType>
    <CreateDate>2022-05-23T12:17:00</CreateDate>
    <NodeName Default="Redactionele blokken">
      <Name Culture="nl-nl">Redactionele blokken</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>