<?xml version="1.0" encoding="utf-8"?>
<Content Key="55706ce7-7676-4e14-9f9a-120b9c49cd3a" Alias="Routes" Level="3">
  <Info>
    <Parent Key="c8685dba-2eac-49b9-bf82-debde16f9f6f">Shared Content Ushamwari</Parent>
    <Path>/Ushamwari/SharedContentUshamwari/Routes</Path>
    <Trashed>false</Trashed>
    <ContentType>routeFolder</ContentType>
    <CreateDate>2023-07-19T09:30:50</CreateDate>
    <NodeName Default="Routes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>