<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6923741-15c6-4d1e-ae7f-61ed897c6099" Alias="Test Oogonderzoek" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/TestOogonderzoek</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-09-08T11:40:25</CreateDate>
    <NodeName Default="Test Oogonderzoek">
      <Name Culture="nl-nl">Test Oogonderzoek</Name>
    </NodeName>
    <SortOrder>56</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="d88ac16f-7cc9-4c6c-af05-8042e12cff62">MedicalInformation</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/01bb7c1d25c0499d9b2f3cb0b5670fa1]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "contentItemContentText": "<p>Een oog zit in je hoofd. Je kijkt ermee. </p>\n<p><img style=\"float: left;\" src=\"?width=362&amp;height=204\" alt=\"\" width=\"362\" height=\"204\" data-udi=\"umb://media/0e939d6f87c94bdc8dee9e163275c0e3\" /></p>\n<p>Wow! Het is een oog!</p>\n<p><img src=\"\" alt=\"\" data-udi=\"umb://media/3484b48893c944ff982fc72da281e1aa\" /></p>",
    "contentItemTitle": "Wat is een oog?",
    "key": "446d5a63-1630-4406-82d8-a5052af3c448",
    "name": "Hoofd content blokken",
    "ncContentTypeAlias": "hoofdContentBlokken"
  },
  {
    "importantInformationIcon": "[\r\n  \"Ja\"\r\n]",
    "importantInfoText": "<p>Eet veel worteltjes!</p>",
    "key": "515f8b47-a705-4e8c-92cb-541c6753a306",
    "name": "Belangrijk Informatie",
    "ncContentTypeAlias": "belangrijkInformatie"
  }
]]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9c92b40053334d0ca800297e3c524509"
      },
      {
        "contentUdi": "umb://element/3ed85402977a4fc5bca8e30e739edad9"
      }
    ]
  },
  "contentData": [
    {
      "contentItemContentText": "<p>Een oog zit in je hoofd. Je kijkt ermee. </p>\n<p><img style=\"float: left;\" src=\"?width=362&amp;height=204\" alt=\"\" width=\"362\" height=\"204\" data-udi=\"umb://media/0e939d6f87c94bdc8dee9e163275c0e3\" /></p>\n<p>Wow! Het is een oog!</p>\n<p><img src=\"\" alt=\"\" data-udi=\"umb://media/3484b48893c944ff982fc72da281e1aa\" /></p>",
      "contentItemTitle": "Wat is een oog?",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/9c92b40053334d0ca800297e3c524509"
    },
    {
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Eet veel worteltjes!</p>",
      "udi": "umb://element/3ed85402977a4fc5bca8e30e739edad9"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Onderzoeken]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Oogonderzoek]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>