<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a5a37b8-8b6e-4a4d-8029-3a8e5d3dc86b" Alias="Testpagina's" Level="4">
  <Info>
    <Parent Key="28a44b42-75dd-41ad-895d-56e31aa6c0d9">Homepage</Parent>
    <Path>/Diaboss/Pages/Homepage/Testpaginas</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspaginaSubsite</ContentType>
    <CreateDate>2023-07-19T08:46:32</CreateDate>
    <NodeName Default="Testpagina's">
      <Name Culture="en-us">Testpage</Name>
      <Name Culture="nl-nl">Testpagina's</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="e4dc38d9-e972-43cd-9967-a6b0085ed217">OverzichtspaginaSubsite</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <featuredItems>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"0a3f33b9-fe78-4dfd-b0c1-ffed05cfd28d\",\r\n    \"mediaKey\": \"3484b488-93c9-44ff-982f-c72da281e1aa\"\r\n  }\r\n]",
    "key": "8a1822fd-700a-4b2c-8ae7-c83d6617c483",
    "name": "testtest",
    "ncContentTypeAlias": "featuredItem",
    "PropType": null,
    "textFeaturedItem": "",
    "titleFeaturedItem": "testtest",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Page not found\",\r\n    \"udi\": \"umb://document/c011bd8f784c4bb79e47dba5166f0d1b\"\r\n  }\r\n]"
  },
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"0a3f33b9-fe78-4dfd-b0c1-ffed05cfd28d\",\r\n    \"mediaKey\": \"3484b488-93c9-44ff-982f-c72da281e1aa\"\r\n  }\r\n]",
    "key": "d40a0ffd-f9ac-438d-92db-898c55da2de0",
    "name": "testtest",
    "ncContentTypeAlias": "featuredItem",
    "PropType": null,
    "textFeaturedItem": "",
    "titleFeaturedItem": "testtest",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Page not found\",\r\n    \"udi\": \"umb://document/c011bd8f784c4bb79e47dba5166f0d1b\"\r\n  }\r\n]"
  },
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"0a3f33b9-fe78-4dfd-b0c1-ffed05cfd28d\",\r\n    \"mediaKey\": \"3484b488-93c9-44ff-982f-c72da281e1aa\"\r\n  }\r\n]",
    "key": "07a61442-c2fc-4f92-85e3-de6768426227",
    "name": "testtest",
    "ncContentTypeAlias": "featuredItem",
    "PropType": null,
    "textFeaturedItem": "",
    "titleFeaturedItem": "testtest",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Page not found\",\r\n    \"udi\": \"umb://document/c011bd8f784c4bb79e47dba5166f0d1b\"\r\n  }\r\n]"
  }
]]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1524e378221c4b7a81391fb073c98573"
      },
      {
        "contentUdi": "umb://element/87bb756fe8a1428bb98263dcd4186182"
      },
      {
        "contentUdi": "umb://element/3e83e52f0d64423eb9abe0f8b06b0fe3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "0a3f33b9-fe78-4dfd-b0c1-ffed05cfd28d",
          "mediaKey": "3484b488-93c9-44ff-982f-c72da281e1aa"
        }
      ],
      "titleFeaturedItem": "testtest",
      "udi": "umb://element/1524e378221c4b7a81391fb073c98573",
      "urlFeaturedItem": [
        {
          "name": "Page not found",
          "udi": "umb://document/c011bd8f784c4bb79e47dba5166f0d1b"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "0a3f33b9-fe78-4dfd-b0c1-ffed05cfd28d",
          "mediaKey": "3484b488-93c9-44ff-982f-c72da281e1aa"
        }
      ],
      "titleFeaturedItem": "testtest",
      "udi": "umb://element/87bb756fe8a1428bb98263dcd4186182",
      "urlFeaturedItem": [
        {
          "name": "Page not found",
          "udi": "umb://document/c011bd8f784c4bb79e47dba5166f0d1b"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "0a3f33b9-fe78-4dfd-b0c1-ffed05cfd28d",
          "mediaKey": "3484b488-93c9-44ff-982f-c72da281e1aa"
        }
      ],
      "titleFeaturedItem": "testtest",
      "udi": "umb://element/3e83e52f0d64423eb9abe0f8b06b0fe3",
      "urlFeaturedItem": [
        {
          "name": "Page not found",
          "udi": "umb://document/c011bd8f784c4bb79e47dba5166f0d1b"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItemsBL>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <links>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </links>
    <linksBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="en-us"><![CDATA[Testpage en]]></Value>
      <Value Culture="nl-nl"><![CDATA[Testpagina's]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>