<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b536dbf-91a7-4c6a-8437-d782fb1f72c5" Alias="Veelgestelde vragen" Level="3">
  <Info>
    <Parent Key="c8685dba-2eac-49b9-bf82-debde16f9f6f">Shared Content Ushamwari</Parent>
    <Path>/Ushamwari/SharedContentUshamwari/VeelgesteldeVragen</Path>
    <Trashed>false</Trashed>
    <ContentType>faqContainer</ContentType>
    <CreateDate>2023-07-19T09:30:50</CreateDate>
    <NodeName Default="Veelgestelde vragen" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>