<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8f6f5e4-779a-43d4-9646-a3dbb434f3c5" Alias="VrijMiBo" Level="5">
  <Info>
    <Parent Key="3cf9b593-6dce-4d4b-bdce-2dffc5caec40">Agenda</Parent>
    <Path>/Website/Pages/Home/Agenda/VrijMiBo</Path>
    <Trashed>false</Trashed>
    <ContentType>agendaItem</ContentType>
    <CreateDate>2022-09-08T11:07:16</CreateDate>
    <NodeName Default="VrijMiBo">
      <Name Culture="nl-nl">VrijMiBo</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="14293814-dc51-4b5f-a34d-8416eded6bd3">AgendaItem</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <cardImage>
      <Value><![CDATA[umb://media/30a374398fba4bada67634b5400244c6]]></Value>
    </cardImage>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <content>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </content>
    <datesAndTimes>
      <Value><![CDATA[[
  {
    "dateTimeEndValue": "2022-09-09T21:00:00",
    "dateTimeValue": "2022-09-09T17:00:00",
    "key": "b2e64648-620f-4e98-a937-aa1b8d230b0f",
    "name": "2022-09-09 17:00:00",
    "ncContentTypeAlias": "dateTimeContentElement"
  }
]]]></Value>
    </datesAndTimes>
    <datesAndTimesBL>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/97577497ae4744259e2500dcfbb21268"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b41215cd-5f6a-4d3e-b0d9-63edb202ed20",
      "dateTimeEndValue": "\"2022-09-09T21:00:00\"",
      "dateTimeValue": "\"2022-09-09T17:00:00\"",
      "udi": "umb://element/97577497ae4744259e2500dcfbb21268"
    }
  ],
  "settingsData": []
}]]></Value>
    </datesAndTimesBL>
    <departments>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <healthProfessionals>
      <Value><![CDATA[]]></Value>
    </healthProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[De Vrijdagmiddagborrel, voor alle harde werkers!]]></Value>
    </introductionText>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <locatieTableOfContents>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locatieTableOfContents>
    <locations>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locations>
    <manualRoutes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutes>
    <manualRoutesBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutesBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsItems>
      <Value><![CDATA[]]></Value>
    </newsItems>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <routes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </routes>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="nl-nl"><![CDATA[VrijMiBo]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>