<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3000507d-6d18-4d53-ab9e-e8e21d5a97c8" Alias="Dropdown - thuisarts content types" Level="2">
  <Info>
    <Name>Dropdown - thuisarts content types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Onderwerp"
    },
    {
      "id": 2,
      "value": "Situatie"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>