<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2369d7c2-e05b-4467-ad5b-990325743ce4" Alias="Nested content title text" Level="2">
  <Info>
    <Name>Nested content title text</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "abstractTitleText",
      "ncTabAlias": "Inhoud"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>