<?xml version="1.0" encoding="utf-8"?>
<DataType Key="100fca35-c4a2-4360-bfe2-8a66a3812825" Alias="Redactioneel contact block - Multinode Treepicker - single item" Level="1">
  <Info>
    <Name>Redactioneel contact block - Multinode Treepicker - single item</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "editorialBlock",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site/sharedContentContainer/editorialFolder[@nodeName='Redactionele contactgegevens']",
    "type": "content"
  }
}]]></Config>
</DataType>