<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47c78312-af37-499f-bcbb-2574d34c0649" Alias="1902 Seo Canonical" Level="1">
  <Info>
    <Name>1902 Seo Canonical</Name>
    <EditorAlias>textInput.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "validatortype": -88,
  "placeHolder": "ex. https://proudnerds.com",
  "maxInput": 0,
  "characterCount": "0",
  "hideDefaultLabel": "0",
  "customInnerHint": "Set the URL that you want search engines to treat as the ‘canonical’ version or the ‘master copy’ of your page. This is especially important if this page can be accessed via different URLs, or if you have a different page that contains the same content. This URL is also the link that will appear under your page title on search results.",
  "ruletype": [
    {
      "targetId": 2,
      "conditionSign": "regex",
      "message": "Invalid URL",
      "value": "^(?:http(s)?:\\/\\/)?[\\w.-]+(?:\\.[\\w\\.-]+)+[\\w\\-\\._~:/?#[\\]@!\\$&'\\(\\)\\*\\+,;=.]+$",
      "color": "#dd9d22",
      "reverse": false
    }
  ]
}]]></Config>
</DataType>