<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="914c05de-12d7-444c-8ef7-8283671f013c" Alias="AbstractMailFailMessage" Level="5">
  <Info>
    <Parent>AbstractMailGroup</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Mail not sent</Translation>
    <Translation Language="nl-NL">Mail niet verzonden</Translation>
  </Translations>
</Dictionary>