<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e7212a69-d61f-49cc-8e60-e1ccd2df212e" Alias="Abstract mail" Level="3">
  <Info>
    <Parent>Abstract</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Mail</Translation>
    <Translation Language="nl-NL">Mail</Translation>
  </Translations>
</Dictionary>