<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4326f4e1-6be1-4840-bcbf-79deed7679d0" Alias="Abstract title text content tab" Level="4">
  <Info>
    <Parent>Abstract title text</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Content</Translation>
    <Translation Language="nl-NL">Inhoud</Translation>
  </Translations>
</Dictionary>