<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1cb430b4-dbe7-458e-b5b5-3a77331d0cd3" Alias="Abstract header header tab" Level="4">
  <Info>
    <Parent>Abstract header</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Header</Translation>
    <Translation Language="nl-NL">Header</Translation>
  </Translations>
</Dictionary>