<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0821a94d-9447-4cca-bad4-30e720643661" Alias="Abstract header image name" Level="5">
  <Info>
    <Parent>Abstract header header tab</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Image</Translation>
    <Translation Language="nl-NL">Afbeelding</Translation>
  </Translations>
</Dictionary>