<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fe2e715a-06dd-488a-b9c5-4342802c391f" Alias="Abstract social media" Level="3">
  <Info>
    <Parent>Abstract</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Social media</Translation>
    <Translation Language="nl-NL">Social media</Translation>
  </Translations>
</Dictionary>