<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4c4f5e05-330d-4fe3-a518-2fd56c1c3b4e" Alias="component-image-tile" Level="2">
  <Info>
    <Parent>Components folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Image with text</Translation>
    <Translation Language="nl-NL">Afbeelding met tekst</Translation>
  </Translations>
</Dictionary>