<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f9c98dcc-326d-4d1b-ba66-62596647c539" Alias="FooterBlockText3" Level="5">
  <Info>
    <Parent>FooterBlockTitle3</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Text 3</Translation>
    <Translation Language="nl-NL">Tekst 3</Translation>
  </Translations>
</Dictionary>