<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f59e46a1-acc7-4a5c-b261-0e95372b7a54" Alias="header-location" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Location</Translation>
    <Translation Language="nl-NL">Locatie</Translation>
  </Translations>
</Dictionary>