<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="86d7b82c-bf75-4e61-9615-a12ac6714853" Alias="Health professionals and department list" Level="2">
  <Info>
    <Parent>Components folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Vul hier dictionary keys in voor het component dat gekoppelde zorgverleners en afdelingen laat zien</Translation>
    <Translation Language="nl-NL">Vul hier dictionary keys in voor het component dat gekoppelde zorgverleners en afdelingen laat zien</Translation>
  </Translations>
</Dictionary>