<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ad09ec44-3007-4e09-92c7-9e45114f0c8d" Alias="hpadl-health-professionals-and-departments" Level="3">
  <Info>
    <Parent>Health professionals and department list</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Involved health professionals and departments</Translation>
    <Translation Language="nl-NL">Betrokken zorgverleners en afdelingen</Translation>
  </Translations>
</Dictionary>