<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4da62f0c-1f22-46b0-956c-43f4898fd32c" Alias="NextButtonText" Level="2">
  <Info>
    <Parent>Forms Settings Translations</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next</Translation>
    <Translation Language="nl-NL">Volgende</Translation>
  </Translations>
</Dictionary>