<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c6498417-86d6-45bf-a2f0-25fc08e51aa7" Alias="Tips component" Level="2">
  <Info>
    <Parent>Components folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>