<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="25a57755-9a7a-4b42-b611-dadc8e368ab1" Alias="zorgpad-contact-title" Level="3">
  <Info>
    <Parent>Zorgpad</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Zorgpad</Translation>
    <Translation Language="nl-NL">Zorgpad</Translation>
  </Translations>
</Dictionary>