<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="65697c9d-2db3-4ebd-8c2e-ec6b06927da6" Alias="Abstract menu" Level="3">
  <Info>
    <Parent>Abstract</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Menu</Translation>
    <Translation Language="nl-NL">Menu</Translation>
  </Translations>
</Dictionary>