<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9725b722-b509-4afb-a250-796349084a90" Alias="Abstract meta canonical description" Level="4">
  <Info>
    <Parent>Abstract meta</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If this page contains duplicate content and is secondary to the source page, specify here the full URL of the primary page.</Translation>
    <Translation Language="nl-NL">Indien de pagina gedupliceerde inhoud bevat and is ondergeschikt aan de bronpagina, specificeer hier de volledige URL van de hoofdpagina.</Translation>
  </Translations>
</Dictionary>