<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c3674d6f-1117-4bd2-b1a4-1338a8e695b9" Alias="Abstract title text image direction name" Level="5">
  <Info>
    <Parent>Abstract title text content tab</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Image left?</Translation>
    <Translation Language="nl-NL">Afbeelding links?</Translation>
  </Translations>
</Dictionary>