<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="92882fbb-c48c-40ae-8c05-2495d084449d" Alias="Abstract title text image direction description" Level="6">
  <Info>
    <Parent>Abstract title text image direction name</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If yes, image will be shown on the left of the text, otherwise on the right.</Translation>
    <Translation Language="nl-NL">Als ja, dan wordt de afbeelding links van de tekst getoond, anders rechts.</Translation>
  </Translations>
</Dictionary>