<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8aeac94b-af3b-4d62-acf4-b80ee8365b8d" Alias="Aria top task menu" Level="3">
  <Info>
    <Parent>Title text component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Top tasks menu</Translation>
    <Translation Language="nl-NL">Toptaken menu</Translation>
  </Translations>
</Dictionary>