<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a0825384-27fc-47a3-8b06-69ef5bf06db0" Alias="component-location-contact-details-openingstijden" Level="3">
  <Info>
    <Parent>Location Contact Details</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Opening hours</Translation>
    <Translation Language="nl-NL">Openingstijden</Translation>
  </Translations>
</Dictionary>