<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="95c80f83-c8b4-4640-a591-7ba334846f9f" Alias="Configuration favicon html name" Level="4">
  <Info>
    <Parent>Configuration favicon</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Favicon html</Translation>
    <Translation Language="nl-NL">Favicon html</Translation>
  </Translations>
</Dictionary>