<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e3f1c9d0-e0b9-40e3-b4c4-9ed615919444" Alias="consultation-time-title" Level="3">
  <Info>
    <Parent>Consultation Time component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Consultation time hours</Translation>
    <Translation Language="nl-NL">Tijden spreekuur</Translation>
  </Translations>
</Dictionary>