<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e612605b-30b4-492f-889b-2c80c9f85dd8" Alias="ContentPage" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Rows page</Translation>
    <Translation Language="nl-NL">Rijenpagina</Translation>
  </Translations>
</Dictionary>