<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5126fc7e-a775-41f6-943e-020c5a7bb109" Alias="Container" Level="2">
  <Info>
    <Parent>Document types</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Not in use</Translation>
    <Translation Language="nl-NL">Not in use</Translation>
  </Translations>
</Dictionary>