<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="126b5c08-adaf-4673-965c-234155ead50f" Alias="Facts and cyphers component" Level="2">
  <Info>
    <Parent>Components folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Facts</Translation>
    <Translation Language="nl-NL">Feiten</Translation>
  </Translations>
</Dictionary>