<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f6f5eb14-cd8f-4959-ab7c-d21fd05d0985" Alias="FooterBlockTitle1" Level="4">
  <Info>
    <Parent>FooterName</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Title 1</Translation>
    <Translation Language="nl-NL">Titel 1</Translation>
  </Translations>
</Dictionary>