<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55ed2116-0f83-4106-978b-d5ed5177e933" Alias="FooterBlockTitle1Description" Level="5">
  <Info>
    <Parent>FooterBlockTitle1</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Title of the first block in the footer.</Translation>
    <Translation Language="nl-NL">Titel van het eerste blok in de footer.</Translation>
  </Translations>
</Dictionary>