<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ec96391e-9b36-43a6-98ca-4a8120eaa804" Alias="Homepage description" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Start page of the site</Translation>
    <Translation Language="nl-NL">Startpagina van de site</Translation>
  </Translations>
</Dictionary>