<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dce04e32-2504-4573-b898-86ce1977a3f7" Alias="hpc-focus-areas" Level="3">
  <Info>
    <Parent>Health professionals component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">Aandachtsgebieden</Translation>
  </Translations>
</Dictionary>