<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="afd2d66b-3722-4686-a71e-9ecbb8f7ec88" Alias="hpc-training" Level="3">
  <Info>
    <Parent>Health professionals component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">Opleiding</Translation>
  </Translations>
</Dictionary>