<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c85159f2-9cc5-494e-b56a-7af59c1ea0b6" Alias="hpc-at-olvg-since" Level="3">
  <Info>
    <Parent>Health professionals component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">Bij OLVG sinds</Translation>
  </Translations>
</Dictionary>