<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e692d8e8-ce02-4ef3-be45-ee8b69e69e20" Alias="hpc-specialist-since" Level="3">
  <Info>
    <Parent>Health professionals component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">Specialist sinds</Translation>
  </Translations>
</Dictionary>