<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="78e6b0ec-5989-4f68-b3c7-360cbb1d9459" Alias="hpc-departments" Level="3">
  <Info>
    <Parent>Health professionals component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">Afdeling:</Translation>
  </Translations>
</Dictionary>