<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bcb7687d-32bf-4e63-839e-b3cc6bb3605c" Alias="InvalidErrorMessage" Level="2">
  <Info>
    <Parent>Forms Settings Translations</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please provide a valid value for </Translation>
    <Translation Language="nl-NL">Vul een geldige waarde in voor</Translation>
  </Translations>
</Dictionary>