<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b638da5b-af62-42eb-864e-2b218719275f" Alias="label-aandoeningen" Level="3">
  <Info>
    <Parent>label-medical-information</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">Aandoeningen</Translation>
  </Translations>
</Dictionary>