<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="46d7f621-e656-4ea3-a676-c87b527ca5c1" Alias="MedicalContentTypeFilterDefaultText" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Filter on Type</Translation>
    <Translation Language="nl-NL">Filter op Type</Translation>
  </Translations>
</Dictionary>