<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a2e04b4b-4249-412d-8182-6441640f3f74" Alias="Nested text row description" Level="4">
  <Info>
    <Parent>Nested content text row</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">A row with a title, rich text and optional image.</Translation>
    <Translation Language="nl-NL">Een rij met een titel, (rijke) tekst en optionele afbeelding.</Translation>
  </Translations>
</Dictionary>