<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="92b2cbe1-3656-49de-aada-501f3fe4a0a2" Alias="Nested content elements" Level="2">
  <Info>
    <Parent>Document types</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Not used</Translation>
    <Translation Language="nl-NL">Not used</Translation>
  </Translations>
</Dictionary>