<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aed81980-7e03-4cf8-a3b9-44501eef81c6" Alias="onderzoeken" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Research</Translation>
    <Translation Language="nl-NL">Onderzoeken</Translation>
  </Translations>
</Dictionary>