<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ddd7ab06-70b4-4eac-aa34-e1316cac378f" Alias="page.overzichtspagina" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Overview page</Translation>
    <Translation Language="nl-NL">Overzichtspagina</Translation>
  </Translations>
</Dictionary>