<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e8465065-d6b3-40bb-b02a-15a5197266d7" Alias="page.medicalInformationOverview" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Medical information overview</Translation>
    <Translation Language="nl-NL">Medische informatie overzicht</Translation>
  </Translations>
</Dictionary>