<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8427c68f-b9cf-456e-ae45-4e4a64510771" Alias="Page.formPage" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Forms</Translation>
    <Translation Language="nl-NL">Formulieren</Translation>
  </Translations>
</Dictionary>