<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="96348eb7-41f9-4c7c-9a88-340be8f627cc" Alias="print" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Print</Translation>
    <Translation Language="nl-NL">Afdrukken</Translation>
  </Translations>
</Dictionary>