<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8bb45ff2-01b0-4784-bfaf-98d2d7c26180" Alias="ReCaptcha tab" Level="3">
  <Info>
    <Parent>Settings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">ReCaptcha settings</Translation>
    <Translation Language="nl-NL">ReCaptcha instellingen</Translation>
  </Translations>
</Dictionary>