<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5011e384-c703-4129-89c4-87d6f770da84" Alias="reversed-search-in-opposite-language" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Bekijk de resultaten in het Nederlands</Translation>
    <Translation Language="nl-NL">Show results in English</Translation>
  </Translations>
</Dictionary>