<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ea990e79-f16c-492c-bfe3-aa354455ad38" Alias="route-description-title" Level="2">
  <Info>
    <Parent>Component titels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Routes</Translation>
    <Translation Language="nl-NL">Routes</Translation>
  </Translations>
</Dictionary>