<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="30bdd417-b522-4720-9de4-cc64b3a95b7a" Alias="table-of-contents-title" Level="3">
  <Info>
    <Parent>Table of contents component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">op deze pagina snel naar</Translation>
  </Translations>
</Dictionary>