<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="889c438d-5d3b-4a40-807b-1bc7670222d3" Alias="Thuisarts footer without last update" Level="2">
  <Info>
    <Parent>Thuisarts</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Some of the information on this page comes from &lt;a href="https://www.thuisarts.nl" target="_blank"&gt;Thuisarts.nl&lt;/a&gt;. &lt;a href="https://www.thuisarts.nl" target="_blank"&gt;Thuisarts.nl&lt;/a&gt; is made by the Dutch College of General Practitioners. The Federation of Medical Specialists, Patient Federation of the Netherlands and Akwa GGZ are collaborating on &lt;a href="https://www.thuisarts.nl" target="_blank"&gt;Thuisarts.nl&lt;/a&gt;.</Translation>
    <Translation Language="nl-NL">Een deel van de informatie op deze pagina komt van &lt;a href="https://www.thuisarts.nl" target="_blank"&gt;Thuisarts.nl&lt;/a&gt;. &lt;a href="https://www.thuisarts.nl" target="_blank"&gt;Thuisarts.nl&lt;/a&gt; wordt gemaakt door het Nederlands Huisartsen Genootschap. De Federatie Medisch Specialisten, Patiëntenfederatie Nederland en Akwa GGZ werken mee aan &lt;a href="https://www.thuisarts.nl" target="_blank"&gt;Thuisarts.nl&lt;/a&gt;.</Translation>
  </Translations>
</Dictionary>