<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dd6edd29-0a95-4a7b-a6b6-50b9a806dae1" Alias="Umbraco frontend" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Not used</Translation>
    <Translation Language="nl-NL">Not used</Translation>
  </Translations>
</Dictionary>