<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e2d8b244-b36b-41c7-b890-e1721bcefb14" Alias="Word verloop" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Progress</Translation>
    <Translation Language="nl-NL">Verloop</Translation>
  </Translations>
</Dictionary>