<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b3dbde4-a9fb-46a8-bd4b-d2a14daf81bf" Alias="Word alle" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All</Translation>
    <Translation Language="nl-NL">Alle</Translation>
  </Translations>
</Dictionary>