<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d616bcea-8112-4259-86a2-bf3b2ee81cb8" Alias="zorgpad-behandelteam" Level="3">
  <Info>
    <Parent>Zorgpad</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Treatment team</Translation>
    <Translation Language="nl-NL">Behandelteam</Translation>
  </Translations>
</Dictionary>