<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17828a2c-49d6-4b5d-902c-1b2582532d68" Alias="[Block List] Nested Content - max 3 items" Level="1">
  <Info>
    <Name>[Block List] Nested Content - max 3 items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{abstractTitleField}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": null
  }
}]]></Config>
</DataType>