<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa48da4a-25f4-44ff-94ac-1128acb30385" Alias="[Block List] Nested content - routes" Level="1">
  <Info>
    <Name>[Block List] Nested content - routes</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8c6f268c-2018-41b5-aafe-030358769544",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{customRouteItemName}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>