<?xml version="1.0" encoding="utf-8"?>
<DataType Key="719abda7-d9cb-42d2-9a75-8d6124880482" Alias="1902 Google Image" Level="1">
  <Info>
    <Name>1902 Google Image</Name>
    <EditorAlias>mediaPicker.1902Seo</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "idealWidth": 1200,
  "idealHeight": 630,
  "hideDefaultLabel": "1",
  "customInnerLabel": "Image",
  "customInnerHint": "This is the image that will be displayed when this page is shared on Google+.",
  "group": "opengraph"
}]]></Config>
</DataType>