<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b54bd73-ffbe-43c2-b39b-823ab325310e" Alias="Locatie - Locatie type - Radio button list" Level="2">
  <Info>
    <Name>Locatie - Locatie type - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Verpleegafdelingen"
    },
    {
      "id": 2,
      "value": "Locaties"
    },
    {
      "id": 3,
      "value": "Poliklinieken"
    },
    {
      "id": 4,
      "value": "Dagbehandelingen"
    }
  ]
}]]></Config>
</DataType>