<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c57c250-8e79-4150-b0d1-8602b2ceb436" Alias="1902 Local Business" Level="1">
  <Info>
    <Name>1902 Local Business</Name>
    <EditorAlias>dropdown.1902Seo</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [],
  "hideDefaultLabel": "1",
  "customInnerLabel": "Local Businesses",
  "customInnerHint": "Select the local business schema markup that you want to use for this specific page. You can add and edit the schema markups on the dashboard.",
  "enableApiSource": "1",
  "customApiUrl": "/umbraco/backoffice/Seo1902/Dashboard/GetLocalBusinesses"
}]]></Config>
</DataType>