<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1ebf257-3caa-4572-a700-25118c338854" Alias="Media picker - standard icons" Level="1">
  <Info>
    <Name>Media picker - standard icons</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": true,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>