<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d423a58-0246-4751-96fb-614785a259ef" Alias="MedicalInformation - Tekst - Rich Text Editor" Level="1">
  <Info>
    <Name>MedicalInformation - Tekst - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "736bec91-baf3-48f5-93d5-891f154145ff",
      "displayInline": true,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": "~/App_Plugins/LinkWithUpdatingTitleBlock/thumbnail-link-with-updating-title.png",
      "view": "~/App_Plugins/LinkWithUpdatingTitleBlock/linkWithUpdatingTitleBlock.html"
    }
  ],
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbblockpicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [
      "/css/headings-content-editor.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": true
}]]></Config>
</DataType>