<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f36771df-2b74-40e7-80d0-a72f1226a053" Alias="Nested Content - Stappenpagina - 1 item" Level="1">
  <Info>
    <Name>Nested Content - Stappenpagina - 1 item</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{stepTitle}}",
      "ncAlias": "stepspageStep",
      "ncTabAlias": "Step"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": 1,
  "MinItems": 0,
  "ShowIcons": true
}]]></Config>
</DataType>