<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a2f3b52-694f-4adc-a5a2-06d81837a531" Alias="Nested Content - content" Level="1">
  <Info>
    <Name>Nested Content - content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{contentItemTitle}}",
      "ncAlias": "contentItem",
      "ncTabAlias": "Inhoud"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": 5,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>