<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2cb3f606-d970-4eb2-99ee-3295f74289d6" Alias="Nested content - routes" Level="2">
  <Info>
    <Name>Nested content - routes</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{customRouteItemName}}",
      "ncAlias": "customRouteItem",
      "ncTabAlias": "Route"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>