<?xml version="1.0" encoding="utf-8"?>
<DataType Key="385abb68-8f89-44df-8400-40bbe6e4abc5" Alias="Nested content icon and links" Level="2">
  <Info>
    <Name>Nested content icon and links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{link[0][\"name\"]}}",
      "ncAlias": "iconAndLink",
      "ncTabAlias": "Inhoud"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>