<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0bc1b55d-dae9-4e59-9bca-8be72a84680a" Alias="Sitemap change frequency selector" Level="1">
  <Info>
    <Name>Sitemap change frequency selector</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Always"
    },
    {
      "id": 2,
      "value": "Yearly"
    },
    {
      "id": 3,
      "value": "Monthly"
    },
    {
      "id": 4,
      "value": "Weekly"
    },
    {
      "id": 5,
      "value": "Daily"
    },
    {
      "id": 6,
      "value": "Hourly"
    },
    {
      "id": 7,
      "value": "Never"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>