<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef1dd071-e6a0-4807-95d7-683932e8fedd" Alias="Anesthesiologie" Level="2">
  <Info>
    <Parent Key="8e46e9c8-79d8-445b-a3d2-562bd2501c8b">Departments</Parent>
    <Path>/Departments/Anesthesiologie</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-06T14:56:29</CreateDate>
    <NodeName Default="Anesthesiologie" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>