<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d7efceb-789f-46a0-b649-86ea702d550f" Alias="cardiologie" Level="3">
  <Info>
    <Parent Key="12032e78-33ac-41f4-bd52-dc41c82fdf15">Cardiologie</Parent>
    <Path>/Departments/Cardiologie/cardiologie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-11T13:20:39</CreateDate>
    <NodeName Default="cardiologie" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/3x4h25m5/hartcentrum-3-headerbeeld_1800x512.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>