<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc199003-9927-4f10-87e5-71076351c300" Alias="Illustration Location" Level="2">
  <Info>
    <Parent Key="80de315e-71e5-4996-a1c4-c3bc8e75c677">Example images</Parent>
    <Path>/ExampleImages/IllustrationLocation</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-05T11:22:27</CreateDate>
    <NodeName Default="Illustration Location" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/awibtxbh/illustration-location.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>