<?xml version="1.0" encoding="utf-8"?>
<Media Key="6360a71f-0038-455e-b14f-c684ddf3ebbf" Alias="Kop Kom Gewricht" Level="3">
  <Info>
    <Parent Key="7ae3d69a-811c-49ea-a2c4-4a76d56721f3">Nena</Parent>
    <Path>/Contenttraining/Nena/KopKomGewricht</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T08:55:41</CreateDate>
    <NodeName Default="Kop Kom Gewricht" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dgthayzy/kop-kom-gewricht.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>