<?xml version="1.0" encoding="utf-8"?>
<Media Key="50179577-e6f9-468d-8db3-b9761d970f1a" Alias="Poliplein 2" Level="2">
  <Info>
    <Parent Key="da21a8fb-5bf1-4ffb-9e6f-d842eeda8f93">Routes</Parent>
    <Path>/Routes/Poliplein2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-24T13:45:13</CreateDate>
    <NodeName Default="Poliplein 2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ogkbouhz/poliplein-2.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>