<?xml version="1.0" encoding="utf-8"?>
<Media Key="8901752e-298b-449e-9a6d-01322283f729" Alias="Schermafbeelding 2023 04 24 Om 09.44.27" Level="2">
  <Info>
    <Parent Key="24694bbe-1ad0-40c1-a6a1-6375c778e238">jaarimpressie 2021</Parent>
    <Path>/jaarimpressie2021/Schermafbeelding20230424Om094427</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-24T07:44:50</CreateDate>
    <NodeName Default="Schermafbeelding 2023 04 24 Om 09.44.27" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fb0bdcml/schermafbeelding-2023-04-24-om-09-44-27.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>