<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d650758-9c98-46e9-b273-63ca8ad68230" Alias="Test Excel Xls" Level="2">
  <Info>
    <Parent Key="8f9bdd1a-0a48-4064-900d-9d7044439d25">Example files</Parent>
    <Path>/ExampleFiles/TestExcelXls</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-05-25T14:04:05</CreateDate>
    <NodeName Default="Test Excel Xls" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iadhkpmy/test-excel-xls.xls]]></Value>
    </umbracoFile>
  </Properties>
</Media>