<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9d478ab-b7a0-49f6-ba83-3c1ef6cf745b" Alias="Thomas Herckenrath" Level="3">
  <Info>
    <Parent Key="e78f4ee8-1c0f-4f4a-ab12-b04dfd3545be">Teunis Roes</Parent>
    <Path>/Contenttraining/TeunisRoes/ThomasHerckenrath</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-08T09:11:45</CreateDate>
    <NodeName Default="Thomas Herckenrath" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>