<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9e37060-f4f5-467a-bd55-a10a9d123e95" Alias="Multinode Treepicker - Ervaringsverhaal - max 1" Level="1">
  <Info>
    <Name>Multinode Treepicker - Ervaringsverhaal - max 1</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "ervaringsverhaal",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Site",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "739f0043-5e23-402b-b2e9-1123653943db"
          ]
        }
      ]
    },
    "id": null,
    "query": "",
    "type": "content"
  }
}]]></Config>
</DataType>