<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd970659-4b9d-438f-b2bc-0563dd7d0a92" Alias="Nested content text and link" Level="2">
  <Info>
    <Name>Nested content text and link</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "textAndLink",
      "ncTabAlias": "Inhoud"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>