<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ec502a6-c89d-473a-ad52-79b799dc9c4b" Alias="1902 Open Graph Collapsible" Level="1">
  <Info>
    <Name>1902 Open Graph Collapsible</Name>
    <EditorAlias>collapsible.1902Seo</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "group": "opengraph",
  "defaultExpanded": "0",
  "showOgDetails": "1"
}]]></Config>
</DataType>