<?xml version="1.0" encoding="utf-8"?>
<DataType Key="baf7f2e1-8be9-42bd-bddc-800e60f08832" Alias="Textbox (max. 25)" Level="1">
  <Info>
    <Name>Textbox (max. 25)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 25
}]]></Config>
</DataType>