<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4aceddf5-c5cc-4b4c-a5f3-ce74f300458d" Alias="User Picker" Level="2">
  <Info>
    <Name>User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>