<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bdf08dcf-5a3e-402f-a91a-1b20c3d10e35" Alias="[Block List] Nested Content - Zorgpad - Stappen" Level="1">
  <Info>
    <Name>[Block List] Nested Content - Zorgpad - Stappen</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>