<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1118a935-a6ab-4917-bd6b-28423a6c5ff9" Alias="[Block List] Stap - Behandelteam - Nested Content" Level="1">
  <Info>
    <Name>[Block List] Stap - Behandelteam - Nested Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c6f24214-3807-4667-8f9b-24844e9d44bc",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>