<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8347889a-5f82-4521-a76b-82c03f6559ff" Alias="[Block List] Nested Content - Stappenpagina - 1 item" Level="1">
  <Info>
    <Name>[Block List] Nested Content - Stappenpagina - 1 item</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3d50be10-51da-4357-a38e-ed338e25ab00",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>