<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df8af7e6-50d6-47a3-acf0-e466b7f3baae" Alias="[Block List] Medische informatie blok - Medische informatie blok - Nested Content" Level="1">
  <Info>
    <Name>[Block List] Medische informatie blok - Medische informatie blok - Nested Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>