<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2aaa535-71ac-4a6e-a79d-6e1c9eea387b" Alias="1902 Clear Open Graph" Level="1">
  <Info>
    <Name>1902 Clear Open Graph</Name>
    <EditorAlias>clearControl.1902Seo</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "group": "opengraph",
  "buttonText": "Remove all open graph values"
}]]></Config>
</DataType>