<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6db512be-dc3f-4503-b68a-406c59ebec32" Alias="Media Picker - single or none image only" Level="2">
  <Info>
    <Name>Media Picker - single or none image only</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": true,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>