<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1119c858-4d24-43f0-8c95-cbb5bc2ca083" Alias="Nested content - redacteuren" Level="2">
  <Info>
    <Name>Nested content - redacteuren</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "Redacteur",
      "ncAlias": "redacteurItem",
      "ncTabAlias": "Redacteur"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": 0,
  "ShowIcons": true
}]]></Config>
</DataType>