<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a591393-35ff-4513-95c6-90d783b33daf" Alias="1902 Og Image" Level="1">
  <Info>
    <Name>1902 Og Image</Name>
    <EditorAlias>mediaPicker.1902Seo</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "idealWidth": 1200,
  "idealHeight": 630,
  "hideDefaultLabel": "1",
  "customInnerLabel": "Image",
  "customInnerHint": "This is the image that will be displayed when this page is shared on Facebook and other social media sites (except for Twitter).",
  "group": "opengraph"
}]]></Config>
</DataType>