<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68eb5283-d69f-4fe3-a8ff-27576cb277b0" Alias="Standaard content - Pagina elementen - Nested Content" Level="1">
  <Info>
    <Name>Standaard content - Pagina elementen - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "afbeeldingRij",
      "ncTabAlias": "Inhoud"
    },
    {
      "nameTemplate": "",
      "ncAlias": "hoofdContentBlokken",
      "ncTabAlias": "Inhoud"
    },
    {
      "nameTemplate": "",
      "ncAlias": "belangrijkInformatie",
      "ncTabAlias": "Inhoud"
    },
    {
      "nameTemplate": "",
      "ncAlias": "photobook",
      "ncTabAlias": "Inhoud"
    },
    {
      "nameTemplate": "",
      "ncAlias": "tips",
      "ncTabAlias": "Tips"
    },
    {
      "nameTemplate": "",
      "ncAlias": "nestedContentGradientBlock",
      "ncTabAlias": "Inhoud"
    },
    {
      "nameTemplate": "",
      "ncAlias": "redactioneelBlock",
      "ncTabAlias": "Inhoud"
    },
    {
      "nameTemplate": "",
      "ncAlias": "feiten",
      "ncTabAlias": "Inhoud"
    },
    {
      "nameTemplate": "",
      "ncAlias": "veelgesteldeVragen",
      "ncTabAlias": "Veelgestelde vragen"
    },
    {
      "nameTemplate": "",
      "ncAlias": "cookiePreferencesButton",
      "ncTabAlias": "Knop"
    },
    {
      "nameTemplate": "",
      "ncAlias": "formElement",
      "ncTabAlias": "Inhoud"
    },
    {
      "nameTemplate": "",
      "ncAlias": "nestedColumnElement",
      "ncTabAlias": "Inhoud"
    },
    {
      "nameTemplate": "",
      "ncAlias": "videos",
      "ncTabAlias": "Videos"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>