<?xml version="1.0" encoding="utf-8"?>
<DataType Key="222c1184-d03f-483a-95ab-69e3ccc3fc2d" Alias="Textbox limited to 160" Level="1">
  <Info>
    <Name>Textbox limited to 160</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 160
}]]></Config>
</DataType>