<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7fdf7e8-aa85-4363-bb8b-73b86c0af949" Alias="Diastolisch hartfalen" Level="6">
  <Info>
    <Parent Key="cbf48fc8-1a65-40c1-8df1-e10fb2ac1eb7">Polikliniek Cardiologie</Parent>
    <Path>/Website/Pages/Home/Locatie/PolikliniekCardiologie/DiastolischHartfalen</Path>
    <Trashed>false</Trashed>
    <ContentType>consultationTime</ContentType>
    <CreateDate>2022-07-05T10:54:25</CreateDate>
    <NodeName Default="Diastolisch hartfalen">
      <Name Culture="en-us">Diastolic heart failure</Name>
      <Name Culture="nl-nl">Diastolisch hartfalen</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="967241f7-8651-4d0e-9f0d-e9aaf274e281">ConsultationTime</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <consultationTimeContactPhone>
      <Value><![CDATA[020 599 30 33]]></Value>
    </consultationTimeContactPhone>
    <consultationTimeEmail>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[poli-cardiologie@olvg.nl]]></Value>
    </consultationTimeEmail>
    <consultationTimeTime>
      <Value Culture="en-us"><![CDATA[Monday to friday, 15:00 - 18:00]]></Value>
      <Value Culture="nl-nl"><![CDATA[ma t/m vrij: 8.15-16.15 uur]]></Value>
    </consultationTimeTime>
    <content>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[<div class="field__content">
<p class="intro">OLVG is het eerste ziekenhuis in Amsterdam met een spreekuur voor patiënten met diastolisch hartfalen. Diastolisch hartfalen is een vorm van hartfalen, waarbij het hart niet goed kan ontspannen en stugger is geworden. Het hart kan zich dan minder goed vullen met bloed, waardoor onvoldoende aan de behoeften van het lichaam kan worden voldaan.</p>
<p class="dummy">Bij veel patiënten wordt diastolisch hartfalen niet herkend, omdat de diagnostistiek niet eenvoudig is. Voorts ontbreekt het momenteel nog aan een specifieke behandeling van diastolisch hartfalen. Vergroten van het inzicht in de oorzaken van diastolisch hartfalen middels het verrichten van wetenschappelijk onderzoek is noodzakelijk om uiteindelijk behandeling op maat te kunnen bewerkstelligen. </p>
<p class="dummy">Doel van het spreekuur is om te onderzoeken of de klachten van patiënten inderdaad door diastolisch hartfalen worden veroorzaakt en om de aandoening beter te kunnen diagnosticeren en behandelen.</p>
</div>]]></Value>
    </content>
    <departments>
      <Value><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <extraInformation>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </extraInformation>
    <gekoppledeAfdelingen>
      <Value Culture="en-us"><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
    </gekoppledeAfdelingen>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <hideSubtitle>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideSubtitle>
    <informationTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </informationTitle>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <locatieTitel>
      <Value Culture="en-us"><![CDATA[OLVG, Location East]]></Value>
      <Value Culture="nl-nl"><![CDATA[OLVG, Locatie Oost, Oosterpark 9]]></Value>
    </locatieTitel>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <routes>
      <Value Culture="en-us"><![CDATA[umb://document/70e70ddfb2e04b1dbdfbfb94b49fe25b]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/70e70ddfb2e04b1dbdfbfb94b49fe25b]]></Value>
    </routes>
    <routeTitel>
      <Value Culture="en-us"><![CDATA[OLVG, Location East]]></Value>
      <Value Culture="nl-nl"><![CDATA[Oost, P2]]></Value>
    </routeTitel>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[<p>dit is een custom titel</p>]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="en-us"><![CDATA[Diastolic heart failure]]></Value>
      <Value Culture="nl-nl"><![CDATA[Diastolisch hartfalen]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
    <zorgverleners>
      <Value Culture="en-us"><![CDATA[umb://document/238e8e74f5054bc5ace5316cc3866fe5]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/238e8e74f5054bc5ace5316cc3866fe5]]></Value>
    </zorgverleners>
  </Properties>
</Content>