<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba54bb42-9e1a-4beb-88e5-9236d750f21f" Alias="Header" Level="3">
  <Info>
    <Parent Key="da8f90bb-08a2-48d8-86e2-c7013c502599">Shared content</Parent>
    <Path>/Website/SharedContent/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2022-01-26T12:33:59</CreateDate>
    <NodeName Default="Header">
      <Name Culture="en-us">Header</Name>
      <Name Culture="nl-nl">Header</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <menuCollapseText>
      <Value Culture="en-us"><![CDATA[Menu]]></Value>
      <Value Culture="nl-nl"><![CDATA[Menu]]></Value>
    </menuCollapseText>
    <mijnOLVGCardContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[<p>In MijnOLVG kunt u uw persoonlijke gegevens van OLVG inzien en beheren. U kunt bijvoorbeeld uw afspraken bekijken, onderzoeksuitslagen inzien en korte vragen stellen.</p>]]></Value>
    </mijnOLVGCardContent>
    <mijnOLVGCardTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Meer informatie over MijnOLVG]]></Value>
    </mijnOLVGCardTitle>
    <mijnOLVGMenuText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[<p>Met het patiëntenportaal MijnOLVG kunt u in een beveiligde digitale omgeving uw persoonlijke medische dossier inzien. Om MijnOLVG te gebruiken heeft u een BSN, mobiel telefoonnummer en/of e-mailadres nodig.</p>]]></Value>
    </mijnOLVGMenuText>
    <mijnOLVGSubTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[voor u als patiënt van OLVG]]></Value>
    </mijnOLVGSubTitle>
    <mijnOLVGTitle>
      <Value Culture="en-us"><![CDATA[MyOLVG]]></Value>
      <Value Culture="nl-nl"><![CDATA[MijnOLVG]]></Value>
    </mijnOLVGTitle>
    <myOLVGCollapseText>
      <Value Culture="en-us"><![CDATA[MyOLVG]]></Value>
      <Value Culture="nl-nl"><![CDATA[MijnOLVG]]></Value>
    </myOLVGCollapseText>
    <SearchCollapseText>
      <Value Culture="en-us"><![CDATA[Search]]></Value>
      <Value Culture="nl-nl"><![CDATA[Zoeken]]></Value>
    </SearchCollapseText>
    <searchMenuCommonlySearchedText>
      <Value Culture="en-us"><![CDATA[Common searches]]></Value>
      <Value Culture="nl-nl"><![CDATA[veel gezocht]]></Value>
    </searchMenuCommonlySearchedText>
    <searchMenuSearchboxPlaceholderText>
      <Value Culture="en-us"><![CDATA[Search term]]></Value>
      <Value Culture="nl-nl"><![CDATA[Zoekterm]]></Value>
    </searchMenuSearchboxPlaceholderText>
    <searchMenuTitle>
      <Value Culture="en-us"><![CDATA[What are you lokking for?]]></Value>
      <Value Culture="nl-nl"><![CDATA[waar bent u naar op zoek?]]></Value>
    </searchMenuTitle>
    <websiteLogo>
      <Value Culture="en-us"><![CDATA[umb://media/c7a7f7abca8c48ddb912e7a4df867527]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://media/c7a7f7abca8c48ddb912e7a4df867527]]></Value>
    </websiteLogo>
    <websiteMenuCard1Links>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Coronamaatregelen",
    "udi": "umb://document/352e1179ba6d4d3eafdcf378b308d029"
  },
  {
    "name": "Afspraak maken",
    "url": "/"
  },
  {
    "name": "Specialisten",
    "udi": "umb://document/a206e7977e52417f8aa0a59308fb9300"
  },
  {
    "name": "Wachttijden",
    "url": "/"
  },
  {
    "name": "Bezoektijden",
    "url": "/"
  },
  {
    "name": "Route en parkeren",
    "url": "/"
  }
]]]></Value>
    </websiteMenuCard1Links>
    <websiteMenuCard1Title>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[snel iets regelen?]]></Value>
    </websiteMenuCard1Title>
    <websiteMenuCard2Links>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Inloggen op MijnOLVG",
    "target": "_blank",
    "url": "https://www.mijnolvg.nl/MyChart-PRD/Authentication/Login?"
  }
]]]></Value>
    </websiteMenuCard2Links>
    <websiteMenuCard2Title>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[bekijk uw dossier]]></Value>
    </websiteMenuCard2Title>
    <websiteMenuPrimaryLinks>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/352e1179ba6d4d3eafdcf378b308d029"
  }
]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/352e1179ba6d4d3eafdcf378b308d029"
  },
  {
    "name": "Medische informatie",
    "udi": "umb://document/88d3b80fe4f346588df91207d536b987"
  },
  {
    "name": "Afdelingen",
    "udi": "umb://document/e6dc5fa52fad45e596e861689168277e"
  },
  {
    "name": "Uw bezoek aan OLVG",
    "url": "/"
  },
  {
    "name": "English information",
    "url": "/"
  }
]]]></Value>
    </websiteMenuPrimaryLinks>
  </Properties>
</Content>