<?xml version="1.0" encoding="utf-8"?>
<Content Key="411679d1-0b3f-4a68-984c-359c957ac6cd" Alias="MijnOLVG" Level="5">
  <Info>
    <Parent Key="b591a106-b778-4597-919e-71f88aa664b5">Over Diaboss</Parent>
    <Path>/BeroerteAdviescentrum/Pages/Homepage/OverDiaboss/MijnOLVG</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-07-14T11:44:23</CreateDate>
    <NodeName Default="MijnOLVG">
      <Name Culture="nl-nl">MijnOLVG</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0702512c1020400386e732be6a83d602"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Let op: dit is belangrijk.</p>",
      "udi": "umb://element/0702512c1020400386e732be6a83d602"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8071704900f24c668806131077e829d0"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Let op: dit is belangrijk.</p>",
      "udi": "umb://element/8071704900f24c668806131077e829d0"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[MijnOLVG]]></Value>
    </title>
  </Properties>
</Content>