<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3c39d58-c993-4a09-9801-9b5d7fc77446" Alias="Nieuwe website Echocardiografie bijna live" Level="5">
  <Info>
    <Parent Key="150e0bb7-5561-4b78-83af-02131eedac00">Nieuws</Parent>
    <Path>/Echocardiografie/Pages/Homepage/Nieuws/NieuweWebsiteEchocardiografieBijnaLive</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticleSubsite</ContentType>
    <CreateDate>2023-07-05T16:05:24</CreateDate>
    <NodeName Default="Nieuwe website Echocardiografie bijna live">
      <Name Culture="nl-nl">Nieuwe website Echocardiografie bijna live</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="b309d08d-c291-4d36-a995-0a9a3d7c3356">NieuwsberichtSubsite</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <cardImage>
      <Value><![CDATA[umb://media/29872bf1995f4b62a3cdf3cf3e6d2a16]]></Value>
    </cardImage>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <content>
      <Value Culture="nl-nl"><![CDATA[<h3>Titel</h3>
<p>Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. </p>
<h3>Titel</h3>
<p>Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. </p>
<p><img src="?width=465&amp;height=311&amp;mode=max" alt="" width="465" height="311" data-udi="umb://media/54595fb3aecd4f93ae9c380b0a0c89bd" /></p>]]></Value>
    </content>
    <date>
      <Value><![CDATA[2023-07-04T00:00:00]]></Value>
    </date>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p class="intro">Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. </p>
<p> </p>]]></Value>
    </introductionText>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "9b5aab9f-a8eb-4280-a114-e62ff0cc9f55",
    "mediaKey": "29872bf1-995f-4b62-a3cd-f3cf3e6d2a16"
  }
]]]></Value>
    </newsImage>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="nl-nl"><![CDATA[Nieuwe website Echocardiografie bijna live]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>