<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c3a6a77-eecd-4af9-8f3d-1a7f1bd0697d" Alias="OLVG, locatie West" Level="4">
  <Info>
    <Parent Key="0027196c-17ba-47c6-8797-211a411209d7">Redactionele contactgegevens</Parent>
    <Path>/Website/SharedContent/RedactioneleContactgegevens/OLVGLocatieWest</Path>
    <Trashed>false</Trashed>
    <ContentType>editorialBlock</ContentType>
    <CreateDate>2023-03-15T08:30:26</CreateDate>
    <NodeName Default="OLVG, locatie West">
      <Name Culture="nl-nl">OLVG, locatie West</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <editorialContent>
      <Value Culture="nl-nl"><![CDATA[<p><strong>OLVG, locatie West<br /></strong>020 510 89 11</p>]]></Value>
    </editorialContent>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
  </Properties>
</Content>