<?xml version="1.0" encoding="utf-8"?>
<Content Key="e83269c1-cf3b-4510-a584-406755940a99" Alias="Projectenfilter" Level="3">
  <Info>
    <Parent Key="61274dc3-5d66-4219-ab3d-bcab65886933">Shared Content Vrienden van OLVG</Parent>
    <Path>/VriendenVanOLVG/SharedContentVriendenVanOLVG/Projectenfilter</Path>
    <Trashed>false</Trashed>
    <ContentType>projectFilterContainer</ContentType>
    <CreateDate>2023-08-29T11:24:48</CreateDate>
    <NodeName Default="Projectenfilter" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>