<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8685dba-2eac-49b9-bf82-debde16f9f6f" Alias="Shared Content Ushamwari" Level="2">
  <Info>
    <Parent Key="787b5b2d-0649-4871-8b1e-57af1fcaa7f1">Ushamwari</Parent>
    <Path>/Ushamwari/SharedContentUshamwari</Path>
    <Trashed>false</Trashed>
    <ContentType>sharedContentContainerSubsite</ContentType>
    <CreateDate>2023-07-19T09:30:50</CreateDate>
    <NodeName Default="Shared Content Ushamwari" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>