<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb937186-9914-400a-b650-ba9cfda38dfc" Alias="Styling" Level="3">
  <Info>
    <Parent Key="39ca3580-bf5f-4955-9f0b-96cadeb79fa1">Configuration</Parent>
    <Path>/Diaboss/Configuration/Styling</Path>
    <Trashed>false</Trashed>
    <ContentType>configurationStyling</ContentType>
    <CreateDate>2023-07-05T15:35:45</CreateDate>
    <NodeName Default="Styling" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stylesheetUrl>
      <Value><![CDATA[/dist/diaboss.css]]></Value>
    </stylesheetUrl>
  </Properties>
</Content>