<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d2a9fe8-fb5b-40ac-b913-77caec0b5ea2" Alias="Styling" Level="3">
  <Info>
    <Parent Key="9bca5df9-8ad3-4fdc-b54a-4d462b60fcc2">Configuration</Parent>
    <Path>/VriendenVanOLVG/Configuration/Styling</Path>
    <Trashed>false</Trashed>
    <ContentType>configurationStyling</ContentType>
    <CreateDate>2023-07-19T08:30:25</CreateDate>
    <NodeName Default="Styling" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stylesheetUrl>
      <Value><![CDATA[/dist/vriendenvanolvg.css]]></Value>
    </stylesheetUrl>
  </Properties>
</Content>