<?xml version="1.0" encoding="utf-8"?>
<Content Key="426a6762-0c72-43ac-a4de-c5885f2d84ff" Alias="Test Route" Level="4">
  <Info>
    <Parent Key="d92dc0ff-5744-4380-9ee7-74310711e468">Routes</Parent>
    <Path>/Website/SharedContent/Routes/TestRoute</Path>
    <Trashed>false</Trashed>
    <ContentType>route</ContentType>
    <CreateDate>2022-07-01T09:21:28</CreateDate>
    <NodeName Default="Test Route">
      <Name Culture="en-us">Test route English</Name>
      <Name Culture="nl-nl">Test Route</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <routeDescription>
      <Value Culture="en-us"><![CDATA[<p>This is a test route in English</p>]]></Value>
      <Value Culture="nl-nl"><![CDATA[<p>Route is om de hoek<img src="?width=500&amp;height=232.16783216783216" alt="" width="500" height="232.16783216783216" data-udi="umb://media/02001c536c39418cb35c3b251cfa38d7" /></p>]]></Value>
    </routeDescription>
    <routeName>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Route naar OLVG oost]]></Value>
    </routeName>
  </Properties>
</Content>