<?xml version="1.0" encoding="utf-8"?>
<Content Key="abc7fe31-fb22-4c37-9c85-48cf6c0e7109" Alias="Test overzichtspagina" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/TestOverzichtspagina</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspagina</ContentType>
    <CreateDate>2022-07-08T12:21:00</CreateDate>
    <NodeName Default="Test overzichtspagina">
      <Name Culture="en-us">test overview page</Name>
      <Name Culture="nl-nl">Test overzichtspagina</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </departments>
    <featuredItems>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3f20cef5b8a04f29892fbfd79aea888a"
      },
      {
        "contentUdi": "umb://element/8c9a2c76f25a40c7b82cfce7675007cb"
      },
      {
        "contentUdi": "umb://element/671d66dd003e4a69b4ccc66e15c1a5dd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "88874b19-b4fc-4da6-bb73-ebd1e9821ac8",
          "mediaKey": "70af8828-8a71-450b-b47f-6a4f8dfbb3c8"
        }
      ],
      "titleFeaturedItem": "uitgelicht 1",
      "udi": "umb://element/3f20cef5b8a04f29892fbfd79aea888a",
      "urlFeaturedItem": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "38c937ab-2b2a-4134-bff5-b39b2f352998",
          "mediaKey": "1171f9bc-3d6d-4f7d-8a04-01b8d2a86807"
        }
      ],
      "textFeaturedItem": "<p>bla bla</p>",
      "titleFeaturedItem": "uitgelicht 2",
      "udi": "umb://element/8c9a2c76f25a40c7b82cfce7675007cb",
      "urlFeaturedItem": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "cf7dd86e-7db3-4445-a841-754806ceeedb",
          "mediaKey": "dc199003-9927-4f10-87e5-71076351c300"
        }
      ],
      "textFeaturedItem": "<p>test test test</p>",
      "titleFeaturedItem": "Uitgelicht 3",
      "udi": "umb://element/671d66dd003e4a69b4ccc66e15c1a5dd",
      "urlFeaturedItem": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b8f76d92dfee42a9b4d1be6cdd1ebfdd"
      },
      {
        "contentUdi": "umb://element/b70f2b593fa248ccbe2b7210da2d5e89"
      },
      {
        "contentUdi": "umb://element/ffd0faede71f422d8ebefb2da054e019"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "88874b19-b4fc-4da6-bb73-ebd1e9821ac8",
          "mediaKey": "70af8828-8a71-450b-b47f-6a4f8dfbb3c8"
        }
      ],
      "titleFeaturedItem": "uitgelicht 1",
      "udi": "umb://element/b8f76d92dfee42a9b4d1be6cdd1ebfdd",
      "urlFeaturedItem": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "38c937ab-2b2a-4134-bff5-b39b2f352998",
          "mediaKey": "1171f9bc-3d6d-4f7d-8a04-01b8d2a86807"
        }
      ],
      "textFeaturedItem": "<p>bla bla</p>",
      "titleFeaturedItem": "uitgelicht 2",
      "udi": "umb://element/b70f2b593fa248ccbe2b7210da2d5e89",
      "urlFeaturedItem": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "cf7dd86e-7db3-4445-a841-754806ceeedb",
          "mediaKey": "dc199003-9927-4f10-87e5-71076351c300"
        }
      ],
      "textFeaturedItem": "<p>test test test</p>",
      "titleFeaturedItem": "Uitgelicht 3",
      "udi": "umb://element/ffd0faede71f422d8ebefb2da054e019",
      "urlFeaturedItem": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItemsBL>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[<p class="intro">Dit is de introductietekst.</p>]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[<p class="intro">Dit is de uitklapbare introductietekst.</p>]]></Value>
    </introductionTextExpandable>
    <links>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7f67aa59f42d4c11b8ce50065ebd3004"
      },
      {
        "contentUdi": "umb://element/d42806e8199146df82ba59d626272e79"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Contact",
          "url": "https://www.olvg.nl/contact-0"
        },
        {
          "name": "Volg ons op Twitter",
          "url": "https://www.olvg.nl/volg-ons-op-twitter"
        },
        {
          "name": "Wetenschapsblad",
          "url": "https://wetenschapsblad.olvg.nl"
        }
      ],
      "linkTitle": "Contact",
      "udi": "umb://element/7f67aa59f42d4c11b8ce50065ebd3004"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Informatie over deelname",
          "url": "https://www.olvg.nl/uitnodiging-deelname-onderzoek"
        }
      ],
      "linkTitle": "Deelname wetenschappelijk onderzoek",
      "udi": "umb://element/d42806e8199146df82ba59d626272e79"
    }
  ],
  "settingsData": []
}]]></Value>
    </links>
    <linksBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c4e295f4b926422e9b249500788a5bb8"
      },
      {
        "contentUdi": "umb://element/c4dcd610e4ce4745ac9114586ea39a41"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Contact",
          "url": "https://www.olvg.nl/contact-0"
        },
        {
          "name": "Volg ons op Twitter",
          "url": "https://www.olvg.nl/volg-ons-op-twitter"
        },
        {
          "name": "Wetenschapsblad",
          "url": "https://wetenschapsblad.olvg.nl"
        }
      ],
      "linkTitle": "Contact",
      "udi": "umb://element/c4e295f4b926422e9b249500788a5bb8"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Informatie over deelname",
          "url": "https://www.olvg.nl/uitnodiging-deelname-onderzoek"
        }
      ],
      "linkTitle": "Deelname wetenschappelijk onderzoek",
      "udi": "umb://element/c4dcd610e4ce4745ac9114586ea39a41"
    }
  ],
  "settingsData": []
}]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[<p>Wij staan voor ontwikkeling</p>]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Test overview page]]></Value>
      <Value Culture="nl-nl"><![CDATA[Wetenschap]]></Value>
    </title>
  </Properties>
</Content>