<?xml version="1.0" encoding="utf-8"?>
<Content Key="daad1a71-6c5b-46ca-b14e-e9b79c0ecc24" Alias="Test agenda item" Level="5">
  <Info>
    <Parent Key="3cf9b593-6dce-4d4b-bdce-2dffc5caec40">Agenda</Parent>
    <Path>/Website/Pages/Home/Agenda/TestAgendaItem</Path>
    <Trashed>false</Trashed>
    <ContentType>agendaItem</ContentType>
    <CreateDate>2023-04-19T14:45:24</CreateDate>
    <NodeName Default="Test agenda item">
      <Name Culture="nl-nl">Test agenda item</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="false">
      <Published Culture="nl-nl">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cardImage>
      <Value><![CDATA[umb://media/3406bc5688214a23b88e3ac92d649cb4]]></Value>
    </cardImage>
    <content>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </content>
    <datesAndTimes>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d1b124df1c824791ae4af92dfe824fe9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b41215cd-5f6a-4d3e-b0d9-63edb202ed20",
      "dateTimeEndValue": "\"2023-04-21T18:00:00\"",
      "dateTimeValue": "\"2023-04-19T12:00:00\"",
      "udi": "umb://element/d1b124df1c824791ae4af92dfe824fe9"
    }
  ],
  "settingsData": []
}]]></Value>
    </datesAndTimes>
    <datesAndTimesBL>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bffa3589b6ac4dffa873c1d2235dc612"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b41215cd-5f6a-4d3e-b0d9-63edb202ed20",
      "dateTimeEndValue": "\"2023-04-21T18:00:00\"",
      "dateTimeValue": "\"2023-04-19T12:00:00\"",
      "udi": "umb://element/bffa3589b6ac4dffa873c1d2235dc612"
    }
  ],
  "settingsData": []
}]]></Value>
    </datesAndTimesBL>
    <departments>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departments>
    <healthProfessionals>
      <Value><![CDATA[]]></Value>
    </healthProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Test</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introductionText>
    <locatieTableOfContents>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locatieTableOfContents>
    <locations>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locations>
    <manualRoutes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutes>
    <manualRoutesBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutesBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsItems>
      <Value><![CDATA[]]></Value>
    </newsItems>
    <routes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </routes>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <title>
      <Value Culture="nl-nl"><![CDATA[Test agenda item]]></Value>
    </title>
  </Properties>
</Content>