<?xml version="1.0" encoding="utf-8"?>
<Content Key="528db65a-1d38-4f54-b914-f37dff663895" Alias="Test locatie (1)" Level="5">
  <Info>
    <Parent Key="617e9701-57e2-4cf0-898f-6a6fcf89733d">Locatie</Parent>
    <Path>/Website/Pages/Home/Locatie/TestLocatie1</Path>
    <Trashed>false</Trashed>
    <ContentType>location</ContentType>
    <CreateDate>2022-06-28T08:29:43</CreateDate>
    <NodeName Default="Test locatie (1)">
      <Name Culture="nl-nl">Test locatie (1)</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customRoutes>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e0202c10e370483f830fb4283490ee1f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8c6f268c-2018-41b5-aafe-030358769544",
      "customRouteItemName": "Via de andere hoek",
      "customRouteItemTitle": "Via de andere hoek",
      "udi": "umb://element/e0202c10e370483f830fb4283490ee1f"
    }
  ],
  "settingsData": []
}]]></Value>
    </customRoutes>
    <customRoutesBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9a82210501044c75a981446c4f8cc74d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8c6f268c-2018-41b5-aafe-030358769544",
      "customRouteItemName": "Via de andere hoek",
      "customRouteItemTitle": "Via de andere hoek",
      "udi": "umb://element/9a82210501044c75a981446c4f8cc74d"
    }
  ],
  "settingsData": []
}]]></Value>
    </customRoutesBL>
    <departments>
      <Value><![CDATA[umb://document/17b7619813264346ba671780c06f5ae7]]></Value>
    </departments>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </headDepartment>
    <hideSubtitle>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideSubtitle>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <locationAddress>
      <Value Culture="nl-nl"><![CDATA[locatie adres]]></Value>
    </locationAddress>
    <locationConsultationTime>
      <Value Culture="nl-nl"><![CDATA[8:00-18:00]]></Value>
    </locationConsultationTime>
    <locationContentBlock>
      <Value Culture="nl-nl"><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
</tr>
<tr>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
</tr>
<tr>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
<td style="width: 12.5%;"> </td>
</tr>
</tbody>
</table>
<div class="mceNonEditable embeditem" data-embed-url="https://www.youtube.com/watch?v=Wz5wZk8uRYA" data-embed-height="240" data-embed-width="360" data-embed-constrain="true"><iframe width="360" height="203" src="https://www.youtube.com/embed/Wz5wZk8uRYA?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" title="Het behandelproces bij een botbreuk of letsel"></iframe></div>
<p><img src="?width=500&amp;height=322.9072227258991" alt="" width="500" height="322.9072227258991" data-udi="umb://media/017ba87691e8434e9d95f084710983a5" /><strong>xkzj</strong></p>
<p><span class="big-button-red"><strong>Rode button</strong></span></p>
<p><span class="highlighted"><strong>nvsaovhsaiovhadovhSDOvhsdOIv</strong></span></p>
<p><strong>mrtgmghmmmxhmhgg</strong></p>]]></Value>
    </locationContentBlock>
    <locationEmail>
      <Value><![CDATA[t.prins@olvg.nl]]></Value>
    </locationEmail>
    <locationInfo>
      <Value Culture="nl-nl"><![CDATA[<p>Is om de hoek</p>]]></Value>
    </locationInfo>
    <locationInfoTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationInfoTitle>
    <locationName>
      <Value Culture="nl-nl"><![CDATA[locatie naam]]></Value>
    </locationName>
    <locationPhone>
      <Value Culture="nl-nl"><![CDATA[020132649686]]></Value>
    </locationPhone>
    <locationPhoto>
      <Value><![CDATA[[
  {
    "key": "8f54fc2b-b386-4d9e-b5d7-2c1133f59f73",
    "mediaKey": "22bb2884-b6a3-4c23-a7b4-7b33b11fa052"
  }
]]]></Value>
    </locationPhoto>
    <locationRouteTitle>
      <Value Culture="nl-nl"><![CDATA[Route 66]]></Value>
    </locationRouteTitle>
    <locationTitle>
      <Value Culture="nl-nl"><![CDATA[Oost]]></Value>
    </locationTitle>
    <locationType>
      <Value><![CDATA[Verpleegafdelingen]]></Value>
    </locationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <routes>
      <Value><![CDATA[umb://document/d557e292e77840c1b1cf60d429396913]]></Value>
    </routes>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>Welkom op Oost</p>]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Test locatie]]></Value>
    </title>
  </Properties>
</Content>