<?xml version="1.0" encoding="utf-8"?>
<Content Key="20f77216-89c8-4021-a346-55c6c8a88318" Alias="Understand your body test" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/UnderstandYourBodyTest</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2023-12-21T16:14:15</CreateDate>
    <NodeName Default="Understand your body test">
      <Name Culture="en-us">Understand your body test</Name>
    </NodeName>
    <SortOrder>84</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/de39965459cb4dafbc6932d685b3d724"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/075a12e1321542c2b2f750b327537a1c",
      "udi": "umb://element/de39965459cb4dafbc6932d685b3d724"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4c560507fd00449093301d2f1859d4c8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/075a12e1321542c2b2f750b327537a1c",
      "udi": "umb://element/4c560507fd00449093301d2f1859d4c8"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="en-us"><![CDATA[umb://document/17b7619813264346ba671780c06f5ae7]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="en-us"><![CDATA[Intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro intro.]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7eb8143947284e77806a5bfb76cea7a5"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/831b9a2429214e51a78a1ef08a45bfe8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p class=\"intro\">Tussenkop</p>\n<p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.</p>",
            "udi": "umb://element/831b9a2429214e51a78a1ef08a45bfe8"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Title example",
      "udi": "umb://element/7eb8143947284e77806a5bfb76cea7a5"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1ac265903d76433e8ad4b1ee87d78c99"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/02bae0a6d8664a1182dc3ddd80327678"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p class=\"intro\">Tussenkop</p>\n<p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.</p>",
            "udi": "umb://element/02bae0a6d8664a1182dc3ddd80327678"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Title example",
      "udi": "umb://element/1ac265903d76433e8ad4b1ee87d78c99"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="en-us"><![CDATA[Begrijp uw lichaam]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[<p>subtitle</p>]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="en-us"><![CDATA[Understand your body test]]></Value>
    </title>
  </Properties>
</Content>