<?xml version="1.0" encoding="utf-8"?>
<Content Key="cef356c9-8176-4317-89ff-ffbd4e8ba872" Alias="Voorbeeld onderwerp" Level="4">
  <Info>
    <Parent Key="eec8b459-b84b-4660-a4dd-98c2cecd19e2">Veelgestelde vragen</Parent>
    <Path>/Website/SharedContent/VeelgesteldeVragen/VoorbeeldOnderwerp</Path>
    <Trashed>false</Trashed>
    <ContentType>faqSubject</ContentType>
    <CreateDate>2022-04-12T12:58:47</CreateDate>
    <NodeName Default="Voorbeeld onderwerp">
      <Name Culture="nl-nl">Voorbeeld onderwerp</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <subjectTitle>
      <Value Culture="nl-nl"><![CDATA[Op welke afdeling moet ik zijn?]]></Value>
    </subjectTitle>
  </Properties>
</Content>