<?xml version="1.0" encoding="utf-8"?>
<Content Key="65af9a2e-e5e1-4d4a-8b84-681953950bdf" Alias="Zoeken" Level="3">
  <Info>
    <Parent Key="c8685dba-2eac-49b9-bf82-debde16f9f6f">Shared Content Ushamwari</Parent>
    <Path>/Ushamwari/SharedContentUshamwari/Zoeken</Path>
    <Trashed>false</Trashed>
    <ContentType>headerSubsite</ContentType>
    <CreateDate>2023-07-19T09:30:50</CreateDate>
    <NodeName Default="Zoeken">
      <Name Culture="nl-nl">Zoeken</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationItems>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </navigationItems>
    <SearchCollapseText>
      <Value Culture="nl-nl"><![CDATA[Zoeken]]></Value>
    </SearchCollapseText>
    <searchMenuCommonlySearchedText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchMenuCommonlySearchedText>
    <searchMenuSearchboxPlaceholderText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchMenuSearchboxPlaceholderText>
    <searchMenuTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchMenuTitle>
    <websiteLogo>
      <Value Culture="nl-nl"><![CDATA[umb://media/d728940ae5f748ca93e32bdbd437030a]]></Value>
    </websiteLogo>
  </Properties>
</Content>