<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c74995af-867d-427b-9bda-27d4df0670ce" Alias="abstractMedicalContent" Level="2">
  <Info>
    <Name>Abstract medical content</Name>
    <Icon>icon-medical-emergency color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Abstract to be used on pages that have medical content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Abstract</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a5b86bc9-9f20-4d8f-8852-83ad2a3bfbb6</Key>
      <Name>Data vervalt niet</Name>
      <Alias>dataDoesNotExpire</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vink deze optie aan om de data van deze pagina niet te laten vervallen.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="paginahoudbaarheid/instellingen">Instellingen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ecb5097-a054-4acb-aec5-4966b5250bf5</Key>
      <Name>Forceer als verlopen</Name>
      <Alias>forceAsExpired</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Forceert het systeem om deze pagina als verlopen te beschouwen, ookal is de vervaldatum nog niet bereikt.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="paginahoudbaarheid/instellingen">Instellingen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8fc2325c-8132-4674-ad33-976db96260c9</Key>
      <Name>Laatst verstuurde herinneringsmail</Name>
      <Alias>lastSentReminderMailDateTime</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Is leeg als er nog geen herinneringsmails verstuurd zijn.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="paginahoudbaarheid/status">Status</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d00e4873-5cb9-4b8d-a256-1af18793b5a0</Key>
      <Name>Overschrijf verloopdatum</Name>
      <Alias>overrideExpireDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Om de huidige verloopdatum te overschrijven, vul hier een datum/tijd in en sla de pagina op. De ingevulde datum en tijd wordt dan de nieuwe vervaldatum (en dit veld wordt weer leeg gemaakt).]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="paginahoudbaarheid/overschrijven">Overschrijven</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ae2077ab-7ad1-4e67-bebc-6b32c06e08ae</Key>
      <Name>Overschrijf laatst verstuurde herinneringsmail</Name>
      <Alias>overrideLastSentMail</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Om de datum van de laatst verstuurde herinneringsmail te overschrijven, vul hier een datum/tijd in en sla de pagina op. De ingevulde datum en tijd wordt dan de nieuwe verstuurde herinneringsmail (en dit veld wordt weer leeg gemaakt).]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="paginahoudbaarheid/overschrijven">Overschrijven</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99987e35-c2cc-4cd7-a802-d1be4b884d06</Key>
      <Name>Vervaldatum van de pagina</Name>
      <Alias>pageExpiration</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="paginahoudbaarheid/status">Status</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13cdbf09-2bb1-46b8-9ed2-97d0a643c424</Key>
      <Name>Redacteuren (oud)</Name>
      <Alias>umbracoUsers</Alias>
      <Definition>eb4c0800-038d-4189-a22d-ad3903d639f2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="paginahoudbaarheid/redacteuren">Redacteuren</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b0ab143-d5f6-43a8-a3fb-3c75016b9b5f</Key>
      <Name>Redacteuren</Name>
      <Alias>umbracoUsersBL</Alias>
      <Definition>921d9625-0b12-425b-a075-f868df2f1e6f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kies hier een redacteur of redacteuren die een melding krijgen wanneer de medische inhoud bijna verloopt.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="paginahoudbaarheid/redacteuren">Redacteuren</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>122c8c82-8d5a-4f81-8a83-9ba20648d5d8</Key>
      <Caption>Redacteuren</Caption>
      <Alias>paginahoudbaarheid/redacteuren</Alias>
      <Type>Group</Type>
      <SortOrder>-2</SortOrder>
    </Tab>
    <Tab>
      <Key>334fc400-88ae-483b-93a6-4c641102adf9</Key>
      <Caption>Status</Caption>
      <Alias>paginahoudbaarheid/status</Alias>
      <Type>Group</Type>
      <SortOrder>-3</SortOrder>
    </Tab>
    <Tab>
      <Key>9f78316a-c52c-4c47-82a2-5b9aed70d997</Key>
      <Caption>Paginahoudbaarheid</Caption>
      <Alias>paginahoudbaarheid</Alias>
      <Type>Tab</Type>
      <SortOrder>79</SortOrder>
    </Tab>
    <Tab>
      <Key>ade1a28d-88c4-4ce1-bdba-2d3711d744f9</Key>
      <Caption>Instellingen</Caption>
      <Alias>paginahoudbaarheid/instellingen</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>c2539c5d-7cbe-47d7-afb6-edf26b0ca78d</Key>
      <Caption>Overschrijven</Caption>
      <Alias>paginahoudbaarheid/overschrijven</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>