<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="deca0002-bbdc-40f5-98e8-12e27fbf2ed6" Alias="consultationTime" Level="2">
  <Info>
    <Name>Spreekuur</Name>
    <Icon>icon-time color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2af9cb52-8db7-4541-a067-53380f2170eb">abstractMeta</Composition>
      <Composition Key="264246df-74e1-4ca1-a45d-be82a51dd0f4">abstractSearch</Composition>
      <Composition Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864">seoPackage1902</Composition>
      <Composition Key="64e1ea0b-1a4a-4a2e-8ec0-e4226b576c54">seoPackage1902Sitemap</Composition>
      <Composition Key="7101fca8-68ee-456b-a9f2-4bfdee869de1">SiteMapComposition</Composition>
      <Composition Key="e135dec4-e6cf-462c-901c-8be9659945f0">titleSubtitleComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c09c1264-2533-4017-8e0d-e40b270bc507</Key>
      <Name>Telefoon</Name>
      <Alias>consultationTimeContactPhone</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="spreekuur">Spreekuur</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df72fbe6-e322-4a50-932f-c0c4cf118a8a</Key>
      <Name>Email</Name>
      <Alias>consultationTimeEmail</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="spreekuur">Spreekuur</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af638b03-9969-4606-b7d3-bb4fbd058bf4</Key>
      <Name>Tijden spreekuur</Name>
      <Alias>consultationTimeTime</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="spreekuur">Spreekuur</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>404fd304-7bad-464e-9548-afec623d3fbb</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="spreekuur">Spreekuur</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34a3c3ae-37ac-42cb-8e62-393fd283d3b4</Key>
      <Name>Extra informatie</Name>
      <Alias>extraInformation</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die recht in het beige blok bovenaan de pagina wordt getoond. Als een extra titel in dit blok gewenst is, gebruik dan een h3]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="spreekuur">Spreekuur</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1400954b-f4f6-471b-9d18-5ffdd78f035a</Key>
      <Name>Afdelingen</Name>
      <Alias>gekoppledeAfdelingen</Alias>
      <Definition>f32d0e9d-29e3-4ae2-8eb0-9a49d20a09c9</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="koppelingen">Koppelingen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c9eb57a8-bcdc-4ea6-adc3-d1b3e3a5b802</Key>
      <Name>Verberg subtitel</Name>
      <Alias>hideSubtitle</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Zorgt er voor dat er geen subtitel wordt getoond.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce294bd2-bffb-41c7-a678-c1492600a1b3</Key>
      <Name>Spreekuur extra info titel</Name>
      <Alias>informationTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Titel die rechts bovenin het beige blok komt te staan boven de extra informatie bovenaan de pagina]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="spreekuur">Spreekuur</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e824ca5-3d11-477a-8d38-861a9131f168</Key>
      <Name>Locatie Titel</Name>
      <Alias>locatieTitel</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spreekuur">Spreekuur</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18b6fc59-f66c-4fed-8794-97801208ae0b</Key>
      <Name>Routes</Name>
      <Alias>routes</Alias>
      <Definition>7d288b50-6124-4462-954d-1fbe48c215fc</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="koppelingen">Koppelingen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a9c256ef-a594-43d1-b27b-aaa463ec72a6</Key>
      <Name>Route titel</Name>
      <Alias>routeTitel</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="spreekuur">Spreekuur</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c50f151b-538d-4a68-9486-79b8ee720e36</Key>
      <Name>Zorgverleners</Name>
      <Alias>zorgverleners</Alias>
      <Definition>58aaea27-10e7-4750-a89a-4718c5a4cda6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="koppelingen">Koppelingen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1b1a092b-0cc8-42f1-a20a-2cfdb0c846d4</Key>
      <Caption>Koppelingen</Caption>
      <Alias>koppelingen</Alias>
      <Type>Tab</Type>
      <SortOrder>12</SortOrder>
    </Tab>
    <Tab>
      <Key>33bb87ca-f7e9-4119-89c7-b8848455dcee</Key>
      <Caption>Algemeen</Caption>
      <Alias>algemeen</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>418eaebc-efa1-4a65-abd1-3eb5d8deb001</Key>
      <Caption>Spreekuur</Caption>
      <Alias>spreekuur</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>