<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e7afb27-88b1-4b89-9097-15f5898ab695" Alias="ervaringsverhaal" Level="2">
  <Info>
    <Name>Ervaringsverhaal</Name>
    <Icon>icon-columns color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2af9cb52-8db7-4541-a067-53380f2170eb">abstractMeta</Composition>
      <Composition Key="264246df-74e1-4ca1-a45d-be82a51dd0f4">abstractSearch</Composition>
      <Composition Key="acb27f43-f42f-44e8-9675-a41ceda411c6">experienceComponent</Composition>
      <Composition Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864">seoPackage1902</Composition>
      <Composition Key="7101fca8-68ee-456b-a9f2-4bfdee869de1">SiteMapComposition</Composition>
      <Composition Key="e135dec4-e6cf-462c-901c-8be9659945f0">titleSubtitleComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dc407bf2-3094-483f-8f1d-df9dc4d212eb</Key>
      <Name>Afdelingen</Name>
      <Alias>connectionDepartments</Alias>
      <Definition>f32d0e9d-29e3-4ae2-8eb0-9a49d20a09c9</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="koppelingen">Koppelingen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a1363532-f0c8-4ead-9cd6-55a819ef9162</Key>
      <Name>FAQ</Name>
      <Alias>connectionFaq</Alias>
      <Definition>ca4fee4f-9975-46ed-bec7-aa03d1ff22a6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="koppelingen">Koppelingen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07f91487-b3ba-4aad-b6f4-4bbfc0ca46b5</Key>
      <Name>Zorgverleners</Name>
      <Alias>connectionHealthProvider</Alias>
      <Definition>58aaea27-10e7-4750-a89a-4718c5a4cda6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="koppelingen">Koppelingen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>88abc46a-4be0-49fe-901e-8a0eb302ad25</Key>
      <Caption>Koppelingen</Caption>
      <Alias>koppelingen</Alias>
      <Type>Tab</Type>
      <SortOrder>12</SortOrder>
    </Tab>
  </Tabs>
</ContentType>