<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="287ff4c9-b72a-44a8-ba6e-3ae8e52ad4b1" Alias="expiringContent" Level="2">
  <Info>
    <Name>Expiring content</Name>
    <Icon>icon-hourglass color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Add this composition to any page to enable is to have content that expires.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>