<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7716497e-882f-4e28-b9ca-6bf58d5f27f6" Alias="feitenNoTitle" Level="2">
  <Info>
    <Name>Feiten en cijfers zonder titel</Name>
    <Icon>icon-chart-curve color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>63c525f1-124d-4610-ac49-6d43c68d8e6d</Key>
      <Name>Feiten (oud)</Name>
      <Alias>medicalInfoFacts</Alias>
      <Definition>6061e82a-bd11-434f-ad80-660ab1c512f7</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="feiten">Feiten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48f0067c-6f5b-4b59-bd95-a1f07569d92f</Key>
      <Name>Feiten</Name>
      <Alias>medicalInfoFactsBL</Alias>
      <Definition>6e5043b2-2469-4ba4-a2c6-582c7077d0e9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="feiten">Feiten</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c692dcc6-2727-4a88-bd2d-04d676c83b5a</Key>
      <Caption>Feiten</Caption>
      <Alias>feiten</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>