<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c97ced3-f8c3-46f8-ab81-cbcf0f4da593" Alias="formElement" Level="2">
  <Info>
    <Name>Formulier</Name>
    <Icon>icon-forms-file-css color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2d3effb9-49c9-411e-9e3a-65a2a526bf0c</Key>
      <Name>Formulier valideert een maximum aantal inzendingen</Name>
      <Alias>formHasMaxSubmits</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ae469be-ad87-42e3-9574-06c80d8a36de</Key>
      <Name>Inhoud die wordt getoond als maximum aantal inzendingen is bereikt</Name>
      <Alias>formMaxSubmitsContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9c1516b4-5c6f-40c5-868e-a3d59a7f75fb</Key>
      <Name>Introductie uitbreiding uitklapbaar</Name>
      <Alias>introductionExpanded</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Uitbeiding op de introductietekst die standaard verborgen is en uitgeklapt kan worden door een 'lees meer' knop.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24246183-cde9-431d-a174-7372d92a588a</Key>
      <Name>Introductie</Name>
      <Alias>introductionText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kort stukje tekst dat bovenaan het formulier (boven de inhoud) dikgedrukt wordt weergegeven.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e9083f8-cc6d-41d5-bb01-aff4b940f93a</Key>
      <Name>Maximum aantal inzendingen van formulier</Name>
      <Alias>maxSubmissionCountForm</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f304992d-843f-457d-854c-f4f0311cac1c</Key>
      <Caption>Inhoud</Caption>
      <Alias>inhoud</Alias>
      <Type>Group</Type>
      <SortOrder>12</SortOrder>
    </Tab>
  </Tabs>
</ContentType>