<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="809e3e9d-dc43-4df7-bb2e-ddb9c65b66be" Alias="header" Level="2">
  <Info>
    <Name>Header</Name>
    <Icon>icon-navigation-top color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Header van de complete website</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1d3dec1b-2fa1-40fb-8e22-30f91953a636</Key>
      <Name>Tekst in knop Menu</Name>
      <Alias>menuCollapseText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die wordt getoond in de header om het blok menu open te klappen.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="menu">Menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fcd48341-b878-46d5-a512-32d01c0c9935</Key>
      <Name>Card inhoud</Name>
      <Alias>mijnOLVGCardContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="mijnOLVG/mijnOLVGMenu">mijn OLVG menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ad98db8e-3186-4ca4-aa82-0fb457a74991</Key>
      <Name>Card titel</Name>
      <Alias>mijnOLVGCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="mijnOLVG/mijnOLVGMenu">mijn OLVG menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>efe21125-a90e-402c-9283-69053cd2d5e7</Key>
      <Name>Menu tekst</Name>
      <Alias>mijnOLVGMenuText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="mijnOLVG/mijnOLVGMenu">mijn OLVG menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c83fc7ce-75e9-4016-b7c5-a81001c6f5e7</Key>
      <Name>Menu subtitel</Name>
      <Alias>mijnOLVGSubTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mijnOLVG/mijnOLVGMenu">mijn OLVG menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c803e6f9-1be7-4379-a488-d397d30feb5d</Key>
      <Name>Menu titel</Name>
      <Alias>mijnOLVGTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mijnOLVG/mijnOLVGMenu">mijn OLVG menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d3ad9ab-71fa-431a-ab72-a6a7760b31c5</Key>
      <Name>Tekst in knop MijnOLVG</Name>
      <Alias>myOLVGCollapseText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die wordt getoond in de header om het blok MijnOLVG open te klappen.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mijnOLVG">MijnOLVG</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c096f7a4-3f8f-4862-ab31-36232b35dd65</Key>
      <Name>Tekst in knop Zoeken</Name>
      <Alias>SearchCollapseText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die wordt getoond in de header om het blok Zoeken open te klappen.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="zoeken">Zoeken</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f7bd2ad-38b5-4c15-b99f-9b37eb21f814</Key>
      <Name>Veel gezochte zoektermen tekst</Name>
      <Alias>searchMenuCommonlySearchedText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekstje dat voor de veel gezochte zoektermen]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="zoeken/zoekenMenu">Zoeken menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c175b66e-98b0-4076-acfb-98a02dfcfcb6</Key>
      <Name>Zoekveld placeholder tekst</Name>
      <Alias>searchMenuSearchboxPlaceholderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="zoeken/zoekenMenu">Zoeken menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2608adf-fe94-4db4-a9ae-f66dba66b158</Key>
      <Name>Menu titel</Name>
      <Alias>searchMenuTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="zoeken/zoekenMenu">Zoeken menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe19bee5-4f6c-43eb-b414-f8eed5013e2c</Key>
      <Name>Website Logo</Name>
      <Alias>websiteLogo</Alias>
      <Definition>b5046035-96d2-4a23-962a-988db66a0f9d</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Logo dat bovenin elke pagina komt te staan. Als je er op klikt ga je naar de homepage van de site.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="algemeen/headerInstellingen">Header instellingen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59f24db8-7fe0-499c-805d-ab9a99cf34a2</Key>
      <Name>Card 1 links</Name>
      <Alias>websiteMenuCard1Links</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="menu/websiteMenu">Website menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66e154ac-2201-4525-9d7f-e6bc66f50fef</Key>
      <Name>Card 1 titel</Name>
      <Alias>websiteMenuCard1Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="menu/websiteMenu">Website menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8cea6361-0a7b-4e2d-9e47-ed06e755f4fe</Key>
      <Name>Card 2 links</Name>
      <Alias>websiteMenuCard2Links</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="menu/websiteMenu">Website menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3061926e-2b65-4a88-9a30-90267b6049df</Key>
      <Name>Card 2 titel</Name>
      <Alias>websiteMenuCard2Title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="menu/websiteMenu">Website menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>caabd25e-98fd-400b-8446-341562b2d781</Key>
      <Name>Primaire navigatie links</Name>
      <Alias>websiteMenuPrimaryLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="menu/websiteMenu">Website menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>02890f9d-a376-4c19-8652-109d5d9be741</Key>
      <Caption>Website menu</Caption>
      <Alias>menu/websiteMenu</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>2fa4056a-4a74-480e-9aeb-1fddd672fe8d</Key>
      <Caption>Zoeken menu</Caption>
      <Alias>zoeken/zoekenMenu</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>345341f6-db6d-49b6-9b75-30d061ff7631</Key>
      <Caption>Algemeen</Caption>
      <Alias>algemeen</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3fbbfb40-e00f-4c84-bda6-2b7b0d8e9bc5</Key>
      <Caption>Zoeken</Caption>
      <Alias>zoeken</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>551cfc07-1e01-47d8-ae0c-76e24be5dabe</Key>
      <Caption>Header instellingen</Caption>
      <Alias>algemeen/headerInstellingen</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>826015dd-112c-4e89-b391-b27d5c4c606c</Key>
      <Caption>Menu</Caption>
      <Alias>menu</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>a13ba8be-234b-466d-b178-da5792f62598</Key>
      <Caption>MijnOLVG</Caption>
      <Alias>mijnOLVG</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>f0ef0f22-5c64-4713-811d-52c95ece1dc7</Key>
      <Caption>mijn OLVG menu</Caption>
      <Alias>mijnOLVG/mijnOLVGMenu</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>