<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1919e18-25c8-450d-a9d6-d4b2f7bb612a" Alias="medicalInformation" Level="2">
  <Info>
    <Name>MedicalInformation</Name>
    <Icon>icon-medical-emergency color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3dd376c0-c636-44a5-98f7-f647d75dbd85">abstractForAuthors</Composition>
      <Composition Key="2af9cb52-8db7-4541-a067-53380f2170eb">abstractMeta</Composition>
      <Composition Key="264246df-74e1-4ca1-a45d-be82a51dd0f4">abstractSearch</Composition>
      <Composition Key="e9db4107-7f30-453f-b087-1c11829ac55c">expandableIntroductionComponent</Composition>
      <Composition Key="287ff4c9-b72a-44a8-ba6e-3ae8e52ad4b1">expiringContent</Composition>
      <Composition Key="ebe5ed4e-1536-4aba-bee1-8f228cbc7bd3">listWithLinksComponent</Composition>
      <Composition Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864">seoPackage1902</Composition>
      <Composition Key="64e1ea0b-1a4a-4a2e-8ec0-e4226b576c54">seoPackage1902Sitemap</Composition>
      <Composition Key="7101fca8-68ee-456b-a9f2-4bfdee869de1">SiteMapComposition</Composition>
      <Composition Key="a1c8c7d0-b68e-4de4-9aab-ce2dd0e7254b">tableOfContentsComponent</Composition>
      <Composition Key="e135dec4-e6cf-462c-901c-8be9659945f0">titleSubtitleComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3decc6e4-3051-4cfd-a6a5-25aaf3d8770e</Key>
      <Name>Gekoppelde medische Informatie pagina's (oud)</Name>
      <Alias>gekoppeldeMedischeInformatiePaginaS</Alias>
      <Definition>f75b947c-e7ce-4f69-800c-dbc4047e3875</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="gerelateerdeMedischeInformatie">Gerelateerde medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d8e48d6-824e-4b31-b0f9-2113d7031b23</Key>
      <Name>Gekoppelde medische Informatie pagina's</Name>
      <Alias>gekoppeldeMedischeInformatiePaginaSBL</Alias>
      <Definition>4cf130c3-95fe-46d4-965c-a78ffacbad60</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Voeg hier alle aandoeningen, behandelingen, onderzoeken en instructies/adviezen in. Deze worden separaat weergegeven op de website]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gerelateerdeMedischeInformatie">Gerelateerde medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc71bd68-81e8-49d1-9d30-2684774ab9ac</Key>
      <Name>Hoofd afdeling</Name>
      <Alias>headDepartment</Alias>
      <Definition>beb73397-877c-4f74-b14f-78470c2a8a73</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76312a3d-5005-4d4a-bf69-5e2f275e01fc</Key>
      <Name>Medische inhoud verbergen op hoofdafdeling</Name>
      <Alias>hideMedicalContentOnDepartment</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Zet dit vinkje aan als je deze medische content pagina uit wilt sluiten van]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28523818-cdc2-407b-808b-e162fa7fa97f</Key>
      <Name>Introtekst Aandoeningen</Name>
      <Alias>introTextAandoeningen</Alias>
      <Definition>fac4825c-ad1d-4ef0-894c-2de2a425ac78</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die tussen de kop ‘Aandoeningen’ en de gekoppelde pagina's komt te staan]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="gerelateerdeMedischeInformatie">Gerelateerde medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>63f1c1ac-46b0-43ec-81eb-bc0023c8ede1</Key>
      <Name>Introtekst Behandelingen</Name>
      <Alias>introTextBehandelingen</Alias>
      <Definition>fac4825c-ad1d-4ef0-894c-2de2a425ac78</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die tussen de kop ‘Behandelingen’ en de gekoppelde pagina's komt te staan]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="gerelateerdeMedischeInformatie">Gerelateerde medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2243f95-13af-4fda-a07a-c1162eebb78e</Key>
      <Name>Introtekst Instructies en adviezen</Name>
      <Alias>introTextInstructionsAndAdvices</Alias>
      <Definition>fac4825c-ad1d-4ef0-894c-2de2a425ac78</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die tussen de kop ‘Instructies en adviezen’ en de gekoppelde pagina's komt te staan]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="gerelateerdeMedischeInformatie">Gerelateerde medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f238da4-e081-4c91-a100-421c87e91ed9</Key>
      <Name>Introtekst Onderzoeken</Name>
      <Alias>introTextResearch</Alias>
      <Definition>fac4825c-ad1d-4ef0-894c-2de2a425ac78</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die tussen de kop ‘Onderzoeken’ en de gekoppelde pagina's komt te staan]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="gerelateerdeMedischeInformatie">Gerelateerde medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40565ebb-9071-4e1f-b429-c92043523c01</Key>
      <Name>Introtekst Begrijp uw lichaam</Name>
      <Alias>introTextUnderstandYourBody</Alias>
      <Definition>fac4825c-ad1d-4ef0-894c-2de2a425ac78</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die tussen de kop ‘Begrijp uw lichaam’ en de gekoppelde pagina's komt te staan]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="gerelateerdeMedischeInformatie">Gerelateerde medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3bf99782-81a2-4af4-b4d8-71d26ec32980</Key>
      <Name>Introtekst Zorgpaden</Name>
      <Alias>introtextZorgpaden</Alias>
      <Definition>fac4825c-ad1d-4ef0-894c-2de2a425ac78</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die tussen de kop ‘Zorgpaden’ en de gekoppelde pagina's komt te staan]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gerelateerdeMedischeInformatie">Gerelateerde medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73982acb-9cfc-412b-9366-13faca5ee90c</Key>
      <Name>Inhoud medische informatie (oud)</Name>
      <Alias>medicalInfoContent</Alias>
      <Definition>360b362f-d5f4-4d3f-8e81-ee529062cc10</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="inhoudMedischeInformatie">Inhoud medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3cdf620b-5bb9-4656-8861-38e55636e4c4</Key>
      <Name>Inhoud medische informatie</Name>
      <Alias>medicalInfoContentBL</Alias>
      <Definition>7440b1e1-6af7-4986-b868-2cfeffea4c70</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inhoudMedischeInformatie">Inhoud medische informatie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>394cf10f-9c26-490b-b613-5fc78e665c20</Key>
      <Name>Type</Name>
      <Alias>medicalInformationType</Alias>
      <Definition>c9b76a9c-8ab6-44f7-a935-00785e63b384</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a4bd902-a88a-48ea-81bd-46f88fdcb4b6</Key>
      <Name>Links en iconen (oud)</Name>
      <Alias>questionContactLinksAndIcons</Alias>
      <Definition>4159939a-5440-4463-aa57-ae5e8ff610ea</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="vragenContact">Vragen &amp; Contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7eab608d-d47f-4016-b8ee-294376b869f8</Key>
      <Name>Links en iconen</Name>
      <Alias>questionContactLinksAndIconsBL</Alias>
      <Definition>07f6bebc-5e2e-48cd-aeb3-1c6864f156e4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="vragenContact">Vragen &amp; Contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>819b07b7-d7d1-4a84-ade5-b834dde32df0</Key>
      <Name>Tekst</Name>
      <Alias>questionContactText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Als er een redactioneel blok geselecteerd is dan wordt deze tekst niet getoond]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="vragenContact">Vragen &amp; Contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f03ef87b-1a84-4c65-b1a6-16748666103a</Key>
      <Name>Titel</Name>
      <Alias>questionContactTitle</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Als er een redactioneel blok geselecteerd is dan wordt deze titel niet getoond]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vragenContact">Vragen &amp; Contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dba7d6d7-7242-4787-b056-4a66c4da17a5</Key>
      <Name>Redactionele blokken</Name>
      <Alias>redactioneleBlokken</Alias>
      <Definition>7f64e081-f4ca-4c63-9db9-4fb23e434c28</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="vragenContact">Vragen &amp; Contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d210ac98-31f6-4c21-a5cd-1bf3a082923d</Key>
      <Name>Redactionele blokken</Name>
      <Alias>redactioneleBlokkenBL</Alias>
      <Definition>438c9dc6-6838-4628-8d30-fb675d3e3564</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="vragenContact">Vragen &amp; Contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3c92e962-1ca0-4307-a850-baf7375d40d1</Key>
      <Caption>Gerelateerde medische informatie</Caption>
      <Alias>gerelateerdeMedischeInformatie</Alias>
      <Type>Tab</Type>
      <SortOrder>40</SortOrder>
    </Tab>
    <Tab>
      <Key>487151e7-8f37-434a-9989-cddbae6d6d80</Key>
      <Caption>Algemeen</Caption>
      <Alias>algemeen</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>51a32ad2-0002-4b09-9b54-fca035836ea8</Key>
      <Caption>Vragen &amp; Contact</Caption>
      <Alias>vragenContact</Alias>
      <Type>Tab</Type>
      <SortOrder>60</SortOrder>
    </Tab>
    <Tab>
      <Key>7cd8560a-e54f-490b-8c08-fdeef6a9ca7c</Key>
      <Caption>Inhoud medische informatie</Caption>
      <Alias>inhoudMedischeInformatie</Alias>
      <Type>Tab</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>