<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864" Alias="seoPackage1902" Level="1">
  <Info>
    <Name>1902 SEO</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>0997ef2d-7594-4fae-babc-c5fe2126e9f8</Key>
      <Caption>SeoChecker</Caption>
      <Alias>seO/seoChecker</Alias>
      <Type>Group</Type>
      <SortOrder>99</SortOrder>
    </Tab>
    <Tab>
      <Key>aed31f89-50f5-44b2-b070-4dfe1ec7b55f</Key>
      <Caption>SEO-gegevens</Caption>
      <Alias>seO/seoGegevens</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
    <Tab>
      <Key>e4c2c0ac-1495-4c4b-8a40-9e55d94aed86</Key>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Tab</Type>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>