<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37716eab-4d63-4407-a0f2-97e78f5a8a52" Alias="Test document - Nested content - Nested Content (legacy)" Level="1">
  <Info>
    <Name>Test document - Nested content - Nested Content (legacy)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "",
      "ncAlias": "textInvariant",
      "ncTabAlias": "Content"
    },
    {
      "nameTemplate": "",
      "ncAlias": "textInvariant1",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>