<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4677a57-af50-452a-9272-352b1cf64412" Alias="ContentPartsContainer" Level="4">
  <Info>
    <Name>#headlessBaseContentTypes_contentPartsContainerName</Name>
    <Icon>icon-share</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>#headlessBaseContentTypes_contentPartsContainerDescription</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Packages/UmbracoCore/Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>