<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f57d211d-7abe-4840-be7a-ad40faef350b" Alias="editorialBlock" Level="2">
  <Info>
    <Name>Redactioneel Blok</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions>
      <Composition Key="3dd376c0-c636-44a5-98f7-f647d75dbd85">abstractForAuthors</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>279cb395-7ad2-4304-8feb-517087c42b0a</Key>
      <Name>Inhoud</Name>
      <Alias>editorialContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="redactioneelInhoud">Redactioneel Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>308afcd8-b6c2-4a73-9e10-6d8193538030</Key>
      <Caption>Redactioneel Inhoud</Caption>
      <Alias>redactioneelInhoud</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>