<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad05fc0a-3445-42bf-a2ae-6a732826423f" Alias="fundraiserPage" Level="2">
  <Info>
    <Name>Donatiepagina</Name>
    <Icon>icon-donate color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3dd376c0-c636-44a5-98f7-f647d75dbd85">abstractForAuthors</Composition>
      <Composition Key="2af9cb52-8db7-4541-a067-53380f2170eb">abstractMeta</Composition>
      <Composition Key="264246df-74e1-4ca1-a45d-be82a51dd0f4">abstractSearch</Composition>
      <Composition Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864">seoPackage1902</Composition>
      <Composition Key="64e1ea0b-1a4a-4a2e-8ec0-e4226b576c54">seoPackage1902Sitemap</Composition>
      <Composition Key="7101fca8-68ee-456b-a9f2-4bfdee869de1">SiteMapComposition</Composition>
    </Compositions>
    <DefaultTemplate>fundraiserPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cad3f02e-3d04-4129-a881-466a4a26c858">fundraiserPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f606d094-0239-4ff4-bf19-6dd9dbd76a0f</Key>
      <Name>Placeholder toevoeging</Name>
      <Alias>addition</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>637eab3a-4ca6-4649-83cd-4a2f28c966e1</Key>
      <Name>Tekst bedrag</Name>
      <Alias>amount</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="donatieTeksten/tabblad2">Tabblad 2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f227ff01-aee5-41d7-baa7-9cbc26696037</Key>
      <Name>Tekst bedrag anders</Name>
      <Alias>amountDifferent</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="donatieTeksten/tabblad2">Tabblad 2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b94bb0d9-022d-40df-a71c-3167acbc8959</Key>
      <Name>Placeholder bedrijfsnaam</Name>
      <Alias>companyName</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c840822-17d2-4769-bd96-5164a89a0c74</Key>
      <Name>Inhoud</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fcec0218-a098-464a-8a3d-4a0d39a611bf</Key>
      <Name>Optietekst zakelijk</Name>
      <Alias>corporateDonation</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="donatieTeksten/tabblad1">Tabblad 1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50a08a46-b0af-4c0c-a4b1-f441a03820de</Key>
      <Name>Toon invoerveld</Name>
      <Alias>displayCustomAmount</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="donatieTeksten/tabblad2">Tabblad 2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17202025-b703-49bd-90d8-1fb40b05bedd</Key>
      <Name>Placeholder voornaam</Name>
      <Alias>firstName</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>490b2cd6-b791-48e1-8b4f-3902ca79e796</Key>
      <Name>Placeholder huisnummer</Name>
      <Alias>houseNumber</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>610420a1-7e42-4bbf-8356-f1704990e986</Key>
      <Name>Placeholder tussenvoegsel</Name>
      <Alias>infix</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>23af28d3-cc10-4286-a694-f9d82ddc8209</Key>
      <Name>Tekst interval</Name>
      <Alias>interval</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="donatieTeksten/tabblad2">Tabblad 2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3b57197-a981-431a-9ea8-7c58bc485bb5</Key>
      <Name>Introductie</Name>
      <Alias>introText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c672fc8a-0b3d-4d88-889f-2fc84ad31e9b</Key>
      <Name>Blijf op de hoogte</Name>
      <Alias>keepNotified</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c87fa07a-5b57-4135-9f73-480954cf02c4</Key>
      <Name>Placeholder achternaam</Name>
      <Alias>lastName</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f19ec15-42a7-46f5-b47d-1b8b78d93256</Key>
      <Name>Tekst maandelijks</Name>
      <Alias>monthlyDonation</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="donatieTeksten/tabblad2">Tabblad 2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>032c0d65-b8ce-4389-97d8-df1f2b2c1b57</Key>
      <Name>Maandelijkse bedragen</Name>
      <Alias>monthlyPriceOptionsCorporate</Alias>
      <Definition>d66c82b0-25fa-4450-b55b-f4a2c6e4d5b1</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[+-]?(\d{1,3}(,\d{3})*|(\d+))(\.\d+)?$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="donatieInstellingen/zakelijkeDonaties">Zakelijke donaties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Alleen bedragen toegestaan</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>003e460f-c94d-4a2d-8f24-9e3889caeacf</Key>
      <Name>Maandelijkse bedragen</Name>
      <Alias>monthlyPriceOptionsPrivate</Alias>
      <Definition>d66c82b0-25fa-4450-b55b-f4a2c6e4d5b1</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[+-]?(\d{1,3}(,\d{3})*|(\d+))(\.\d+)?$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="donatieInstellingen/particuliereDonaties">Particuliere donaties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Alleen bedragen toegestaan</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7a0c8719-e691-4629-b642-6c6ba3cf0b68</Key>
      <Name>Tekst eenmalig</Name>
      <Alias>oneTimeDonation</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="donatieTeksten/tabblad2">Tabblad 2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>965004d2-0add-417f-bee2-c0cdc38bce51</Key>
      <Name>Eenmalige bedragen</Name>
      <Alias>oneTimePriceOptionsCorporate</Alias>
      <Definition>d66c82b0-25fa-4450-b55b-f4a2c6e4d5b1</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[+-]?(\d{1,3}(,\d{3})*|(\d+))(\.\d+)?$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="donatieInstellingen/zakelijkeDonaties">Zakelijke donaties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>oneTimePriceOptions</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f58b03a-72a9-44e8-bcd8-2f55825df40e</Key>
      <Name>Eenmalige bedragen</Name>
      <Alias>oneTimePriceOptionsPrivate</Alias>
      <Definition>d66c82b0-25fa-4450-b55b-f4a2c6e4d5b1</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[+-]?(\d{1,3}(,\d{3})*|(\d+))(\.\d+)?$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="donatieInstellingen/particuliereDonaties">Particuliere donaties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Alleen bedragen toegestaan</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83408484-4d18-4b35-880d-d8664b6c19af</Key>
      <Name>Pagina elementen (oud)</Name>
      <Alias>pageElements</Alias>
      <Definition>87ba86d1-0c62-47d1-b1f2-eeac4a76463b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d0f9b25b-747b-47c4-b91d-5c670c0a06e5</Key>
      <Name>Pagina elementen</Name>
      <Alias>pageElementsBL</Alias>
      <Definition>06da57c1-0214-499b-b3bd-30dfab28a83a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a98fb078-48fa-465b-90dd-be52a6743f10</Key>
      <Name>Placeholder plaats</Name>
      <Alias>place</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f0159337-6b60-4aff-b028-a156eae5e118</Key>
      <Name>Placeholder postcode</Name>
      <Alias>postalCode</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c3fc9d5-f591-4af8-9d40-1de7e221c135</Key>
      <Name>Privacyverklaring</Name>
      <Alias>privacyStatement</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>400300fe-bb16-4434-b835-1db5d9eb658c</Key>
      <Name>Optietekst particulier</Name>
      <Alias>privateDonation</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="donatieTeksten/tabblad1">Tabblad 1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>19c06c0a-1203-4066-a990-294c1bd8807c</Key>
      <Name>Placeholder opmerkingveld</Name>
      <Alias>remarkField</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12647d7b-30ac-418b-a6b0-39f23bf3577e</Key>
      <Name>tekst bij checkbox specifiek project</Name>
      <Alias>specificProjectText</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="donatieTeksten/tabblad1">Tabblad 1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52a78353-ebc1-4898-b3ee-328f1efc5dab</Key>
      <Name>Placeholder straat</Name>
      <Alias>street</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bdc462a-6c7a-41b3-995c-2da5ec9fe5bf</Key>
      <Name>Titel</Name>
      <Alias>tabOneTitle</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="donatieTeksten/tabblad1">Tabblad 1</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24bb015c-a07f-4fa6-8979-6dd1b1d665f7</Key>
      <Name>Bedankt pagina</Name>
      <Alias>thankYouPage</Alias>
      <Definition>3d365d16-e3a1-441e-a161-4d3891ec15a0</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="donatieTeksten/bedanktPagina">Bedankt pagina</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab906f4a-d055-4a90-a319-2659b3c02141</Key>
      <Name>Titel opmerking</Name>
      <Alias>titleRemark</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="donatieTeksten/tabblad3">Tabblad 3</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d3e112a9-639e-4a6a-aa89-fbb51166fc03</Key>
      <Name>Tekst jaarlijks</Name>
      <Alias>yearlyDonation</Alias>
      <Definition>baf7f2e1-8be9-42bd-bddc-800e60f08832</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="donatieTeksten/tabblad2">Tabblad 2</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>761e730e-914b-4542-9a74-39301b4c3fa0</Key>
      <Name>Jaarlijkse bedragen</Name>
      <Alias>yearlyPriceOptionsCorporate</Alias>
      <Definition>d66c82b0-25fa-4450-b55b-f4a2c6e4d5b1</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[+-]?(\d{1,3}(,\d{3})*|(\d+))(\.\d+)?$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="donatieInstellingen/zakelijkeDonaties">Zakelijke donaties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Alleen bedragen toegestaan</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73474d59-108b-47d5-b7eb-6e640ce7c407</Key>
      <Name>Jaarlijkse bedragen</Name>
      <Alias>yearlyPriceOptionsPrivate</Alias>
      <Definition>d66c82b0-25fa-4450-b55b-f4a2c6e4d5b1</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[+-]?(\d{1,3}(,\d{3})*|(\d+))(\.\d+)?$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="donatieInstellingen/particuliereDonaties">Particuliere donaties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Alleen bedragen toegestaan</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>38c47291-1fda-4f99-a2cf-2a07aaf7043a</Key>
      <Caption>Tabblad 2</Caption>
      <Alias>donatieTeksten/tabblad2</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>6934a127-86e2-4e43-958f-6f2f48b53530</Key>
      <Caption>Tabblad 3</Caption>
      <Alias>donatieTeksten/tabblad3</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>6ab92e5f-753b-4f41-a863-be8257acfedb</Key>
      <Caption>Zakelijke donaties</Caption>
      <Alias>donatieInstellingen/zakelijkeDonaties</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>a2c170bd-b557-4401-b03e-3d99ef104b9b</Key>
      <Caption>Particuliere donaties</Caption>
      <Alias>donatieInstellingen/particuliereDonaties</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ada49525-fa34-44bf-bdcf-a661833cb236</Key>
      <Caption>Algemeen</Caption>
      <Alias>algemeen</Alias>
      <Type>Tab</Type>
      <SortOrder>60</SortOrder>
    </Tab>
    <Tab>
      <Key>b51538fd-04f5-4f62-b66b-88407494cc75</Key>
      <Caption>Bedankt pagina</Caption>
      <Alias>donatieTeksten/bedanktPagina</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>cb1fd0fa-13b3-4dde-afa7-e9c616c187eb</Key>
      <Caption>Tabblad 1</Caption>
      <Alias>donatieTeksten/tabblad1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f5913d59-9dbe-4a19-9f31-7035ff5ac88a</Key>
      <Caption>Donatie instellingen</Caption>
      <Alias>donatieInstellingen</Alias>
      <Type>Tab</Type>
      <SortOrder>62</SortOrder>
    </Tab>
    <Tab>
      <Key>f5fbe91c-66b2-4f90-bbce-0147fb24b68e</Key>
      <Caption>Donatie teksten</Caption>
      <Alias>donatieTeksten</Alias>
      <Type>Tab</Type>
      <SortOrder>61</SortOrder>
    </Tab>
  </Tabs>
</ContentType>