<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df2faa40-e5fc-41f8-95dc-f5affe3056ca" Alias="headerSubsite" Level="2">
  <Info>
    <Name>Header subsite</Name>
    <Icon>icon-navigation-top color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Header van de complete website</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c5269e48-241d-40cb-be8f-a4284730c784</Key>
      <Name>Items</Name>
      <Alias>navigationItems</Alias>
      <Definition>468e9d86-85a1-49eb-8bcb-77ee2dea6b58</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="menu/websiteMenu">Website menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>021781e7-7ca6-4ff3-97dc-b43c1b60c4ea</Key>
      <Name>Tekst in knop Zoeken</Name>
      <Alias>SearchCollapseText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die wordt getoond in de header om het blok Zoeken open te klappen.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="zoeken">Zoeken</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8244b9e2-7c30-40af-8117-fef5ba7b5c73</Key>
      <Name>Veel gezochte zoektermen tekst</Name>
      <Alias>searchMenuCommonlySearchedText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="zoeken/zoekenMenu">Zoeken menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1408ac19-2f75-47ac-ab19-a54da4ca286a</Key>
      <Name>Zoekveld placeholder tekst</Name>
      <Alias>searchMenuSearchboxPlaceholderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="zoeken/zoekenMenu">Zoeken menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4638be5-a7c4-44dc-afd3-9cb78899fb63</Key>
      <Name>Menu titel</Name>
      <Alias>searchMenuTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="zoeken/zoekenMenu">Zoeken menu</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ea4e779-5ee3-4acb-8e61-3e4295ef66a0</Key>
      <Name>Website Logo</Name>
      <Alias>websiteLogo</Alias>
      <Definition>b5046035-96d2-4a23-962a-988db66a0f9d</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Logo dat bovenin elke pagina komt te staan. Als je er op klikt ga je naar de homepage van de site.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="algemeen/headerInstellingen">Header instellingen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>142282d4-d8fd-4a81-ad0f-193e6317e709</Key>
      <Caption>Website menu</Caption>
      <Alias>menu/websiteMenu</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>64ba61f7-de54-4264-9382-50c09a81cb80</Key>
      <Caption>Zoeken</Caption>
      <Alias>zoeken</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>7ae13992-4e02-435e-9501-61f60e117f0a</Key>
      <Caption>Header instellingen</Caption>
      <Alias>algemeen/headerInstellingen</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b10776a7-fcfb-49d5-8d9f-01817004984d</Key>
      <Caption>Algemeen</Caption>
      <Alias>algemeen</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d837307b-e261-47a4-83e6-33fd09bf40c2</Key>
      <Caption>Menu</Caption>
      <Alias>menu</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>fa508703-962f-4703-8199-4ee67cbbef90</Key>
      <Caption>Zoeken menu</Caption>
      <Alias>zoeken/zoekenMenu</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>