<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22542eaa-3476-49d2-8edb-0b3760754fbb" Alias="overzichtspagina" Level="2">
  <Info>
    <Name>Overzichtspagina</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3dd376c0-c636-44a5-98f7-f647d75dbd85">abstractForAuthors</Composition>
      <Composition Key="2af9cb52-8db7-4541-a067-53380f2170eb">abstractMeta</Composition>
      <Composition Key="264246df-74e1-4ca1-a45d-be82a51dd0f4">abstractSearch</Composition>
      <Composition Key="5e08f14d-4ab7-4074-a6df-fdef3f50858e">expandableRichIntroductionComponent</Composition>
      <Composition Key="44900be3-9357-4561-ad86-285dd6979f3a">headerComponent</Composition>
      <Composition Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864">seoPackage1902</Composition>
      <Composition Key="64e1ea0b-1a4a-4a2e-8ec0-e4226b576c54">seoPackage1902Sitemap</Composition>
      <Composition Key="7101fca8-68ee-456b-a9f2-4bfdee869de1">SiteMapComposition</Composition>
      <Composition Key="e135dec4-e6cf-462c-901c-8be9659945f0">titleSubtitleComponent</Composition>
    </Compositions>
    <DefaultTemplate>Overzichtspagina</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d2d6a87a-5333-47ca-8e7d-96edf0e5a253">Overzichtspagina</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8c50d4e9-d533-4985-a821-f4138c640c52" SortOrder="0">standaardContent</ContentType>
    <ContentType Key="22542eaa-3476-49d2-8edb-0b3760754fbb" SortOrder="1">overzichtspagina</ContentType>
    <ContentType Key="57595acb-228c-4aa4-b2b4-687c623e6f18" SortOrder="2">formPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f9aa5b5b-9c20-4cbd-9d7a-a54dad8f1614</Key>
      <Name>Uitgelichte items (oud)</Name>
      <Alias>featuredItems</Alias>
      <Definition>970264c7-ec39-40dc-a386-79f482a38116</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="uitgelichteItems1">Uitgelichte items</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3af2d207-776d-41dc-a0a5-e6b1a864d0c6</Key>
      <Name>Uitgelichte items</Name>
      <Alias>featuredItemsBL</Alias>
      <Definition>be47664c-d6df-4e5a-bea2-9dfe8b067939</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="uitgelichteItems1">Uitgelichte items</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31b1204c-f38c-41f5-adc8-d883385cfdaa</Key>
      <Name>Links gegroepeerd (oud)</Name>
      <Alias>links</Alias>
      <Definition>ecbe50a9-1db3-4f8f-afe5-3fcd321631ec</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="subitems">Subitems</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d05c78ae-b19d-4c05-94be-eb2b5c24937b</Key>
      <Name>Links gegroepeerd</Name>
      <Alias>linksBL</Alias>
      <Definition>aca5dd9b-a873-41e5-a9e5-ae9662e9ff20</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="subitems">Subitems</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>274902cd-b418-49f7-a5b1-a0563b3e2475</Key>
      <Caption>Uitgelichte items</Caption>
      <Alias>uitgelichteItems1</Alias>
      <Type>Tab</Type>
      <SortOrder>17</SortOrder>
    </Tab>
    <Tab>
      <Key>e8dfd95b-0bb9-4bcb-9d04-6f4adf1bfa9e</Key>
      <Caption>Subitems</Caption>
      <Alias>subitems</Alias>
      <Type>Tab</Type>
      <SortOrder>18</SortOrder>
    </Tab>
  </Tabs>
</ContentType>