<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af1555f6-c334-4f13-957c-ad82e5245fc4" Alias="sharedContentContainer" Level="2">
  <Info>
    <Name>#Shared content container</Name>
    <Icon>icon-folders color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>#Shared content container description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5c932e30-f616-4909-965a-0ca65fa295d3" SortOrder="0">footer</ContentType>
    <ContentType Key="809e3e9d-dc43-4df7-bb2e-ddb9c65b66be" SortOrder="1">header</ContentType>
    <ContentType Key="45e25c6e-25f0-473c-8ac9-e9bf0a7b6b0f" SortOrder="2">faqContainer</ContentType>
    <ContentType Key="2ba18dcf-9415-42ce-a075-69509383208a" SortOrder="3">fotoboekFolder</ContentType>
    <ContentType Key="ea0229aa-ab2a-4955-a400-b29c5a22589c" SortOrder="4">routeFolder</ContentType>
    <ContentType Key="28e5618d-6499-4019-a224-4b5210243617" SortOrder="5">editorialFolder</ContentType>
    <ContentType Key="4801596e-d5bd-4d8b-85d6-b684034f9b26" SortOrder="6">readspeaker</ContentType>
    <ContentType Key="932e11df-815f-4871-bd73-22673c8ba4a3" SortOrder="7">patientServicePoint</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>