<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7101fca8-68ee-456b-a9f2-4bfdee869de1" Alias="SiteMapComposition" Level="4">
  <Info>
    <Name>SiteMap composition</Name>
    <Icon>icon-map color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition that can be used by every page so that that the sitemap options are available</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Packages/UmbracoCore/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b9f6cd9a-9cea-45e6-82ca-5daaa09f8d2c</Key>
      <Name>#headlessBaseContentTypes_sitemapCompositionPropertyChangeFrequencyName</Name>
      <Alias>sitemapChangeFrequency</Alias>
      <Definition>0bc1b55d-dae9-4e59-9bca-8be72a84680a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#headlessBaseContentTypes_sitemapCompositionPropertyChangeFrequencyDescription]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sitemapTab/sitemapGroup">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>#headlessBaseContentTypes_sitemapCompositionPropertyChangeFrequencyRequired</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96214db2-e9b9-4a5f-b1ab-dafa5d2eb29f</Key>
      <Name>#headlessBaseContentTypes_sitemapCompositionPropertyHideFromSitemapName</Name>
      <Alias>sitemapDisabled</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#headlessBaseContentTypes_sitemapCompositionPropertyHideFromSitemapDescription]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sitemapTab/sitemapGroup">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>#headlessBaseContentTypes_sitemapCompositionPropertyHideFromSitemapRequired</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2cd0eeca-408a-4f55-9aa5-888d631196b8</Key>
      <Name>#headlessBaseContentTypes_sitemapCompositionPropertyRelativePriorityName</Name>
      <Alias>sitemapRelativePriority</Alias>
      <Definition>f53e09a9-5bd8-4191-8f80-720525abb3a8</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#headlessBaseContentTypes_sitemapCompositionPropertyRelativePriorityDescription]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sitemapTab/sitemapGroup">Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>#headlessBaseContentTypes_sitemapCompositionPropertyRelativePriorityRequired</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7860b40c-d4f4-455e-988f-8a4383ab5cf3</Key>
      <Caption>Sitemap</Caption>
      <Alias>sitemapTab</Alias>
      <Type>Tab</Type>
      <SortOrder>1993</SortOrder>
    </Tab>
    <Tab>
      <Key>8814497f-6658-46cc-9127-187e5beb453a</Key>
      <Caption>Sitemap</Caption>
      <Alias>sitemapTab/sitemapGroup</Alias>
      <Type>Group</Type>
      <SortOrder>1993</SortOrder>
    </Tab>
  </Tabs>
</ContentType>