<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ce407c36-5e3c-41c2-a2e9-9708a45f1278" Alias="zorgpad" Level="2">
  <Info>
    <Name>Zorgpad</Name>
    <Icon>icon-path color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3dd376c0-c636-44a5-98f7-f647d75dbd85">abstractForAuthors</Composition>
      <Composition Key="2af9cb52-8db7-4541-a067-53380f2170eb">abstractMeta</Composition>
      <Composition Key="264246df-74e1-4ca1-a45d-be82a51dd0f4">abstractSearch</Composition>
      <Composition Key="287ff4c9-b72a-44a8-ba6e-3ae8e52ad4b1">expiringContent</Composition>
      <Composition Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864">seoPackage1902</Composition>
      <Composition Key="64e1ea0b-1a4a-4a2e-8ec0-e4226b576c54">seoPackage1902Sitemap</Composition>
      <Composition Key="7101fca8-68ee-456b-a9f2-4bfdee869de1">SiteMapComposition</Composition>
      <Composition Key="e135dec4-e6cf-462c-901c-8be9659945f0">titleSubtitleComponent</Composition>
    </Compositions>
    <DefaultTemplate>Zorgpad</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6ec1c855-c673-4ea6-bd1f-fd9e34a7512a">Zorgpad</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ce407c36-5e3c-41c2-a2e9-9708a45f1278" SortOrder="0">zorgpad</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>83a6377b-f665-43b3-900b-6c84eb507b14</Key>
      <Name>Content onderaan de pagina</Name>
      <Alias>bottomContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d267dab6-6b93-4dbe-87fa-1f5510781792</Key>
      <Name>Content</Name>
      <Alias>contactContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contact">Contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e66cbda8-3ea6-4ef4-9aad-f65008c58158</Key>
      <Name>Titel</Name>
      <Alias>contactTitle</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contact">Contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff054168-5ad6-4cc5-9082-7bb9546ee211</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>925a1746-8447-43e2-b659-e6b699d2a165</Key>
      <Name>Nuttige websites</Name>
      <Alias>externalLinksList</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contact/lijstjeInterneEnofExterneLinks">Lijstje interne en/of externe links</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5587e3a3-dbbd-4237-ae12-15f940c35504</Key>
      <Name>Hoofd afdeling</Name>
      <Alias>headDepartment</Alias>
      <Definition>beb73397-877c-4f74-b14f-78470c2a8a73</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>692d934a-8f00-480f-a585-7a05118a8d9e</Key>
      <Name>Hoofd zorgverlener</Name>
      <Alias>headHealthProfessional</Alias>
      <Definition>bd36fe20-4f6e-465d-a193-513cb32136b5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Zorgverlener die naast de introductieblokken wordt getoond. Indien er geen ingevuld is, wordt een standaard afbeelding getoond.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b75f4a42-f55e-4894-b74d-e9ec63d33369</Key>
      <Name>Zorgverleners</Name>
      <Alias>healthProfessionalsContact</Alias>
      <Definition>58aaea27-10e7-4750-a89a-4718c5a4cda6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contact/behandelteam">Behandelteam</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>671ac6aa-1374-47f2-90ae-641d78a170f4</Key>
      <Name>Verder lezen</Name>
      <Alias>internalLinksList</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contact/lijstjeInterneEnofExterneLinks">Lijstje interne en/of externe links</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7eedacf8-75b3-4e5f-87da-ee6c40777dff</Key>
      <Name>Introductie</Name>
      <Alias>introduction</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f5335ff-70a0-406e-aca7-c969c0b6eda2</Key>
      <Name>Navigatie titel</Name>
      <Alias>introductionNavigationTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optioneel: gebruik een kortere titel voor de zorgpadnavigatie aan de onderkant van de pagina.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e94425d2-c353-458c-ab09-cab02e786087</Key>
      <Name>Introductie</Name>
      <Alias>introductionTeam</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contact/behandelteam">Behandelteam</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1af3f9cb-d4d5-43e7-87a0-970e4328aca4</Key>
      <Name>Feiten en cijfers (oud)</Name>
      <Alias>introFactsAndNumbers</Alias>
      <Definition>64a1c839-41a2-49a7-8a4f-03eeea4cd27d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2fd8b598-7071-4dca-89f4-667ec0557820</Key>
      <Name>Feiten en cijfers</Name>
      <Alias>introFactsAndNumbersBL</Alias>
      <Definition>19b1ea2c-d5ca-4671-ac62-877ce7cfb2dd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bad7276b-f2cf-4aff-9829-ea37343fbba7</Key>
      <Name>Verder lezen</Name>
      <Alias>introReadMore</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e1d6ddb-e44c-43aa-92d3-56d85ac3e2e6</Key>
      <Name>Nuttige websites</Name>
      <Alias>introUsefullSites</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab90cdfe-e2c7-4e68-b4a2-6e1f41f43ca0</Key>
      <Name>Zorgverlener</Name>
      <Alias>professionalContact</Alias>
      <Definition>b5604903-69d6-4e4e-ac96-f27897a5cbbd</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contact/vragenContact">Vragen contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5ecdbbb-ccb7-47bb-9fca-4b009ec26287</Key>
      <Name>Stappen (oud)</Name>
      <Alias>steps</Alias>
      <Definition>ba7c6bc3-4b57-4536-bc9b-18162989dae9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="stappen">Stappen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e0ece82-67c3-4ef2-86bb-8b3572be9552</Key>
      <Name>Stappen</Name>
      <Alias>stepsBL</Alias>
      <Definition>d6ebd06f-b34d-42b4-b2d1-544b37204408</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="stappen">Stappen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>46239561-82c6-4e9e-94a6-311a9f679b12</Key>
      <Name>Introductieblokken (oud)</Name>
      <Alias>tableOfContents</Alias>
      <Definition>7e57e66d-700c-4863-aa41-d7b0f4d8f53c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b518b044-175e-43b6-bb19-788ebef36630</Key>
      <Name>Introductieblokken</Name>
      <Alias>tableOfContentsBL</Alias>
      <Definition>cd880f7a-79a2-4f81-9faf-8a7f9e9fbc49</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>affd4c47-82a9-46d6-b318-11cf49019244</Key>
      <Name>Titel introductieblokken</Name>
      <Alias>tableOfContentsTitle</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d056fd39-5dae-455c-97ec-f2ce31069a4c</Key>
      <Name>Button tekst</Name>
      <Alias>textButton</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optioneel: overschrijf de standaard contactbutton tekst 'Contact']]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contact">Contact</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7f5ad75-04e2-449e-91e7-a81ebc836865</Key>
      <Name>Behandelteam titel</Name>
      <Alias>titleTeam</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Titel van de behandelteam sectie op de contactpagina van een zorgpad]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contact/behandelteam">Behandelteam</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>012e7ec1-3185-4019-8703-0c44d39ece2f</Key>
      <Caption>Behandelteam</Caption>
      <Alias>contact/behandelteam</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>13a44f57-cf55-4891-81aa-47ebc4f044ba</Key>
      <Caption>Contact</Caption>
      <Alias>contact</Alias>
      <Type>Tab</Type>
      <SortOrder>13</SortOrder>
    </Tab>
    <Tab>
      <Key>1dddc80a-1809-427f-b87a-26209d0447e7</Key>
      <Caption>Vragen contact</Caption>
      <Alias>contact/vragenContact</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>4a1c8399-d47b-4722-af4c-2152ea31279b</Key>
      <Caption>Algemeen</Caption>
      <Alias>algemeen</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>5f4a305b-5705-43be-af9b-08b27c0a7f39</Key>
      <Caption>Stappen</Caption>
      <Alias>stappen</Alias>
      <Type>Tab</Type>
      <SortOrder>12</SortOrder>
    </Tab>
    <Tab>
      <Key>8e90ae73-a1b3-453d-abf2-0a23234960a8</Key>
      <Caption>Introductie</Caption>
      <Alias>introductie</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
    <Tab>
      <Key>e64ba27a-3b83-47a2-815d-5afb3ac4c530</Key>
      <Caption>Lijstje interne en/of externe links</Caption>
      <Alias>contact/lijstjeInterneEnofExterneLinks</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>