<?xml version="1.0" encoding="utf-8"?>
<Media Key="a46a887c-3780-4973-a065-3c9099b8549a" Alias="15" Level="3">
  <Info>
    <Parent Key="ba842dd2-8168-4967-9d43-c07ac3cf12fc">fotoboek voorbeeld</Parent>
    <Path>/ExampleImages/fotoboekVoorbeeld/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-25T15:53:32</CreateDate>
    <NodeName Default="15" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pkegvjea/15.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>