<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0612e87-e0ca-41d7-83ad-bacf047ff813" Alias="Amsler Test" Level="3">
  <Info>
    <Parent Key="2a0e4376-1052-4310-b29d-44cc72116c36">Medical Information</Parent>
    <Path>/ExampleFiles/MedicalInformation/AmslerTest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-01T11:44:40</CreateDate>
    <NodeName Default="Amsler Test" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qexgdigk/amsler-test.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>