<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ce114be-d47c-4950-a864-0e9cc7c73ac4" Alias="Elles" Level="3">
  <Info>
    <Parent Key="b96e4499-4ed0-4fbf-9322-51b44b616efe">Elles</Parent>
    <Path>/Contenttraining/Elles/Elles</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T09:09:42</CreateDate>
    <NodeName Default="Elles" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xakoctd2/elles.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>