<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1364c1c-8418-4f98-9bc6-2d9b743ea67e" Alias="Foto Ilse Van Stijn" Level="2">
  <Info>
    <Parent Key="24694bbe-1ad0-40c1-a6a1-6375c778e238">jaarimpressie 2021</Parent>
    <Path>/jaarimpressie2021/FotoIlseVanStijn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-21T12:11:04</CreateDate>
    <NodeName Default="Foto Ilse Van Stijn" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/djgdnqiy/foto-ilse-van-stijn.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>