<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7e447f8-143f-41d0-9845-ee2e24f69a7f" Alias="Hartje 1" Level="3">
  <Info>
    <Parent Key="2816a3de-f6f6-4ea1-9530-be45c18a5218">Echocardiografie</Parent>
    <Path>/Subsites/Echocardiografie/Hartje1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-05T15:48:16</CreateDate>
    <NodeName Default="Hartje 1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5zdpjzz5/hartje-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>