<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d918f59-2e3f-462a-9369-ed2d5aa8bac7" Alias="Hero afbeeldingen" Level="2">
  <Info>
    <Parent Key="80de315e-71e5-4996-a1c4-c3bc8e75c677">Example images</Parent>
    <Path>/ExampleImages/HeroAfbeeldingen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-01-19T15:41:48</CreateDate>
    <NodeName Default="Hero afbeeldingen" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>