<?xml version="1.0" encoding="utf-8"?>
<Media Key="e73c84e1-59e5-4552-bb62-6c6172d6d8b8" Alias="Locations" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Locations</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-03-24T13:44:21</CreateDate>
    <NodeName Default="Locations" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>