<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f7491b0-6d5f-4569-a4b4-9b47c018e94c" Alias="Microsoftteams Image (4)" Level="2">
  <Info>
    <Parent Key="80de315e-71e5-4996-a1c4-c3bc8e75c677">Example images</Parent>
    <Path>/ExampleImages/MicrosoftteamsImage4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-06-17T08:28:26</CreateDate>
    <NodeName Default="Microsoftteams Image (4)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w0ihjh05/microsoftteams-image-4.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>