<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6fbc1b0-4796-4de1-82fa-4ecaa2e0ab3a" Alias="Mitral valve 3" Level="3">
  <Info>
    <Parent Key="2816a3de-f6f6-4ea1-9530-be45c18a5218">Echocardiografie</Parent>
    <Path>/Subsites/Echocardiografie/MitralValve3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-05T13:35:13</CreateDate>
    <NodeName Default="Mitral valve 3" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w1apxzuw/mitral-valve-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>