<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ae3d69a-811c-49ea-a2c4-4a76d56721f3" Alias="Nena" Level="2">
  <Info>
    <Parent Key="b36b7405-c958-4b2d-9822-45fec4be39dc">Contenttraining</Parent>
    <Path>/Contenttraining/Nena</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-08T08:52:13</CreateDate>
    <NodeName Default="Nena" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>