<?xml version="1.0" encoding="utf-8"?>
<Media Key="caa9137a-8743-49bf-9def-80cb146290cb" Alias="Olvg" Level="3">
  <Info>
    <Parent Key="a6c31912-80f9-4045-96fb-7b21dabfbacf">Esmée</Parent>
    <Path>/Contenttraining/Esmee/Olvg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T08:55:17</CreateDate>
    <NodeName Default="Olvg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pqjltssd/olvg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>