<?xml version="1.0" encoding="utf-8"?>
<Media Key="693a5d1f-039a-46f1-9844-b59ecdb8cfbe" Alias="superwoman" Level="3">
  <Info>
    <Parent Key="c5a62532-a4ef-44d1-936d-731da601cffe">Janneke</Parent>
    <Path>/Contenttraining/Janneke/superwoman</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-06T09:19:18</CreateDate>
    <NodeName Default="superwoman" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[Superwoman]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[Superwoman]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dfodu0m0/superwoman.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>