<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bd3453f-85f1-481e-8dcc-b83bb313f8ce" Alias="Team" Level="3">
  <Info>
    <Parent Key="abaf0bbe-686d-4026-b980-15b17926b47c">Bianca</Parent>
    <Path>/Contenttraining/Bianca/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T08:53:52</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hfcnhg5r/team.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>