<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e1a8efa-d315-46ef-bc90-b91db9f3dc82" Alias="Telefoon Zonder Ziekenhuis Tekengebied 1" Level="2">
  <Info>
    <Parent Key="60f0c6bc-2f85-4bfa-8c9e-b11a6b72c61c">Systeemafbeeldingen</Parent>
    <Path>/Systeemafbeeldingen/TelefoonZonderZiekenhuisTekengebied1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-30T15:50:06</CreateDate>
    <NodeName Default="Telefoon Zonder Ziekenhuis Tekengebied 1" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5shbu5qv/telefoon-zonder-ziekenhuis_tekengebied-1.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>