<?xml version="1.0" encoding="utf-8"?>
<Media Key="e78f4ee8-1c0f-4f4a-ab12-b04dfd3545be" Alias="Teunis Roes" Level="2">
  <Info>
    <Parent Key="b36b7405-c958-4b2d-9822-45fec4be39dc">Contenttraining</Parent>
    <Path>/Contenttraining/TeunisRoes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-06T09:16:39</CreateDate>
    <NodeName Default="Teunis Roes" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>