<?xml version="1.0" encoding="utf-8"?>
<Media Key="26af6719-e397-45f0-b98e-ad9ebe8eecb1" Alias="Ushamwari" Level="2">
  <Info>
    <Parent Key="5e79cdb7-2bdc-4b84-9a79-62c3f4767986">Subsites</Parent>
    <Path>/Subsites/Ushamwari</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-05T08:56:18</CreateDate>
    <NodeName Default="Ushamwari" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>