<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fbfaa8d-5980-4aaf-816f-6ee4a865e310" Alias="Anesthesie technieken" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/AnesthesieTechnieken</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-07-07T12:12:03</CreateDate>
    <NodeName Default="Anesthesie technieken">
      <Name Culture="en-us">Cutting techniques</Name>
      <Name Culture="nl-nl">Anesthesie technieken</Name>
    </NodeName>
    <SortOrder>33</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="d88ac16f-7cc9-4c6c-af05-8042e12cff62">MedicalInformation</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <departments>
      <Value><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <headDepartment>
      <Value Culture="en-us"><![CDATA[umb://document/17b7619813264346ba671780c06f5ae7]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/17b7619813264346ba671780c06f5ae7]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="en-us"><![CDATA[Voor uw operatie bekijken we welke soort verdoving (anesthesie) voor u het meest geschikt is.  Er bestaan verschillende vormen van verdoving, zoals ruggenprik of narcose.

Lees hieronder meer over de verschillende verdovingen. U kunt ook een fotoboek bekijken.]]></Value>
      <Value Culture="nl-nl"><![CDATA[Voor uw operatie bekijken we welke soort verdoving (anesthesie) voor u het meest geschikt is.  Er bestaan verschillende vormen van verdoving, zoals ruggenprik of narcose.

Lees hieronder meer over de verschillende verdovingen. U kunt ook een fotoboek bekijken.]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="en-us"><![CDATA[Dit is de uitklaptekst Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.]]></Value>
      <Value Culture="nl-nl"><![CDATA[Dit is de uitklaptekst Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <lijstExterneLinks>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Testlinkje",
    "url": "https://www.olvg.nl"
  },
  {
    "name": "link naar Google",
    "url": "Https://www.google.nl"
  },
  {
    "name": "Link naar YouTube",
    "url": "https://www.youtube.nl"
  }
]]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Algehele anesthesie (narcose) - fotoboek",
    "url": "https://www.olvg.nl/algehele-anesthesie-narcose-fotoboek"
  },
  {
    "name": "Verdoving van één of meerdere zenuwen (plexusblokkade) – fotoboek",
    "url": "https://www.olvg.nl/verdoving-plaatselijk-verwijderen-van-een-meerdere-zenuwen-fotoboek"
  },
  {
    "name": "Verdoving via ruggenprik (epiduraal) – fotoboek",
    "url": "https://www.olvg.nl/verdoving-ruggenprik-epiduraal-fotoboek"
  },
  {
    "name": "Verdoving via ruggenprik (spinaal) – fotoboek",
    "url": "https://www.olvg.nl/verdoving-ruggenprik-spinaal-fotoboek"
  },
  {
    "name": "Anesthesiologie en nuchterbeleid volwassenen",
    "url": "https://www.olvg.nl/anesthesiologie-en-nuchterbeleid-volwassenen"
  }
]]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "689427e1-0a18-402d-9b9a-d6c229496a2f",
    "medicalInfoTips": "[\r\n  {\r\n    \"key\": \"171d0349-24b8-4c8b-8a41-9ae40269b856\",\r\n    \"name\": \"Neem mee\",\r\n    \"ncContentTypeAlias\": \"tipsItem\",\r\n    \"text\": \"Geldig identiteitsbewijs (ook voor kinderen vanaf 30 dagen)\",\r\n    \"title\": \"Neem mee\"\r\n  }\r\n]",
    "name": "Tips",
    "ncContentTypeAlias": "tips",
    "tipsTitle": ""
  }
]]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/38fdb2ed689d477699cd5306d8301ef1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6b7fd6aa-a739-4c20-81af-7f1d151d3200",
      "medicalInfoTipsBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bbf989a3945149c284a219dc3b5cbc1f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fdcda3d0-73a8-4f67-a4ad-961384ee6cf3",
            "text": "Geldig identiteitsbewijs (ook voor kinderen vanaf 30 dagen)",
            "title": "Neem mee",
            "udi": "umb://element/bbf989a3945149c284a219dc3b5cbc1f"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/38fdb2ed689d477699cd5306d8301ef1"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="en-us"><![CDATA[Behandelingen]]></Value>
      <Value Culture="nl-nl"><![CDATA[Behandelingen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <questionContactLinksAndIcons>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <tableOfContentsTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="en-us"><![CDATA[Anesthesiology techniques]]></Value>
      <Value Culture="nl-nl"><![CDATA[Anesthesie technieken]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>