<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b861f81-35a8-4c77-9065-a77976a2e6b4" Alias="Beroerte Adviescentrum" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BeroerteAdviescentrum</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteContainer</ContentType>
    <CreateDate>2023-07-14T11:44:22</CreateDate>
    <NodeName Default="Beroerte Adviescentrum" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>