<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d95f104-5d54-4716-853f-3260ede7b2c5" Alias="Bijwerkingen bij diabetis" Level="4">
  <Info>
    <Parent Key="eec8b459-b84b-4660-a4dd-98c2cecd19e2">Veelgestelde vragen</Parent>
    <Path>/Website/SharedContent/VeelgesteldeVragen/BijwerkingenBijDiabetis</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2023-07-03T14:39:54</CreateDate>
    <NodeName Default="Bijwerkingen bij diabetis">
      <Name Culture="nl-nl">Bijwerkingen bij diabetis</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<h3>Wat is het?</h3>
<ul>
<li>Door het gebruik van het medicijn dexamethason en/of prednison kunnen de bloedsuikers ontregeld raken.</li>
</ul>
<h3>Wat kunt u zelf doen?</h3>
<ul>
<li>Controleer de bloedsuiker de eerste 3 dagen na de kuur.</li>
<li>Volg de instructie van de diabetesverpleegkundige op.</li>
</ul>
<h3>Wat kunnen wij voor u doen?</h3>
<ul>
<li>Voorafgaand aan de behandeling verwijzen wij u door naar de diabetesverpleegkundige</li>
</ul>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Bijwerkingen bij diabetis]]></Value>
    </question>
  </Properties>
</Content>