<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d5b04a9-c581-40d3-b9e9-d74820b5e7e1" Alias="Blaasontsteking" Level="4">
  <Info>
    <Parent Key="eec8b459-b84b-4660-a4dd-98c2cecd19e2">Veelgestelde vragen</Parent>
    <Path>/Website/SharedContent/VeelgesteldeVragen/Blaasontsteking</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2022-07-04T08:51:34</CreateDate>
    <NodeName Default="Blaasontsteking">
      <Name Culture="nl-nl">Blaasontsteking</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<p>Zo herkent u een blaasontsteking:</p>
<ul>
<li>Sterk ruikende urine</li>
<li>Urine waar je niet doorheen kunt kijken</li>
<li>Donkere urine</li>
<li>Pijn in de rug of onderbuik</li>
<li>Blaaskrampen of een branderig gevoel</li>
<li>Bloed in de urine</li>
<li>Koorts of koude rillingen</li>
<li>Vermoeidheid, sufheid of een ziek gevoel</li>
</ul>
<p>Denkt u dat u een blaasontsteking heeft? <strong>Neem dan contact op met OLVG.</strong></p>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Blaasontsteking]]></Value>
    </question>
  </Properties>
</Content>