<?xml version="1.0" encoding="utf-8"?>
<Content Key="58b38b58-e5dd-4dfb-abab-f8c87fecd934" Alias="Blijven ademen" Level="4">
  <Info>
    <Parent Key="eec8b459-b84b-4660-a4dd-98c2cecd19e2">Veelgestelde vragen</Parent>
    <Path>/Website/SharedContent/VeelgesteldeVragen/BlijvenAdemen</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2022-06-16T13:38:06</CreateDate>
    <NodeName Default="Blijven ademen">
      <Name Culture="nl-nl">Blijven ademen</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<p>Als je in leven wilt blijven, wel.</p>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Moet je blijven ademen?]]></Value>
    </question>
  </Properties>
</Content>