<?xml version="1.0" encoding="utf-8"?>
<Content Key="aeb32682-a533-469d-9b29-9e0ba82d431c" Alias="Bloed in de urine" Level="4">
  <Info>
    <Parent Key="eec8b459-b84b-4660-a4dd-98c2cecd19e2">Veelgestelde vragen</Parent>
    <Path>/Website/SharedContent/VeelgesteldeVragen/BloedInDeUrine</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2022-07-04T08:49:50</CreateDate>
    <NodeName Default="Bloed in de urine">
      <Name Culture="nl-nl">Bloed in de urine</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<p>De eerste dagen na het plaatsen van de katheter kan er wat bloed in de urine zitten. Dit is normaal.</p>
<p>De eerste 6 weken na een operatie aan de urinewegen kan er wat bloed in de urine zichtbaar zijn. Dit is normaal.</p>
<p>Bij langdurig gebruik van een katheter kan er door irritatie soms een kleine bloeding ontstaan. Meestal stopt dit vanzelf.</p>
<ul>
<li>Als de urine langer dan 24 uur bloederig is, kunt u een blaasontsteking hebben. <br />Controleer dan de punten die staan bij 'blaasontsteking'.</li>
<li>Heeft de urine de kleur van rosé wijn of limonade? <br />Wacht 24 uur. De urine wordt vaak vanzelf lichter van kleur. <br /><strong>Drink minstens 1,5 liter water.</strong></li>
<li>Als er <strong>bloedstolsels</strong> in de katheterslang zitten. Of de urine is <strong>donker rood, </strong>de kleur van rode wijn. <strong>Neem dan direct contact op met OLVG</strong>.</li>
</ul>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Bloed in de urine]]></Value>
    </question>
  </Properties>
</Content>