<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6c5809e-044c-4567-9b6d-30d408379801" Alias="Fotoboek" Level="3">
  <Info>
    <Parent Key="c8685dba-2eac-49b9-bf82-debde16f9f6f">Shared Content Ushamwari</Parent>
    <Path>/Ushamwari/SharedContentUshamwari/Fotoboek</Path>
    <Trashed>false</Trashed>
    <ContentType>fotoboekFolder</ContentType>
    <CreateDate>2023-07-19T09:30:50</CreateDate>
    <NodeName Default="Fotoboek" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>