<?xml version="1.0" encoding="utf-8"?>
<Content Key="0604e7eb-e7c7-4768-a1cd-9d7576dca0d9" Alias="Header" Level="3">
  <Info>
    <Parent Key="61274dc3-5d66-4219-ab3d-bcab65886933">Shared Content Vrienden van OLVG</Parent>
    <Path>/VriendenVanOLVG/SharedContentVriendenVanOLVG/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>headerSubsite</ContentType>
    <CreateDate>2023-07-19T08:30:59</CreateDate>
    <NodeName Default="Header">
      <Name Culture="en-us">Haeder</Name>
      <Name Culture="nl-nl">Header</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationItems>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/575d30f032cf4135a1553e5418ab76cf"
      },
      {
        "contentUdi": "umb://element/58f4ff41fa824dc6b924883637beda0f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "643975da-97a4-4dbb-af98-08fb51dafb38",
      "dropdownLinks": "",
      "link": [
        {
          "name": "Contact",
          "udi": "umb://document/e0c85fbe8b114f6c9fdb543c3f28432d"
        }
      ],
      "udi": "umb://element/575d30f032cf4135a1553e5418ab76cf"
    },
    {
      "contentTypeKey": "643975da-97a4-4dbb-af98-08fb51dafb38",
      "dropdownLinks": "",
      "link": [
        {
          "name": "Doneer nu",
          "udi": "umb://document/684e732698b64477bcf56bec28642b80"
        }
      ],
      "udi": "umb://element/58f4ff41fa824dc6b924883637beda0f"
    }
  ],
  "settingsData": []
}]]></Value>
    </navigationItems>
    <SearchCollapseText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Zoeken]]></Value>
    </SearchCollapseText>
    <searchMenuCommonlySearchedText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchMenuCommonlySearchedText>
    <searchMenuSearchboxPlaceholderText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchMenuSearchboxPlaceholderText>
    <searchMenuTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchMenuTitle>
    <websiteLogo>
      <Value Culture="en-us"><![CDATA[umb://media/5b310d9454424b0485d9ead0b7bd6fc4]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://media/5b310d9454424b0485d9ead0b7bd6fc4]]></Value>
    </websiteLogo>
  </Properties>
</Content>