<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb4bd10a-e198-4503-9a9d-e06262752b1d" Alias="Hoe kom ik in contact met Diaboss?" Level="4">
  <Info>
    <Parent Key="2b536dbf-91a7-4c6a-8437-d782fb1f72c5">Veelgestelde vragen</Parent>
    <Path>/Ushamwari/SharedContentUshamwari/VeelgesteldeVragen/HoeKomIkInContactMetDiaboss</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2023-07-19T09:30:50</CreateDate>
    <NodeName Default="Hoe kom ik in contact met Diaboss?">
      <Name Culture="nl-nl">Hoe kom ik in contact met Diaboss?</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<p>Hier kun je dan een antwoord typen.</p>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Hoe kom ik in contact met Diaboss?]]></Value>
    </question>
  </Properties>
</Content>