<?xml version="1.0" encoding="utf-8"?>
<Content Key="609472f4-2003-4654-8d71-af4ac814c928" Alias="Hoe ziet de persoonlijke begeleiding van Diaboss er precies uit?" Level="4">
  <Info>
    <Parent Key="5de022f6-7bba-43ee-aa01-7401dbba4952">Veelgestelde vragen</Parent>
    <Path>/Diaboss/SharedContentDiaboss/VeelgesteldeVragen/HoeZietDePersoonlijkeBegeleidingVanDiabossErPreciesUit</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2023-07-06T09:56:52</CreateDate>
    <NodeName Default="Hoe ziet de persoonlijke begeleiding van Diaboss er precies uit?">
      <Name Culture="nl-nl">Hoe ziet de persoonlijke begeleiding van Diaboss er precies uit?</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<p>Hier kun je dan een antwoord typen.</p>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Hoe ziet de persoonlijke begeleiding van Diaboss er precies uit?]]></Value>
    </question>
  </Properties>
</Content>