<?xml version="1.0" encoding="utf-8"?>
<Content Key="da4e94bb-c21f-4da1-81f3-810449886093" Alias="Pages" Level="2">
  <Info>
    <Parent Key="12607def-4d2d-4eb8-9ef0-eb9a0c1d6a93">Diaboss</Parent>
    <Path>/Diaboss/Pages</Path>
    <Trashed>false</Trashed>
    <ContentType>contentContainer</ContentType>
    <CreateDate>2023-07-05T15:32:34</CreateDate>
    <NodeName Default="Pages" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>