<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8a08ba2-0deb-46e8-ae5e-9bb923a2f924" Alias="Routes" Level="3">
  <Info>
    <Parent Key="90fcfb58-55a1-4707-8158-74d41248f469">Shared Content Echocardiografie</Parent>
    <Path>/Echocardiografie/SharedContentEchocardiografie/Routes</Path>
    <Trashed>false</Trashed>
    <ContentType>routeFolder</ContentType>
    <CreateDate>2023-07-05T09:02:35</CreateDate>
    <NodeName Default="Routes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>