<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff274735-0896-4bf9-b452-ccd4fd609d05" Alias="Styling" Level="3">
  <Info>
    <Parent Key="d1cd5525-abae-466b-a8b5-7a6757a48758">Configuration</Parent>
    <Path>/Ushamwari/Configuration/Styling</Path>
    <Trashed>false</Trashed>
    <ContentType>configurationStyling</ContentType>
    <CreateDate>2023-07-19T09:30:50</CreateDate>
    <NodeName Default="Styling" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stylesheetUrl>
      <Value><![CDATA[/dist/ushamwari.css]]></Value>
    </stylesheetUrl>
  </Properties>
</Content>