<?xml version="1.0" encoding="utf-8"?>
<Content Key="c317108b-5881-4d9d-90d4-7da57d052c30" Alias="Styling" Level="3">
  <Info>
    <Parent Key="2246cafa-289d-4080-8630-b4e53a1364c0">Configuration</Parent>
    <Path>/Echocardiografie/Configuration/Styling</Path>
    <Trashed>false</Trashed>
    <ContentType>configurationStyling</ContentType>
    <CreateDate>2023-07-05T08:51:44</CreateDate>
    <NodeName Default="Styling" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stylesheetUrl>
      <Value><![CDATA[/dist/echocardiografie.css]]></Value>
    </stylesheetUrl>
  </Properties>
</Content>