<?xml version="1.0" encoding="utf-8"?>
<Content Key="08b56c37-807e-44a2-bcb4-00f37d7d55f3" Alias="Test nested overzichtspagina" Level="5">
  <Info>
    <Parent Key="abc7fe31-fb22-4c37-9c85-48cf6c0e7109">Test overzichtspagina</Parent>
    <Path>/Website/Pages/Home/TestOverzichtspagina/TestNestedOverzichtspagina</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspagina</ContentType>
    <CreateDate>2023-03-01T15:07:51</CreateDate>
    <NodeName Default="Test nested overzichtspagina">
      <Name Culture="nl-nl">Test nested overzichtspagina</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2d6a87a-5333-47ca-8e7d-96edf0e5a253">Overzichtspagina</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <departments>
      <Value><![CDATA[umb://document/57b24bd54fd7473da2dc7ea961375fab]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <featuredItems>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"fa5ab26e-0858-47c3-adc9-e9055604ba22\",\r\n    \"mediaKey\": \"32318dc9-3716-4e31-b68e-587c464b3a01\"\r\n  }\r\n]",
    "key": "84c8cb30-0dd2-4773-afb5-1410747a5488",
    "name": "uitgelicht 1",
    "ncContentTypeAlias": "featuredItem",
    "textFeaturedItem": "",
    "titleFeaturedItem": "uitgelicht 1",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Blaaskatheter\",\r\n    \"udi\": \"umb://document/6bc5890055e540faab218a0b88488fd3\"\r\n  }\r\n]"
  },
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"c974d074-afe7-44fc-bda7-e4adcee2a206\",\r\n    \"mediaKey\": \"dc199003-9927-4f10-87e5-71076351c300\"\r\n  }\r\n]",
    "key": "35dd5af3-af50-4a2c-9f96-b33dd3ed7b91",
    "name": "uitgelicht 2",
    "ncContentTypeAlias": "featuredItem",
    "textFeaturedItem": "<p>blabla</p>",
    "titleFeaturedItem": "uitgelicht 2",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Test ervaringsoverzicht\",\r\n    \"udi\": \"umb://document/4f1f33b532294913b1c7d495380be388\"\r\n  }\r\n]"
  }
]]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d515b5d55acc4c4fa9621e76648a23e4"
      },
      {
        "contentUdi": "umb://element/f3a94d20a3c54345ad884008625fe743"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "fa5ab26e-0858-47c3-adc9-e9055604ba22",
          "mediaKey": "32318dc9-3716-4e31-b68e-587c464b3a01"
        }
      ],
      "titleFeaturedItem": "uitgelicht 1",
      "udi": "umb://element/d515b5d55acc4c4fa9621e76648a23e4",
      "urlFeaturedItem": [
        {
          "name": "Blaaskatheter",
          "udi": "umb://document/6bc5890055e540faab218a0b88488fd3"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "c974d074-afe7-44fc-bda7-e4adcee2a206",
          "mediaKey": "dc199003-9927-4f10-87e5-71076351c300"
        }
      ],
      "textFeaturedItem": "<p>blabla</p>",
      "titleFeaturedItem": "uitgelicht 2",
      "udi": "umb://element/f3a94d20a3c54345ad884008625fe743",
      "urlFeaturedItem": [
        {
          "name": "Test ervaringsoverzicht",
          "udi": "umb://document/4f1f33b532294913b1c7d495380be388"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItemsBL>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <heroImage>
      <Value><![CDATA[umb://media/87ef209fca514b4e9c1c6c90eba54bb1]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p class="intro">Dit is een introtekst</p>]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[<p class="intro">Nog wat extra tekst na de uitklap</p>]]></Value>
    </introductionTextExpandable>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <links>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "groupLinks": "[\r\n  {\r\n    \"name\": \"Test ervaringsoverzicht\",\r\n    \"udi\": \"umb://document/4f1f33b532294913b1c7d495380be388\"\r\n  },\r\n  {\r\n    \"name\": \"test profielfoto\",\r\n    \"udi\": \"umb://document/76df44470937433d99cf9e3e4269c207\"\r\n  }\r\n]",
    "key": "5e78936d-9d6e-4f78-afda-2823df32280b",
    "linkTitle": "Linkgroep 1",
    "name": "Linkgroep 1",
    "ncContentTypeAlias": "groupedLinks"
  }
]]]></Value>
    </links>
    <linksBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/efd74c5016ec480d9cee5b966c44de1f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Test ervaringsoverzicht",
          "udi": "umb://document/4f1f33b532294913b1c7d495380be388"
        },
        {
          "name": "test profielfoto",
          "udi": "umb://document/76df44470937433d99cf9e3e4269c207"
        }
      ],
      "linkTitle": "Linkgroep 1",
      "udi": "umb://element/efd74c5016ec480d9cee5b966c44de1f"
    }
  ],
  "settingsData": []
}]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>Een overzichtpagina onder "Test overzichtspagina"</p>]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="nl-nl"><![CDATA[Test nested overzichtspagina]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>