<?xml version="1.0" encoding="utf-8"?>
<Content Key="487a229c-3fc4-4c5a-ae7c-5f9cf1727128" Alias="testje" Level="4">
  <Info>
    <Parent Key="aa1ed1de-fe55-4d66-90a5-b00021ee60ae">Redactionele blokken</Parent>
    <Path>/Website/SharedContent/RedactioneleBlokken/testje</Path>
    <Trashed>false</Trashed>
    <ContentType>editorialBlock</ContentType>
    <CreateDate>2022-09-15T13:17:27</CreateDate>
    <NodeName Default="testje">
      <Name Culture="nl-nl">testje</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <editorialContent>
      <Value Culture="nl-nl"><![CDATA[<p>iogerjkg;dfjg</p>
<div class="component-expandable-introduction collapse-expand-component">ngjkerdk;gdfkbn'dfk</div>
<p><span class="highlighted">jfhbklfdbkdfb</span></p>
<h6>fgnklfgmbfg;bmgfd</h6>
<h5>gnkfmn;fgmklnmfggfknmfgmnklfg</h5>
<table border="1" style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 100%;">
<p>mkdlfmbkdfbkdfkbfd</p>
<p>fdbjlkdfnlbdfkbn;dfnbvbjknfgbfkdb'kdf]</p>
<p>\</p>
<p> </p>
<p>dfnjkfgk;bfgknmfgnkfgmn;'f</p>
</td>
</tr>
</tbody>
</table>
<p><span class="big-button-blue">gfnlnfgnfgn'f</span></p>]]></Value>
    </editorialContent>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
  </Properties>
</Content>