<?xml version="1.0" encoding="utf-8"?>
<Content Key="a273e9f7-dc78-4ffa-bfd1-e4f04259a653" Alias="testitem" Level="5">
  <Info>
    <Parent Key="3cf9b593-6dce-4d4b-bdce-2dffc5caec40">Agenda</Parent>
    <Path>/Website/Pages/Home/Agenda/testitem</Path>
    <Trashed>false</Trashed>
    <ContentType>agendaItem</ContentType>
    <CreateDate>2024-05-14T13:11:26</CreateDate>
    <NodeName Default="testitem">
      <Name Culture="nl-nl">testitem</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="14293814-dc51-4b5f-a34d-8416eded6bd3">AgendaItem</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <cardImage>
      <Value><![CDATA[umb://media/b9eeba2793a544acbd6045cacf3fc54e]]></Value>
    </cardImage>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <content>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </content>
    <datesAndTimes>
      <Value><![CDATA[[
  {
    "dateTimeEndValue": "",
    "dateTimeValue": "2024-05-16T12:00:00",
    "key": "bf3ce750-8d1d-4bf9-81a2-25472f43eb40",
    "name": "2024-05-16 12:00:00",
    "ncContentTypeAlias": "dateTimeContentElement",
    "PropType": null
  }
]]]></Value>
    </datesAndTimes>
    <datesAndTimesBL>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f25b114e42cd494d800712b528bcc4d2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b41215cd-5f6a-4d3e-b0d9-63edb202ed20",
      "dateTimeValue": "\"2024-05-16T12:00:00\"",
      "udi": "umb://element/f25b114e42cd494d800712b528bcc4d2"
    }
  ],
  "settingsData": []
}]]></Value>
    </datesAndTimesBL>
    <departments>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <healthProfessionals>
      <Value><![CDATA[]]></Value>
    </healthProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>adsad</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introductionText>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <locatieTableOfContents>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locatieTableOfContents>
    <locations>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locations>
    <manualRoutes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutes>
    <manualRoutesBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutesBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsItems>
      <Value><![CDATA[]]></Value>
    </newsItems>
    <noFollow1902Seo>
      <Value><![CDATA[]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <routes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </routes>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="nl-nl"><![CDATA[testitem]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>