<?xml version="1.0" encoding="utf-8"?>
<Content Key="5de022f6-7bba-43ee-aa01-7401dbba4952" Alias="Veelgestelde vragen" Level="3">
  <Info>
    <Parent Key="e987d7c9-217a-488e-9f92-e88efb48337e">Shared Content Diaboss</Parent>
    <Path>/Diaboss/SharedContentDiaboss/VeelgesteldeVragen</Path>
    <Trashed>false</Trashed>
    <ContentType>faqContainer</ContentType>
    <CreateDate>2023-07-06T08:01:49</CreateDate>
    <NodeName Default="Veelgestelde vragen" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>