<?xml version="1.0" encoding="utf-8"?>
<Content Key="b44b291d-2c46-4878-8466-e23df75f021e" Alias="Vermoeidheid" Level="4">
  <Info>
    <Parent Key="eec8b459-b84b-4660-a4dd-98c2cecd19e2">Veelgestelde vragen</Parent>
    <Path>/Website/SharedContent/VeelgesteldeVragen/Vermoeidheid</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2023-07-03T15:04:57</CreateDate>
    <NodeName Default="Vermoeidheid">
      <Name Culture="nl-nl">Vermoeidheid</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<h4>Wat is het?</h4>
<ul>
<li>Vermoeidheid is een veelvoorkomende bijwerking die tot een jaar na de behandeling kan aanhouden.</li>
<li>Het herstel na iedere kuur kost het lichaam veel energie.</li>
<li>Klachten die hiermee samenhangen zijn; gebrek aan energie, lusteloosheid, minder belangstelling voor de omgeving, slapeloosheid, prikkelbaarheid, stemmingswisselingen.</li>
</ul>
<h4>Wat kunt u zelf doen?</h4>
<ul>
<li>Probeert u zich niet te verzetten tegen de vermoeidheid. U er tegen verzetten kost ook energie</li>
<li>Zorg voor een goede afwisseling van uw activiteiten over de dag en bouw rustpunten in</li>
<li>Stel prioriteiten en bepaal zelf waar u de tijd aan wil besteden</li>
<li>Doe aan lichaamsbeweging, bijvoorbeeld wandelen of fietsen.</li>
<li>We raden u aan om na de behandeling deel te nemen aan een fysiek revalidatieprogramma bij het Cancer Care Center of via stichting Tegenkracht. Het is bewezen dat het herstellen van de conditie een positief effect heeft op het verminderen van de vermoeidheid.</li>
</ul>
<h4>Wat kunnen wij voor u doen?</h4>
<ul>
<li>Bij ernstige klachten kunnen wij u doorverwijzen naar een fysiotherapeut of psycholoog.</li>
</ul>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Vermoeidheid]]></Value>
    </question>
  </Properties>
</Content>