<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eeb7569-9221-4050-9cd9-0784ebf45cbc" Alias="Vessels" Level="4">
  <Info>
    <Parent Key="e1e3a1d5-a904-4248-871a-198b9dc12199">Homepage</Parent>
    <Path>/Echocardiografie/Pages/Homepage/Vessels</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspaginaSubsite</ContentType>
    <CreateDate>2023-07-05T16:16:27</CreateDate>
    <NodeName Default="Vessels">
      <Name Culture="nl-nl">Vessels</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="e4dc38d9-e972-43cd-9967-a6b0085ed217">OverzichtspaginaSubsite</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <featuredItems>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"1e763f4d-c921-41ea-bd39-e183ebd2464f\",\r\n    \"mediaKey\": \"c41df985-7368-48ee-bf9a-cd376e1f53d6\"\r\n  }\r\n]",
    "key": "6bf4e816-3bed-4587-b372-71a22b7fda2e",
    "name": "Aortic Valve",
    "ncContentTypeAlias": "featuredItem",
    "textFeaturedItem": "",
    "titleFeaturedItem": "Aortic Valve",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Aortic valve\",\r\n    \"udi\": \"umb://document/590145441508479caf6e2b8f366a81c3\"\r\n  }\r\n]"
  },
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"0a20539d-414d-48e6-afed-3d626b56431e\",\r\n    \"mediaKey\": \"32318dc9-3716-4e31-b68e-587c464b3a01\"\r\n  }\r\n]",
    "key": "bd102574-ee11-412b-b0ac-15f277205d2d",
    "name": "Pulmonary artery",
    "ncContentTypeAlias": "featuredItem",
    "textFeaturedItem": "<p>Begeleidende tekst erbij. Begeleidende tekst erbij. </p>",
    "titleFeaturedItem": "Pulmonary artery",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Pulmonary artery\",\r\n    \"udi\": \"umb://document/cbd6214e272e4dc0a2df3046f1e19aeb\"\r\n  }\r\n]"
  },
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"320bc43c-8d6f-4fc0-b793-125991518142\",\r\n    \"mediaKey\": \"c41df985-7368-48ee-bf9a-cd376e1f53d6\"\r\n  }\r\n]",
    "key": "acf7c34d-ebe9-45b5-a6c1-8767cf0030a2",
    "name": "Vena cava",
    "ncContentTypeAlias": "featuredItem",
    "textFeaturedItem": "",
    "titleFeaturedItem": "Vena cava",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Vena cava\",\r\n    \"udi\": \"umb://document/a6bce1ff48b640949bc24b30516d6bda\"\r\n  }\r\n]"
  }
]]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ba58e2fa1227491db4e27c772146bced"
      },
      {
        "contentUdi": "umb://element/bfed7c8e6a884395a383c54a14b61100"
      },
      {
        "contentUdi": "umb://element/2f88239f0a184eb9abe7e0d1bb578e9c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "1e763f4d-c921-41ea-bd39-e183ebd2464f",
          "mediaKey": "c41df985-7368-48ee-bf9a-cd376e1f53d6"
        }
      ],
      "titleFeaturedItem": "Aortic Valve",
      "udi": "umb://element/ba58e2fa1227491db4e27c772146bced",
      "urlFeaturedItem": [
        {
          "name": "Aortic valve",
          "udi": "umb://document/590145441508479caf6e2b8f366a81c3"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "0a20539d-414d-48e6-afed-3d626b56431e",
          "mediaKey": "32318dc9-3716-4e31-b68e-587c464b3a01"
        }
      ],
      "textFeaturedItem": "<p>Begeleidende tekst erbij. Begeleidende tekst erbij. </p>",
      "titleFeaturedItem": "Pulmonary artery",
      "udi": "umb://element/bfed7c8e6a884395a383c54a14b61100",
      "urlFeaturedItem": [
        {
          "name": "Pulmonary artery",
          "udi": "umb://document/cbd6214e272e4dc0a2df3046f1e19aeb"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "320bc43c-8d6f-4fc0-b793-125991518142",
          "mediaKey": "c41df985-7368-48ee-bf9a-cd376e1f53d6"
        }
      ],
      "titleFeaturedItem": "Vena cava",
      "udi": "umb://element/2f88239f0a184eb9abe7e0d1bb578e9c",
      "urlFeaturedItem": [
        {
          "name": "Vena cava",
          "udi": "umb://document/a6bce1ff48b640949bc24b30516d6bda"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItemsBL>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <heroImage>
      <Value><![CDATA[umb://media/8c7bc22ce97b44c5a2373a140667c415]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p class="intro">Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. </p>]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[<p>Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. </p>
<h3>Titel</h3>
<p>Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. </p>
<p>Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. </p>]]></Value>
    </introductionTextExpandable>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <links>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </links>
    <linksBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>even de subtitel testen</p>]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="nl-nl"><![CDATA[Vessels]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>