<?xml version="1.0" encoding="utf-8"?>
<Domain Key="838a2520-0000-0000-0000-000000000000" Alias="https://echocardiografie.olvg.proudacceptance.com">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>nl-NL</Language>
    <Root Key="e1e3a1d5-a904-4248-871a-198b9dc12199">/Echocardiografie/Pages/Homepage</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>