<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2584c4fe-25f5-41ef-bd10-a150e8f26df9" Alias="Abstract social media media name" Level="4">
  <Info>
    <Parent>Abstract social media</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Image</Translation>
    <Translation Language="nl-NL">Afbeelding</Translation>
  </Translations>
</Dictionary>