<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="479d5c66-6f3a-4b1c-8cc1-084659e4f5cb" Alias="AbstractMailBccDescription" Level="6">
  <Info>
    <Parent>AbstractMailBccName</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Optionally other addresses where the mail will be sent to as bcc.</Translation>
    <Translation Language="nl-NL">Optioneel andere adressen waar de mail naartoe verstuurd wordt als bcc.</Translation>
  </Translations>
</Dictionary>