<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="25479782-c385-453e-b9cc-7c97d76b5b7e" Alias="AbstractPageSize" Level="5">
  <Info>
    <Parent>Abstract pagination tab</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Page size</Translation>
    <Translation Language="nl-NL">Paginagrootte</Translation>
  </Translations>
</Dictionary>