<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="418e84b5-91c1-4681-b186-f564a64d244f" Alias="ConfirmationMailDenyFormExplaination" Level="3">
  <Info>
    <Parent>Email Content Fields</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If you have not submitted this form, it could be denied</Translation>
    <Translation Language="nl-NL">Als je dit formulier niet hebt ingevuld, kun je deze e-mail negeren. Mogelijk heeft iemand anders per ongeluk je e-mailadres ingevoerd</Translation>
  </Translations>
</Dictionary>