<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73451f3d-8183-4c9d-94bb-fb8f44f9d791" Alias="Content container description" Level="4">
  <Info>
    <Parent>Content container</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Folder which contains the actual pages of the website.</Translation>
    <Translation Language="nl-NL">Folder die de daadwerkelijke inhoud van de website bevat.</Translation>
  </Translations>
</Dictionary>