<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0061265a-a6da-4fec-8474-c5cb2e291a33" Alias="ContentPageDescription" Level="4">
  <Info>
    <Parent>ContentPage</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Empty page which can be filled using 'row' elements.</Translation>
    <Translation Language="nl-NL">Lege pagina die gevuld kan worden met 'rij' elementen.</Translation>
  </Translations>
</Dictionary>