<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="57260b5c-ecb7-4ed3-8461-2ae76cf30b3e" Alias="FooterBlockText2" Level="5">
  <Info>
    <Parent>FooterBlockTitle2</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Text 2</Translation>
    <Translation Language="nl-NL">Tekst 2</Translation>
  </Translations>
</Dictionary>