<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="014fa1d3-77d0-4138-afe5-83cfb600437e" Alias="Fundraiser form component" Level="2">
  <Info>
    <Parent>Components folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please make a selection.</Translation>
    <Translation Language="nl-NL">Maak een keuze</Translation>
  </Translations>
</Dictionary>