<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="86bde02e-deb6-4ca2-946e-e40d5fda2c43" Alias="grouped-links-section" Level="3">
  <Info>
    <Parent>Grouped links component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Grouped links</Translation>
    <Translation Language="nl-NL">Gegroepeerde links</Translation>
  </Translations>
</Dictionary>