<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="28458b1f-e451-4859-b7e0-79877e494ae4" Alias="hpc-promotion" Level="3">
  <Info>
    <Parent>Health professionals component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">Promotie</Translation>
  </Translations>
</Dictionary>