<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f050ec89-312c-4d47-a178-66ab8dabf2ca" Alias="Indexing tab no index name" Level="4">
  <Info>
    <Parent>Indexing tab</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No index</Translation>
    <Translation Language="nl-NL">Niet indexeren</Translation>
  </Translations>
</Dictionary>