<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="84bb2e29-267b-44c8-898b-17f8bbc5cd52" Alias="involved-health-professionals-title" Level="2">
  <Info>
    <Parent>Component titels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Involved health professionals</Translation>
    <Translation Language="nl-NL">Betrokken zorgverleners</Translation>
  </Translations>
</Dictionary>