<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d5a6e5c1-691b-409c-98f3-6bc891476f04" Alias="is-hosted-by-department" Level="3">
  <Info>
    <Parent>Title text component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">is hosted by</Translation>
    <Translation Language="nl-NL">wordt gehouden door</Translation>
  </Translations>
</Dictionary>