<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4bf0176d-de4c-4fa4-8890-b0c9e946796e" Alias="label-medical-information" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Medical Information</Translation>
    <Translation Language="nl-NL">Medische informatie</Translation>
  </Translations>
</Dictionary>