<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fff3f08b-7e63-407e-92d2-e359e27415bc" Alias="medical-information-overview-tabs" Level="3">
  <Info>
    <Parent>Medical information overview</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Medical information tabs</Translation>
    <Translation Language="nl-NL">Aandoeningen en behandelingen tabbladen</Translation>
  </Translations>
</Dictionary>