<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b6638ba9-5f91-4c49-82c5-2a7de7dfc998" Alias="moremedicalcontent" Level="2">
  <Info>
    <Parent>Component titels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">More medical content</Translation>
    <Translation Language="nl-NL">Meer medische informatie</Translation>
  </Translations>
</Dictionary>