<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f4ef9804-2e5b-422c-ae41-8201e0c1a5b1" Alias="Nested featured with image title field description" Level="4">
  <Info>
    <Parent>Nested featured with image element</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">This Title will not be shown in the front-end</Translation>
    <Translation Language="nl-NL">Deze titel wordt niet aan de voorkant van de website getoond</Translation>
  </Translations>
</Dictionary>