<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5e887142-7064-487d-8b35-8409ebd8ee4c" Alias="page.consultationTime" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Consultation hours</Translation>
    <Translation Language="nl-NL">Spreekuur</Translation>
  </Translations>
</Dictionary>