<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a7adaf2b-a9de-44ca-960e-fecdf1d28484" Alias="page.stepsPage" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Stepspage</Translation>
    <Translation Language="nl-NL">Jaarimpressie</Translation>
  </Translations>
</Dictionary>