<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c584f2f3-ee5d-458b-ba43-d8a1391ca3b3" Alias="PreviousButtonText" Level="2">
  <Info>
    <Parent>Forms Settings Translations</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous</Translation>
    <Translation Language="nl-NL">Vorige</Translation>
  </Translations>
</Dictionary>