<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="42f2e44f-3058-44b2-a501-685b423b0cf1" Alias="ReCaptchaSecretKeyDescription" Level="5">
  <Info>
    <Parent>ReCaptchaSecretKey</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The secret key given by Google ReCaptcha.</Translation>
    <Translation Language="nl-NL">De geheime sleutel gegeven door Google ReCaptcha.</Translation>
  </Translations>
</Dictionary>