<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c17b0b51-d138-4679-88ea-08e79b0f18f8" Alias="ReCaptchaSecretKey" Level="4">
  <Info>
    <Parent>ReCaptcha tab</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">ReCaptcha secret key</Translation>
    <Translation Language="nl-NL">ReCaptcha geheime sleutel</Translation>
  </Translations>
</Dictionary>