<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="49114522-41e5-493c-81f6-5b0b3c5ded0d" Alias="related-agenda-items-title" Level="2">
  <Info>
    <Parent>Component titels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Related events</Translation>
    <Translation Language="nl-NL">Gerelateerde evenementen</Translation>
  </Translations>
</Dictionary>