<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fc9ebe88-a22e-4e2c-8bd0-cac85511b48a" Alias="Reminder" Level="1">
  <Info>
    <Parent>Content expiration package</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Folder for all translations for reminders</Translation>
    <Translation Language="nl-NL">Folder for all translations for reminders</Translation>
  </Translations>
</Dictionary>