<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="64e0c356-a18a-44e8-a436-ed726a7baf4e" Alias="search-form-label" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search terms</Translation>
    <Translation Language="nl-NL">Zoekwoorden</Translation>
  </Translations>
</Dictionary>