<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f7e2121-259b-4057-93f3-67c46f713910" Alias="Settings Google Tag Manager activate name" Level="4">
  <Info>
    <Parent>Settings Google Tag Manager tab</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Enable the Google Tag Manager</Translation>
    <Translation Language="nl-NL">Zet de Google Tag Manager aan</Translation>
  </Translations>
</Dictionary>