<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2fdcc847-900c-4475-bbab-fca0101097b1" Alias="submit-search-aria-label" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">execute search</Translation>
    <Translation Language="nl-NL">voer zoekopdracht uit</Translation>
  </Translations>
</Dictionary>