<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c48b8dab-a0e2-4394-8b07-e3ae3ed44c58" Alias="table-of-contents-title-department" Level="3">
  <Info>
    <Parent>Table of contents component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">: what can we do for you?</Translation>
    <Translation Language="nl-NL">: waarmee kunnen we u helpen?</Translation>
  </Translations>
</Dictionary>