<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9adfcc42-052b-476b-9216-ad2b97e6a50e" Alias="Title text component" Level="2">
  <Info>
    <Parent>Components folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Add keys for the title text component below this node</Translation>
    <Translation Language="nl-NL">Add keys for the title text component below this node</Translation>
  </Translations>
</Dictionary>