<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fc074526-0a16-4b46-9e8d-f064f2b04e6c" Alias="Word bestanden" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Files</Translation>
    <Translation Language="nl-NL">Bestanden</Translation>
  </Translations>
</Dictionary>