<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f6aa78e4-8ec3-44fd-82bd-d8576e86e267" Alias="Word stap" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Step</Translation>
    <Translation Language="nl-NL">Stap</Translation>
  </Translations>
</Dictionary>