<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7432d0ea-8734-46a3-be82-32a2e6d097ba" Alias="zorgpaden" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Zorgpaden</Translation>
    <Translation Language="nl-NL">Zorgpaden</Translation>
  </Translations>
</Dictionary>