<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00e26f89-8ce7-4a7a-a150-707a85dadaec" Alias="abstractHeader" Level="2">
  <Info>
    <Name>Abstract header</Name>
    <Icon>icon-headphones color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Abstract</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>178362f5-f27a-43e2-bdb3-ad4804b94342</Key>
      <Name>#Abstract header image name</Name>
      <Alias>headerImage</Alias>
      <Definition>b5046035-96d2-4a23-962a-988db66a0f9d</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Abstract header image description]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="#Abstract header header tab">#Abstract header header tab</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1ab90f10-bfeb-47cc-8333-4198b87d39ae</Key>
      <Caption>#Abstract header header tab</Caption>
      <Alias>#Abstract header header tab</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>