<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c6f24214-3807-4667-8f9b-24844e9d44bc" Alias="behandelteam" Level="2">
  <Info>
    <Name>Behandelteam</Name>
    <Icon>icon-users color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ea80c2a7-8f05-4ea7-aa12-01d7bd5b4bc2</Key>
      <Name>Zorgverleners</Name>
      <Alias>healthProfessionals</Alias>
      <Definition>58aaea27-10e7-4750-a89a-4718c5a4cda6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overzicht van de zorgverleners welke bij het behandelteam horen]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="behandelteam">Behandelteam</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ba9ec3f6-2528-4426-aad5-4f814c08e142</Key>
      <Name>Introductie</Name>
      <Alias>introduction</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introductie bericht over het behandel team.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="behandelteam">Behandelteam</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ba77a52-1d40-49ba-8207-29474bb9b532</Key>
      <Name>Titel</Name>
      <Alias>titel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overschrijft de standaard "Betrokken zorgverleners" tekst die boven de gekozen zorgverleners komt te staan]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="behandelteam">Behandelteam</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7e8031ce-e5cd-4479-8811-aa4773b43cca</Key>
      <Caption>Behandelteam</Caption>
      <Alias>behandelteam</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>