<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba1b147b-08f6-4e08-bbef-df4fac23575c" Alias="componentBackgroundColor" Level="3">
  <Info>
    <Name>Component background color</Name>
    <Icon>icon-paint-roller color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Abstract/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>60bea91e-1d21-4b60-a008-8bc718d54409</Key>
      <Name>Achtergrondkleur</Name>
      <Alias>backgroundColor</Alias>
      <Definition>0225af17-b302-49cb-9176-b9f35cab9c17</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Achtergrondkleur van het element, werkt alleen op een stappenplan pagina, op andere pagina's is dit niet geïmplementeerd.]]></Description>
      <SortOrder>100</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90cbd5d3-ed0e-4ce2-86fc-b52850425434</Key>
      <Name>Achtergrond afbeelding</Name>
      <Alias>backgroundImage</Alias>
      <Definition>6db512be-dc3f-4503-b68a-406c59ebec32</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>101</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1b19a8d-a7a1-4f3f-a5a7-f5e7ad37c215</Key>
      <Name>Achtergrond afbeelding loopt door in omliggende elementen</Name>
      <Alias>backgroundImageOverlap</Alias>
      <Definition>93dc35cb-a1ac-4034-8659-ae3fc27b60ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[zet dit aan als je wilt dat de achtergrondafbeelding doorloopt in de elementen die er voor en na komen in de pagina.]]></Description>
      <SortOrder>102</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c0880a75-2eba-4769-b6ad-b0010af09a53</Key>
      <Caption>Inhoud</Caption>
      <Alias>inhoud</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>