<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73fd841a-758a-4e00-8f71-eeeab3cb9cfd" Alias="hoofdContentBlokken" Level="2">
  <Info>
    <Name>Tekstblok</Name>
    <Icon>icon-layout color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions>
      <Composition Key="ba1b147b-08f6-4e08-bbef-df4fac23575c">componentBackgroundColor</Composition>
      <Composition Key="e6c62d19-989d-4b37-8086-88c16570ecf4">contentItem</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>