<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="015cf604-2419-4baf-9ce2-9cc65c91293e" Alias="photobook" Level="2">
  <Info>
    <Name>Fotoboek</Name>
    <Icon>icon-photo-album color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions>
      <Composition Key="ba1b147b-08f6-4e08-bbef-df4fac23575c">componentBackgroundColor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>734023af-787d-4edd-adb3-b86331dcc77c</Key>
      <Name>Fotoboek</Name>
      <Alias>medicalInfoPhotobook</Alias>
      <Definition>e0837b15-d746-4fd8-89c6-d1e15d2a98cf</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93d816b5-d114-4f84-a26b-25133e3d7512</Key>
      <Name>Titel</Name>
      <Alias>photoBookTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>36ba6030-1808-4fec-a19f-3c060a1947d3</Key>
      <Caption>Inhoud</Caption>
      <Alias>inhoud</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>