<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864" Alias="seoPackage1902" Level="1">
  <Info>
    <Name>1902 SEO</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f8b2b3be-1a81-4f7b-82cf-cc243d06b367</Key>
      <Name>Canonical link</Name>
      <Alias>canonicalUrl1902Seo</Alias>
      <Definition>47c78312-af37-499f-bcbb-2574d34c0649</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e79c3c3-51b5-4420-9182-aab5ec3a1ccc</Key>
      <Name>Wis Open Graph</Name>
      <Alias>clearOpenGraph1902Seo</Alias>
      <Definition>d2aaa535-71ac-4a6e-a79d-6e1c9eea387b</Definition>
      <Type>clearControl.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>21</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4c2c782-2d7a-4ffc-9fa7-eafe590dd2cd</Key>
      <Name>Omschrijving</Name>
      <Alias>description1902Seo</Alias>
      <Definition>63a567e0-83ae-4e8a-ae22-a0d4c38a004c</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eee4250f-e8c6-4a1d-b721-ca6ce0e66b78</Key>
      <Name>Google+ foto</Name>
      <Alias>googleImage1902Seo</Alias>
      <Definition>719abda7-d9cb-42d2-9a75-8d6124880482</Definition>
      <Type>mediaPicker.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7932934d-c101-4780-8e2e-e3721a600957</Key>
      <Name>Google+ omschrijving</Name>
      <Alias>googleplusDescription1902Seo</Alias>
      <Definition>09dc1226-9f85-45fb-bdfd-15db41f90abc</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is een fragment of een kort voorbeeld van uw pagina dat onder de titel wordt weergegeven wanneer u deze deelt op Google+.]]></Description>
      <SortOrder>19</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4eb5841-48f5-42fe-a725-69b4f6e1b6fc</Key>
      <Name>Google+</Name>
      <Alias>googleplusTitle1902Seo</Alias>
      <Definition>3e6cb504-6700-4f3e-a472-786c8ac84670</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wanneer deze pagina op Google+ wordt gedeeld, is dit de standaardinhoud die wordt weergegeven.]]></Description>
      <SortOrder>18</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9314fced-ae37-41b7-b33c-004d3a7551f3</Key>
      <Name>Term</Name>
      <Alias>keyword1902Seo</Alias>
      <Definition>c5da8f8c-0edd-4d1f-aca3-ed491c4568e4</Definition>
      <Type>tags.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Trefwoorden verwijzen naar de zoektermen waarvoor u uw pagina wilt laten verschijnen of waarvoor u wilt rangschikken in zoekresultaten (bijv. als u wilt dat uw pagina wordt gevonden wanneer een persoon zoekt naar "Umbraco-pakket", kunt u "Umbraco-pakket" instellen als uw trefwoord ).]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b72d0b6f-a5ab-4b87-b37e-b133e9c5ef9f</Key>
      <Name>Schema</Name>
      <Alias>ldScript1902Seo</Alias>
      <Definition>120b0fff-9a2a-410d-b970-8e77d8023cce</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>22</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7fdcee20-ba2e-492b-95a4-1ee793b88f43</Key>
      <Name>Schema Business</Name>
      <Alias>ldScriptBusiness1902Seo</Alias>
      <Definition>8c57c250-8e79-4150-b0d1-8602b2ceb436</Definition>
      <Type>dropdown.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>23</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e74795a6-2c6a-462d-bf0c-8b48f2863bc7</Key>
      <Name>Niet volgen</Name>
      <Alias>noFollow1902Seo</Alias>
      <Definition>d7fe0c4a-31d4-4664-937f-699aa5437f6b</Definition>
      <Type>truefalse.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vink dit vakje aan als u niet wilt dat crawlers deze pagina volgen. Dit betekent dat u geen "link juice" doorgeeft aan de andere sites of pagina's waarnaar u linkt.

Link juice verwijst naar de waarde die via hyperlinks van de ene site naar de andere wordt doorgegeven. Kortom, wanneer u naar een andere site op uw pagina linkt (en die pagina zal worden gevolgd), beschouwen de zoekmachines de link als een stem of goedkeuring van uw site dat de pagina waarnaar u linkt waardevol is.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>514f9899-0073-4eed-93f5-a5a9abe79e11</Key>
      <Name>Geen Index</Name>
      <Alias>noIndex1902Seo</Alias>
      <Definition>d7fe0c4a-31d4-4664-937f-699aa5437f6b</Definition>
      <Type>truefalse.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vink dit vakje aan als u niet wilt dat deze pagina door zoekmachines wordt geïndexeerd, dat wil zeggen dat zoekmachines deze specifieke pagina niet in de zoekresultaten opnemen.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c77e94ff-1660-4779-a686-a2589270256e</Key>
      <Name>Og omschrijving</Name>
      <Alias>ogDescription1902Seo</Alias>
      <Definition>a2db038f-3ecd-4490-ac30-a720574fd87b</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>178c2e3a-7197-45e0-9b69-5615c3f60c60</Key>
      <Name>Og foto</Name>
      <Alias>ogImage1902Seo</Alias>
      <Definition>6a591393-35ff-4513-95c6-90d783b33daf</Definition>
      <Type>mediaPicker.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>672a3483-1dbb-44b9-a697-b419633bb639</Key>
      <Name>Open Graph instellingen</Name>
      <Alias>ogTitle1902Seo</Alias>
      <Definition>d5ab302b-7a1a-4975-9e2e-d44d5550cda3</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wanneer deze pagina wordt gedeeld op Facebook en andere sociale-mediasites (behalve Twitter en Google+), is dit de standaardinhoud die wordt weergegeven.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b73768e5-6ef6-4312-ab43-aabda2bf7565</Key>
      <Name>Open Graph</Name>
      <Alias>openGraphCollapse1902Seo</Alias>
      <Definition>5ec502a6-c89d-473a-ad52-79b799dc9c4b</Definition>
      <Type>collapsible.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Met Open Graph kunt u identificeren welke elementen van uw pagina worden weergegeven wanneer deze wordt gedeeld op sociale media of vergelijkbare sites. Meestal omvat dit een titel, een korte beschrijving en een afbeelding - die allemaal, in combinatie met elkaar, een visuele weergave geven van waar uw pagina over gaat. Als je standaardwaarden hebt ingesteld in de Global Open Graph-instellingen op het SEO+ dashboard, worden die waarden automatisch ook op deze pagina toegepast. Hier kunt u de standaardwaarden overschrijven en de specifieke open grafiekwaarden voor deze pagina instellen.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>956976d1-e2ed-43fd-aa09-f38d42a367a2</Key>
      <Name>Voorbeeld</Name>
      <Alias>preview1902Seo</Alias>
      <Definition>05091895-033d-4439-9e42-cb266405ef16</Definition>
      <Type>preview.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is hoe uw pagina eruit kan zien wanneer deze wordt weergegeven in de zoekresultaten. Houd er rekening mee dat het er in bepaalde gevallen anders uit kan zien, maar over het algemeen is dit wat u kunt verwachten van uw potentiële bezoekers wanneer ze uw pagina in zoekmachines zien.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b8a0e60-0126-49ed-a7f1-89e8b8444f0b</Key>
      <Name>Title / description</Name>
      <Alias>seoChecker</Alias>
      <Definition>efffea9c-396b-4f7d-90d2-f919e820f4e5</Definition>
      <Type>SEOChecker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO/seoChecker">SeoChecker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88217da4-6bbe-42ec-a61e-068f0c8c3c7b</Key>
      <Name>Meta robots</Name>
      <Alias>seoCheckerMetaRobots</Alias>
      <Definition>706649be-79d2-42db-82e8-4b4213c4c0b9</Definition>
      <Type>SEOChecker.RobotsTxt</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO/seoChecker">SeoChecker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95a966cc-1fec-4b07-b18f-3f8cbc800573</Key>
      <Name>Sitemap</Name>
      <Alias>seoCheckerSitemap</Alias>
      <Definition>958272cb-cbd8-4064-84d7-450859efa2fe</Definition>
      <Type>SEOChecker.XMLSitemap</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO/seoChecker">SeoChecker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>515ef504-f4b3-4272-893b-a56b2ece8b61</Key>
      <Name>Site Map</Name>
      <Alias>siteMapChangeFrequency1902seo</Alias>
      <Definition>db225c71-bc83-4491-9188-96734922500f</Definition>
      <Type>dropdown.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Een sitemap is een lijst met de URL's binnen uw pagina's die u wilt laten indexeren. Dit helpt zoekmachines uw site beter te crawlen en de links op uw site gemakkelijk te volgen.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6adfbdc-57b0-499b-be2e-d591901625ec</Key>
      <Name>Prioriteit</Name>
      <Alias>siteMapPriority1902Seo</Alias>
      <Definition>262250d1-a2e4-4361-b4f1-28b774f89189</Definition>
      <Type>dropdown.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4dd59e95-67ab-4485-89a3-0fe815a70520</Key>
      <Name>Samenvatting</Name>
      <Alias>summary1902Seo</Alias>
      <Definition>b9c13af5-2590-4898-b435-845556c96644</Definition>
      <Type>summary.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is een gedetailleerde beoordeling van uw pagina in termen van SEO en prestaties. Klik op "Uitvouwen" om de volledige analyse en aanbevelingen te bekijken. De belangrijkste problemen om op te lossen zijn in het rood, maar let ook op de suggesties in het geel voor verdere verbeteringen aan uw SEO]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04fa6485-597d-4517-8f6c-d442166e2f67</Key>
      <Name>Titel</Name>
      <Alias>title1902Seo</Alias>
      <Definition>84768ca6-b3d4-41c1-b66a-0a2396f35b52</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>846f8b88-45f3-468f-9209-1f6efaea5cbf</Key>
      <Name>Twitter omschrijving</Name>
      <Alias>twitterDescription1902Seo</Alias>
      <Definition>cbb376b1-fea3-4b77-9a83-5f77881d7d9f</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eeb9bb5a-fab1-47c2-be43-dee2609fbc29</Key>
      <Name>Twitter foto</Name>
      <Alias>twitterImage1902Seo</Alias>
      <Definition>5d2ed69a-8416-4f03-aa17-12064d38e1d9</Definition>
      <Type>mediaPicker.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>17</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>06d0f907-11c8-46b9-a122-090cca04dc00</Key>
      <Name>Twitter</Name>
      <Alias>twitterTitle1902Seo</Alias>
      <Definition>1860db2a-758d-4f32-961e-40bc753c7576</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wanneer deze pagina op Twitter wordt gedeeld, is dit de standaardinhoud die wordt weergegeven.]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="seO/seoGegevens">SEO-gegevens</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0997ef2d-7594-4fae-babc-c5fe2126e9f8</Key>
      <Caption>SeoChecker</Caption>
      <Alias>seO/seoChecker</Alias>
      <Type>Group</Type>
      <SortOrder>99</SortOrder>
    </Tab>
    <Tab>
      <Key>aed31f89-50f5-44b2-b070-4dfe1ec7b55f</Key>
      <Caption>SEO-gegevens</Caption>
      <Alias>seO/seoGegevens</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
    <Tab>
      <Key>e4c2c0ac-1495-4c4b-8a40-9e55d94aed86</Key>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Tab</Type>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>