<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6125a025-1380-4c0c-a2d2-7ebf7c3889cb" Alias="abstractNestedContent" Level="2">
  <Info>
    <Name>Abstract nested content</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Abstract</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5c6d4d05-ea74-4db7-9282-c8133c512d35</Key>
      <Name>#Abstract nested content nested content title</Name>
      <Alias>abstractNestedContentNestedContentTitle</Alias>
      <Definition>65dfc32e-3f76-4672-89e0-baff943eb601</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[#Abstract nested content nested content description]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="#Abstract nested content content tab">#Abstract nested content content tab</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>67c71010-1b7d-47f0-8518-9a2c49f8ec9a</Key>
      <Caption>#Abstract nested content content tab</Caption>
      <Alias>#Abstract nested content content tab</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>