<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5a84e62-de42-4bc8-b4f6-13996be9f492" Alias="agendaItem" Level="2">
  <Info>
    <Name>Agenda-item</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3dd376c0-c636-44a5-98f7-f647d75dbd85">abstractForAuthors</Composition>
      <Composition Key="2af9cb52-8db7-4541-a067-53380f2170eb">abstractMeta</Composition>
      <Composition Key="264246df-74e1-4ca1-a45d-be82a51dd0f4">abstractSearch</Composition>
      <Composition Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864">seoPackage1902</Composition>
      <Composition Key="64e1ea0b-1a4a-4a2e-8ec0-e4226b576c54">seoPackage1902Sitemap</Composition>
      <Composition Key="7101fca8-68ee-456b-a9f2-4bfdee869de1">SiteMapComposition</Composition>
    </Compositions>
    <DefaultTemplate>AgendaItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="14293814-dc51-4b5f-a34d-8416eded6bd3">AgendaItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="57595acb-228c-4aa4-b2b4-687c623e6f18" SortOrder="0">formPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>aa35783d-843a-46d7-8d5e-d3c8fa1070ef</Key>
      <Name>Card afbeelding</Name>
      <Alias>cardImage</Alias>
      <Definition>b5046035-96d2-4a23-962a-988db66a0f9d</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Afbeelding die wordt weergegeven wanneer het agenda-itemwordt weergegeven in een card, bijvoorbeeld op de homepage.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="agendaInstellingen">Agenda instellingen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Vul een afbeelding in</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5d49d51-909b-46be-a406-9b7ea8c8b9a9</Key>
      <Name>Inhoud</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[De inhoud van het agenda-item]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="agendaDetails">Agenda details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>778417be-7623-478e-873f-5a2eb3bffdb3</Key>
      <Name>Wanneer (oud)</Name>
      <Alias>datesAndTimes</Alias>
      <Definition>415d340c-34b7-4186-9f54-2c959264183d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="agendaDetails">Agenda details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Vul minimaal één datum en tijd in</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e408e26-0c75-4b6f-a703-c1d6bca520e9</Key>
      <Name>Wanneer</Name>
      <Alias>datesAndTimesBL</Alias>
      <Definition>8256cfd2-94b2-4c27-9185-698128be513c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vul één of meerdere datums en tijden in wanneer het agenda-item van toepassing is.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="agendaDetails">Agenda details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Vul minimaal één datum en tijd in</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e4c4b52-af46-4b08-978c-c517f8f4e2d9</Key>
      <Name>Afdelingen</Name>
      <Alias>departments</Alias>
      <Definition>f32d0e9d-29e3-4ae2-8eb0-9a49d20a09c9</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kies hier afdelingen om te koppelen aan dit agenda item.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gerelateerdeContent">Gerelateerde content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c169f970-8baa-42ec-ac25-a4e055740112</Key>
      <Name>Zorgverleners</Name>
      <Alias>healthProfessionals</Alias>
      <Definition>58aaea27-10e7-4750-a89a-4718c5a4cda6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kies hier de zorgverleners om te koppelen aan dit agenda item.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gerelateerdeContent">Gerelateerde content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1288a08f-e38f-4fcc-87f5-1f7f494787e7</Key>
      <Name>Introductie</Name>
      <Alias>introductionText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kort stukje tekst dat bovenaan het nieuwsbericht (boven de inhoud) dikgedrukt wordt weergegeven.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="agendaDetails">Agenda details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Vul een introductie in</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e9fa5646-f545-438b-b3cc-d2c230113d3d</Key>
      <Name>Locatie in inhoudsopgave</Name>
      <Alias>locatieTableOfContents</Alias>
      <Definition>a1acee47-f6f4-4037-b0d2-85c3c964c926</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="locatiesRoutes">Locaties &amp; routes</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d0039907-a117-491e-b7b3-6d4bab3b9512</Key>
      <Name>Locaties</Name>
      <Alias>locations</Alias>
      <Definition>5f310746-aca4-4e5c-9586-6c3aa8284678</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kies hier de locaties om te koppelen aan dit agenda-item.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="locatiesRoutes">Locaties &amp; routes</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf6a71f5-68d4-46ea-988b-6f0fc1ce6fca</Key>
      <Name>Handmatige routes (oud)</Name>
      <Alias>manualRoutes</Alias>
      <Definition>2cb3f606-d970-4eb2-99ee-3295f74289d6</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="locatiesRoutes">Locaties &amp; routes</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52dfdd5e-615c-4046-9c2f-b805b30d3aba</Key>
      <Name>Handmatige routes</Name>
      <Alias>manualRoutesBL</Alias>
      <Definition>3070d989-a2ed-4649-ab1c-f7a28ae07aef</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="locatiesRoutes">Locaties &amp; routes</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2f490d6-8eb6-4845-84f6-200b87d1cbb8</Key>
      <Name>Nieuwsberichten</Name>
      <Alias>newsItems</Alias>
      <Definition>4f1eebc5-7095-4d8e-8520-8c4e1764b702</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kies hier de nieuws-items om te koppelen aan dit nieuwsbericht.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="gerelateerdeContent">Gerelateerde content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b41b4ac8-4cd5-433d-a007-01a7828b1433</Key>
      <Name>Routes</Name>
      <Alias>routes</Alias>
      <Definition>7d288b50-6124-4462-954d-1fbe48c215fc</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kies hier de routes om te koppelen met dit agenda-item.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="locatiesRoutes">Locaties &amp; routes</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04f709f2-8c4c-444b-a77c-985b64788b41</Key>
      <Name>Titel</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[De titel van het evenement.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="agendaDetails">Agenda details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Vul een titel in</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0af2041d-357d-48b1-bc85-19b4641f9e58</Key>
      <Caption>Gerelateerde content</Caption>
      <Alias>gerelateerdeContent</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>50bac99d-8703-41c3-bbbd-d436503313d4</Key>
      <Caption>Agenda details</Caption>
      <Alias>agendaDetails</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>bd0e825d-e022-4270-9b2d-7389ea4679ff</Key>
      <Caption>Agenda instellingen</Caption>
      <Alias>agendaInstellingen</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d50ff40a-ad35-4889-8ac7-a74ea563c8f9</Key>
      <Caption>Locaties &amp; routes</Caption>
      <Alias>locatiesRoutes</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>