<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d9b2660-b1fd-4488-9ed9-122065ca2063" Alias="departmentHeaderComponent" Level="3">
  <Info>
    <Name>Department header component</Name>
    <Icon>icon-umb-media color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Abstract/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>767c1a0f-e54b-490f-81e1-e1600a3958a8</Key>
      <Name>Contact link</Name>
      <Alias>contactLink</Alias>
      <Definition>61a8ffde-e510-450e-93ed-4ad2a9ceebbb</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optionele link naar de contactpagina. De tekst die weergegeven wordt op de knop kan gezet worden via de link titel.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header/contactgegevensHeader">Contactgegevens header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47dfa131-54c7-4929-b9d5-5d858b94cefc</Key>
      <Name>Contact titel</Name>
      <Alias>contactsTitle</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header/contactgegevensHeader">Contactgegevens header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b86816b5-f4e5-4ac2-acfa-9d778880037f</Key>
      <Name>Contactgegevens</Name>
      <Alias>departmentContacts</Alias>
      <Definition>2369d7c2-e05b-4467-ad5b-990325743ce4</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lijst met contacten]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header/contactgegevensHeader">Contactgegevens header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f98adff-faca-4734-8550-8e2fb43b8efc</Key>
      <Name>Contactgegevens</Name>
      <Alias>departmentContactsBL</Alias>
      <Definition>5886875a-c5bb-47ff-9e1e-396bc7bd8eb8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lijst met contacten]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="header/contactgegevensHeader">Contactgegevens header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb3f3776-9c6b-4b17-8c00-dc27b06ca692</Key>
      <Name>Header afbeelding</Name>
      <Alias>departmentImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[De afbeelding die op de header achter de contacts wordt weergegeven.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header/headerAfbeelding">Header afbeelding</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>410d3738-cc72-4972-ae55-84765d2e8ca3</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>14</SortOrder>
    </Tab>
    <Tab>
      <Key>4b813ec4-e5d7-4563-95cb-dd712557e033</Key>
      <Caption>Contactgegevens header</Caption>
      <Alias>header/contactgegevensHeader</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>59c3d4a8-4494-48b4-a80c-72e2e2b826eb</Key>
      <Caption>Header afbeelding</Caption>
      <Alias>header/headerAfbeelding</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>