<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5c932e30-f616-4909-965a-0ca65fa295d3" Alias="footer" Level="2">
  <Info>
    <Name>#FooterName</Name>
    <Icon>icon-page-down color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>#FooterDescription</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77c562c9-ff0f-46ab-9430-2bbdf341ec00</Key>
      <Name>Facebook</Name>
      <Alias>facebook</Alias>
      <Definition>61a8ffde-e510-450e-93ed-4ad2a9ceebbb</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Volledige URL naar een Facebook account. Wanneer deze ingevuld is zal een blauwe button met het Facebook-logo in de footer worden weergegeven.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="socialMediaKnoppen">Social media-knoppen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b590b03-f8aa-4015-9819-2a9eac5fa598</Key>
      <Name>Menu</Name>
      <Alias>footerMenu</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Het menu in de footer die direct onder de titel komt te staan.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>829dfaee-7be6-4b3d-96ba-da5aa4b7624c</Key>
      <Name>Titel</Name>
      <Alias>footerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[De titel die in het rood bovenin de footer staat.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ac5dc86c-b131-40d4-a2fc-16e461926808</Key>
      <Name>Instagram</Name>
      <Alias>instagram</Alias>
      <Definition>61a8ffde-e510-450e-93ed-4ad2a9ceebbb</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Volledige URL naar een Instragram account. Wanneer deze ingevuld is zal een blauwe button met het Instragram-logo in de footer worden weergegeven.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="socialMediaKnoppen">Social media-knoppen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1e1819b-e3bb-41b2-90ad-521ce064bf83</Key>
      <Name>Label 'redactie en uitgave'</Name>
      <Alias>labelEditorAndEdition</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Label die bij het printen in de footer wordt weergegeven voordat de naam van de afdeling wordt weergegeven. Moet eindigen met een dubbele punt, bijvoorbeeld: 'Redactie en uitgave:']]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="printen">Printen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Vul een label in</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f21cf464-2df2-46bd-b31e-945c27b10662</Key>
      <Name>LinkedIn</Name>
      <Alias>linkedIn</Alias>
      <Definition>61a8ffde-e510-450e-93ed-4ad2a9ceebbb</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Volledige URL naar een LinkedIn account. Wanneer deze ingevuld is zal een blauwe button met het LinkedIn-logo in de footer worden weergegeven.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="socialMediaKnoppen">Social media-knoppen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36d6e5e6-062e-4294-b85b-0cde526d102b</Key>
      <Name>Print-tekst</Name>
      <Alias>printText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst die wordt weergegeven in de footer onder de adressen wanneer een pagina geprint wordt. Kan bijvoorbeeld gebruikt worden voor link naar algemene voorwaarden etc.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="printen">Printen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04043039-6c72-4ff7-a29e-f97633f46858</Key>
      <Name>Service menu</Name>
      <Alias>serviceMenu</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Menu dat helemaal onderaan de footer wordt weergegeven voor bijvoorbeeld disclaimer, privacyverklaring etc.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37aaf01a-f7fe-4b9d-8892-31b1954be274</Key>
      <Name>Tekstblokken (oud)</Name>
      <Alias>textBlocks</Alias>
      <Definition>946b2bd7-9941-4927-a4fe-22f346f090c9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49f88d13-f20c-4230-9341-1d0655f2c916</Key>
      <Name>Tekstblokken</Name>
      <Alias>textBlocksBL</Alias>
      <Definition>864e4c7e-db7d-4f2c-a6f6-048f562861f5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lijst met tekstblokken die bijvoorbeeld gebruikt kunnen worden voor lokatiegegevens.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28696c3a-543d-41c8-8bf1-5ac0aec5c8a4</Key>
      <Name>Twitter</Name>
      <Alias>twitter</Alias>
      <Definition>61a8ffde-e510-450e-93ed-4ad2a9ceebbb</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Volledige URL naar een Twitter account. Wanneer deze ingevuld is zal een blauwe button met het Twitter-logo in de footer worden weergegeven.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="socialMediaKnoppen">Social media-knoppen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1d34d5c6-9905-4fd2-ba6a-92719b6b51d4</Key>
      <Caption>Printen</Caption>
      <Alias>printen</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>8554b524-aced-44b3-a522-d26c5de33e64</Key>
      <Caption>Social media-knoppen</Caption>
      <Alias>socialMediaKnoppen</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>8f627746-7b99-4f67-bcfb-7eb333e9ca66</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>