<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4552e01a-8b9d-43d3-8b1c-94eec9c35044" Alias="HomepageComposition" Level="4">
  <Info>
    <Name>Homepage composition</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition that can be used for all content types that are a homepage</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Packages/UmbracoCore/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>