<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dad2fe09-117c-4aa9-a151-81eeed6c0e0d" Alias="imageElementSimple" Level="2">
  <Info>
    <Name>Afbeelding element eenvoudig</Name>
    <Icon>icon-picture color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Simpel element dat alleen een afbeelding bevat.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b8296a4f-ca02-4700-8aad-b7bdb166a59e</Key>
      <Name>Afbeelding</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a10ba3eb-9428-4ff6-95a3-2b75672a6f6b</Key>
      <Name>Afbeelding volledig breed tonen</Name>
      <Alias>showImageFullWidth</Alias>
      <Definition>93dc35cb-a1ac-4034-8659-ae3fc27b60ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Deze instelling proberen of false te houden. De afbeelding wordt ongecomprimeerd getoond op volle breedte als deze instelling aan staat, heeft dus implact op de laadtijd van de pagina.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f16450d6-9dfc-42c4-a267-b0d3ddb8f121</Key>
      <Caption>Inhoud</Caption>
      <Alias>inhoud</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>