<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="283ef2ef-4006-4d6d-96aa-8f76a0cb4a52" Alias="photobookNoTitle" Level="2">
  <Info>
    <Name>Fotoboek zonder titel</Name>
    <Icon>icon-photo-album color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cce0fe9b-02ab-4513-becd-3728c0675cec</Key>
      <Name>Fotoboek</Name>
      <Alias>medicalInfoPhotobook</Alias>
      <Definition>e0837b15-d746-4fd8-89c6-d1e15d2a98cf</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="photobook">Photobook</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>68cf3f90-504b-478b-b416-ef24f537f08c</Key>
      <Caption>Photobook</Caption>
      <Alias>photobook</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>