<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca548ade-b48c-488e-b41c-38fe3b33da7a" Alias="projectDetailPage" Level="2">
  <Info>
    <Name>Project detailpagina</Name>
    <Icon>icon-bill-dollar color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Een projectpagina over één onderwerp</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3dd376c0-c636-44a5-98f7-f647d75dbd85">abstractForAuthors</Composition>
      <Composition Key="2af9cb52-8db7-4541-a067-53380f2170eb">abstractMeta</Composition>
      <Composition Key="264246df-74e1-4ca1-a45d-be82a51dd0f4">abstractSearch</Composition>
      <Composition Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864">seoPackage1902</Composition>
      <Composition Key="64e1ea0b-1a4a-4a2e-8ec0-e4226b576c54">seoPackage1902Sitemap</Composition>
      <Composition Key="7101fca8-68ee-456b-a9f2-4bfdee869de1">SiteMapComposition</Composition>
    </Compositions>
    <DefaultTemplate>ProjectDetailpagina</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c4ad13f7-bd9f-45ac-9a70-17ff333214d7">ProjectDetailpagina</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>954fb2d3-74a8-4fcc-b34e-3a98df0663c1</Key>
      <Name>AFAS kostenplaats</Name>
      <Alias>afasCostCenter</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="projectpagina">Projectpagina</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21018b75-53f3-4255-b1a2-2739dac5f516</Key>
      <Name>Card afbeelding</Name>
      <Alias>cardImage</Alias>
      <Definition>b5046035-96d2-4a23-962a-988db66a0f9d</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Afbeelding die wordt weergegeven wanneer het projectpagina wordt weergegeven in een card, bijvoorbeeld op de homepage.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="berichtInstellingen">Bericht instellingen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Vul en afbeelding in</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>728f7f63-afe9-4feb-9739-846e2cb1f421</Key>
      <Name>Inhoud</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[De inhoud van de projectpagina.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="projectpagina">Projectpagina</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4eb2c51-1c99-471c-b6d2-9338a374a05a</Key>
      <Name>Datum</Name>
      <Alias>date</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[De datum van de projectpagina. Deze datum komt bovenaan de pagina te staan.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projectpagina">Projectpagina</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Vul een datum in</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d601aab8-5bd8-42c1-bec8-9ff034662d18</Key>
      <Name>Introductie</Name>
      <Alias>introductionText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kort stukje tekst dat bovenaan de projectpagina (boven de inhoud) dikgedrukt wordt weergegeven.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="projectpagina">Projectpagina</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f19f3aa-89f7-4040-95b7-449075dede22</Key>
      <Name>Projectafbeelding</Name>
      <Alias>newsImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Afbeelding die wordt weergegeven in de projectpagina, direct onder de titel]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="projectpagina">Projectpagina</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>668dc9c3-cb9c-453c-a7d8-d62f45dcd09f</Key>
      <Name>Pagina elementen (oud)</Name>
      <Alias>pageElements</Alias>
      <Definition>87ba86d1-0c62-47d1-b1f2-eeac4a76463b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="projectpagina">Projectpagina</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>133b4fac-4ea5-4b3b-9fbc-7297ee4f428e</Key>
      <Name>Pagina elementen</Name>
      <Alias>pageElementsBL</Alias>
      <Definition>06da57c1-0214-499b-b3bd-30dfab28a83a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="projectpagina">Projectpagina</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fcd38753-540d-48b4-9713-bbed6b306400</Key>
      <Name>Project filters</Name>
      <Alias>projectFilters</Alias>
      <Definition>573439c5-1549-4192-9ad7-3168fd408392</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="projectpagina">Projectpagina</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a1c9371-8339-433a-a5bb-d82e505b9997</Key>
      <Name>Titel</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[De titel van het projectpagina.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="projectpagina">Projectpagina</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>Vul een titel in</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>196ce57e-6eeb-4396-a203-390ae4265622</Key>
      <Caption>Projectpagina</Caption>
      <Alias>projectpagina</Alias>
      <Type>Tab</Type>
      <SortOrder>-3</SortOrder>
    </Tab>
    <Tab>
      <Key>b916257d-9373-4886-a277-17a149688101</Key>
      <Caption>Bericht instellingen</Caption>
      <Alias>berichtInstellingen</Alias>
      <Type>Tab</Type>
      <SortOrder>-2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>