<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32ba0caf-9079-4a05-8f76-bbd78a95fb0b" Alias="projectFilterContainer" Level="2">
  <Info>
    <Name>#Project filter container</Name>
    <Icon>icon-filter color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Project filters container</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0ab2a1db-8b49-4847-85a3-7282e179fff2" SortOrder="0">projectFilter</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>