<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff1322b1-ba09-4e86-8cd8-d54e43e170c2" Alias="routeItem" Level="2">
  <Info>
    <Name>Route item</Name>
    <Icon>icon-map-location color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions>
      <Composition Key="d858892b-55db-42a7-96da-07c371b5ed15">routeComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>