<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="749b7325-4e72-4540-a573-bdcfd8a50ef5" Alias="veelgesteldeVragenNoTitle" Level="2">
  <Info>
    <Name>Veelgestelde vragen zonder titel</Name>
    <Icon>icon-chat color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4ad4b569-d113-4409-9aa6-a67ed7410a9b</Key>
      <Name>Veelgestelde vragen</Name>
      <Alias>medicalInfoFaq</Alias>
      <Definition>ca4fee4f-9975-46ed-bec7-aa03d1ff22a6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="veelgesteldeVragen">Veelgestelde vragen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c11b1738-2378-46a0-a8de-2d29d1cbf697</Key>
      <Caption>Veelgestelde vragen</Caption>
      <Alias>veelgesteldeVragen</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>