<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4492f5ea-688b-40c3-9127-7def416eeb7b" Alias="websiteContainer" Level="2">
  <Info>
    <Name>#Website container</Name>
    <Icon>icon-globe-alt color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>#Website container description</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="af1555f6-c334-4f13-957c-ad82e5245fc4" SortOrder="0">sharedContentContainer</ContentType>
    <ContentType Key="49e8fa2f-b98f-42c9-baef-7228cd1ce8ea" SortOrder="1">configurationContainer</ContentType>
    <ContentType Key="fd7c4edb-26d1-48f8-b70c-3995b27d46ad" SortOrder="2">contentContainer</ContentType>
    <ContentType Key="78915597-3ba9-4d8a-97c0-6f1b8fcc1559" SortOrder="3">settings</ContentType>
    <ContentType Key="eac3d37b-e106-4177-8489-575fa77b7f0b" SortOrder="4">sharedContentContainerSubsite</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>