<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc7070ff-24b6-4374-b4d4-bf76c544bb24" Alias="10 jaar Diaboss: in september is het feest!" Level="5">
  <Info>
    <Parent Key="99e8b1f6-2c42-4dec-b70e-0d4c6649792a">Nieuws</Parent>
    <Path>/Diaboss/Pages/Homepage/Nieuws/jaarDiabossInSeptemberIsHetFeest</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticleSubsite</ContentType>
    <CreateDate>2023-07-06T09:04:22</CreateDate>
    <NodeName Default="10 jaar Diaboss: in september is het feest!">
      <Name Culture="en-us">10 years of party</Name>
      <Name Culture="nl-nl">10 jaar Diaboss: in september is het feest!</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cardImage>
      <Value><![CDATA[umb://media/e4d8cd2ae93b44ca8f09b52715ea8275]]></Value>
    </cardImage>
    <content>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Kom je ook een tekening maken, een potje tafelvoetbal spelen of foto’s maken in de Diaboss-fotobooth? Je bezoek aan Diaboss is in september extra feestelijk!</p>\n<p><img src=\"?width=1000&amp;height=666.9921875\" alt=\"\" width=\"1000\" height=\"666.9921875\" data-udi=\"umb://media/ae832d5f5c9241d18415d2132bf1f3db\"></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <date>
      <Value><![CDATA[2022-09-06T00:00:00]]></Value>
    </date>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p class=\"intro\">Omdat we dit jaar 10 jaar bestaan, is het de hele maand feest bij Diaboss. 5 september hebben operationeel manager Michel Kraima en bedrijfsleider Anneke Buys de feestmaand officieel geopend door een tekening te maken op de feestmuur.&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introductionText>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "cd4c5c97-29c5-47a0-aee4-b89af8abd53d",
    "mediaKey": "e4d8cd2a-e93b-44ca-8f09-b52715ea8275"
  }
]]]></Value>
    </newsImage>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <title>
      <Value Culture="en-us"><![CDATA[10 years of party]]></Value>
      <Value Culture="nl-nl"><![CDATA[10 jaar Diaboss: in september is het feest!]]></Value>
    </title>
  </Properties>
</Content>