<?xml version="1.0" encoding="utf-8"?>
<Content Key="031a0d87-b4b2-4873-90b0-ec3beea7a6af" Alias="24/7 bereikbaar" Level="5">
  <Info>
    <Parent Key="46297e30-64f3-4151-9b67-fff529c1b816">Over Diaboss</Parent>
    <Path>/Ushamwari/Pages/Homepage/OverDiaboss/bereikbaar</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-07-19T09:30:47</CreateDate>
    <NodeName Default="24/7 bereikbaar">
      <Name Culture="nl-nl">24/7 bereikbaar</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="false">
      <Published Culture="nl-nl">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[24/7 bereikbaar]]></Value>
    </title>
  </Properties>
</Content>