<?xml version="1.0" encoding="utf-8"?>
<Content Key="18fb21fb-3190-4c22-bae7-4c43ad35b89f" Alias="Alleen als hoofdafdeling gekoppeld" Level="5">
  <Info>
    <Parent Key="e6dc5fa5-2fad-45e5-96e8-61689168277e">Afdelingen</Parent>
    <Path>/Website/Pages/Home/Afdelingen/AlleenAlsHoofdafdelingGekoppeld</Path>
    <Trashed>false</Trashed>
    <ContentType>department</ContentType>
    <CreateDate>2023-02-13T10:50:41</CreateDate>
    <NodeName Default="Alleen als hoofdafdeling gekoppeld">
      <Name Culture="nl-nl">Alleen als hoofdafdeling gekoppeld</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactLink>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </contactLink>
    <contactsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </contactsTitle>
    <departmentContacts>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d9e8b7c0eaf747d9bd5b4a9167551b37"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<p>met tekst eronder</p>",
      "abstractTitle": "contactblok",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/d9e8b7c0eaf747d9bd5b4a9167551b37"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContacts>
    <departmentContactsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/95595ca457e74d48bfc5b1a150832b59"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<p>met tekst eronder</p>",
      "abstractTitle": "contactblok",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/95595ca457e74d48bfc5b1a150832b59"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContactsBL>
    <departmentErvaringsverhaal>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentErvaringsverhaal>
    <departmentFacts>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFacts>
    <departmentFactsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFactsBL>
    <departmentImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "11dd5da2-bcc3-4fb8-a55c-3ff5e5b7105f",
    "mediaKey": "bfbf7da0-c394-4b41-9ff9-4a897181b4d1"
  }
]]]></Value>
    </departmentImage>
    <faq>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </faq>
    <healthcareProfessionals>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </healthcareProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionExtraContentBlock>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionExtraContentBlock>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <photobook>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </photobook>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <synonyms>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonyms>
    <synonymsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonymsBL>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Alleen als hoofdafdeling gekoppeld]]></Value>
    </title>
    <videoComponentLink>
      <Value><![CDATA[]]></Value>
    </videoComponentLink>
    <videoComponentTitleItem>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </videoComponentTitleItem>
  </Properties>
</Content>