<?xml version="1.0" encoding="utf-8"?>
<Content Key="20f25ce1-7add-4a0c-b24d-e9ae0378907a" Alias="Aorta" Level="5">
  <Info>
    <Parent Key="4eeb7569-9221-4050-9cd9-0784ebf45cbc">Vessels</Parent>
    <Path>/Echocardiografie/Pages/Homepage/Vessels/Aorta</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-07-05T16:21:24</CreateDate>
    <NodeName Default="Aorta">
      <Name Culture="nl-nl">Aorta</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d6e4b84dbddf4d7eb5cf9dd9d97f6714"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentItemContentText": {
        "markup": "<p><img src=\"?width=636&amp;height=432\" alt=\"\" width=\"636\" height=\"432\" data-udi=\"umb://media/f072a27c314e458cbbda91420852adbc\"></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentItemTitle": "animated gif",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/d6e4b84dbddf4d7eb5cf9dd9d97f6714"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9a48a7126a324eb28916d12cc5b44085"
      }
    ]
  },
  "contentData": [
    {
      "backgroundColor": "",
      "backgroundImageBL": "{\"layout\":{\"Umbraco.BlockList\":[]},\"contentData\":[],\"settingsData\":[]}",
      "backgroundImageOverlap": "0",
      "contentItemContentText": {
        "markup": "<p><img src=\"?width=636&amp;height=432\" alt=\"\" width=\"636\" height=\"432\" data-udi=\"umb://media/f072a27c314e458cbbda91420852adbc\"></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentItemTitle": "animated gif",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/9a48a7126a324eb28916d12cc5b44085"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Aorta]]></Value>
    </title>
  </Properties>
</Content>