<?xml version="1.0" encoding="utf-8"?>
<Content Key="c21ff02f-3e5d-4604-be12-6df84a054e1a" Alias="Begeleiding bij afwijkingen van de bloedvaten" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/BegeleidingBijAfwijkingenVanDeBloedvaten</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-07-04T08:34:15</CreateDate>
    <NodeName Default="Begeleiding bij afwijkingen van de bloedvaten">
      <Name Culture="nl-nl">Begeleiding bij afwijkingen van de bloedvaten</Name>
    </NodeName>
    <SortOrder>31</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/57b24bd54fd7473da2dc7ea961375fab]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[[]]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[[]]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Behandelingen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Begeleiding bij afwijkingen van de bloedvaten]]></Value>
    </title>
  </Properties>
</Content>