<?xml version="1.0" encoding="utf-8"?>
<Content Key="f86b587f-9f0a-4adc-a1a0-f25895d831b0" Alias="Begrijp uw lichaam test" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/BegrijpUwLichaamTest</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2023-12-21T15:57:07</CreateDate>
    <NodeName Default="Begrijp uw lichaam test">
      <Name Culture="nl-nl">Begrijp uw lichaam test</Name>
    </NodeName>
    <SortOrder>83</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b839a49b472a43fcb0b31ea8008a63aa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/7a6b1710f50b4f94b7b1613c30d17cb2",
      "shortTitle": "Slagaderverkalking",
      "udi": "umb://element/b839a49b472a43fcb0b31ea8008a63aa"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/423cdf8ea1d045f0b0781a5b912686e9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/7a6b1710f50b4f94b7b1613c30d17cb2",
      "shortTitle": "Slagaderverkalking",
      "udi": "umb://element/423cdf8ea1d045f0b0781a5b912686e9"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/17b7619813264346ba671780c06f5ae7]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[Introductietekst Introductietekst Introductietekst Introductietekst Introductietekst Introductietekst Introductietekst Introductietekst Introductietekst Introductietekst Introductietekst Introductietekst ]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ce509a58e72f46c29b2a56471d314f5f"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f96b58d23a6146faa9abdad6fc804e08"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<h3>Zo gaat de behandeling</h3>\n<p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>\n<p><img src=\"?mode=crop&amp;width=1000\" alt=\"\" width=\"1000\" height=\"562.5\" data-udi=\"umb://media/0735dd2f70a148509fcec37047fc2d23\"></p>",
            "udi": "umb://element/f96b58d23a6146faa9abdad6fc804e08"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Eerste kopje",
      "udi": "umb://element/ce509a58e72f46c29b2a56471d314f5f"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ee26cdb0acb54927ac83108e8594d880"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/250449ddae0645fb94085e852c0b3e9a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<h3>Zo gaat de behandeling</h3>\n<p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>\n<p><img src=\"?mode=crop&amp;width=1000\" alt=\"\" width=\"1000\" height=\"562.5\" data-udi=\"umb://media/0735dd2f70a148509fcec37047fc2d23\"></p>",
            "udi": "umb://element/250449ddae0645fb94085e852c0b3e9a"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Eerste kopje",
      "udi": "umb://element/ee26cdb0acb54927ac83108e8594d880"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Begrijp uw lichaam]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>subtitel</p>]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Begrijp uw lichaam test]]></Value>
    </title>
  </Properties>
</Content>