<?xml version="1.0" encoding="utf-8"?>
<Content Key="11bb6c89-4f5a-4810-870b-8a73f3c9fc77" Alias="Besnijdenis CMS Titel" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/BesnijdenisCMSTitel</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-06-20T13:50:15</CreateDate>
    <NodeName Default="Besnijdenis CMS Titel">
      <Name Culture="nl-nl">Besnijdenis CMS Titel</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8b2f1c395b334482a7b8c6535ec01916"
      },
      {
        "contentUdi": "umb://element/48d1b0f9a5274dd2856fecb521f9404e"
      },
      {
        "contentUdi": "umb://element/b53342a675864d2b8d9205926e3cfbae"
      },
      {
        "contentUdi": "umb://element/09ffc4fe705d4585a48bbaf4763ddd15"
      },
      {
        "contentUdi": "umb://element/c70079447a1145a9ba35c37c4e22bdf2"
      },
      {
        "contentUdi": "umb://element/09a65fee9b7e426c8c9ab679baa9ec6d"
      },
      {
        "contentUdi": "umb://element/52d8201203194031a0f2d29f53050848"
      },
      {
        "contentUdi": "umb://element/0c99b8b881fc4886affb577022dc17a8"
      },
      {
        "contentUdi": "umb://element/8f1393e346ef4222b58a84c74d14a5da"
      },
      {
        "contentUdi": "umb://element/0439fa5a4144474e8088e2b8fed231d0"
      },
      {
        "contentUdi": "umb://element/44e46317c9f24ada9b43b232e18a0c1a"
      },
      {
        "contentUdi": "umb://element/20b435d4305948258a3c590401adb5de"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/b01765e8956a4fe3bbbb0d4735214f63",
      "udi": "umb://element/8b2f1c395b334482a7b8c6535ec01916"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/6f3f6d5a02fd4217b74b7eb5d236077d",
      "udi": "umb://element/48d1b0f9a5274dd2856fecb521f9404e"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/f983ad6572b1424b879e8c0f11f4dc3f",
      "udi": "umb://element/b53342a675864d2b8d9205926e3cfbae"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/e2ce87e4ce3144329b6b46714c4b1ed0",
      "udi": "umb://element/09ffc4fe705d4585a48bbaf4763ddd15"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/2181d1f29fec45748ad5ea5900d21703",
      "udi": "umb://element/c70079447a1145a9ba35c37c4e22bdf2"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/77ab9888d647460ea14a988d292f264d",
      "udi": "umb://element/09a65fee9b7e426c8c9ab679baa9ec6d"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/9fbfaa8d59804aaf816f6ee4a865e310",
      "udi": "umb://element/52d8201203194031a0f2d29f53050848"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/154ec1467e5b451bb10cc97cf9e28f3a",
      "udi": "umb://element/0c99b8b881fc4886affb577022dc17a8"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/c55c81fd7ac34c8fb75abd9b67adbf98",
      "udi": "umb://element/8f1393e346ef4222b58a84c74d14a5da"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/87666cfd98cc4c25b8de0ea790dd3efa",
      "udi": "umb://element/0439fa5a4144474e8088e2b8fed231d0"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/fd4c3f8e23354e47b5aa4186b2c06e8d",
      "udi": "umb://element/44e46317c9f24ada9b43b232e18a0c1a"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/d6ae4aeb295c4ef1a5688102d4abeec8",
      "udi": "umb://element/20b435d4305948258a3c590401adb5de"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f46e6dad85f9476392f93b9ae95ab274"
      },
      {
        "contentUdi": "umb://element/4e0325e438854b72939991d958599844"
      },
      {
        "contentUdi": "umb://element/31b0302d069f4502af07e9d5590bec2a"
      },
      {
        "contentUdi": "umb://element/b4649890ca364fcd9aeb11965c3df552"
      },
      {
        "contentUdi": "umb://element/4adbece614234de995e13f7041addc4c"
      },
      {
        "contentUdi": "umb://element/96f3126a8cd7417ba7fab34740431268"
      },
      {
        "contentUdi": "umb://element/4735a03765984c72876471a24d59dda0"
      },
      {
        "contentUdi": "umb://element/4dc78a8ffbfb4a9e9b1a601f2cb83622"
      },
      {
        "contentUdi": "umb://element/1192e87fb74a4b8f8b473144f160d03d"
      },
      {
        "contentUdi": "umb://element/5a2a46708efe47918c5d6ceb0f09b00f"
      },
      {
        "contentUdi": "umb://element/fdd922089a54410ea835ee7f012722cf"
      },
      {
        "contentUdi": "umb://element/e77c51712d8449faaa4942a57bf8cb56"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/b01765e8956a4fe3bbbb0d4735214f63",
      "udi": "umb://element/f46e6dad85f9476392f93b9ae95ab274"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/6f3f6d5a02fd4217b74b7eb5d236077d",
      "udi": "umb://element/4e0325e438854b72939991d958599844"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/f983ad6572b1424b879e8c0f11f4dc3f",
      "udi": "umb://element/31b0302d069f4502af07e9d5590bec2a"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/e2ce87e4ce3144329b6b46714c4b1ed0",
      "udi": "umb://element/b4649890ca364fcd9aeb11965c3df552"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/2181d1f29fec45748ad5ea5900d21703",
      "udi": "umb://element/4adbece614234de995e13f7041addc4c"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/77ab9888d647460ea14a988d292f264d",
      "udi": "umb://element/96f3126a8cd7417ba7fab34740431268"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/9fbfaa8d59804aaf816f6ee4a865e310",
      "udi": "umb://element/4735a03765984c72876471a24d59dda0"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/154ec1467e5b451bb10cc97cf9e28f3a",
      "udi": "umb://element/4dc78a8ffbfb4a9e9b1a601f2cb83622"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/c55c81fd7ac34c8fb75abd9b67adbf98",
      "udi": "umb://element/1192e87fb74a4b8f8b473144f160d03d"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/87666cfd98cc4c25b8de0ea790dd3efa",
      "udi": "umb://element/5a2a46708efe47918c5d6ceb0f09b00f"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/fd4c3f8e23354e47b5aa4186b2c06e8d",
      "udi": "umb://element/fdd922089a54410ea835ee7f012722cf"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/d6ae4aeb295c4ef1a5688102d4abeec8",
      "udi": "umb://element/e77c51712d8449faaa4942a57bf8cb56"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[Een besnijdenis kan nodig zijn als de voorhuid te strak is. De voorhuid kan dan niet meer over de eikel schuiven. Een strakke voorhuid kan problemen geven bij het plassen. Ook kan het pijn doen als de penis stijf is of bij het vrijen.]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/15edd7b8b68e46acbf2a2148c93fa4d8"
      },
      {
        "contentUdi": "umb://element/7b2ed53b7b30470b82157ba7baa825a2"
      },
      {
        "contentUdi": "umb://element/111401edafad42c1b41eac914fabf164"
      },
      {
        "contentUdi": "umb://element/9804acb54b744de5927852986099530d"
      },
      {
        "contentUdi": "umb://element/10823bf69dc0466ba4882845e7b472e6"
      },
      {
        "contentUdi": "umb://element/65402b94892d430e93c3c386e5c66d1e"
      },
      {
        "contentUdi": "umb://element/f9a52559d741409f9a14fc98d5f6c638"
      },
      {
        "contentUdi": "umb://element/828ba30060b141e2bec34917627884d1"
      },
      {
        "contentUdi": "umb://element/5e32eca67eb9463cb556e12dfaadc4c9"
      }
    ]
  },
  "contentData": [
    {
      "contentItemContentText": "<p>Een besnijdenis kan nodig zijn als de voorhuid te strak is. De voorhuid kan dan niet meer over de eikel schuiven. Een strakke voorhuid kan problemen geven bij het plassen. Ook kan het pijn doen als de penis stijf is of bij het vrijen.</p>",
      "contentItemTitle": "Over de besnijdenis",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/15edd7b8b68e46acbf2a2148c93fa4d8"
    },
    {
      "contentItemTitle": "Zo bereidt u zich voor",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/7b2ed53b7b30470b82157ba7baa825a2"
    },
    {
      "contentTypeKey": "994abfd3-cf12-4ff2-b4d5-9e0ebc3311c0",
      "editorialContent": "umb://document/abda47debe7a4532b531e1a8ee31ee4f",
      "udi": "umb://element/111401edafad42c1b41eac914fabf164"
    },
    {
      "contentItemContentText": "<h3 class=\"Kop2zondernummering\">Andere voorbereidingen</h3>\n<ul>\n<li>Neem een strakke onderbroek of strakke zwembroek mee naar het ziekenhuis.</li>\n<li>Neem een uur voor de behandeling 2 tabletten paracetamol 500 mg. Dit vermindert de eventuele pijn na de ingreep.</li>\n</ul>\n<p>U mag gewoon eten en drinken.</p>",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/9804acb54b744de5927852986099530d"
    },
    {
      "contentItemContentText": "<p>De besnijdenis duur ongeveer 1 uur.</p>",
      "contentItemTitle": "Zo gaat de ingreep",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/10823bf69dc0466ba4882845e7b472e6"
    },
    {
      "contentItemContentText": "<p><img src=\"?width=303&amp;height=293\" alt=\"Diagram van besnijdenis\" width=\"303\" height=\"293\" data-udi=\"umb://media/99fc987b8897410c95d3bc978ed85b36\" /></p>",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/65402b94892d430e93c3c386e5c66d1e"
    },
    {
      "contentItemContentText": "<ul>\n<li>De eerste dagen na de besnijdenis is de eikel vaak gevoelig, rood en dik. Dit is normaal en stopt meestal binnen 1 week.</li>\n<li>De ochtend na de besnijdenis mag het verband eraf. U spoelt de wond af en droogt de penis voorzichtig met een schone handdoek. Hierna hoeft er geen verband meer omheen. <br />Het kan wel prettig zijn om de eikel met verband te beschermen. Zo beschermt u eventueel uw kleding als er nog wat vocht of bloed uit de wond komt.</li>\n<li>De eerste dagen na de besnijdenis kunt u een branderig gevoel hebben bij het plassen. Dit komt doordat er op de plaats van de hechtingen korstjes ontstaan. Als u doorplast verdwijnt de pijn meestal.</li>\n<li>Het beste kunt u de penis omhoog leggen in de richting van uw navel. Dit vermindert de zwelling.</li>\n</ul>",
      "contentItemTitle": "Na de ingreep",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/f9a52559d741409f9a14fc98d5f6c638"
    },
    {
      "contentItemContentText": "<ul>\n<li>Het is normaal dat de penis dikker en blauw is na de behandeling.</li>\n<li>U kunt paracetamol nemen tegen de pijn. Neem 2 pillen van 500 mg per keer. Doe dat maximaal 4 keer per dag.</li>\n<li>Houd er rekening mee dat u 1 tot 2 dagen niet kunt werken.</li>\n<li>U mag gewoon douchen. De wond mag kort nat worden. Na een week mag u ook weer zwemmen of in bad.</li>\n<li>Soms helpt het om vaseline op de eikel te smeren als het dragen van kleding te gevoelig is.</li>\n<li>Na ongeveer 2 weken mag u weer sporten.</li>\n<li>Draag ongeveer 2 weken een strakke onderbroek of strakke zwembroek (geen wijde boxershorts).</li>\n<li>U kunt weer seks hebben als de wond helemaal genezen is. Dit is meestal na ongeveer een maand.</li>\n</ul>",
      "contentItemTitle": "Adviezen voor thuis",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/828ba30060b141e2bec34917627884d1"
    },
    {
      "contentItemContentText": "<p>Iedere ingreep heeft risico’s. Bel meteen met de afdeling Urologie als u 1 of meer van deze klachten heeft:</p>\n<ul>\n<li>meer dan 38,5 graden koorts</li>\n<li>een forse bloeduitstorting</li>\n<li>de wond blijft bloeden</li>\n<li>de pijn wordt erger en de penis wordt dikker</li>\n<li>er komt pus uit de wond: dikke en geelachtig vloeistof</li>\n</ul>",
      "contentItemTitle": "Wanneer moet u ons bellen? ",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/5e32eca67eb9463cb556e12dfaadc4c9"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dd1542e006a9482c8baeb53df8127580"
      },
      {
        "contentUdi": "umb://element/3d1a59abdfed4f4891ba3fc2f0499358"
      },
      {
        "contentUdi": "umb://element/f10150ff6801413186470e19128ecc2d"
      },
      {
        "contentUdi": "umb://element/8fde7703f083460da2e6113f92b3f91d"
      },
      {
        "contentUdi": "umb://element/73e0724eb60543fc82c9da2eda3d1b30"
      },
      {
        "contentUdi": "umb://element/15d666c9149945c7b74e4c0de80715f3"
      },
      {
        "contentUdi": "umb://element/f29fbfb8a8db4671b64308fab97331d9"
      },
      {
        "contentUdi": "umb://element/05dd6998752f4853a128c7800e1439f7"
      },
      {
        "contentUdi": "umb://element/74555dbf40ea4ff48e590f798bddb18e"
      }
    ]
  },
  "contentData": [
    {
      "contentItemContentText": "<p>Een besnijdenis kan nodig zijn als de voorhuid te strak is. De voorhuid kan dan niet meer over de eikel schuiven. Een strakke voorhuid kan problemen geven bij het plassen. Ook kan het pijn doen als de penis stijf is of bij het vrijen.</p>",
      "contentItemTitle": "Over de besnijdenis",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/dd1542e006a9482c8baeb53df8127580"
    },
    {
      "contentItemTitle": "Zo bereidt u zich voor",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/3d1a59abdfed4f4891ba3fc2f0499358"
    },
    {
      "contentTypeKey": "994abfd3-cf12-4ff2-b4d5-9e0ebc3311c0",
      "editorialContent": "umb://document/abda47debe7a4532b531e1a8ee31ee4f",
      "udi": "umb://element/f10150ff6801413186470e19128ecc2d"
    },
    {
      "contentItemContentText": "<h3 class=\"Kop2zondernummering\">Andere voorbereidingen</h3>\n<ul>\n<li>Neem een strakke onderbroek of strakke zwembroek mee naar het ziekenhuis.</li>\n<li>Neem een uur voor de behandeling 2 tabletten paracetamol 500 mg. Dit vermindert de eventuele pijn na de ingreep.</li>\n</ul>\n<p>U mag gewoon eten en drinken.</p>",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/8fde7703f083460da2e6113f92b3f91d"
    },
    {
      "contentItemContentText": "<p>De besnijdenis duur ongeveer 1 uur.</p>",
      "contentItemTitle": "Zo gaat de ingreep",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/73e0724eb60543fc82c9da2eda3d1b30"
    },
    {
      "contentItemContentText": "<p><img src=\"?width=303&amp;height=293\" alt=\"Diagram van besnijdenis\" width=\"303\" height=\"293\" data-udi=\"umb://media/99fc987b8897410c95d3bc978ed85b36\" /></p>",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/15d666c9149945c7b74e4c0de80715f3"
    },
    {
      "contentItemContentText": "<ul>\n<li>De eerste dagen na de besnijdenis is de eikel vaak gevoelig, rood en dik. Dit is normaal en stopt meestal binnen 1 week.</li>\n<li>De ochtend na de besnijdenis mag het verband eraf. U spoelt de wond af en droogt de penis voorzichtig met een schone handdoek. Hierna hoeft er geen verband meer omheen. <br />Het kan wel prettig zijn om de eikel met verband te beschermen. Zo beschermt u eventueel uw kleding als er nog wat vocht of bloed uit de wond komt.</li>\n<li>De eerste dagen na de besnijdenis kunt u een branderig gevoel hebben bij het plassen. Dit komt doordat er op de plaats van de hechtingen korstjes ontstaan. Als u doorplast verdwijnt de pijn meestal.</li>\n<li>Het beste kunt u de penis omhoog leggen in de richting van uw navel. Dit vermindert de zwelling.</li>\n</ul>",
      "contentItemTitle": "Na de ingreep",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/f29fbfb8a8db4671b64308fab97331d9"
    },
    {
      "contentItemContentText": "<ul>\n<li>Het is normaal dat de penis dikker en blauw is na de behandeling.</li>\n<li>U kunt paracetamol nemen tegen de pijn. Neem 2 pillen van 500 mg per keer. Doe dat maximaal 4 keer per dag.</li>\n<li>Houd er rekening mee dat u 1 tot 2 dagen niet kunt werken.</li>\n<li>U mag gewoon douchen. De wond mag kort nat worden. Na een week mag u ook weer zwemmen of in bad.</li>\n<li>Soms helpt het om vaseline op de eikel te smeren als het dragen van kleding te gevoelig is.</li>\n<li>Na ongeveer 2 weken mag u weer sporten.</li>\n<li>Draag ongeveer 2 weken een strakke onderbroek of strakke zwembroek (geen wijde boxershorts).</li>\n<li>U kunt weer seks hebben als de wond helemaal genezen is. Dit is meestal na ongeveer een maand.</li>\n</ul>",
      "contentItemTitle": "Adviezen voor thuis",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/05dd6998752f4853a128c7800e1439f7"
    },
    {
      "contentItemContentText": "<p>Iedere ingreep heeft risico’s. Bel meteen met de afdeling Urologie als u 1 of meer van deze klachten heeft:</p>\n<ul>\n<li>meer dan 38,5 graden koorts</li>\n<li>een forse bloeduitstorting</li>\n<li>de wond blijft bloeden</li>\n<li>de pijn wordt erger en de penis wordt dikker</li>\n<li>er komt pus uit de wond: dikke en geelachtig vloeistof</li>\n</ul>",
      "contentItemTitle": "Wanneer moet u ons bellen? ",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/74555dbf40ea4ff48e590f798bddb18e"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Behandelingen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[<p>Heeft u na het lezen van deze informatie nog vragen? Stel uw vraag aan de polikliniek via <a href="https://www.mijnolvg.nl/MyChart-PRD/Authentication/Login">MijnOLVG</a> of per e-mail. Op werkdagen kunt u ook bellen.</p>
<p><strong>Polikliniek Urologie, locatie Oost, P3<br /></strong>020 510 86 94 (op werkdagen van 08.15 tot 16.15 uur)<br /><a href="mailto:urologie@olvg.nl">urologie@olvg.nl</a></p>
<p><strong>Polikliniek Urologie, locatie West, route 16<br /></strong>020 510 86 94 (op werkdagen van 08.15 tot 16.15 uur)<br /><a href="mailto:urologie@olvg.nl">urologie@olvg.nl</a> </p>
<p>Als de afdeling Urologie niet bereikbaar is, belt u met klachten die <strong>echt niet kunnen wachten</strong> naar de Spoedeisende Hulp via het algemene telefoonnummer van OLVG.</p>
<p><strong>OLVG, locatie Oost<br /></strong>020 599 91 11</p>
<p><strong>OLVG, locatie West<br /></strong>020 510 89 11</p>
<p><strong>Is de situatie levensbedreigend, bel dan 112.</strong></p>]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[Contact]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>circumcisie</p>]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Besnijdenis weergave titel]]></Value>
    </title>
  </Properties>
</Content>