<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbfdb501-356d-4d22-a553-5f415371df4e" Alias="Cardiac Care Unit (CCU)" Level="5">
  <Info>
    <Parent Key="617e9701-57e2-4cf0-898f-6a6fcf89733d">Locatie</Parent>
    <Path>/Website/Pages/Home/Locatie/CardiacCareUnitCCU</Path>
    <Trashed>false</Trashed>
    <ContentType>location</ContentType>
    <CreateDate>2022-06-07T13:06:36</CreateDate>
    <NodeName Default="Cardiac Care Unit (CCU)">
      <Name Culture="nl-nl">Cardiac Care Unit (CCU)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customRoutes>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b2fae5ca75d24366b222c211e57ea5df"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8c6f268c-2018-41b5-aafe-030358769544",
      "customRouteItemDescription": "<p><img src=\"?width=500&amp;height=261.35488837567357\" alt=\"\" width=\"500\" height=\"261.35488837567357\" data-udi=\"umb://media/7e45cdd0088b401abd811907d8a5bccb\" /></p>\n<p><img src=\"?width=500&amp;height=261.35488837567357\" alt=\"\" width=\"500\" height=\"261.35488837567357\" data-udi=\"umb://media/fe2a408403ff4447988d46d54e903df7\" /></p>",
      "customRouteItemName": "Oost, C3",
      "customRouteItemTitle": "Naar de verpleegafdeling",
      "udi": "umb://element/b2fae5ca75d24366b222c211e57ea5df"
    }
  ],
  "settingsData": []
}]]></Value>
    </customRoutes>
    <customRoutesBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6ccd2e6515a543c8a625019634e701b6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8c6f268c-2018-41b5-aafe-030358769544",
      "customRouteItemDescription": "<p><img src=\"?width=500&amp;height=261.35488837567357\" alt=\"\" width=\"500\" height=\"261.35488837567357\" data-udi=\"umb://media/7e45cdd0088b401abd811907d8a5bccb\" /></p>\n<p><img src=\"?width=500&amp;height=261.35488837567357\" alt=\"\" width=\"500\" height=\"261.35488837567357\" data-udi=\"umb://media/fe2a408403ff4447988d46d54e903df7\" /></p>",
      "customRouteItemName": "Oost, C3",
      "customRouteItemTitle": "Naar de verpleegafdeling",
      "udi": "umb://element/6ccd2e6515a543c8a625019634e701b6"
    }
  ],
  "settingsData": []
}]]></Value>
    </customRoutesBL>
    <departments>
      <Value><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0,umb://document/17b7619813264346ba671780c06f5ae7]]></Value>
    </departments>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
    </headDepartment>
    <hideSubtitle>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideSubtitle>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <locationAddress>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationAddress>
    <locationConsultationTime>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationConsultationTime>
    <locationContentBlock>
      <Value Culture="nl-nl"><![CDATA[<p>U komt op onze Cardiac Care Unit (CCU), ook wel Hartbewaking genoemd, terecht als u acute hartproblemen heeft.  Op de CCU liggen patiënten met complexe cardiale aandoeningen. Op de CCU krijgt u intensieve bewaking van uw hart. Dit betekent dat u aan de monitor ligt en dat een specialistisch verpleegkundige uw hartritme en vitale functies (ademhaling, bloedcirculatie en bewustzijn) 24 uur per dag controleert. Ook krijgt u de nodige onderzoeken en wordt er gestart met medicatie en/of wordt uw medicatie aangepast. In eerste instantie kunt u door de intensieve bewaking uw bed of kamer niet verlaten.</p>
<p> </p>
<p>Dit is een opsomming:</p>
<ul>
<li>regel 1</li>
<li>regel 2</li>
<li>regel 3</li>
</ul>
<p>Hier nog wat tekst</p>]]></Value>
    </locationContentBlock>
    <locationEmail>
      <Value><![CDATA[]]></Value>
    </locationEmail>
    <locationInfo>
      <Value Culture="nl-nl"><![CDATA[<p>Dit is locatie info met een button</p>
<p><span class="big-button-red"><a href="#" data-anchor="#">test</a></span></p>]]></Value>
    </locationInfo>
    <locationInfoTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationInfoTitle>
    <locationName>
      <Value Culture="nl-nl"><![CDATA[Polikliniek AA]]></Value>
    </locationName>
    <locationPhone>
      <Value Culture="nl-nl"><![CDATA[020 599 23 05]]></Value>
    </locationPhone>
    <locationPhoto>
      <Value><![CDATA[[
  {
    "key": "2d6e74b5-dcce-4de5-8573-93fe00fd26fd",
    "mediaKey": "54595fb3-aecd-4f93-ae9c-380b0a0c89bd"
  }
]]]></Value>
    </locationPhoto>
    <locationRouteTitle>
      <Value Culture="nl-nl"><![CDATA[Oost, C3]]></Value>
    </locationRouteTitle>
    <locationTitle>
      <Value Culture="nl-nl"><![CDATA[OLVG, locatie Oost, Oosterpark 9]]></Value>
    </locationTitle>
    <locationType>
      <Value><![CDATA[Verpleegafdelingen]]></Value>
    </locationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <routes>
      <Value><![CDATA[umb://document/62af9c417cd84ef4a9947af318bf0582]]></Value>
    </routes>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Cardiac Care Unit (CCU)]]></Value>
    </title>
  </Properties>
</Content>