<?xml version="1.0" encoding="utf-8"?>
<Content Key="615ad5b2-db7e-4d6d-9b9a-4359cf7da1e5" Alias="De katheter is verstopt" Level="4">
  <Info>
    <Parent Key="eec8b459-b84b-4660-a4dd-98c2cecd19e2">Veelgestelde vragen</Parent>
    <Path>/Website/SharedContent/VeelgesteldeVragen/DeKatheterIsVerstopt</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2022-07-04T08:49:02</CreateDate>
    <NodeName Default="De katheter is verstopt">
      <Name Culture="nl-nl">De katheter is verstopt</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<p>Controleer het materiaal:</p>
<ul>
<li>Zorg dat er geen knik in de blaaskatheter of slang van de opvangzak zit.</li>
<li>Zorg dat er geen spanning staat op de katheter. Bijvoorbeeld door knellende kleding.</li>
<li>Zorg dat de opvangzak goed lager hangt dan de blaas</li>
</ul>
<p>Controleer nu of de urine goed wordt opgevangen in de opvangzak.</p>
<ul>
<li>Leeg de opvangzak.</li>
<li>Controleer een uur later of er nieuwe urine in de opvangzak zit.</li>
</ul>
<p>Blijft de katheter verstopt? <strong>Bel dan dezelfde dag met OLVG</strong></p>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[De katheter is verstopt]]></Value>
    </question>
  </Properties>
</Content>