<?xml version="1.0" encoding="utf-8"?>
<Content Key="b85026d3-d1c2-4352-8e7a-fa91948503cd" Alias="Diaboss 404" Level="4">
  <Info>
    <Parent Key="28a44b42-75dd-41ad-895d-56e31aa6c0d9">Homepage</Parent>
    <Path>/Diaboss/Pages/Homepage/Diaboss404</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNotFound</ContentType>
    <CreateDate>2023-08-16T12:11:29</CreateDate>
    <NodeName Default="Diaboss 404">
      <Name Culture="en-us">Page not found</Name>
      <Name Culture="nl-nl">Diaboss 404</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <abstractText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Page not found text diaboss</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </abstractText>
    <abstractTitle>
      <Value Culture="en-us"><![CDATA[Page not found]]></Value>
      <Value Culture="nl-nl"><![CDATA[Pagina niet gevonden - Diaboss]]></Value>
    </abstractTitle>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
  </Properties>
</Content>