<?xml version="1.0" encoding="utf-8"?>
<Content Key="aeddf1a1-c989-4824-99b9-02af6a1cb9c5" Alias="Downloads" Level="4">
  <Info>
    <Parent Key="e1e3a1d5-a904-4248-871a-198b9dc12199">Homepage</Parent>
    <Path>/Echocardiografie/Pages/Homepage/Downloads</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-07-05T15:54:48</CreateDate>
    <NodeName Default="Downloads">
      <Name Culture="nl-nl">Downloads</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f41398c251ca41dcb429002f6cdc994d"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Dit is een test</p>",
      "overwriteWarningIconIcon": [
        {
          "key": "6211a2b0-a082-4a9c-8d79-a2959f4ac8c3",
          "mediaKey": "b2c53405-ea2b-41d5-aff1-a2723c332883"
        }
      ],
      "udi": "umb://element/f41398c251ca41dcb429002f6cdc994d"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/237d56e813254a98867780c836d58b1a"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Dit is een test</p>",
      "overwriteWarningIconIcon": [
        {
          "key": "6211a2b0-a082-4a9c-8d79-a2959f4ac8c3",
          "mediaKey": "b2c53405-ea2b-41d5-aff1-a2723c332883"
        }
      ],
      "udi": "umb://element/237d56e813254a98867780c836d58b1a"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Downloads]]></Value>
    </title>
  </Properties>
</Content>