<?xml version="1.0" encoding="utf-8"?>
<Content Key="beb8cf52-3c46-4f6f-b580-3cae163fc106" Alias="Dr. Y. Krul-Poel neemt tijdelijk de spreekuren over van dr. Brouwer" Level="5">
  <Info>
    <Parent Key="878fd55b-e8dc-434b-b043-8a47eecbfbac">Nieuws</Parent>
    <Path>/Ushamwari/Pages/Homepage/Nieuws/DrYKrulPoelNeemtTijdelijkDeSpreekurenOverVanDrBrouwer</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticleSubsite</ContentType>
    <CreateDate>2023-07-19T09:30:48</CreateDate>
    <NodeName Default="Dr. Y. Krul-Poel neemt tijdelijk de spreekuren over van dr. Brouwer">
      <Name Culture="nl-nl">Dr. Y. Krul-Poel neemt tijdelijk de spreekuren over van dr. Brouwer</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="false">
      <Published Culture="nl-nl">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cardImage>
      <Value><![CDATA[umb://media/18b223f115704b12b740dabee70cbbaa]]></Value>
    </cardImage>
    <content>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2022-12-27T00:00:00]]></Value>
    </date>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p>Vanwege andere werkzaamheden van dr. Brouwer, neemt internist-endocrinoloog Y. Krul-Poel de spreekuren tijdelijk over. Dit zal in ieder geval nog tot juli 2023 zijn. We wensen haar welkom en succes bij Diaboss!</p>]]></Value>
    </introductionText>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "4eec6aab-74a9-4c52-9c36-80a0f6d06e76",
    "mediaKey": "18b223f1-1570-4b12-b740-dabee70cbbaa"
  }
]]]></Value>
    </newsImage>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <title>
      <Value Culture="nl-nl"><![CDATA[Dr. Y. Krul-Poel neemt tijdelijk de spreekuren over van dr. Brouwer]]></Value>
    </title>
  </Properties>
</Content>