<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd5a32d9-20e8-4d27-bf29-5c5763b8b282" Alias="dummy zorgverlener" Level="5">
  <Info>
    <Parent Key="a206e797-7e52-417f-8aa0-a59308fb9300">Zorgverlener</Parent>
    <Path>/Website/Pages/Home/Zorgverlener/dummyZorgverlener</Path>
    <Trashed>false</Trashed>
    <ContentType>healthProfessional</ContentType>
    <CreateDate>2022-07-11T12:20:17</CreateDate>
    <NodeName Default="dummy zorgverlener">
      <Name Culture="nl-nl">dummy zorgverlener</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <additionalFunctions>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </additionalFunctions>
    <bigNumber>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </bigNumber>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <designation>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </designation>
    <employeeNumber>
      <Value Culture="nl-nl"><![CDATA[123456800]]></Value>
    </employeeNumber>
    <firstName>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </firstName>
    <focusAreas>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </focusAreas>
    <function>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </function>
    <image>
      <Value Culture="nl-nl"><![CDATA[[]]]></Value>
    </image>
    <initials>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </initials>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introduction>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Dit is een full RTE met <strong>bold</strong>, <em>schuingedrukt</em>, onderstreept</p>\n<p><a href=\"https://www.werkenbijolvg.nl\">linkje</a></p>\n<p><span class=\"big-button-red\"><a href=\"https://www.werkenbijolvg.nl\">Button</a></span></p>\n<p class=\"intro\">Introtekst Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introduction>
    <languages>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </languages>
    <lastName>
      <Value Culture="nl-nl"><![CDATA[BA]]></Value>
    </lastName>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <nameAffix>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </nameAffix>
    <olvgSince>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </olvgSince>
    <phoneNumber>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </phoneNumber>
    <promotion>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </promotion>
    <pubmedLink>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pubmedLink>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <specialistSince>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </specialistSince>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[dummyzorgverlener BA]]></Value>
    </title>
    <training>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </training>
    <workExperience>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </workExperience>
  </Properties>
</Content>