<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f7934c7-2813-4864-b8dd-e9515a713c5d" Alias="Engelse test" Level="4">
  <Info>
    <Parent Key="e1e3a1d5-a904-4248-871a-198b9dc12199">Homepage</Parent>
    <Path>/Echocardiografie/Pages/Homepage/EngelseTest</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-07-11T13:07:05</CreateDate>
    <NodeName Default="Engelse test">
      <Name Culture="en-us">Engelse test</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Engelse]]></Value>
    </title>
  </Properties>
</Content>