<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ed85717-4c7d-4e8f-8bc6-47868052311d" Alias="Expertisecentrum Toxicologie" Level="5">
  <Info>
    <Parent Key="e6dc5fa5-2fad-45e5-96e8-61689168277e">Afdelingen</Parent>
    <Path>/Website/Pages/Home/Afdelingen/ExpertisecentrumToxicologie</Path>
    <Trashed>false</Trashed>
    <ContentType>department</ContentType>
    <CreateDate>2023-05-03T14:57:32</CreateDate>
    <NodeName Default="Expertisecentrum Toxicologie">
      <Name Culture="nl-nl">Expertisecentrum Toxicologie</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactLink>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </contactLink>
    <contactsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </contactsTitle>
    <departmentContacts>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e7ac4e4687e24e03a9a0367a1c99f2c9"
      },
      {
        "contentUdi": "umb://element/142e121c596144399ebdd8b25e804f0f"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<p>020 599 91 11</p>",
      "abstractTitle": "Locatie Oost",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/e7ac4e4687e24e03a9a0367a1c99f2c9"
    },
    {
      "abstractText": "<p>020 510 89 11</p>",
      "abstractTitle": "Locatie West",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/142e121c596144399ebdd8b25e804f0f"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContacts>
    <departmentContactsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c7bd9262d0b14a5f8e18ded518f85a35"
      },
      {
        "contentUdi": "umb://element/54ad1a69a1fb4e34bc3b16746947c911"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<p>020 599 91 11</p>",
      "abstractTitle": "Locatie Oost",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/c7bd9262d0b14a5f8e18ded518f85a35"
    },
    {
      "abstractText": "<p>020 510 89 11</p>",
      "abstractTitle": "Locatie West",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/54ad1a69a1fb4e34bc3b16746947c911"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContactsBL>
    <departmentErvaringsverhaal>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentErvaringsverhaal>
    <departmentFacts>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFacts>
    <departmentFactsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFactsBL>
    <departmentImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "e28751cf-70fb-446b-9c69-1c6dc5e49a1d",
    "mediaKey": "f1338c6a-4622-439a-95eb-4508fbcea09f"
  }
]]]></Value>
    </departmentImage>
    <faq>
      <Value Culture="nl-nl"><![CDATA[umb://document/cb746a07a7ef413fb0e9a326d2b29b73]]></Value>
    </faq>
    <healthcareProfessionals>
      <Value Culture="nl-nl"><![CDATA[umb://document/cef3bd68d4ab48a0aff177b848806f07]]></Value>
    </healthcareProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionExtraContentBlock>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionExtraContentBlock>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p>Het Expertisecentrum Toxicologie is hét verwijscentrum voor alle patiënten met een vergiftiging in de regio Groot-Amsterdam. Jaarlijks heeft OLVG te maken met duizenden patiënten met een vergiftiging. Een ander woord voor vergiftiging is intoxicatie.</p>]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[<p>Een vergiftiging kan ontstaan door bijvoorbeeld het gebruik van drugs, alcohol of (verkeerde) medicijnen. Dankzij de kennis op het gebied van vergiftiging, verslaving, onthouding en lichamelijke klachten als gevolg van middelengebruik, kunnen we elke patiënt de beste kwaliteit van zorg bieden. Daarnaast is er in OLVG bijzondere aandacht voor opleiding, wetenschap en onze maatschappelijke rol binnen de toxicologie.</p>
<h3>Samenwerking</h3>
<p>Het Expertisecentrum Toxicologie is erkend door <a rel="noopener noreferrer" href="http://www.stz.nl/">Stichting Topklinische Ziekenhuizen (STZ)</a><u>.</u> Om patiënten integrale zorg te bieden, werken we samen met huisartsen, ambulancediensten en GGZ. Ook wisselen we kennis en ervaring uit met GGD Amsterdam, het Trimbos-instituut, het Nederlands Forensisch Instituut, het Nationaal Vergiftigingen Informatie Centrum en Amsterdam UMC.</p>]]></Value>
    </introductionTextExpandable>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <photobook>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </photobook>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>hulp voor patiënten met een vergiftiging</p>]]></Value>
    </subtitle>
    <synonyms>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonyms>
    <synonymsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonymsBL>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Expertisecentrum Toxicologie]]></Value>
    </title>
    <videoComponentLink>
      <Value><![CDATA[]]></Value>
    </videoComponentLink>
    <videoComponentTitleItem>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </videoComponentTitleItem>
  </Properties>
</Content>