<?xml version="1.0" encoding="utf-8"?>
<Content Key="26fa4448-99ec-4231-b103-81021f4eb7f2" Alias="Footer" Level="3">
  <Info>
    <Parent Key="90fcfb58-55a1-4707-8158-74d41248f469">Shared Content Echocardiografie</Parent>
    <Path>/Echocardiografie/SharedContentEchocardiografie/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2023-07-05T08:59:57</CreateDate>
    <NodeName Default="Footer">
      <Name Culture="nl-nl">Footer</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <facebook>
      <Value><![CDATA[[
  {
    "name": "https://www.facebook.com/olvgamsterdam/",
    "url": "https://www.facebook.com/olvgamsterdam/"
  }
]]]></Value>
    </facebook>
    <footerMenu>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Downloads",
    "udi": "umb://document/aeddf1a1c989482499b902af6a1cb9c5"
  },
  {
    "name": "About",
    "udi": "umb://document/4bcf2618febc4e75b85267f8eef859ef"
  },
  {
    "name": "Contact",
    "udi": "umb://document/d54ff76c153549e3851fd131ee9046f9"
  },
  {
    "name": "Echopedia",
    "url": "http://echopedia.org/"
  },
  {
    "name": "Specklepedia",
    "url": "http://specklepedia.com/"
  },
  {
    "name": "Echo Cardio Experts",
    "url": "https://www.echocardioexperts.nl/"
  }
]]]></Value>
    </footerMenu>
    <footerTitle>
      <Value Culture="nl-nl"><![CDATA[Echocardiografie]]></Value>
    </footerTitle>
    <instagram>
      <Value><![CDATA[]]></Value>
    </instagram>
    <labelEditorAndEdition>
      <Value Culture="nl-nl"><![CDATA[Redactie en uitgave: ]]></Value>
    </labelEditorAndEdition>
    <linkedIn>
      <Value><![CDATA[[
  {
    "name": "https://nl.linkedin.com/in/jochem-landzaat-7490a810a/",
    "url": "https://nl.linkedin.com/in/jochem-landzaat-7490a810a/"
  }
]]]></Value>
    </linkedIn>
    <printText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </printText>
    <serviceMenu>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Sitemap",
    "url": "#"
  },
  {
    "name": "Disclaimer",
    "url": "#"
  }
]]]></Value>
    </serviceMenu>
    <textBlocks>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f58b0a32ee51438bb5ac09c9c8d6f802"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b82f5cb4-6576-4045-8b07-87cb704ecc95",
      "text": "<p>Dit is een tekst in de footer.</p>",
      "udi": "umb://element/f58b0a32ee51438bb5ac09c9c8d6f802"
    }
  ],
  "settingsData": []
}]]></Value>
    </textBlocks>
    <textBlocksBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/27239e1f37fc45419d19535b17e51c44"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b82f5cb4-6576-4045-8b07-87cb704ecc95",
      "text": "<p>Dit is een tekst in de footer.</p>",
      "udi": "umb://element/27239e1f37fc45419d19535b17e51c44"
    }
  ],
  "settingsData": []
}]]></Value>
    </textBlocksBL>
    <twitter>
      <Value><![CDATA[[
  {
    "name": "https://twitter.com/olvg",
    "url": "https://twitter.com/olvg"
  }
]]]></Value>
    </twitter>
  </Properties>
</Content>