<?xml version="1.0" encoding="utf-8"?>
<Content Key="06c2b05f-86cf-4297-8323-58fc7c36e0ea" Alias="Footer" Level="3">
  <Info>
    <Parent Key="e987d7c9-217a-488e-9f92-e88efb48337e">Shared Content Diaboss</Parent>
    <Path>/Diaboss/SharedContentDiaboss/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2023-07-06T08:01:25</CreateDate>
    <NodeName Default="Footer">
      <Name Culture="en-us">Footer</Name>
      <Name Culture="nl-nl">Footer</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <facebook>
      <Value><![CDATA[]]></Value>
    </facebook>
    <footerMenu>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Hoe lees ik mijn pomp, sensor of bloedglucosemeter uit?",
    "udi": "umb://document/c789484a434247d485a6bce436ee6dd3"
  },
  {
    "name": "Nieuws",
    "udi": "umb://document/99e8b1f62c424decb70e0d4c6649792a"
  },
  {
    "name": "Informatie voor verwijzers",
    "udi": "umb://document/20a5f1725bbd4641975c91acb3cc49f0"
  },
  {
    "name": "Contact",
    "udi": "umb://document/e0c85fbe8b114f6c9fdb543c3f28432d"
  }
]]]></Value>
    </footerMenu>
    <footerTitle>
      <Value Culture="en-us"><![CDATA[Footer diaboss]]></Value>
      <Value Culture="nl-nl"><![CDATA[Diaboss]]></Value>
    </footerTitle>
    <instagram>
      <Value><![CDATA[]]></Value>
    </instagram>
    <labelEditorAndEdition>
      <Value Culture="en-us"><![CDATA[Editorial and publishing]]></Value>
      <Value Culture="nl-nl"><![CDATA[Redactie en uitgave:]]></Value>
    </labelEditorAndEdition>
    <linkedIn>
      <Value><![CDATA[]]></Value>
    </linkedIn>
    <printText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </printText>
    <serviceMenu>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Sitemap",
    "udi": "umb://document/27cd9cda7c2449179272c00eff23b786",
    "queryString": "#"
  },
  {
    "name": "Disclaimer",
    "udi": "umb://document/f7765e998d414f55bc3a422e5c11329b",
    "queryString": "#"
  }
]]]></Value>
    </serviceMenu>
    <textBlocks>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8dafcad6d76448d098da96bf1a29a27a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b82f5cb4-6576-4045-8b07-87cb704ecc95",
      "text": {
        "markup": "<p>Diaboss bevindt zich op de tweede etage van OLVG Locatie West, route 22. U kunt (betaald) parkeren op het parkeerterrein van OLVG.</p>\n<p> </p>\n<p>Jan Tooropstraat 164<br />1061 AE Amsterdam</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/8dafcad6d76448d098da96bf1a29a27a"
    }
  ],
  "settingsData": []
}]]></Value>
    </textBlocks>
    <textBlocksBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f48268bfaf448f9b538b100b6768945"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b82f5cb4-6576-4045-8b07-87cb704ecc95",
      "text": {
        "markup": "<p>Diaboss bevindt zich op de tweede etage van OLVG Locatie West, route 22. U kunt (betaald) parkeren op het parkeerterrein van OLVG.</p>\n<p> </p>\n<p>Jan Tooropstraat 164<br />1061 AE Amsterdam</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/5f48268bfaf448f9b538b100b6768945"
    }
  ],
  "settingsData": []
}]]></Value>
    </textBlocksBL>
    <twitter>
      <Value><![CDATA[]]></Value>
    </twitter>
  </Properties>
</Content>