<?xml version="1.0" encoding="utf-8"?>
<Content Key="c55c81fd-7ac3-4c8f-b75a-bd9b67adbf98" Alias="Geen ruggengraat" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/GeenRuggengraat</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-09-08T11:26:48</CreateDate>
    <NodeName Default="Geen ruggengraat">
      <Name Culture="nl-nl">Geen ruggengraat</Name>
    </NodeName>
    <SortOrder>51</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/7bd04deec06c44c7a3b3f9a49808aff2]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9442bd44e45840adaf7ec1fb3b74000f"
      },
      {
        "contentUdi": "umb://element/0332c2f0d22e409caa8166a57ed5d2e0"
      },
      {
        "contentUdi": "umb://element/56f935624dd849778f65ea3db114fbe4"
      }
    ]
  },
  "contentData": [
    {
      "backgroundColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 0,
        "id": "1"
      },
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "015cf604-2419-4baf-9ce2-9cc65c91293e",
      "medicalInfoPhotobook": "umb://document/d5f2777a13c2435987ff189c13fce7ea,umb://document/61098a05877f4c7eaff712c9af45a301",
      "photoBookTitle": "Fotoboek element",
      "udi": "umb://element/9442bd44e45840adaf7ec1fb3b74000f"
    },
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1bb477ec0d954af796ec4998f32952b1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "283ef2ef-4006-4d6d-96aa-8f76a0cb4a52",
            "medicalInfoPhotobook": "umb://document/d5f2777a13c2435987ff189c13fce7ea,umb://document/61098a05877f4c7eaff712c9af45a301",
            "udi": "umb://element/1bb477ec0d954af796ec4998f32952b1"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Content sectie",
      "udi": "umb://element/0332c2f0d22e409caa8166a57ed5d2e0"
    },
    {
      "contentTypeKey": "2c97ced3-f8c3-46f8-ab81-cbcf0f4da593",
      "formHasMaxSubmits": "0",
      "formulier": "b055c86d-559d-4578-a346-2dc41eb82c47",
      "introductionExpanded": {
        "markup": "<p>lalalalala</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "introductionText": {
        "markup": "<p>intro tekst</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/56f935624dd849778f65ea3db114fbe4"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4fffb9a62dba4a95b91f99f71703d8ea"
      },
      {
        "contentUdi": "umb://element/1976d42690e74b959ca76685f329f62f"
      },
      {
        "contentUdi": "umb://element/aa0519c9353946fba9a5d360d1cede06"
      }
    ]
  },
  "contentData": [
    {
      "backgroundColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 0,
        "id": "1"
      },
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "015cf604-2419-4baf-9ce2-9cc65c91293e",
      "medicalInfoPhotobook": "umb://document/d5f2777a13c2435987ff189c13fce7ea,umb://document/61098a05877f4c7eaff712c9af45a301",
      "photoBookTitle": "Fotoboek element",
      "udi": "umb://element/4fffb9a62dba4a95b91f99f71703d8ea"
    },
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/50ea4358cae140099321098b9f984862"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "283ef2ef-4006-4d6d-96aa-8f76a0cb4a52",
            "medicalInfoPhotobook": "umb://document/d5f2777a13c2435987ff189c13fce7ea,umb://document/61098a05877f4c7eaff712c9af45a301",
            "udi": "umb://element/50ea4358cae140099321098b9f984862"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Content sectie",
      "udi": "umb://element/1976d42690e74b959ca76685f329f62f"
    },
    {
      "contentTypeKey": "2c97ced3-f8c3-46f8-ab81-cbcf0f4da593",
      "formHasMaxSubmits": "0",
      "formulier": "b055c86d-559d-4578-a346-2dc41eb82c47",
      "introductionExpanded": {
        "markup": "<p>lalalalala</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "introductionText": {
        "markup": "<p>intro tekst</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/aa0519c9353946fba9a5d360d1cede06"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Aandoeningen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Heeft u verder nog vragen? Neem dan contact op met het <a href=\"/{localLink:umb://document/7bd04deec06c44c7a3b3f9a49808aff2}\" title=\"Testafdeling voor overzicht\">ruggencentrum</a> in Oost.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Heeft u last van een zwak karakter?</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Geen ruggengraat hebben... wat nu?]]></Value>
    </title>
  </Properties>
</Content>