<?xml version="1.0" encoding="utf-8"?>
<Content Key="28a44b42-75dd-41ad-895d-56e31aa6c0d9" Alias="Homepage" Level="3">
  <Info>
    <Parent Key="da4e94bb-c21f-4da1-81f3-810449886093">Pages</Parent>
    <Path>/Diaboss/Pages/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>homepageSubsite</ContentType>
    <CreateDate>2023-07-05T15:33:12</CreateDate>
    <NodeName Default="Homepage">
      <Name Culture="en-us">Home</Name>
      <Name Culture="nl-nl">Homepage</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <activationBlockImage>
      <Value><![CDATA[umb://media/98a10dabfd6a4a129af8667655138ac4]]></Value>
    </activationBlockImage>
    <activationBlockLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Uitlezen van pomp sensor glucosemeter",
    "udi": "umb://document/c789484a434247d485a6bce436ee6dd3"
  }
]]]></Value>
    </activationBlockLink>
    <activationBlockText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p><span class=\"big-button-red\"><a href=\"/{localLink:umb://document/c789484a434247d485a6bce436ee6dd3}\" title=\"Uitlezen van pomp sensor glucosemeter\">lees hier meer</a></span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </activationBlockText>
    <activationBlockTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Hoe lees ik mijn pomp, sensor of bloedglucosemeter uit?]]></Value>
    </activationBlockTitle>
    <heroButton>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "testknop",
    "udi": "umb://document/55c118e235174454a03cdcc960f6cc45"
  }
]]]></Value>
    </heroButton>
    <heroImage>
      <Value><![CDATA[umb://media/22bb2884b6a34c23a7b47b33b11fa052]]></Value>
    </heroImage>
    <heroText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[tekst in de hero]]></Value>
    </heroText>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <relatedContentPagesNested>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </relatedContentPagesNested>
    <relatedContentPagesNestedBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </relatedContentPagesNestedBL>
    <relatedContentTitle>
      <Value Culture="en-us"><![CDATA[Relevant pages]]></Value>
      <Value Culture="nl-nl"><![CDATA[Relevante pagina's]]></Value>
    </relatedContentTitle>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>je diabetes de baas</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </subtitle>
    <text>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p><span class=\"big-button-red\"><a href=\"/{localLink:umb://document/162cff1242da464bbd3ea917425137f1}\" title=\"Over diabetes\">dit is een knop</a></span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </text>
    <title>
      <Value Culture="en-us"><![CDATA[Diaboss]]></Value>
      <Value Culture="nl-nl"><![CDATA[Diaboss]]></Value>
    </title>
  </Properties>
</Content>