<?xml version="1.0" encoding="utf-8"?>
<Content Key="63e2bbf1-2fd1-40a2-8b74-ef416d37ed2f" Alias="Hyper" Level="5">
  <Info>
    <Parent Key="162cff12-42da-464b-bd3e-a917425137f1">Over diabetes</Parent>
    <Path>/Diaboss/Pages/Homepage/OverDiabetes/Hyper</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-07-06T09:19:42</CreateDate>
    <NodeName Default="Hyper">
      <Name Culture="nl-nl">Hyper</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Hyper]]></Value>
    </title>
  </Properties>
</Content>