<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca183247-e599-4ec2-bab2-ae446a4b54bf" Alias="Hyper" Level="5">
  <Info>
    <Parent Key="8071ae66-494a-4d6c-8b94-de8efccb847f">Over diabetes</Parent>
    <Path>/Ushamwari/Pages/Homepage/OverDiabetes/Hyper</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-07-19T09:30:48</CreateDate>
    <NodeName Default="Hyper">
      <Name Culture="nl-nl">Hyper</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="false">
      <Published Culture="nl-nl">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Hyper]]></Value>
    </title>
  </Properties>
</Content>