<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebbbff07-91ba-4f3b-ae0a-ef4931184eb0" Alias="Ik ben huisarts, schoolarts of andere verwijzer" Level="5">
  <Info>
    <Parent Key="0c0cc737-24ec-462a-9427-f5551ecee5ac">Vermoedt u diabetes?</Parent>
    <Path>/BeroerteAdviescentrum/Pages/Homepage/VermoedtUDiabetes/IkBenHuisartsSchoolartsOfAndereVerwijzer</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-07-14T11:44:25</CreateDate>
    <NodeName Default="Ik ben huisarts, schoolarts of andere verwijzer">
      <Name Culture="nl-nl">Ik ben huisarts, schoolarts of andere verwijzer</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="nl-nl">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Ik ben huisarts, schoolarts of andere verwijzer]]></Value>
    </title>
  </Properties>
</Content>