<?xml version="1.0" encoding="utf-8"?>
<Content Key="a294171a-2313-4ae8-b225-56bfd2aa9fca" Alias="Ik ben huisarts, schoolarts of andere verwijzer" Level="5">
  <Info>
    <Parent Key="55c118e2-3517-4454-a03c-dcc960f6cc45">Vermoedt u diabetes?</Parent>
    <Path>/Diaboss/Pages/Homepage/VermoedtUDiabetes/IkBenHuisartsSchoolartsOfAndereVerwijzer</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-07-06T09:25:56</CreateDate>
    <NodeName Default="Ik ben huisarts, schoolarts of andere verwijzer">
      <Name Culture="nl-nl">Ik ben huisarts, schoolarts of andere verwijzer</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cbe115a01c364d6985663c7ebbcdb862"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Let op: dit is belangrijk.</p>",
      "udi": "umb://element/cbe115a01c364d6985663c7ebbcdb862"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b0c2a572929140479471e781de8fd0ae"
      }
    ]
  },
  "contentData": [
    {
      "backgroundColor": "null",
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Let op: dit is belangrijk.</p>",
      "udi": "umb://element/b0c2a572929140479471e781de8fd0ae"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Ik ben huisarts, schoolarts of andere verwijzer]]></Value>
    </title>
  </Properties>
</Content>