<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc7b1429-3f29-40ce-bcc5-0ed2fac8e132" Alias="Jongeren en ouders voor het Diaboss-panel gezocht!" Level="5">
  <Info>
    <Parent Key="878fd55b-e8dc-434b-b043-8a47eecbfbac">Nieuws</Parent>
    <Path>/Ushamwari/Pages/Homepage/Nieuws/JongerenEnOudersVoorHetDiabossPanelGezocht</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticleSubsite</ContentType>
    <CreateDate>2023-07-19T09:30:48</CreateDate>
    <NodeName Default="Jongeren en ouders voor het Diaboss-panel gezocht!">
      <Name Culture="nl-nl">Jongeren en ouders voor het Diaboss-panel gezocht!</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="nl-nl">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cardImage>
      <Value><![CDATA[umb://media/272fa01e4a444ae79d1d8ed389fc1346]]></Value>
    </cardImage>
    <content>
      <Value Culture="nl-nl"><![CDATA[<p>We zoeken ouders van kinderen met diabetes en jongeren (16+) die willen deelnemen aan het Diaboss-panel.</p>
<h3>Het doel</h3>
<ul>
<li>de mening horen van jongeren met diabetes en ouders/verzorgers over de zorg bij Diaboss</li>
<li>de diabeteszorg verbeteren met hulp van deze jongeren en ouders/verzorgers</li>
</ul>
<h3>Hoe en wat</h3>
<ul>
<li>twee bijeenkomsten per jaar van ongeveer een uur</li>
<li>tussendoor soms contact via de mail of telefonisch</li>
<li>online en/of bij Diaboss</li>
<li>reiskostenvergoeding beschikbaar</li>
</ul>
<p>Aanmelden en vragen via: <a href="mailto:diaboss@olvg.nl">diaboss@olvg.nl</a>. Alvast bedankt namens het Diaboss-team!</p>]]></Value>
    </content>
    <date>
      <Value><![CDATA[2023-01-16T00:00:00]]></Value>
    </date>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p class="intro"><strong>Ben je 16 jaar of ouder en wil je je mening geven over de zorg bij Diaboss? Ziet u waar de diabetesbegeleiding van uw kind nog beter kan? Zou je/u willen helpen met het verbeteren van de diabeteszorg?</strong></p>]]></Value>
    </introductionText>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "ef54b2be-96bb-4eb5-9ee1-7479dcd07c18",
    "mediaKey": "272fa01e-4a44-4ae7-9d1d-8ed389fc1346"
  }
]]]></Value>
    </newsImage>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <title>
      <Value Culture="nl-nl"><![CDATA[Jongeren en ouders voor het Diaboss-panel gezocht!]]></Value>
    </title>
  </Properties>
</Content>