<?xml version="1.0" encoding="utf-8"?>
<Content Key="4573bc2c-c7b9-4612-aac0-57e643d83990" Alias="Leven met diabetes" Level="4">
  <Info>
    <Parent Key="28a44b42-75dd-41ad-895d-56e31aa6c0d9">Homepage</Parent>
    <Path>/Diaboss/Pages/Homepage/LevenMetDiabetes</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspaginaSubsite</ContentType>
    <CreateDate>2023-07-06T08:41:32</CreateDate>
    <NodeName Default="Leven met diabetes">
      <Name Culture="nl-nl">Leven met diabetes</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredItems>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </featuredItemsBL>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <links>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </links>
    <linksBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Leven met diabetes]]></Value>
    </title>
  </Properties>
</Content>