<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b37bcce-373f-46f6-9b8a-ba906603e173" Alias="Medische informatiepagina test Jeanne" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/MedischeInformatiepaginaTestJeanne</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2023-10-25T13:56:28</CreateDate>
    <NodeName Default="Medische informatiepagina test Jeanne">
      <Name Culture="nl-nl">Medische informatiepagina test Jeanne</Name>
    </NodeName>
    <SortOrder>78</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/06513b0ac0204496ac130b538205991b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/f86b587f9f0a4adca1a0f25895d831b0",
      "shortTitle": "Begrijp uw lichaam test",
      "udi": "umb://element/06513b0ac0204496ac130b538205991b"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f4efb049cabe4e4c9917e0159e22c2fe"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/f86b587f9f0a4adca1a0f25895d831b0",
      "shortTitle": "Begrijp uw lichaam test",
      "udi": "umb://element/f4efb049cabe4e4c9917e0159e22c2fe"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/17b7619813264346ba671780c06f5ae7]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/07bd52d004044e988410c69ce07ac188"
      },
      {
        "contentUdi": "umb://element/b09a3a1450474eac913281a55bac098a"
      },
      {
        "contentUdi": "umb://element/8e5665b4ddb5487e8c46dde766d84fc4"
      },
      {
        "contentUdi": "umb://element/c87fc4b2a1a64b35a9f0e7a271351c06"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e2b2160f-95bb-4fe7-95ba-0c1dfbe3044b",
      "image": [
        {
          "key": "aedba480-7a2c-4be3-b3ab-d1ce122cb0a5",
          "mediaKey": "bdc52ac6-0367-4d98-97b0-2fbcf398f564"
        }
      ],
      "text": "<div id=\"content\" class=\"wide no-float\">\n<div id=\"c29640\" class=\"highlight layout-0\">\n<div class=\"container\">\n<div class=\"ce-bodytext\">\n<h3>Samenwerking binnen Santeon</h3>\n<p>We werken met de andere Santeon ziekenhuizen actief samen aan de zorg rondom chronische nierschade. Bekijk de <a rel=\"noopener\" href=\"https://santeon.nl/aandoening/chronische-nierschade-2/?zh=cwz\" target=\"_blank\">infographic chronische nierschade</a> over de zorgresultaten bij CWZ.</p>\n</div>\n</div>\n</div>\n</div>",
      "title": "Samenwerking binnen Santeon",
      "udi": "umb://element/07bd52d004044e988410c69ce07ac188"
    },
    {
      "contentTypeKey": "e2b2160f-95bb-4fe7-95ba-0c1dfbe3044b",
      "image": [
        {
          "key": "7b05fa8a-9aeb-4b2f-b8d1-32239f22de28",
          "mediaKey": "d626e50f-286b-479e-9e67-bc756078ea32"
        }
      ],
      "text": "<h3>Samenwerking binnen Santeon</h3>\n<p>We werken met de andere Santeon ziekenhuizen actief samen aan de zorg rondom chronische nierschade. Bekijk de <a rel=\"noopener\" href=\"https://santeon.nl/aandoening/chronische-nierschade-2/?zh=cwz\" target=\"_blank\">infographic chronische nierschade</a> over de zorgresultaten bij CWZ.</p>",
      "title": "Samenwerking binnen Santeon",
      "udi": "umb://element/b09a3a1450474eac913281a55bac098a"
    },
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentItemContentText": "<p>Bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla </p>\n<h3>Kopje</h3>\n<p>bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla </p>",
      "contentItemTitle": "Titel tekstblok",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/8e5665b4ddb5487e8c46dde766d84fc4"
    },
    {
      "contentTypeKey": "2c97ced3-f8c3-46f8-ab81-cbcf0f4da593",
      "formHasMaxSubmits": "1",
      "formulier": "43e81e42-df26-4a40-a55d-8b0a23cfbee7",
      "introductionText": "<h2>Aanmeldformulier medische informatie</h2>\n<p class=\"intro\">Introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie.</p>",
      "maxSubmissionCountForm": "5",
      "udi": "umb://element/c87fc4b2a1a64b35a9f0e7a271351c06"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2d34ddb22c71483aa5c50e916ceaa5bd"
      },
      {
        "contentUdi": "umb://element/c4277d27e8814cedb210448bc212e269"
      },
      {
        "contentUdi": "umb://element/3a92f12bc1ba422b88ec091887d8a6ef"
      },
      {
        "contentUdi": "umb://element/96df2f0c7703420da3652f24dcf562d9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e2b2160f-95bb-4fe7-95ba-0c1dfbe3044b",
      "image": [
        {
          "key": "aedba480-7a2c-4be3-b3ab-d1ce122cb0a5",
          "mediaKey": "bdc52ac6-0367-4d98-97b0-2fbcf398f564"
        }
      ],
      "text": "<div id=\"content\" class=\"wide no-float\">\n<div id=\"c29640\" class=\"highlight layout-0\">\n<div class=\"container\">\n<div class=\"ce-bodytext\">\n<h3>Samenwerking binnen Santeon</h3>\n<p>We werken met de andere Santeon ziekenhuizen actief samen aan de zorg rondom chronische nierschade. Bekijk de <a rel=\"noopener\" href=\"https://santeon.nl/aandoening/chronische-nierschade-2/?zh=cwz\" target=\"_blank\">infographic chronische nierschade</a> over de zorgresultaten bij CWZ.</p>\n</div>\n</div>\n</div>\n</div>",
      "title": "Samenwerking binnen Santeon",
      "udi": "umb://element/2d34ddb22c71483aa5c50e916ceaa5bd"
    },
    {
      "contentTypeKey": "e2b2160f-95bb-4fe7-95ba-0c1dfbe3044b",
      "image": [
        {
          "key": "7b05fa8a-9aeb-4b2f-b8d1-32239f22de28",
          "mediaKey": "d626e50f-286b-479e-9e67-bc756078ea32"
        }
      ],
      "text": "<h3>Samenwerking binnen Santeon</h3>\n<p>We werken met de andere Santeon ziekenhuizen actief samen aan de zorg rondom chronische nierschade. Bekijk de <a rel=\"noopener\" href=\"https://santeon.nl/aandoening/chronische-nierschade-2/?zh=cwz\" target=\"_blank\">infographic chronische nierschade</a> over de zorgresultaten bij CWZ.</p>",
      "title": "Samenwerking binnen Santeon",
      "udi": "umb://element/c4277d27e8814cedb210448bc212e269"
    },
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentItemContentText": "<p>Bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla </p>\n<h3>Kopje</h3>\n<p>bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla bladibla </p>",
      "contentItemTitle": "Titel tekstblok",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/3a92f12bc1ba422b88ec091887d8a6ef"
    },
    {
      "contentTypeKey": "2c97ced3-f8c3-46f8-ab81-cbcf0f4da593",
      "formHasMaxSubmits": "1",
      "formulier": "43e81e42-df26-4a40-a55d-8b0a23cfbee7",
      "introductionText": "<h2>Aanmeldformulier medische informatie</h2>\n<p class=\"intro\">Introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie introductie.</p>",
      "maxSubmissionCountForm": "5",
      "udi": "umb://element/96df2f0c7703420da3652f24dcf562d9"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Aandoeningen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Medische informatiepagina test Jeanne]]></Value>
    </title>
  </Properties>
</Content>