<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7de78d7-8a70-4f74-9914-a0204255f1bd" Alias="narcose" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/narcose</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-10-26T09:14:34</CreateDate>
    <NodeName Default="narcose">
      <Name Culture="nl-nl">narcose</Name>
    </NodeName>
    <SortOrder>66</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/17b7619813264346ba671780c06f5ae7]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[Narcose is een vorm van verdoving. Bij narcose is uw hele lichaam verdoofd. U bent in een diepe slaap, zodat u niets van de operatie merkt. U wordt pas wakker als de operatie voorbij is. Om narcose en de operatie goed te laten verlopen, is het belangrijk dat u zich goed voorbereidt. ]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/03241af1f7ba438f9a8e0a80d123b39c"
      },
      {
        "contentUdi": "umb://element/ea51ffa46e504ef5b92732e701cc7c78"
      },
      {
        "contentUdi": "umb://element/7f758987e42c4e97a7b6ce2bf3d00b36"
      },
      {
        "contentUdi": "umb://element/0486b9f6fad34cd6a22a1326d6432b07"
      },
      {
        "contentUdi": "umb://element/f754cba80d1e4036a3da6b5d397e46d4"
      },
      {
        "contentUdi": "umb://element/bb17ba743db6495b94db3f32be5d4fa5"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f66eb226248f4c518b16a512c7167319"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p>Bij narcose krijgt u verdoving via een klein buisje in een bloedvat. Dit buisje noemen we een infuus. <br />Tijdens de narcose krijgt u extra zuurstof via een kapje. <br />Als u onder narcose bent, zorgt de anesthesioloog voor uw ademhaling. Dit gaat via een buisje in de keel of een beademingsmasker.</p>",
            "udi": "umb://element/f66eb226248f4c518b16a512c7167319"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Over narcose",
      "udi": "umb://element/03241af1f7ba438f9a8e0a80d123b39c"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/40311c66da1746008b7692ccd9c05e3f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p><strong><span class=\"highlighted\">Hier komt het fotoboek te staan.</span></strong></p>",
            "udi": "umb://element/40311c66da1746008b7692ccd9c05e3f"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Narcose in beeld",
      "udi": "umb://element/ea51ffa46e504ef5b92732e701cc7c78"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f361d38f110649bdada752d5604ae325"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p>U vult een vragenlijst in via patiëntenportaal <a rel=\"noopener\" href=\"https://mijnolvg.nl\" target=\"_blank\">MijnOLVG </a>als voorbereiding op uw operatie.<br />In de vragenlijst geeft u de volgende dingen aan:</p>\n<ul>\n<li>of u wel eens wagenziek of zeeziek bent</li>\n<li>of u eerder misselijk bent geweest na narcose.</li>\n<li>of u kronen, bruggen of een kwetsbaar gebit heeft.</li>\n</ul>",
            "udi": "umb://element/f361d38f110649bdada752d5604ae325"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Zo bereidt u zich voor op narcose",
      "udi": "umb://element/7f758987e42c4e97a7b6ce2bf3d00b36"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/25586588468a41abb89d5c68903e55c5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<ul>\n<li>Bij het wakker worden kunt u zich misselijk voelen. Meestal voelt u zich snel beter. Als dit niet zo is, krijgt u een medicijn tegen de misselijkheid. <br />Geef in uw vragenlijst in MijnOLVG duidelijk aan of u gevoelig bent voor wagenziekte of zeeziekte. <br />Geef het ook aan als u al eerder misselijk bent geweest van narcose. <br />Zo kunnen we de kans op misselijkheid kleiner maken.</li>\n<li>Na de narcose kunt u een zwaar of kriebelig gevoel in uw keel hebben. Dit komt door het buisje dat tijdens de operatie in uw keel zat. <br />Het zware of kriebelige gevoel verdwijnt meestal vanzelf binnen een aantal dagen.</li>\n<li>Heel soms ontstaat er schade aan uw gebit bij het inbrengen van het beademingsbuisje.<br />Geef in uw vragenlijst in MijnOLVG duidelijk aan of u kronen, bruggen of een kwetsbaar gebit heeft. <br />Zo kunnen we de kans op schade kleiner maken.</li>\n</ul>",
            "udi": "umb://element/25586588468a41abb89d5c68903e55c5"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Bijwerkingen van narcose",
      "udi": "umb://element/0486b9f6fad34cd6a22a1326d6432b07"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f7efb47800194f23b8ea05d9b4278def"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p>De verpleegkundige geeft u uitleg over medicijnen tegen de pijn voor thuis. <br />Zorg dat u paracetamol in huis heeft. <br />Uw anesthesioloog of arts vertellen u of u nog andere medicijnen tegen de pijn nodig heeft. U krijgt dan een recept mee.</p>\n<p>Verblijft u op de lounge van OLVG, locatie West? Dan krijgt u een pakket met medicijnen mee naar huis. </p>",
            "udi": "umb://element/f7efb47800194f23b8ea05d9b4278def"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Naar huis",
      "udi": "umb://element/f754cba80d1e4036a3da6b5d397e46d4"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/775c3e63f1574575a555334502ba7823"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<ul>\n<li>Doe het de eerste 24 uur na narcose rustig aan.</li>\n<li>Zorg dat u niet alleen thuis bent.</li>\n<li>Bestuur de eerste 24 uur na narcose geen vervoersmiddelen of machines.</li>\n<li>Neem geen belangrijke beslissingen in de eerste 24 uur na narcose. Door narcose bent u niet helemaal scherp. De narcose kan uw denken nog beïnvloeden.</li>\n<li>Maakt u zich zorgen over klachten die door de narcose kunnen komen? Neem dan contact op met de polikliniek Anesthesiologie.</li>\n</ul>",
            "udi": "umb://element/775c3e63f1574575a555334502ba7823"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Adviezen voor thuis",
      "udi": "umb://element/bb17ba743db6495b94db3f32be5d4fa5"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2a6511912a4c4725a71e2767a27ec554"
      },
      {
        "contentUdi": "umb://element/e0055d67de3642048aa3a3c757f703ff"
      },
      {
        "contentUdi": "umb://element/00d570d12ca54752be4f5f85460d0c3f"
      },
      {
        "contentUdi": "umb://element/6ffb37dc9fa7463dbea3c694792508ed"
      },
      {
        "contentUdi": "umb://element/0a5f30ae43cd4f018357f14cabd64256"
      },
      {
        "contentUdi": "umb://element/6b0806c4ca5e4528b06f983093010e75"
      }
    ]
  },
  "contentData": [
    {
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0e1a359cddcb4f5f818a12e8fe0e46b2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p>Bij narcose krijgt u verdoving via een klein buisje in een bloedvat. Dit buisje noemen we een infuus. <br />Tijdens de narcose krijgt u extra zuurstof via een kapje. <br />Als u onder narcose bent, zorgt de anesthesioloog voor uw ademhaling. Dit gaat via een buisje in de keel of een beademingsmasker.</p>",
            "udi": "umb://element/0e1a359cddcb4f5f818a12e8fe0e46b2"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Over narcose",
      "udi": "umb://element/2a6511912a4c4725a71e2767a27ec554"
    },
    {
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/85f516cfa59141e1b89ff444ab689781"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p><strong><span class=\"highlighted\">Hier komt het fotoboek te staan.</span></strong></p>",
            "udi": "umb://element/85f516cfa59141e1b89ff444ab689781"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Narcose in beeld",
      "udi": "umb://element/e0055d67de3642048aa3a3c757f703ff"
    },
    {
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/464fa8b6a8dd461db27cb7101f361d5a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p>U vult een vragenlijst in via patiëntenportaal <a rel=\"noopener\" href=\"https://mijnolvg.nl\" target=\"_blank\">MijnOLVG </a>als voorbereiding op uw operatie.<br />In de vragenlijst geeft u de volgende dingen aan:</p>\n<ul>\n<li>of u wel eens wagenziek of zeeziek bent</li>\n<li>of u eerder misselijk bent geweest na narcose.</li>\n<li>of u kronen, bruggen of een kwetsbaar gebit heeft.</li>\n</ul>",
            "udi": "umb://element/464fa8b6a8dd461db27cb7101f361d5a"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Zo bereidt u zich voor op narcose",
      "udi": "umb://element/00d570d12ca54752be4f5f85460d0c3f"
    },
    {
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5b960a88bf9c4511bc5e8ec87f7d3770"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<ul>\n<li>Bij het wakker worden kunt u zich misselijk voelen. Meestal voelt u zich snel beter. Als dit niet zo is, krijgt u een medicijn tegen de misselijkheid. <br />Geef in uw vragenlijst in MijnOLVG duidelijk aan of u gevoelig bent voor wagenziekte of zeeziekte. <br />Geef het ook aan als u al eerder misselijk bent geweest van narcose. <br />Zo kunnen we de kans op misselijkheid kleiner maken.</li>\n<li>Na de narcose kunt u een zwaar of kriebelig gevoel in uw keel hebben. Dit komt door het buisje dat tijdens de operatie in uw keel zat. <br />Het zware of kriebelige gevoel verdwijnt meestal vanzelf binnen een aantal dagen.</li>\n<li>Heel soms ontstaat er schade aan uw gebit bij het inbrengen van het beademingsbuisje.<br />Geef in uw vragenlijst in MijnOLVG duidelijk aan of u kronen, bruggen of een kwetsbaar gebit heeft. <br />Zo kunnen we de kans op schade kleiner maken.</li>\n</ul>",
            "udi": "umb://element/5b960a88bf9c4511bc5e8ec87f7d3770"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Bijwerkingen van narcose",
      "udi": "umb://element/6ffb37dc9fa7463dbea3c694792508ed"
    },
    {
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/df5d0d98ed8e42949f7ddca843bacad6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p>De verpleegkundige geeft u uitleg over medicijnen tegen de pijn voor thuis. <br />Zorg dat u paracetamol in huis heeft. <br />Uw anesthesioloog of arts vertellen u of u nog andere medicijnen tegen de pijn nodig heeft. U krijgt dan een recept mee.</p>\n<p>Verblijft u op de lounge van OLVG, locatie West? Dan krijgt u een pakket met medicijnen mee naar huis. </p>",
            "udi": "umb://element/df5d0d98ed8e42949f7ddca843bacad6"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Naar huis",
      "udi": "umb://element/0a5f30ae43cd4f018357f14cabd64256"
    },
    {
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/351513d3ea4c435db4f91101fc9c46e1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<ul>\n<li>Doe het de eerste 24 uur na narcose rustig aan.</li>\n<li>Zorg dat u niet alleen thuis bent.</li>\n<li>Bestuur de eerste 24 uur na narcose geen vervoersmiddelen of machines.</li>\n<li>Neem geen belangrijke beslissingen in de eerste 24 uur na narcose. Door narcose bent u niet helemaal scherp. De narcose kan uw denken nog beïnvloeden.</li>\n<li>Maakt u zich zorgen over klachten die door de narcose kunnen komen? Neem dan contact op met de polikliniek Anesthesiologie.</li>\n</ul>",
            "udi": "umb://element/351513d3ea4c435db4f91101fc9c46e1"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Adviezen voor thuis",
      "udi": "umb://element/6b0806c4ca5e4528b06f983093010e75"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Behandelingen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[<p>Heeft u na het lezen van deze informatie nog vragen? Stel uw vraag aan de polikliniek via <a rel="noopener noreferrer" href="https://www.mijnolvg.nl/" target="_blank">MijnOLVG</a> of per email. Op werkdagen kunt u ook bellen.</p>
<p><strong>Polikliniek Anesthesiologie, locatie Oost, P4</strong><br />020 599 25 12 (op werkdagen van 08.15 tot 16.15 uur)<br /><a rel="noopener noreferrer" href="mailto:polikliniekanesthesiologie-oost@olvg.nl">polikliniekanesthesiologie-oost@olvg.nl</a> </p>
<p><strong>Polikliniek Anesthesiologie, locatie West, route 05</strong><br />020 510 17 31 (op werkdagen van 08.15 tot 16.15 uur)<br /><a rel="noopener noreferrer" href="mailto:polikliniekanesthesiologie-oost@olvg.nl">polikliniekanesthesiologie-west@olvg.nl</a> </p>]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[Contact]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>algehele anesthesie</p>]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Narcose]]></Value>
    </title>
  </Properties>
</Content>