<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ace1e1e-4245-4297-97ba-123b5df80517" Alias="Nieuwe website Echocardiografie live" Level="5">
  <Info>
    <Parent Key="150e0bb7-5561-4b78-83af-02131eedac00">Nieuws</Parent>
    <Path>/Echocardiografie/Pages/Homepage/Nieuws/NieuweWebsiteEchocardiografieLive</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticleSubsite</ContentType>
    <CreateDate>2023-07-05T16:04:09</CreateDate>
    <NodeName Default="Nieuwe website Echocardiografie live">
      <Name Culture="nl-nl">Nieuwe website Echocardiografie live</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cardImage>
      <Value><![CDATA[umb://media/656b550bb3a94f4492945b22cf925123]]></Value>
    </cardImage>
    <content>
      <Value Culture="nl-nl"><![CDATA[<h3>Titel</h3>
<p>Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. </p>
<h3>Titel</h3>
<p>Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. Dit is een alinea. </p>
<p><img src="?width=465&amp;height=311&amp;mode=max" alt="" width="465" height="311" data-udi="umb://media/54595fb3aecd4f93ae9c380b0a0c89bd" /></p>]]></Value>
    </content>
    <date>
      <Value><![CDATA[2023-07-05T00:00:00]]></Value>
    </date>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p class="intro">Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. Dit is de introductietekst. </p>
<p> </p>]]></Value>
    </introductionText>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "be90aaca-b9f2-4a33-8b50-3f64c34e0ccb",
    "mediaKey": "656b550b-b3a9-4f44-9294-5b22cf925123"
  }
]]]></Value>
    </newsImage>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <title>
      <Value Culture="nl-nl"><![CDATA[Nieuwe website Echocardiografie live]]></Value>
    </title>
  </Properties>
</Content>