<?xml version="1.0" encoding="utf-8"?>
<Content Key="878fd55b-e8dc-434b-b043-8a47eecbfbac" Alias="Nieuws" Level="4">
  <Info>
    <Parent Key="c246e2d7-1975-45c3-a1f4-4b198c256c47">Homepage</Parent>
    <Path>/Ushamwari/Pages/Homepage/Nieuws</Path>
    <Trashed>false</Trashed>
    <ContentType>newsOverviewSubsite</ContentType>
    <CreateDate>2023-07-19T09:30:48</CreateDate>
    <NodeName Default="Nieuws">
      <Name Culture="nl-nl">Nieuws</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <highlightedNewsArticle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </highlightedNewsArticle>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Nieuws]]></Value>
    </title>
  </Properties>
</Content>