<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad6c10cb-aae8-4599-b54d-2aadaefa5582" Alias="OLVG bouwt nieuw laboratoriumgebouw (13)" Level="5">
  <Info>
    <Parent Key="80604bdc-676a-4b15-969d-7bb76056638c">Nieuwspagina OLVG beweegt mee</Parent>
    <Path>/Website/Pages/Home/NieuwspaginaOLVGBeweegtMee/OLVGBouwtNieuwLaboratoriumgebouw13</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2024-04-25T15:26:29</CreateDate>
    <NodeName Default="OLVG bouwt nieuw laboratoriumgebouw (13)">
      <Name Culture="nl-nl">OLVG bouwt nieuw laboratoriumgebouw (13)</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <agendaItems>
      <Value><![CDATA[]]></Value>
    </agendaItems>
    <cardImage>
      <Value><![CDATA[umb://media/54595fb3aecd4f93ae9c380b0a0c89bd]]></Value>
    </cardImage>
    <content>
      <Value Culture="nl-nl"><![CDATA[<p>Het laboratoriumgebouw beslaat bijna 8000 m2 en krijgt 8 verdiepingen. Er is veel aandacht voor duurzaamheid. Het laboratoriumgebouw wordt gasloos, krijgt driedubbel glas en zonnepanelen. Het sedumdak vangt regenwater op, waarmee de toiletten worden doorgespoeld.<br />De verwachting is dat het gebouw vanaf juni 2025 gebruikt kan worden.</p>
<h3>Over OLVG Lab BV</h3>
<p>Het nieuwe gebouw gaat gebruikt worden door OLVG Lab BV en bestaat uit laboratoria klinische chemie, medische microbiologie en pathologie. De bijna 400 medewerkers werken voor OLVG, Bovenij, het Flevoziekenhuis, het TerGooi ziekenhuis, zelfstandige behandelcentra (ZBC’s) en huisartsenpraktijken.</p>]]></Value>
    </content>
    <date>
      <Value><![CDATA[2023-10-11T00:00:00]]></Value>
    </date>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <faq>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </faq>
    <healthProfessionals>
      <Value><![CDATA[]]></Value>
    </healthProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<div class="content-limited">
<div class="component-expandable-introduction collapse-expand-component">
<div class="default-introduction text-basics">
<p class="intro">OLVG is begonnen met de bouw van een nieuw laboratoriumgebouw op het terrein van OLVG, locatie West. Het nieuwe gebouw heeft moderne voorzieningen en voldoende ruimte voor de benodigde groei van OLVG Lab BV, die het nieuwe gebouw gaat gebruiken.</p>
</div>
</div>
</div>]]></Value>
    </introductionText>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "35ddef8c-9105-4f3b-a58c-65a37c0bf62e",
    "mediaKey": "54595fb3-aecd-4f93-ae9c-380b0a0c89bd"
  }
]]]></Value>
    </newsImage>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <showOnHomepage>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </showOnHomepage>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <title>
      <Value Culture="nl-nl"><![CDATA[OLVG bouwt nieuw laboratoriumgebouw]]></Value>
    </title>
  </Properties>
</Content>