<?xml version="1.0" encoding="utf-8"?>
<Content Key="62af9c41-7cd8-4ef4-a994-7af318bf0582" Alias="Oost, P1" Level="4">
  <Info>
    <Parent Key="d92dc0ff-5744-4380-9ee7-74310711e468">Routes</Parent>
    <Path>/Website/SharedContent/Routes/OostP1</Path>
    <Trashed>false</Trashed>
    <ContentType>route</ContentType>
    <CreateDate>2022-04-12T13:06:20</CreateDate>
    <NodeName Default="Oost, P1">
      <Name Culture="en-us">East, P1</Name>
      <Name Culture="nl-nl">Oost, P1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <routeDescription>
      <Value Culture="en-us"><![CDATA[<p>This is the English route information</p>]]></Value>
      <Value Culture="nl-nl"><![CDATA[<h4 id="OLVG-locatie-Oost-Oosterpark-9">OLVG, locatie Oost, Oosterpark 9</h4>
<div class="field field--reusable-content field--type-entityreference">
<div class="node__content">
<div class="field field--text field--type-text-long">
<p class="intro">Met het openbaar vervoer</p>
<strong>Via Centraal Station</strong><br />U neemt de metro richting Gaasperplas (53) of Gein (54) of de sneltram richting Amstelveen (51). Uitstappen bij halte Wibautstraat, uitgang Vrolikstraat. Vervolgens slaat u bij de stoplichten rechtsaf, de Eerste Oosterparkstraat op. Bij de volgende stoplichten slaat u linksaf richting het Oosterpark. Na 50 meter bevindt zich de hoofdingang. De loopafstand is circa 10 minuten<em>*</em>. U kunt ook een halte eerder uitstappen bij Weesperplein en vervolgens tram 1, richting Muiderpoortstation, nemen. U stapt dan voor de hoofdingang, halte Beukenweg, uit.</div>
<div class="field field--text field--type-text-long"></div>
<div class="field field--text field--type-text-long"><strong>Via Amstelstation</strong><br />U neemt de metro (53, 54) of sneltram (51) richting Centraal Station. Uitstappen halte Wibautstraat, uitgang Vrolikstraat. Vervolgens slaat u bij de stoplichten rechtsaf, de Eerste Oosterparkstraat op. Bij de volgende stoplichten slaat u linksaf richting het Oosterpark. Na 50 meter bevindt zich de hoofdingang. De loopafstand is circa 10 minuten. U kunt ook een halte later uitstappen bij Weesperplein en vervolgens tram 1 nemen. U stapt dan voor de hoofdingang, halte Beukenweg, uit. U kunt ook bus 37 nemen, richting station Noord, en uitstappen bij halte Beukenplein. Bij de stoplichten loopt u rechtdoor, richting het Oosterpark. Na 50 meter ziet u de hoofdingang. De loopafstand is circa 5 minuten.</div>
<div class="field field--text field--type-text-long"></div>
<div class="field field--text field--type-text-long"><strong>Via Muiderpoortstation</strong><br />U neemt tram 1, richting Osdorp De Aker of tram 3, richting Zoutkeetsgracht. U stapt dan tegenover de hoofdingang, halte Beukenweg, uit. U kunt ook bus 37 nemen richting Amstelstation en uitstappen bij halte Beukenplein. Bij de stoplichten loopt u rechtdoor, richting het Oosterpark. Na 50 meter ziet u de hoofdingang. De loopafstand is circa 5 minuten.
<h3>Met de auto</h3>
<strong>Via Den Haag / Schiphol</strong><strong>Via Almere / Amersfoort</strong><br />Volg de borden Amsterdam (A1), dan de ringweg om Amsterdam (A10), ring Oost.<br />*Neem afslag centrum (S112), ga bij de stoplichten linksaf richting centrum (Gooiseweg), op de rotonde rechts aanhouden (Wibautstraat). Na het viaduct gaat u bij het vijfde stoplicht rechtsaf. Na de afslag (links aanhouden); Mauritskade volgen. Bij het eerste stoplicht rechtsaf. Bij de derde zijstraat rechtsaf het 's Gravesandeplein op.</div>
<div class="field field--text field--type-text-long">Volg de borden Amsterdam (A4), dan de ringweg om Amsterdam(A10), ring Zuid, ring Oost. Volg route vanaf *.</div>
<div class="field field--text field--type-text-long"></div>
<div class="field field--text field--type-text-long"><strong>Via Zaandam / Alkmaar</strong><br />Volg de borden Amsterdam (A8) en vervolgens de ringweg om Amsterdam (A10), afslag S114 richting Artis/Centrum. Na de Piet Heintunnel slaat u meteen linksaf, de Panamalaan op. Aan het einde gaat u rechtdoor (weg buigt naar rechts). U rijdt nu op de Zeeburgerdijk, deze gaat over in de Mauritskade. Vanaf de spoorbrug slaat u bij de derde stoplichten linksaf, de s‘ Gravesandestraat op en bij de derde zijstraat rechtsaf, het ’s Gravesandeplein op.</div>
<div class="field field--text field--type-text-long"></div>
<div class="field field--text field--type-text-long"><strong>Via Utrecht</strong><br />Volg de borden Amsterdam (A2), dan de ringweg om Amsterdam (A10), ring Oost. Volg route vanaf *.<strong>P+R </strong></div>
<div class="field field--text field--type-text-long"></div>
<div class="field field--text field--type-text-long"><strong>Zeeburg</strong><br />U kunt uw auto ook parkeren op het P+R-terrein Zeeburg (naast ingang Piet Heintunnel. Adres: Zuiderzeeweg 46a, 1095 KJ) en vervolgens verder reizen per openbaar vervoer. Het P+R-terrein is 24 uur per dag geopend. Aan het parkeren op het P+R-terrein zijn kosten verbonden. <br /><em>Vanaf ringweg A10</em><br />Volg de ringweg om Amsterdam (A10). Neem afslag Zeeburg (S114) en volg P+R Zeeburg. <br /><em>Openbaar vervoerverbinding</em><br />U neemt bus 37 richting Amstelstation en stapt uit bij halte Beukenplein. Bij de stoplichten loopt u rechtdoor, richting het Oosterpark. Na 50 meter ziet u de hoofdingang. De loopafstand is circa 5 minuten.</div>
</div>
</div>]]></Value>
    </routeDescription>
    <routeName>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[OLVG, locatie Oost, Oosterpark 9]]></Value>
    </routeName>
  </Properties>
</Content>