<?xml version="1.0" encoding="utf-8"?>
<Content Key="162cff12-42da-464b-bd3e-a917425137f1" Alias="Over diabetes" Level="4">
  <Info>
    <Parent Key="28a44b42-75dd-41ad-895d-56e31aa6c0d9">Homepage</Parent>
    <Path>/Diaboss/Pages/Homepage/OverDiabetes</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspaginaSubsite</ContentType>
    <CreateDate>2023-07-06T08:40:12</CreateDate>
    <NodeName Default="Over diabetes">
      <Name Culture="nl-nl">Over diabetes</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredItems>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </featuredItemsBL>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p>Diabetes wordt in de volksmond ook wel suikerziekte genoemd. Er zijn twee typen diabetes, <a rel="noopener" href="http://www.diaboss.nl/over-diabetes/diabetes-type-1/" target="_blank" title="Diabetes type 1">type 1</a> en <a rel="noopener" href="http://www.diaboss.nl/over-diabetes/diabetes-type-2/" target="_blank" title="Diabetes type 2">type 2</a> en andere, zeldzamere vormen.</p>
<p>Als je diabetes hebt, is het belangrijk dat je snapt wat diabetes is en wat het met je lichaam doet. Wat theoretische achtergrondinformatie helpt je hierbij:</p>
<ul>
<li><a href="/{localLink:umb://document/fdef8c884fc74b86aff3de51882cd378}" title="Diabetes type 1">Diabetes type 1</a></li>
<li><a href="/{localLink:umb://document/899bc956fb7044b192db8dc5b26f47fa}" title="Diabetes type 2">Diabetes type 2</a></li>
<li><a href="/{localLink:umb://document/2a55b80d6aa04dc792927a430730db45}" title="Insuline">Insuline</a></li>
<li><a href="/{localLink:umb://document/c1c57b05b79d4673b395f3bb0578bb19}" title="Hypo">Hypo</a></li>
<li><a href="/{localLink:umb://document/63e2bbf12fd140a28b74ef416d37ed2f}" title="Hyper">Hyper</a></li>
<li><a href="/{localLink:umb://document/ef19c58777bb4370b8e1f54a7ca569fa}" title="Ketonen en ketoacidose">Ketonen en ketoacidose</a></li>
<li><a href="/{localLink:umb://document/9210427755084b00a9e96ce2ae3a2b41}" title="HbA1c">HbA1c</a></li>
</ul>]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <links>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </links>
    <linksBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Over diabetes]]></Value>
    </title>
  </Properties>
</Content>