<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b583079-b2ff-484b-93b8-bc609ab3d49a" Alias="Over OLVG" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/OverOLVG</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspagina</ContentType>
    <CreateDate>2022-07-05T11:21:09</CreateDate>
    <NodeName Default="Over OLVG">
      <Name Culture="en-us">About OLVG</Name>
      <Name Culture="nl-nl">Over OLVG</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <featuredItems>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/88b0f15eae434ec087e92739b84fc6bf"
      },
      {
        "contentUdi": "umb://element/8b757e76ac874cc692d2ef6c3c42089d"
      },
      {
        "contentUdi": "umb://element/00b19354f5e249a986676bf303f4ea2c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "486b2b77-4c67-49f4-af5e-59086982c46b",
          "mediaKey": "dc199003-9927-4f10-87e5-71076351c300"
        }
      ],
      "textFeaturedItem": {
        "markup": "<p class=\"highlighted-item__description\">OLVG is hét stadsziekenhuis van Groot-Amsterdam. Met hoofdlocaties in Oost en West.</p>\n<p> </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "titleFeaturedItem": "Ons verhaal",
      "udi": "umb://element/88b0f15eae434ec087e92739b84fc6bf",
      "urlFeaturedItem": [
        {
          "name": "Ons verhaal",
          "udi": "umb://document/600fb3290a874529b5e44ee3de7bd46e"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "04737d9d-37a8-4ea9-af0c-324f53c65cb2",
          "mediaKey": "1171f9bc-3d6d-4f7d-8a04-01b8d2a86807"
        }
      ],
      "textFeaturedItem": {
        "markup": "<p>OLVG is er voor u als patiënt. Wij vinden het belangrijk dat u tevreden bent over onze medische zorg en dienstverlening.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "titleFeaturedItem": "Vertel het ons!",
      "udi": "umb://element/8b757e76ac874cc692d2ef6c3c42089d",
      "urlFeaturedItem": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "461257f6-ddf9-477f-ad62-c9c6f48cc5ca",
          "mediaKey": "27b24869-a82c-423c-89d3-29027839cb72"
        }
      ],
      "textFeaturedItem": {
        "markup": "<p class=\"highlighted-item__description\">OLVG is volop in ontwikkeling. Bekijk het laatste nieuws.</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "titleFeaturedItem": "Nieuws",
      "udi": "umb://element/00b19354f5e249a986676bf303f4ea2c",
      "urlFeaturedItem": [
        {
          "name": "Nieuws",
          "udi": "umb://document/3f29f0665629468f8765479c5c544d3a"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a4158dc07f2b42509a7c5c6de09f4ced"
      },
      {
        "contentUdi": "umb://element/23ccf05cdaae442b934a1697ac86e94b"
      },
      {
        "contentUdi": "umb://element/436a5ab0da3242a981f1ce556da6a6cf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "486b2b77-4c67-49f4-af5e-59086982c46b",
          "mediaKey": "dc199003-9927-4f10-87e5-71076351c300"
        }
      ],
      "textFeaturedItem": {
        "markup": "<p class=\"highlighted-item__description\">OLVG is hét stadsziekenhuis van Groot-Amsterdam. Met hoofdlocaties in Oost en West.</p>\n<p> </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "titleFeaturedItem": "Ons verhaal",
      "udi": "umb://element/a4158dc07f2b42509a7c5c6de09f4ced",
      "urlFeaturedItem": [
        {
          "name": "Ons verhaal",
          "udi": "umb://document/600fb3290a874529b5e44ee3de7bd46e"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "04737d9d-37a8-4ea9-af0c-324f53c65cb2",
          "mediaKey": "1171f9bc-3d6d-4f7d-8a04-01b8d2a86807"
        }
      ],
      "textFeaturedItem": {
        "markup": "<p>OLVG is er voor u als patiënt. Wij vinden het belangrijk dat u tevreden bent over onze medische zorg en dienstverlening.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "titleFeaturedItem": "Vertel het ons!",
      "udi": "umb://element/23ccf05cdaae442b934a1697ac86e94b",
      "urlFeaturedItem": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "461257f6-ddf9-477f-ad62-c9c6f48cc5ca",
          "mediaKey": "27b24869-a82c-423c-89d3-29027839cb72"
        }
      ],
      "textFeaturedItem": {
        "markup": "<p class=\"highlighted-item__description\">OLVG is volop in ontwikkeling. Bekijk het laatste nieuws.</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "titleFeaturedItem": "Nieuws",
      "udi": "umb://element/436a5ab0da3242a981f1ce556da6a6cf",
      "urlFeaturedItem": [
        {
          "name": "Nieuws",
          "udi": "umb://document/3f29f0665629468f8765479c5c544d3a"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItemsBL>
    <heroImage>
      <Value><![CDATA[umb://media/360a7147258144218528b8ca6e209027]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <links>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fdbee4d62fb44633a2333c3c351abba6"
      },
      {
        "contentUdi": "umb://element/2807b77b175d41c0a51ca49ee9cfe948"
      },
      {
        "contentUdi": "umb://element/3ef190c6b405467a90eeeee95bffab81"
      },
      {
        "contentUdi": "umb://element/b024b41fd3bc4dcd927eeebe5bdb34bd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Ons verhaal",
          "udi": "umb://document/600fb3290a874529b5e44ee3de7bd46e",
          "queryString": "#"
        },
        {
          "name": "Agenda",
          "url": "#"
        },
        {
          "name": "Kerngegevens",
          "url": "#"
        }
      ],
      "linkTitle": "Organisatie",
      "udi": "umb://element/fdbee4d62fb44633a2333c3c351abba6"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Corporate governance",
          "url": "#"
        }
      ],
      "linkTitle": "Bestuur, inspraak, advies",
      "udi": "umb://element/2807b77b175d41c0a51ca49ee9cfe948"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Visie op kwaliteit",
          "url": "#"
        }
      ],
      "linkTitle": "Kwaliteit van zorg",
      "udi": "umb://element/3ef190c6b405467a90eeeee95bffab81"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "udi": "umb://document/d5f2777a13c2435987ff189c13fce7ea"
        }
      ],
      "linkTitle": "Fotoboek",
      "udi": "umb://element/b024b41fd3bc4dcd927eeebe5bdb34bd"
    }
  ],
  "settingsData": []
}]]></Value>
    </links>
    <linksBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/922ff37e800143fea7663f8ef78016c4"
      },
      {
        "contentUdi": "umb://element/9f121fe3a4034f94818a29861cfdaec2"
      },
      {
        "contentUdi": "umb://element/ccecd76c48d94b43bf703cbaf150ef7e"
      },
      {
        "contentUdi": "umb://element/298af317d01d464f8febbd57b869217d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Ons verhaal",
          "udi": "umb://document/600fb3290a874529b5e44ee3de7bd46e",
          "queryString": "#"
        },
        {
          "name": "Agenda",
          "url": "#"
        },
        {
          "name": "Kerngegevens",
          "url": "#"
        }
      ],
      "linkTitle": "Organisatie",
      "udi": "umb://element/922ff37e800143fea7663f8ef78016c4"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Corporate governance",
          "url": "#"
        }
      ],
      "linkTitle": "Bestuur, inspraak, advies",
      "udi": "umb://element/9f121fe3a4034f94818a29861cfdaec2"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Visie op kwaliteit",
          "url": "#"
        }
      ],
      "linkTitle": "Kwaliteit van zorg",
      "udi": "umb://element/ccecd76c48d94b43bf703cbaf150ef7e"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "udi": "umb://document/d5f2777a13c2435987ff189c13fce7ea"
        }
      ],
      "linkTitle": "Fotoboek",
      "udi": "umb://element/298af317d01d464f8febbd57b869217d"
    }
  ],
  "settingsData": []
}]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>hét stadsziekenhuis van Groot-Amsterdam TEST</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Verpleegafdeling Oost]]></Value>
      <Value Culture="nl-nl"><![CDATA[Over OLVG]]></Value>
    </title>
  </Properties>
</Content>