<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5c1d694-a309-44fc-8e5a-f3bf0348af04" Alias="Pagina niet gevonden" Level="4">
  <Info>
    <Parent Key="993ef43d-6eba-4efb-a1c8-f201b3c1201e">Homepage</Parent>
    <Path>/VriendenVanOLVG/Pages/Homepage/PaginaNietGevonden</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNotFound</ContentType>
    <CreateDate>2023-08-22T13:45:08</CreateDate>
    <NodeName Default="Pagina niet gevonden">
      <Name Culture="en-us">Page not found</Name>
      <Name Culture="nl-nl">Pagina niet gevonden</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <abstractText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>vvolvg</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>vvolvg</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </abstractText>
    <abstractTitle>
      <Value Culture="en-us"><![CDATA[Page not found]]></Value>
      <Value Culture="nl-nl"><![CDATA[Pagina niet gevonden ]]></Value>
    </abstractTitle>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
  </Properties>
</Content>