<?xml version="1.0" encoding="utf-8"?>
<Content Key="f60489bb-6347-4ea2-b633-ada442586e05" Alias="Pagina niet gevonden" Level="4">
  <Info>
    <Parent Key="c246e2d7-1975-45c3-a1f4-4b198c256c47">Homepage</Parent>
    <Path>/Ushamwari/Pages/Homepage/PaginaNietGevonden</Path>
    <Trashed>false</Trashed>
    <ContentType>pageNotFound</ContentType>
    <CreateDate>2023-08-22T13:45:36</CreateDate>
    <NodeName Default="Pagina niet gevonden">
      <Name Culture="en-us">Page not found</Name>
      <Name Culture="nl-nl">Pagina niet gevonden</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <abstractText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>page not found</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </abstractText>
    <abstractTitle>
      <Value Culture="en-us"><![CDATA[page not found usham]]></Value>
      <Value Culture="nl-nl"><![CDATA[Pagina niet gevonden ]]></Value>
    </abstractTitle>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
  </Properties>
</Content>