<?xml version="1.0" encoding="utf-8"?>
<Content Key="2892f20f-f77e-426e-9f77-4a935df00e90" Alias="Santeondag" Level="5">
  <Info>
    <Parent Key="3cf9b593-6dce-4d4b-bdce-2dffc5caec40">Agenda</Parent>
    <Path>/Website/Pages/Home/Agenda/Santeondag</Path>
    <Trashed>false</Trashed>
    <ContentType>agendaItem</ContentType>
    <CreateDate>2022-09-08T11:04:17</CreateDate>
    <NodeName Default="Santeondag">
      <Name Culture="nl-nl">Santeondag</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="false">
      <Published Culture="nl-nl">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cardImage>
      <Value><![CDATA[umb://media/6f1d5171120c469e817774f90508b595]]></Value>
    </cardImage>
    <content>
      <Value Culture="nl-nl"><![CDATA[<p> </p>
<p>Santeondag bladiebla<img src="?width=195&amp;height=195&amp;mode=max" alt="Zwangere vrouw" width="195" height="195" data-udi="umb://media/6f1d5171120c469e817774f90508b595" /></p>]]></Value>
    </content>
    <datesAndTimes>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/538410e8df8e4d8abeab340a9b99c305"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b41215cd-5f6a-4d3e-b0d9-63edb202ed20",
      "dateTimeEndValue": "2022-09-09T16:00:00",
      "dateTimeValue": "2022-09-09T12:00:00",
      "udi": "umb://element/538410e8df8e4d8abeab340a9b99c305"
    }
  ],
  "settingsData": []
}]]></Value>
    </datesAndTimes>
    <datesAndTimesBL>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/361e0eda86634d92a2903fca0a8ed5ed"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b41215cd-5f6a-4d3e-b0d9-63edb202ed20",
      "dateTimeEndValue": "2022-09-09T16:00:00",
      "dateTimeValue": "2022-09-09T12:00:00",
      "udi": "umb://element/361e0eda86634d92a2903fca0a8ed5ed"
    }
  ],
  "settingsData": []
}]]></Value>
    </datesAndTimesBL>
    <departments>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departments>
    <healthProfessionals>
      <Value><![CDATA[]]></Value>
    </healthProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[ekbflw rj hiuerhgcierhg erh  gue reuhw;rihfoiwrh ;iohwriueh wruh iurwh fiuh wrfy wrifhw oihwr ;oih owi hwioh wbvbefbg 3rwfh3rwhg irhe goirw hgi wrgoirweig wosiejowi  hv8iiyver]]></Value>
    </introductionText>
    <locatieTableOfContents>
      <Value Culture="nl-nl"><![CDATA[[
  "OLVG, locatie Oost"
]]]></Value>
    </locatieTableOfContents>
    <locations>
      <Value Culture="nl-nl"><![CDATA[umb://document/53a651c2a11c4b8c944d2b6eaa1e5ff9]]></Value>
    </locations>
    <manualRoutes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutes>
    <manualRoutesBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutesBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsItems>
      <Value><![CDATA[]]></Value>
    </newsItems>
    <routes>
      <Value Culture="nl-nl"><![CDATA[umb://document/d557e292e77840c1b1cf60d429396913]]></Value>
    </routes>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <title>
      <Value Culture="nl-nl"><![CDATA[Santeon dag ]]></Value>
    </title>
  </Properties>
</Content>