<?xml version="1.0" encoding="utf-8"?>
<Content Key="55479491-cc49-47b7-b6ee-3f250e634138" Alias="Settings" Level="2">
  <Info>
    <Parent Key="12607def-4d2d-4eb8-9ef0-eb9a0c1d6a93">Diaboss</Parent>
    <Path>/Diaboss/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-07-05T15:34:00</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <analyticsActivityIndicator>
      <Value><![CDATA[0]]></Value>
    </analyticsActivityIndicator>
    <enableTagManager>
      <Value><![CDATA[0]]></Value>
    </enableTagManager>
    <expiredContentPage>
      <Value><![CDATA[]]></Value>
    </expiredContentPage>
    <googleOwnershipVerificationString>
      <Value><![CDATA[]]></Value>
    </googleOwnershipVerificationString>
    <mostSearchedTerms>
      <Value><![CDATA[]]></Value>
    </mostSearchedTerms>
    <newsFallbackImage>
      <Value><![CDATA[[]]]></Value>
    </newsFallbackImage>
    <readspeakerEnabled>
      <Value><![CDATA[0]]></Value>
    </readspeakerEnabled>
    <reCaptchaSecretKey>
      <Value><![CDATA[]]></Value>
    </reCaptchaSecretKey>
    <reCaptchaSiteKey>
      <Value><![CDATA[]]></Value>
    </reCaptchaSiteKey>
    <searchIndexName>
      <Value><![CDATA[DiabossSearchIndex]]></Value>
    </searchIndexName>
    <settingsAnalyticsCodes>
      <Value><![CDATA[]]></Value>
    </settingsAnalyticsCodes>
    <settingsSeoDisableSiteIndexing>
      <Value><![CDATA[0]]></Value>
    </settingsSeoDisableSiteIndexing>
    <settingsSeoDisableSocialMediaTags>
      <Value><![CDATA[0]]></Value>
    </settingsSeoDisableSocialMediaTags>
    <settingsTagManagerContainerID>
      <Value><![CDATA[]]></Value>
    </settingsTagManagerContainerID>
    <umbracoUsers>
      <Value><![CDATA[]]></Value>
    </umbracoUsers>
    <umbracoUsersBL>
      <Value><![CDATA[]]></Value>
    </umbracoUsersBL>
    <websiteName>
      <Value><![CDATA[Diaboss]]></Value>
    </websiteName>
  </Properties>
</Content>