<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a6b1710-f50b-4f94-b7b1-613c30d17cb2" Alias="Slagaderverkalking" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/Slagaderverkalking</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-07-04T08:33:57</CreateDate>
    <NodeName Default="Slagaderverkalking">
      <Name Culture="nl-nl">Slagaderverkalking</Name>
    </NodeName>
    <SortOrder>30</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/57b24bd54fd7473da2dc7ea961375fab]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[Bloed stroomt door de bloedvaten naar alle delen van het lichaam. De bloedvaten die bloed en zuurstof van het hart naar de organen en weefsels brengen heten slagaders. Bij een vernauwing van de slagaders kan het bloed niet goed doorstromen naar de organen. Dit is gevaarlijk voor uw gezondheid.]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Informatie van de Hartstichting over slagaderverkalking",
    "target": "_blank",
    "url": "https://www.hartstichting.nl/hart-en-vaatziekten/slagaderverkalking?gclid=EAIaIQobChMIx6eB4Mau9wIVB5BoCR1s2gryEAAYASAAEgLcePD_BwE"
  },
  {
    "name": "Informatie van het Diabetesfonds over atherosclerose",
    "target": "_blank",
    "url": "https://www.diabetesfonds.nl/over-diabetes/diabetes-in-het-algemeen/woordenboek/atherosclerose"
  }
]]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[[]]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a35b643670db4faa9abe230a5b3e42c1"
      },
      {
        "contentUdi": "umb://element/9f23d45032dd427a91a503a1de1dedf2"
      }
    ]
  },
  "contentData": [
    {
      "contentItemContentText": "<p>Bij een baby zijn de slagaderen schoon en glad. Bij iedereen komen er al in de jeugd verdikkingen in de wand van de slagaderen. Die verdikkingen heten plaques. Ze ontstaan door hoopjes witte bloedcellen en vet in de wand van de slagader. Er kan ook kalk in de slagaderen ontstaan. Hier komt de naam slagaderverkalking vandaan</p>\n<p>Het risico op vernauwing van de slagaderen is groter door:</p>\n<ul>\n<li>roken</li>\n<li>hoge bloeddruk</li>\n<li>hoog cholesterol</li>\n<li>overgewicht</li>\n<li>weinig bewegen</li>\n<li>veel alcohol</li>\n<li>een hogere leeftijd</li>\n<li>diabetes mellitus / suikerziekte</li>\n<li>reuma</li>\n</ul>\n<p>Slagaderverkalking kan ook erfelijk zijn. Dan komt slagaderverkalking vaker in uw familie voor.</p>\n<p><img src=\"?width=656&amp;height=353&amp;mode=max\" alt=\"\" width=\"656\" height=\"353\" data-udi=\"umb://media/b7370f6a4e624212b463f0ebf8723fbf\" /></p>",
      "contentItemTitle": "Zo ontstaat het",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/a35b643670db4faa9abe230a5b3e42c1"
    },
    {
      "contentItemContentText": "<p>U kunt lang slagaderverkalking hebben zonder dat u er last van heeft. Als de wand van de slagader erg nauw wordt, krijgt u pijn. U kunt pijn hebben tijdens het lopen. U kunt ook pijn op de borst hebben, als u zich inspant of heftige emoties heeft. <br />Neem bij deze klachten contact op met de huisarts. De huisarts kan u doorverwijzen naar onze Vasculaire polikliniek.</p>\n<p>Meestal wordt de slagader niet helemaal afgesloten. Er kan wel een scheurtje in een plaque ontstaan. De hoopjes vet, witte bloedcellen en kalk kunnen mengen met het bloed. Dan komen er klontjes in het bloed: bloedstolsels. Bloedstolsels kunnen aderen of slagaderen afsluiten. Het bloed kan dan niet verder stromen. U kunt dan een hartinfarct of een herseninfarct krijgen.</p>",
      "contentItemTitle": "Klachten",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/9f23d45032dd427a91a503a1de1dedf2"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d70b4293870f43b9ba0ba2051e6c25f0"
      },
      {
        "contentUdi": "umb://element/d2da8b58a5c14232adff03b9a19b3dda"
      }
    ]
  },
  "contentData": [
    {
      "contentItemContentText": "<p>Bij een baby zijn de slagaderen schoon en glad. Bij iedereen komen er al in de jeugd verdikkingen in de wand van de slagaderen. Die verdikkingen heten plaques. Ze ontstaan door hoopjes witte bloedcellen en vet in de wand van de slagader. Er kan ook kalk in de slagaderen ontstaan. Hier komt de naam slagaderverkalking vandaan</p>\n<p>Het risico op vernauwing van de slagaderen is groter door:</p>\n<ul>\n<li>roken</li>\n<li>hoge bloeddruk</li>\n<li>hoog cholesterol</li>\n<li>overgewicht</li>\n<li>weinig bewegen</li>\n<li>veel alcohol</li>\n<li>een hogere leeftijd</li>\n<li>diabetes mellitus / suikerziekte</li>\n<li>reuma</li>\n</ul>\n<p>Slagaderverkalking kan ook erfelijk zijn. Dan komt slagaderverkalking vaker in uw familie voor.</p>\n<p><img src=\"?width=656&amp;height=353&amp;mode=max\" alt=\"\" width=\"656\" height=\"353\" data-udi=\"umb://media/b7370f6a4e624212b463f0ebf8723fbf\" /></p>",
      "contentItemTitle": "Zo ontstaat het",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/d70b4293870f43b9ba0ba2051e6c25f0"
    },
    {
      "contentItemContentText": "<p>U kunt lang slagaderverkalking hebben zonder dat u er last van heeft. Als de wand van de slagader erg nauw wordt, krijgt u pijn. U kunt pijn hebben tijdens het lopen. U kunt ook pijn op de borst hebben, als u zich inspant of heftige emoties heeft. <br />Neem bij deze klachten contact op met de huisarts. De huisarts kan u doorverwijzen naar onze Vasculaire polikliniek.</p>\n<p>Meestal wordt de slagader niet helemaal afgesloten. Er kan wel een scheurtje in een plaque ontstaan. De hoopjes vet, witte bloedcellen en kalk kunnen mengen met het bloed. Dan komen er klontjes in het bloed: bloedstolsels. Bloedstolsels kunnen aderen of slagaderen afsluiten. Het bloed kan dan niet verder stromen. U kunt dan een hartinfarct of een herseninfarct krijgen.</p>",
      "contentItemTitle": "Klachten",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/d2da8b58a5c14232adff03b9a19b3dda"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Aandoeningen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[<p>Heeft u na het lezen van deze informatie nog vragen? Stel uw vraag aan de polikliniek via <a href="https://www.mijnolvg.nl/MyChart-PRD/Authentication/Login">MijnOLVG</a>. Op werkdagen kunt u ook bellen.</p>
<p><strong>Polikliniek Vasculaire Geneeskunde, via de polikliniek Interne Geneeskunde, locatie Oost, P2<br /></strong>020 599 30 37 (op werkdagen van 08.15 tot 16.15 uur)</p>
<p><strong>Polikliniek Vasculaire Geneeskunde, via de polikliniek Interne Geneeskunde, locatie West, route 14<br /></strong>020 510 88 82 (op werkdagen van 08.15 tot 16.15 uur)</p>]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[Contact]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>vernauwing van de slagaderen</p>]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Slagaderverkalking]]></Value>
    </title>
  </Properties>
</Content>