<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5427e41-a583-40b4-88d0-9530d63f0c9f" Alias="Standaard content sebas" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/StandaardContentSebas</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContent</ContentType>
    <CreateDate>2024-05-31T15:34:08</CreateDate>
    <NodeName Default="Standaard content sebas">
      <Name Culture="nl-nl">Standaard content sebas</Name>
    </NodeName>
    <SortOrder>37</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </content>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <fAQ>
      <Value><![CDATA[]]></Value>
    </fAQ>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/33ae9ddda3094ff39860a150e0e5f178"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
      "medicalInfoVideo": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7d271aaa2ad341a08f9479c24a1df5df"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
            "udi": "umb://element/7d271aaa2ad341a08f9479c24a1df5df",
            "videoPlayer": "{\r\n  \"videoUrl\": \"https://indiveo.services/embed/3b133c6f-2b7f-4d40-8e81-1bdc3117ebcf\",\r\n  \"videoOverrideTitle\": \"Test indiveo\",\r\n  \"aspectRatio\": null\r\n}"
          }
        ],
        "settingsData": []
      },
      "thumbnailImage": [
        {
          "key": "1b5d1342-4b1c-4aba-a80c-ce7aeaa89872",
          "mediaKey": "05ed99ea-da09-4f98-b262-1b24d2d63a34"
        }
      ],
      "udi": "umb://element/33ae9ddda3094ff39860a150e0e5f178"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e7303476a6624eb8b0a7deace437f6fb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
      "medicalInfoVideoBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/711719ce33824d6186b28ed42dc21124"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
            "udi": "umb://element/711719ce33824d6186b28ed42dc21124",
            "videoPlayer": {
              "videoUrl": "https://indiveo.services/embed/3b133c6f-2b7f-4d40-8e81-1bdc3117ebcf",
              "videoOverrideTitle": "Test indiveo",
              "aspectRatio": null
            }
          }
        ],
        "settingsData": []
      },
      "thumbnailImage": [
        {
          "key": "1b5d1342-4b1c-4aba-a80c-ce7aeaa89872",
          "mediaKey": "05ed99ea-da09-4f98-b262-1b24d2d63a34"
        }
      ],
      "udi": "umb://element/e7303476a6624eb8b0a7deace437f6fb"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Sebastiaan]]></Value>
    </title>
    <zorgverleners>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </zorgverleners>
  </Properties>
</Content>