<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6923741-15c6-4d1e-ae7f-61ed897c6099" Alias="Test Oogonderzoek" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/TestOogonderzoek</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-09-08T11:40:25</CreateDate>
    <NodeName Default="Test Oogonderzoek">
      <Name Culture="nl-nl">Test Oogonderzoek</Name>
    </NodeName>
    <SortOrder>56</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/01bb7c1d25c0499d9b2f3cb0b5670fa1]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b61fb4b819034016805a13475c3b6703"
      },
      {
        "contentUdi": "umb://element/37f7149c75d34b42aca5f64915eda4d4"
      }
    ]
  },
  "contentData": [
    {
      "contentItemContentText": "<p>Een oog zit in je hoofd. Je kijkt ermee. </p>\n<p><img style=\"float: left;\" src=\"?width=362&amp;height=204\" alt=\"\" width=\"362\" height=\"204\" data-udi=\"umb://media/0e939d6f87c94bdc8dee9e163275c0e3\" /></p>\n<p>Wow! Het is een oog!</p>\n<p><img src=\"\" alt=\"\" data-udi=\"umb://media/3484b48893c944ff982fc72da281e1aa\" /></p>",
      "contentItemTitle": "Wat is een oog?",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/b61fb4b819034016805a13475c3b6703"
    },
    {
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Eet veel worteltjes!</p>",
      "udi": "umb://element/37f7149c75d34b42aca5f64915eda4d4"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9c92b40053334d0ca800297e3c524509"
      },
      {
        "contentUdi": "umb://element/3ed85402977a4fc5bca8e30e739edad9"
      }
    ]
  },
  "contentData": [
    {
      "contentItemContentText": "<p>Een oog zit in je hoofd. Je kijkt ermee. </p>\n<p><img style=\"float: left;\" src=\"?width=362&amp;height=204\" alt=\"\" width=\"362\" height=\"204\" data-udi=\"umb://media/0e939d6f87c94bdc8dee9e163275c0e3\" /></p>\n<p>Wow! Het is een oog!</p>\n<p><img src=\"\" alt=\"\" data-udi=\"umb://media/3484b48893c944ff982fc72da281e1aa\" /></p>",
      "contentItemTitle": "Wat is een oog?",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/9c92b40053334d0ca800297e3c524509"
    },
    {
      "contentTypeKey": "98ddbe46-7043-46a9-896c-692253d8f482",
      "importantInformationIcon": [
        "Ja"
      ],
      "importantInfoText": "<p>Eet veel worteltjes!</p>",
      "udi": "umb://element/3ed85402977a4fc5bca8e30e739edad9"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Onderzoeken]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Oogonderzoek]]></Value>
    </title>
  </Properties>
</Content>