<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf25b69-fa0a-4181-b660-d3e9663e88f1" Alias="test" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/test</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContent</ContentType>
    <CreateDate>2023-04-21T11:56:45</CreateDate>
    <NodeName Default="test">
      <Name Culture="nl-nl">test</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="false">
      <Published Culture="nl-nl">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<div class=\"row\">\n<div class=\"col-3\">test</div>\n<div class=\"col-3\">test</div>\n<div class=\"col-3\">test</div>\n</div>\n<div class=\"row\">\n<div class=\"col-12 col-lg-4\">test</div>\n<div class=\"col-12 col-lg-4\">test</div>\n<div class=\"col-12 col-lg-4\">test</div>\n</div>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <fAQ>
      <Value><![CDATA[]]></Value>
    </fAQ>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e7a47707a6c94ba19915e0f78495bbab"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
      "medicalInfoVideo": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d3379dc5030f4e00a437b1c5b3bbb208"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "bf1fbc1d-8261-4d61-b9f5-5375bcd547fe",
            "title": "Test titel",
            "udi": "umb://element/d3379dc5030f4e00a437b1c5b3bbb208",
            "videoPlayer": "{\r\n  \"videoUrl\": \"https://www.youtube.com/watch?v=85RaOC3tq7o\",\r\n  \"videoOverrideTitle\": \"Video title\",\r\n  \"aspectRatio\": null\r\n}"
          }
        ],
        "settingsData": []
      },
      "thumbnailImage": [
        {
          "key": "e2668177-4f9d-4959-82c5-c8c1e6baf061",
          "mediaKey": "0859cc91-6f12-4b3c-963a-90ae9340beb1"
        }
      ],
      "udi": "umb://element/e7a47707a6c94ba19915e0f78495bbab"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/85f726a84f5a4eebb20c2bcba77bb097"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
      "medicalInfoVideoBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/acbf56aa8c964d9883de4ca18c88bc70"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "bf1fbc1d-8261-4d61-b9f5-5375bcd547fe",
            "title": "Test titel",
            "udi": "umb://element/acbf56aa8c964d9883de4ca18c88bc70",
            "videoPlayer": {
              "videoUrl": "https://www.youtube.com/watch?v=85RaOC3tq7o",
              "videoOverrideTitle": "Video title",
              "aspectRatio": null
            }
          }
        ],
        "settingsData": []
      },
      "thumbnailImage": [
        {
          "key": "e2668177-4f9d-4959-82c5-c8c1e6baf061",
          "mediaKey": "0859cc91-6f12-4b3c-963a-90ae9340beb1"
        }
      ],
      "udi": "umb://element/85f726a84f5a4eebb20c2bcba77bb097"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[test]]></Value>
    </title>
    <zorgverleners>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </zorgverleners>
  </Properties>
</Content>