<?xml version="1.0" encoding="utf-8"?>
<Content Key="14a1a024-5b2e-4c59-9f61-571f139f5a50" Alias="Test zorgpad Vincent 2" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/TestZorgpadVincent2</Path>
    <Trashed>false</Trashed>
    <ContentType>zorgpad</ContentType>
    <CreateDate>2022-06-28T11:18:25</CreateDate>
    <NodeName Default="Test zorgpad Vincent 2">
      <Name Culture="nl-nl">Test zorgpad Vincent 2</Name>
    </NodeName>
    <SortOrder>47</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bottomContent>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </bottomContent>
    <contactContent>
      <Value Culture="nl-nl"><![CDATA[<h2>Content van de contactpagina</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
<h3>H3 kop</h3>
<h4>H4 kop</h4>
<h5>H5 kop</h5>
<h6>H6 kop</h6>
<p><button class="red-button-component">button rood</button></p>
<p><button class="blue-button-component">button blauw</button></p>]]></Value>
    </contactContent>
    <contactTitle>
      <Value Culture="nl-nl"><![CDATA[Uw behandelteam]]></Value>
    </contactTitle>
    <content>
      <Value Culture="nl-nl"><![CDATA[<div class="field field--body field--type-text-long">
<p class="dummy">Veranderingen in de borst kunnen wijzen op borstkanker, maar kan ook andere oorzaken hebben. Wij raden u aan om bij afwijkingen een bezoek aan uw huisarts te brengen.</p>
<p class="dummy">Voor meer informatie over borstkanker verwijzen we u naar de goede website van de Borstkankervereniging Nederland: <a rel="noopener" tabindex="0" href="http://www.borstkanker.nl/" target="_blank" class="ext">www.borstkanker.nl</a></p>
<h3>Corona en borstkanker</h3>
<p>Meer informatie over corona in relatie tot de behandeling van borstkanker leest u op de sites van de <a rel="noopener" tabindex="0" href="https://nfk.nl/corona" target="_blank" class="ext">Nederlandse Federatie van Kankerpatiëntenorganisaties</a> (NFK) en van de <a rel="noopener" tabindex="0" href="https://borstkanker.nl/nl/nieuws/bvn-en-nabon-geven-antwoorden-over-het-coronavirus-en-borstkankerzorg" target="_blank" class="ext">Borstkankervereniging Nederland</a>.</p>
<h3>Nuttige links</h3>
<ul>
<li><a rel="noopener" tabindex="0" href="https://www.borstkanker.nl/" target="_blank" class="ext">borstkanker.nl</a></li>
<li><a rel="noopener" tabindex="0" href="https://www.mannenmetborstkanker.nl/" target="_blank" class="ext">mannenmetborstkanker.nl</a></li>
<li><a rel="noopener" tabindex="0" href="https://santeon.nl/aandoening/borstkanker/" target="_blank" class="ext">Infographic borstkanker Santeon</a> 
<div class="figure"></div>
</li>
</ul>
</div>
<div class="field__content"></div>
<div class="field field--outro field--type-text-long">
<div class="media media-element-container media-full"><a rel="noopener" tabindex="0" type="application/pdf; length=385662" href="https://www.olvg.nl/sites/default/files/factsheetborstkanker.pdf" target="_blank" class="ext"><span class="ext">Bekijk onze kwaliteit in feiten en cijfers</span></a></div>
</div>]]></Value>
    </content>
    <departments>
      <Value><![CDATA[umb://document/18fb21fb31904c22bae74c43ad35b89f]]></Value>
    </departments>
    <externalLinksList>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Google",
    "url": "https://www.google.com"
  },
  {
    "name": "YouTube",
    "url": "https://www.youtube.com"
  }
]]]></Value>
    </externalLinksList>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
    </headDepartment>
    <headHealthProfessional>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </headHealthProfessional>
    <healthProfessionalsContact>
      <Value Culture="nl-nl"><![CDATA[umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/fe25aed5706c4fdfa5b6b7c407cd9fe5]]></Value>
    </healthProfessionalsContact>
    <internalLinksList>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "test Vincent medische info",
    "udi": "umb://document/aaab5bebab514df1bdf92347cfe13ecd"
  },
  {
    "name": "Borstkanker",
    "udi": "umb://document/14a1a0245b2e4c599f61571f139f5a50"
  },
  {
    "name": "Dag van de Fietshelm",
    "udi": "umb://document/3f1b4f708d9d42a7a8a628a217910dd9"
  }
]]]></Value>
    </internalLinksList>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introduction>
      <Value Culture="nl-nl"><![CDATA[<p>Borstkanker is voor u en uw naasten een ingrijpende gebeurtenis. Het is dan belangrijk dat u goed weet wat de ziekte inhoudt en welke behandelingen mogelijk zijn. In deze periode heeft u contact met verschillende zorgverleners en afdelingen. We begeleiden u stap voor stap. Dit vindt u terug in het zorgpad borstkanker.  Onderaan deze pagina kunt u het behandeltraject per stap bekijken.</p>]]></Value>
    </introduction>
    <introductionNavigationTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionNavigationTitle>
    <introductionTeam>
      <Value Culture="nl-nl"><![CDATA[<h3>Introductie behandelteam</h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>]]></Value>
    </introductionTeam>
    <introFactsAndNumbers>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introFactsAndNumbers>
    <introFactsAndNumbersBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introFactsAndNumbersBL>
    <introReadMore>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introReadMore>
    <introUsefullSites>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introUsefullSites>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <professionalContact>
      <Value Culture="nl-nl"><![CDATA[umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/fe25aed5706c4fdfa5b6b7c407cd9fe5]]></Value>
    </professionalContact>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <steps>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c3db452fe516443fbcbe092e6a3cd8b0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "sections": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2b0ec84ed5ef48829dcb7433aa48dae6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7053b8c8-7ef7-43dc-8a70-40f12f4796d5",
            "list": "umb://document/fe728ef1241c483585ba9ab097bc9ae1,umb://document/11bb6c894f5a4810870b8a73f3c9fc77",
            "title": "dit is medisch info",
            "udi": "umb://element/2b0ec84ed5ef48829dcb7433aa48dae6"
          }
        ],
        "settingsData": []
      },
      "titleStep": "test med info",
      "udi": "umb://element/c3db452fe516443fbcbe092e6a3cd8b0"
    }
  ],
  "settingsData": []
}]]></Value>
    </steps>
    <stepsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b541de07401b46e18d84ebd99ae47c87"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "sectionsBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5804c5920925450ab2f508adfd6e4d99"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7053b8c8-7ef7-43dc-8a70-40f12f4796d5",
            "list": "umb://document/fe728ef1241c483585ba9ab097bc9ae1,umb://document/11bb6c894f5a4810870b8a73f3c9fc77",
            "title": "dit is medisch info",
            "udi": "umb://element/5804c5920925450ab2f508adfd6e4d99"
          }
        ],
        "settingsData": []
      },
      "titleStep": "test med info",
      "udi": "umb://element/b541de07401b46e18d84ebd99ae47c87"
    }
  ],
  "settingsData": []
}]]></Value>
    </stepsBL>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>Dit is een custom subtitel</p>]]></Value>
    </subtitle>
    <tableOfContents>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cf90221a676b45bfa5addaa9ac7032fa"
      },
      {
        "contentUdi": "umb://element/e7cf799d6bb2483a91cc8a30bf07584b"
      },
      {
        "contentUdi": "umb://element/c3ffd8abdebc4498beaf892675e5c425"
      }
    ]
  },
  "contentData": [
    {
      "abstractTextField": "Een multidisciplinair oncologisch team bespreekt uw persoonlijk behandelplan.",
      "abstractTitleField": "Persoonlijk behandelplan",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/cf90221a676b45bfa5addaa9ac7032fa"
    },
    {
      "abstractTextField": "U krijgt een eigen casemanager; uw vaste contactpersoon tijdens de gehele behandeling.",
      "abstractTitleField": "Eén vast aanspreekpunt",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/e7cf799d6bb2483a91cc8a30bf07584b"
    },
    {
      "abstractTextField": "Voor de behandeling van borstkanker werken we intensief samen met het Antoni van Leeuwenhoek en BovenIJ ziekenhuis.",
      "abstractTitleField": "Samenwerking",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/c3ffd8abdebc4498beaf892675e5c425"
    }
  ],
  "settingsData": []
}]]></Value>
    </tableOfContents>
    <tableOfContentsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4504bec7502a4b548d0bce53b90a8e25"
      },
      {
        "contentUdi": "umb://element/1af1ff8ca9f9442daf52bd07c6ec3d0d"
      },
      {
        "contentUdi": "umb://element/36fb26f305784d4f91ec14744c16a4eb"
      }
    ]
  },
  "contentData": [
    {
      "abstractTextField": "Een multidisciplinair oncologisch team bespreekt uw persoonlijk behandelplan.",
      "abstractTitleField": "Persoonlijk behandelplan",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/4504bec7502a4b548d0bce53b90a8e25"
    },
    {
      "abstractTextField": "U krijgt een eigen casemanager; uw vaste contactpersoon tijdens de gehele behandeling.",
      "abstractTitleField": "Eén vast aanspreekpunt",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/1af1ff8ca9f9442daf52bd07c6ec3d0d"
    },
    {
      "abstractTextField": "Voor de behandeling van borstkanker werken we intensief samen met het Antoni van Leeuwenhoek en BovenIJ ziekenhuis.",
      "abstractTitleField": "Samenwerking",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/36fb26f305784d4f91ec14744c16a4eb"
    }
  ],
  "settingsData": []
}]]></Value>
    </tableOfContentsBL>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[Kenmerken van dit zorgpad]]></Value>
    </tableOfContentsTitle>
    <textButton>
      <Value Culture="nl-nl"><![CDATA[Uw behandelteam]]></Value>
    </textButton>
    <title>
      <Value Culture="nl-nl"><![CDATA[Borstkanker]]></Value>
    </title>
    <titleTeam>
      <Value Culture="nl-nl"><![CDATA[behandelteam]]></Value>
    </titleTeam>
  </Properties>
</Content>