<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f1f33b5-3229-4913-b1c7-d495380be388" Alias="Test ervaringsoverzicht" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/TestErvaringsoverzicht</Path>
    <Trashed>false</Trashed>
    <ContentType>ervaringsoverzicht</ContentType>
    <CreateDate>2022-07-05T11:47:06</CreateDate>
    <NodeName Default="Test ervaringsoverzicht">
      <Name Culture="nl-nl">Test ervaringsoverzicht</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </departments>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>voor altijd in uw hart</p>]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Test ervaringsverhalen overzicht]]></Value>
    </title>
  </Properties>
</Content>