<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bd04dee-c06c-44c7-a3b3-f9a49808aff2" Alias="Testafdeling voor overzicht" Level="5">
  <Info>
    <Parent Key="e6dc5fa5-2fad-45e5-96e8-61689168277e">Afdelingen</Parent>
    <Path>/Website/Pages/Home/Afdelingen/TestafdelingVoorOverzicht</Path>
    <Trashed>false</Trashed>
    <ContentType>department</ContentType>
    <CreateDate>2022-09-05T09:26:33</CreateDate>
    <NodeName Default="Testafdeling voor overzicht">
      <Name Culture="nl-nl">Testafdeling voor overzicht</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactLink>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </contactLink>
    <contactsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </contactsTitle>
    <departmentContacts>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a09236f57629459b846a99804e894dac"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<p>dit is een test contactblok</p>",
      "abstractTitle": "test contact",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/a09236f57629459b846a99804e894dac"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContacts>
    <departmentContactsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dbb5e8f03b404f068a826b28546a4a26"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<p>dit is een test contactblok</p>",
      "abstractTitle": "test contact",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/dbb5e8f03b404f068a826b28546a4a26"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContactsBL>
    <departmentErvaringsverhaal>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentErvaringsverhaal>
    <departmentFacts>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFacts>
    <departmentFactsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFactsBL>
    <departmentImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "f465b776-708c-469d-bbbb-4e9881310ae1",
    "mediaKey": "1f83ae26-1883-4484-939f-c13cd715ed70"
  }
]]]></Value>
    </departmentImage>
    <faq>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </faq>
    <healthcareProfessionals>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </healthcareProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionExtraContentBlock>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionExtraContentBlock>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <photobook>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </photobook>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <synonyms>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonyms>
    <synonymsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonymsBL>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Testafdeling voor overzicht]]></Value>
    </title>
    <videoComponentLink>
      <Value><![CDATA[]]></Value>
    </videoComponentLink>
    <videoComponentTitleItem>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </videoComponentTitleItem>
  </Properties>
</Content>