<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b6f69ef-02ad-4d84-a4ea-d83f29b50bb9" Alias="TestNenaBehandeling" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/TestNenaBehandeling</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-09-08T11:33:15</CreateDate>
    <NodeName Default="TestNenaBehandeling">
      <Name Culture="nl-nl">TestNenaBehandeling</Name>
    </NodeName>
    <SortOrder>53</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[introductietekst
behandeling]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[Introductie uitbreiding uitklapbaar]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "OnzeTaal",
    "url": "https://onzetaal.nl/taalloket/digibeet#:~:text=Ja%2C%20digibeet%20is%20een%20correct,weinig%20of%20geen%20digitale%20vaardigheden'."
  },
  {
    "name": "Kop Kom Gewricht",
    "udi": "umb://media/6360a71f0038455eb14fc684ddf3ebbf"
  }
]]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/39e066f60e9a4fd7b8aff6ebeeedfeb2"
      },
      {
        "contentUdi": "umb://element/770e3b0c23944e9b825c01099bbc31a1"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "contentItemContentText": "<p>Tekst test </p>\n<p>Video test:</p>\n<p> </p>\n<p> </p>\n<p><iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/OoGD-HVLUuw\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen=\"\"></iframe></p>\n<p> </p>\n<p><img src=\"?width=1000&amp;height=auto&amp;mode=max\" alt=\"\" width=\"1000\" height=\"auto\" data-udi=\"umb://media/9b98b795d96e46e29ba063c141228e25\" /></p>\n<p><img src=\"?width=1000&amp;height=auto&amp;mode=max\" alt=\"\" width=\"1000\" height=\"auto\" data-udi=\"umb://media/388ed62a7502451aa98b9213773fd107\" /></p>\n<p> </p>\n<p><img src=\"?width=786&amp;height=442&amp;mode=max\" alt=\"\" width=\"1000\" height=\"auto\" data-udi=\"umb://media/388ed62a7502451aa98b9213773fd107\" /></p>",
      "contentItemTitle": "Informatie over een prothese ",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/39e066f60e9a4fd7b8aff6ebeeedfeb2"
    },
    {
      "contentTypeKey": "6b7fd6aa-a739-4c20-81af-7f1d151d3200",
      "medicalInfoTips": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/59144122663f412f9aeda59b7503079f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fdcda3d0-73a8-4f67-a4ad-961384ee6cf3",
            "text": "tips voor na de operatie ",
            "title": "Na de operatie",
            "udi": "umb://element/59144122663f412f9aeda59b7503079f"
          }
        ],
        "settingsData": []
      },
      "tipsTitle": "Na de operatie",
      "udi": "umb://element/770e3b0c23944e9b825c01099bbc31a1"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f31e9f0ea08f4762ba4d9d923336119d"
      },
      {
        "contentUdi": "umb://element/78b680c0132540ee8dcd091943f09d10"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "contentItemContentText": "<p>Tekst test </p>\n<p>Video test:</p>\n<p> </p>\n<p> </p>\n<p><iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/OoGD-HVLUuw\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen=\"\"></iframe></p>\n<p> </p>\n<p><img src=\"?width=1000&amp;height=auto&amp;mode=max\" alt=\"\" width=\"1000\" height=\"auto\" data-udi=\"umb://media/9b98b795d96e46e29ba063c141228e25\" /></p>\n<p><img src=\"?width=1000&amp;height=auto&amp;mode=max\" alt=\"\" width=\"1000\" height=\"auto\" data-udi=\"umb://media/388ed62a7502451aa98b9213773fd107\" /></p>\n<p> </p>\n<p><img src=\"?width=786&amp;height=442&amp;mode=max\" alt=\"\" width=\"1000\" height=\"auto\" data-udi=\"umb://media/388ed62a7502451aa98b9213773fd107\" /></p>",
      "contentItemTitle": "Informatie over een prothese ",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/f31e9f0ea08f4762ba4d9d923336119d"
    },
    {
      "contentTypeKey": "6b7fd6aa-a739-4c20-81af-7f1d151d3200",
      "medicalInfoTipsBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/287c2f37339e43298f4c0c5996ff756d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "fdcda3d0-73a8-4f67-a4ad-961384ee6cf3",
            "text": "tips voor na de operatie ",
            "title": "Na de operatie",
            "udi": "umb://element/287c2f37339e43298f4c0c5996ff756d"
          }
        ],
        "settingsData": []
      },
      "tipsTitle": "Na de operatie",
      "udi": "umb://element/78b680c0132540ee8dcd091943f09d10"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Behandelingen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>Subtitel van behandeling</p>]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[Test Nena Behandeling ]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[TestNenaBehandeling]]></Value>
    </title>
  </Properties>
</Content>