<?xml version="1.0" encoding="utf-8"?>
<Content Key="937916ed-b4d3-49f1-a5c5-78c8ae70ee0c" Alias="Test contentpagina sebastiaan12345" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/TestContentpaginaSebastiaan12345</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContent</ContentType>
    <CreateDate>2024-05-27T14:22:55</CreateDate>
    <NodeName Default="Test contentpagina sebastiaan12345">
      <Name Culture="nl-nl">Test contentpagina sebastiaan12345</Name>
    </NodeName>
    <SortOrder>35</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </content>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <fAQ>
      <Value><![CDATA[]]></Value>
    </fAQ>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5b97852aa4834d3da6ce187ab89431c1"
      },
      {
        "contentUdi": "umb://element/42789d32fb384283bcfa938cca997dda"
      },
      {
        "contentUdi": "umb://element/82137f857b0a4a26a5a2d8d591c42d21"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentItemContentText": {
        "markup": "<umb-rte-block data-content-udi=\"umb://element/fbed2c0a72b54a51b55e623ead12a140\"><!--Umbraco-Block--></umb-rte-block><umb-rte-block data-content-udi=\"umb://element/b89d93f85be94591b64e747b6ade4bf5\"><!--Umbraco-Block--></umb-rte-block>\n<p style=\"text-align: left;\">&nbsp;</p>",
        "blocks": {
          "layout": {
            "Umbraco.TinyMCE": [
              {
                "contentUdi": "umb://element/b89d93f85be94591b64e747b6ade4bf5"
              },
              {
                "contentUdi": "umb://element/fbed2c0a72b54a51b55e623ead12a140"
              }
            ]
          },
          "contentData": [
            {
              "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
              "udi": "umb://element/fbed2c0a72b54a51b55e623ead12a140",
              "videoPlayer": "{\r\n  \"videoUrl\": \"https://www.youtube.com/watch?v=r3crivOTB9g\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": 0\r\n}",
              "maximumWidth": 400
            },
            {
              "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
              "udi": "umb://element/b89d93f85be94591b64e747b6ade4bf5",
              "videoPlayer": "{\r\n  \"videoUrl\": \"https://vimeo.com/channels/staffpicks/951346486\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": null\r\n}",
              "maximumWidth": 600
            }
          ],
          "settingsData": []
        }
      },
      "contentItemTitle": "Test video embed",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/5b97852aa4834d3da6ce187ab89431c1"
    },
    {
      "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
      "medicalInfoVideo": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b04a8f1556684586a0ed784e77b51cf5"
            },
            {
              "contentUdi": "umb://element/374951db8ccf49b99fb47c36f749da19"
            },
            {
              "contentUdi": "umb://element/a414124317fe4434be32da208239d414"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "bf1fbc1d-8261-4d61-b9f5-5375bcd547fe",
            "linkText": "dasdas",
            "thumbnailImage": [],
            "title": "klik",
            "udi": "umb://element/b04a8f1556684586a0ed784e77b51cf5",
            "videoPlayer": "{\r\n  \"videoUrl\": \"https://www.youtube.com/watch?v=8EAUAGtTclo\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": 0\r\n}"
          },
          {
            "contentTypeKey": "bf1fbc1d-8261-4d61-b9f5-5375bcd547fe",
            "linkText": "dasdas",
            "thumbnailImage": [],
            "title": "Vimeo",
            "udi": "umb://element/374951db8ccf49b99fb47c36f749da19",
            "videoPlayer": "{\r\n  \"videoUrl\": \"https://vimeo.com/903371114\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": 0\r\n}"
          },
          {
            "contentTypeKey": "bf1fbc1d-8261-4d61-b9f5-5375bcd547fe",
            "linkText": "dsadas",
            "thumbnailImage": [],
            "title": "Indiveo",
            "udi": "umb://element/a414124317fe4434be32da208239d414",
            "videoPlayer": "{\r\n  \"videoUrl\": \"https://indiveo.services/embed/494f6682-c0d4-4be4-93fa-5b48538e9b85\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": null\r\n}"
          }
        ],
        "settingsData": []
      },
      "thumbnailImage": [],
      "udi": "umb://element/42789d32fb384283bcfa938cca997dda"
    },
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentItemContentText": {
        "markup": "<p>dsadsa <umb-rte-block-inline data-content-udi=\"umb://element/82a60cf7bc6e4cb9bddecdb05b30c206\"><!--Umbraco-Block--></umb-rte-block-inline> das <a rel=\"noopener\" href=\"http://www.google.com\" target=\"_blank\" title=\"sadsadasdasdasda\">sadsadasdasdasda</a> dad&nbsp;<umb-rte-block-inline data-content-udi=\"umb://element/fcaa71b853d840869f3b6d2f20dd9af4\"><!--Umbraco-Block--></umb-rte-block-inline> hahaha <umb-rte-block-inline data-content-udi=\"umb://element/5378f3b035e944c7910bfed9d0e4fe50\"><!--Umbraco-Block--></umb-rte-block-inline> hahaha<a rel=\"noopener\" href=\"http://www.google.com\" target=\"_blank\" title=\"dasdasdasda\">dasdasdasda</a></p>\n<p>&nbsp;<a href=\"/{localLink:umb://document/937916edb4d349f1a5c578c8ae70ee0c}\" title=\"Test contentpagina sebastiaan123\">Test contentpagina sebastiaan123</a></p>",
        "blocks": {
          "layout": {
            "Umbraco.TinyMCE": [
              {
                "contentUdi": "umb://element/82a60cf7bc6e4cb9bddecdb05b30c206"
              },
              {
                "contentUdi": "umb://element/5378f3b035e944c7910bfed9d0e4fe50"
              },
              {
                "contentUdi": "umb://element/fcaa71b853d840869f3b6d2f20dd9af4"
              }
            ]
          },
          "contentData": [
            {
              "contentTypeKey": "736bec91-baf3-48f5-93d5-891f154145ff",
              "udi": "umb://element/fcaa71b853d840869f3b6d2f20dd9af4",
              "link": "umb://document/cf1a4224934e461c8932ee2069c174e6",
              "openInNewTab": 0
            },
            {
              "contentTypeKey": "736bec91-baf3-48f5-93d5-891f154145ff",
              "udi": "umb://element/5378f3b035e944c7910bfed9d0e4fe50",
              "link": "umb://document/2dde96fd534746048dbf12de43772d52",
              "openInNewTab": 0
            },
            {
              "contentTypeKey": "736bec91-baf3-48f5-93d5-891f154145ff",
              "udi": "umb://element/82a60cf7bc6e4cb9bddecdb05b30c206",
              "link": "umb://document/352e1179ba6d4d3eafdcf378b308d029",
              "openInNewTab": 0
            }
          ],
          "settingsData": []
        }
      },
      "contentItemTitle": "Test link",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/82137f857b0a4a26a5a2d8d591c42d21"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f76f70193f474a388dd5a90c41dbea0a"
      },
      {
        "contentUdi": "umb://element/68d1f11533c84cf2bcdbb66029e7f4b7"
      },
      {
        "contentUdi": "umb://element/0847c70beece440d9edada3a74567867"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentItemContentText": {
        "markup": "<umb-rte-block data-content-udi=\"umb://element/fbed2c0a72b54a51b55e623ead12a140\"><!--Umbraco-Block--></umb-rte-block><umb-rte-block data-content-udi=\"umb://element/b89d93f85be94591b64e747b6ade4bf5\"><!--Umbraco-Block--></umb-rte-block>\n<p style=\"text-align: left;\">&nbsp;</p>",
        "blocks": {
          "layout": {
            "Umbraco.TinyMCE": [
              {
                "contentUdi": "umb://element/b89d93f85be94591b64e747b6ade4bf5"
              },
              {
                "contentUdi": "umb://element/fbed2c0a72b54a51b55e623ead12a140"
              }
            ]
          },
          "contentData": [
            {
              "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
              "udi": "umb://element/fbed2c0a72b54a51b55e623ead12a140",
              "videoPlayer": "{\r\n  \"videoUrl\": \"https://www.youtube.com/watch?v=r3crivOTB9g\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": 0\r\n}",
              "maximumWidth": 400
            },
            {
              "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
              "udi": "umb://element/b89d93f85be94591b64e747b6ade4bf5",
              "videoPlayer": "{\r\n  \"videoUrl\": \"https://vimeo.com/channels/staffpicks/951346486\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": null\r\n}",
              "maximumWidth": 600
            }
          ],
          "settingsData": []
        }
      },
      "contentItemTitle": "Test video embed",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/f76f70193f474a388dd5a90c41dbea0a"
    },
    {
      "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
      "medicalInfoVideoBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/373cc106a60f4bb68839880dfd02d4a0"
            },
            {
              "contentUdi": "umb://element/53c44270e76c44dda0e9ccf966495406"
            },
            {
              "contentUdi": "umb://element/5d4f48ab36c24fd38f63c8ad87424821"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "bf1fbc1d-8261-4d61-b9f5-5375bcd547fe",
            "linkText": "dasdas",
            "thumbnailImage": [],
            "title": "klik",
            "udi": "umb://element/373cc106a60f4bb68839880dfd02d4a0",
            "videoPlayer": {
              "videoUrl": "https://www.youtube.com/watch?v=8EAUAGtTclo",
              "videoOverrideTitle": null,
              "aspectRatio": 0
            }
          },
          {
            "contentTypeKey": "bf1fbc1d-8261-4d61-b9f5-5375bcd547fe",
            "linkText": "dasdas",
            "thumbnailImage": [],
            "title": "Vimeo",
            "udi": "umb://element/53c44270e76c44dda0e9ccf966495406",
            "videoPlayer": {
              "videoUrl": "https://vimeo.com/903371114",
              "videoOverrideTitle": null,
              "aspectRatio": 0
            }
          },
          {
            "contentTypeKey": "bf1fbc1d-8261-4d61-b9f5-5375bcd547fe",
            "linkText": "dsadas",
            "thumbnailImage": [],
            "title": "Indiveo",
            "udi": "umb://element/5d4f48ab36c24fd38f63c8ad87424821",
            "videoPlayer": {
              "videoUrl": "https://indiveo.services/embed/494f6682-c0d4-4be4-93fa-5b48538e9b85",
              "videoOverrideTitle": null,
              "aspectRatio": null
            }
          }
        ],
        "settingsData": []
      },
      "thumbnailImage": [],
      "udi": "umb://element/68d1f11533c84cf2bcdbb66029e7f4b7"
    },
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentItemContentText": {
        "markup": "<p>dsadsa <umb-rte-block-inline data-content-udi=\"umb://element/82a60cf7bc6e4cb9bddecdb05b30c206\"><!--Umbraco-Block--></umb-rte-block-inline> das <a rel=\"noopener\" href=\"http://www.google.com\" target=\"_blank\" title=\"sadsadasdasdasda\">sadsadasdasdasda</a> dad&nbsp;<umb-rte-block-inline data-content-udi=\"umb://element/fcaa71b853d840869f3b6d2f20dd9af4\"><!--Umbraco-Block--></umb-rte-block-inline> hahaha <umb-rte-block-inline data-content-udi=\"umb://element/5378f3b035e944c7910bfed9d0e4fe50\"><!--Umbraco-Block--></umb-rte-block-inline> hahaha<a rel=\"noopener\" href=\"http://www.google.com\" target=\"_blank\" title=\"dasdasdasda\">dasdasdasda</a></p>\n<p>&nbsp;<a href=\"/{localLink:umb://document/937916edb4d349f1a5c578c8ae70ee0c}\" title=\"Test contentpagina sebastiaan123\">Test contentpagina sebastiaan123</a></p>",
        "blocks": {
          "layout": {
            "Umbraco.TinyMCE": [
              {
                "contentUdi": "umb://element/82a60cf7bc6e4cb9bddecdb05b30c206"
              },
              {
                "contentUdi": "umb://element/5378f3b035e944c7910bfed9d0e4fe50"
              },
              {
                "contentUdi": "umb://element/fcaa71b853d840869f3b6d2f20dd9af4"
              }
            ]
          },
          "contentData": [
            {
              "contentTypeKey": "736bec91-baf3-48f5-93d5-891f154145ff",
              "udi": "umb://element/fcaa71b853d840869f3b6d2f20dd9af4",
              "link": "umb://document/cf1a4224934e461c8932ee2069c174e6",
              "openInNewTab": 0
            },
            {
              "contentTypeKey": "736bec91-baf3-48f5-93d5-891f154145ff",
              "udi": "umb://element/5378f3b035e944c7910bfed9d0e4fe50",
              "link": "umb://document/2dde96fd534746048dbf12de43772d52",
              "openInNewTab": 0
            },
            {
              "contentTypeKey": "736bec91-baf3-48f5-93d5-891f154145ff",
              "udi": "umb://element/82a60cf7bc6e4cb9bddecdb05b30c206",
              "link": "umb://document/352e1179ba6d4d3eafdcf378b308d029",
              "openInNewTab": 0
            }
          ],
          "settingsData": []
        }
      },
      "contentItemTitle": "Test link",
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/0847c70beece440d9edada3a74567867"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Test contentpagina sebas subtitel</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Test contentpagina sebastiaan-123]]></Value>
    </title>
    <zorgverleners>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </zorgverleners>
  </Properties>
</Content>