<?xml version="1.0" encoding="utf-8"?>
<Content Key="760461fe-5180-4ce3-8eaa-b27baaa82283" Alias="test medische informatiepagina - Aandoening" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/testMedischeInformatiepaginaAandoening</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2022-05-24T11:58:25</CreateDate>
    <NodeName Default="test medische informatiepagina - Aandoening">
      <Name Culture="nl-nl">test medische informatiepagina - Aandoening</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9a20820161b3490ba6470e39a0b5023c"
      },
      {
        "contentUdi": "umb://element/55d167b004f54018843c334e0cb63677"
      },
      {
        "contentUdi": "umb://element/63ce30a7355340ac821f422b0d593946"
      },
      {
        "contentUdi": "umb://element/f649a690f73e43fc87a96e242250b721"
      },
      {
        "contentUdi": "umb://element/31e09f6ca77d4fa7a49302ab3f6c3be7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/a692091fed52496d94ba885faa7fc48b",
      "udi": "umb://element/9a20820161b3490ba6470e39a0b5023c"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/6f3f6d5a02fd4217b74b7eb5d236077d",
      "udi": "umb://element/55d167b004f54018843c334e0cb63677"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/11e4acadd3d6491fb22bf37d916267e0",
      "udi": "umb://element/63ce30a7355340ac821f422b0d593946"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/d7de78d78a704f749914a0204255f1bd",
      "udi": "umb://element/f649a690f73e43fc87a96e242250b721"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/11bb6c894f5a4810870b8a73f3c9fc77",
      "udi": "umb://element/31e09f6ca77d4fa7a49302ab3f6c3be7"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0a47c99b495f499d887b714bd3ff7f9a"
      },
      {
        "contentUdi": "umb://element/b39cd06dad294958ba3cfcd6a4c22f5b"
      },
      {
        "contentUdi": "umb://element/ca980cec5ceb438495dd1c3be9f1c4c5"
      },
      {
        "contentUdi": "umb://element/d4a82b8648c3434fbd9c235f20c2168b"
      },
      {
        "contentUdi": "umb://element/2daf419fb0e640b0a7d2b0de43beea5f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/a692091fed52496d94ba885faa7fc48b",
      "udi": "umb://element/0a47c99b495f499d887b714bd3ff7f9a"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/6f3f6d5a02fd4217b74b7eb5d236077d",
      "udi": "umb://element/b39cd06dad294958ba3cfcd6a4c22f5b"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/11e4acadd3d6491fb22bf37d916267e0",
      "udi": "umb://element/ca980cec5ceb438495dd1c3be9f1c4c5"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/d7de78d78a704f749914a0204255f1bd",
      "udi": "umb://element/d4a82b8648c3434fbd9c235f20c2168b"
    },
    {
      "contentTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "medicalContentBlocks": "umb://document/11bb6c894f5a4810870b8a73f3c9fc77",
      "udi": "umb://element/2daf419fb0e640b0a7d2b0de43beea5f"
    }
  ],
  "settingsData": []
}]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[{
  "markup": "<p>Dit is een notitie</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[Dit is de introductietekst:
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
Hierna een spatie ->

Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[<p>Dit is het introductie veld met rich text opties, kijk maar: <strong>dikgedrukt, </strong><em>schuingedrukt, </em><a href="https://www.olvg.nl">hyperlink</a></p>

Rich text is weggehaald, wel toe te voegen met html tags. Hieronder een breakline.
<br/>
<br/>
En dan een nieuwe regel.]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Werken bij OLVG - Vacatures",
    "url": "https://www.werkenbijolvg.nl"
  },
  {
    "name": "OLVG corporate website",
    "target": "_blank",
    "url": "https://www.olvg.nl"
  }
]]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "OLVG Corporate website",
    "target": "_blank",
    "url": "https://www.olvg.nl"
  }
]]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/20f19a579e304644bd98d5756e670d72"
      },
      {
        "contentUdi": "umb://element/a3f5613116d94bf1a408d9fe43d66836"
      },
      {
        "contentUdi": "umb://element/deaebae0d6e84a72acfa50fc5d9400a1"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3cfe6275e7be467a99e71608f69c6c4c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
            "medicalInfoVideo": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c55fbb639e6c4262bd7e4e87ca99921a"
                  },
                  {
                    "contentUdi": "umb://element/529e7f8bddab4cd89c37993e7ca87495"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
                  "udi": "umb://element/c55fbb639e6c4262bd7e4e87ca99921a",
                  "videoPlayer": "{\r\n  \"videoUrl\": \"https://www.youtube.com/watch?v=dQw4w9WgXcQ\",\r\n  \"videoOverrideTitle\": \"\",\r\n  \"aspectRatio\": null\r\n}"
                },
                {
                  "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
                  "udi": "umb://element/529e7f8bddab4cd89c37993e7ca87495",
                  "videoPlayer": "{\r\n  \"videoUrl\": \"https://vimeo.com/951346486\",\r\n  \"videoOverrideTitle\": \"Titel\",\r\n  \"aspectRatio\": null\r\n}"
                }
              ],
              "settingsData": []
            },
            "thumbnailImage": [
              {
                "key": "fad532f9-3973-4366-b453-8873328acfd1",
                "mediaKey": "b9eeba27-93a5-44ac-bd60-45cacf3fc54e"
              }
            ],
            "udi": "umb://element/3cfe6275e7be467a99e71608f69c6c4c"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "test content sectie",
      "udi": "umb://element/20f19a579e304644bd98d5756e670d72"
    },
    {
      "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
      "medicalInfoVideo": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3017b20791084dbfa2f80d5495d7940c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
            "udi": "umb://element/3017b20791084dbfa2f80d5495d7940c",
            "videoPlayer": "{\r\n  \"videoUrl\": \"https://www.youtube.com/watch?v=dQw4w9WgXcQ\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": null\r\n}"
          }
        ],
        "settingsData": []
      },
      "thumbnailImage": [],
      "udi": "umb://element/a3f5613116d94bf1a408d9fe43d66836"
    },
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentItemContentText": {
        "markup": "<umb-rte-block data-content-udi=\"umb://element/e167ff62f9434e02afdc188c690c65c7\"><!--Umbraco-Block--></umb-rte-block>",
        "blocks": {
          "layout": {
            "Umbraco.TinyMCE": [
              {
                "contentUdi": "umb://element/e167ff62f9434e02afdc188c690c65c7"
              }
            ]
          },
          "contentData": [
            {
              "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
              "udi": "umb://element/e167ff62f9434e02afdc188c690c65c7",
              "videoPlayer": "{\r\n  \"videoUrl\": \"https://vimeo.com/951346486\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": null\r\n}"
            }
          ],
          "settingsData": []
        }
      },
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/deaebae0d6e84a72acfa50fc5d9400a1"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/090afcca455b4be5be4a232018189f92"
      },
      {
        "contentUdi": "umb://element/fe8413df57de429b9daafe382bc60780"
      },
      {
        "contentUdi": "umb://element/a83700d182304cc9803a6de1c0bf2702"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1396f378d43345f1b3ce968f7160bbc0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
            "medicalInfoVideoBL": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/8e956186cc1144cf8de0a37386a8718f"
                  },
                  {
                    "contentUdi": "umb://element/efe213f6c33f4285a4d7963e68673acd"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
                  "udi": "umb://element/8e956186cc1144cf8de0a37386a8718f",
                  "videoPlayer": {
                    "videoUrl": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
                    "videoOverrideTitle": "",
                    "aspectRatio": null
                  }
                },
                {
                  "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
                  "udi": "umb://element/efe213f6c33f4285a4d7963e68673acd",
                  "videoPlayer": {
                    "videoUrl": "https://vimeo.com/951346486",
                    "videoOverrideTitle": "Titel",
                    "aspectRatio": null
                  }
                }
              ],
              "settingsData": []
            },
            "thumbnailImage": [
              {
                "key": "fad532f9-3973-4366-b453-8873328acfd1",
                "mediaKey": "b9eeba27-93a5-44ac-bd60-45cacf3fc54e"
              }
            ],
            "udi": "umb://element/1396f378d43345f1b3ce968f7160bbc0"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "test content sectie",
      "udi": "umb://element/090afcca455b4be5be4a232018189f92"
    },
    {
      "contentTypeKey": "ec109449-e9e6-40bd-966f-9f6a95516b3a",
      "medicalInfoVideoBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/60efe117360449058cd289da3478e222"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
            "udi": "umb://element/60efe117360449058cd289da3478e222",
            "videoPlayer": {
              "videoUrl": "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
              "videoOverrideTitle": null,
              "aspectRatio": null
            }
          }
        ],
        "settingsData": []
      },
      "thumbnailImage": [],
      "udi": "umb://element/fe8413df57de429b9daafe382bc60780"
    },
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentItemContentText": {
        "markup": "<umb-rte-block data-content-udi=\"umb://element/e167ff62f9434e02afdc188c690c65c7\"><!--Umbraco-Block--></umb-rte-block>",
        "blocks": {
          "layout": {
            "Umbraco.TinyMCE": [
              {
                "contentUdi": "umb://element/e167ff62f9434e02afdc188c690c65c7"
              }
            ]
          },
          "contentData": [
            {
              "contentTypeKey": "7fdfd805-241a-497d-8698-4d1e7b2aa411",
              "udi": "umb://element/e167ff62f9434e02afdc188c690c65c7",
              "videoPlayer": "{\r\n  \"videoUrl\": \"https://vimeo.com/951346486\",\r\n  \"videoOverrideTitle\": null,\r\n  \"aspectRatio\": null\r\n}"
            }
          ],
          "settingsData": []
        }
      },
      "contentTypeKey": "73fd841a-758a-4e00-8f71-eeeab3cb9cfd",
      "udi": "umb://element/a83700d182304cc9803a6de1c0bf2702"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Aandoeningen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[Dit is een inhoudsopgave titel]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[test medische informatiepagina - Aandoening]]></Value>
    </title>
  </Properties>
</Content>