<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b8d59a0-5899-476d-ae2b-e6d36556e571" Alias="Test" Level="5">
  <Info>
    <Parent Key="a206e797-7e52-417f-8aa0-a59308fb9300">Zorgverlener</Parent>
    <Path>/Website/Pages/Home/Zorgverlener/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>healthProfessional</ContentType>
    <CreateDate>2024-04-25T11:17:13</CreateDate>
    <NodeName Default="Test">
      <Name Culture="nl-nl">Test</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <additionalFunctions>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </additionalFunctions>
    <bigNumber>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </bigNumber>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <designation>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </designation>
    <employeeNumber>
      <Value Culture="nl-nl"><![CDATA[123456809]]></Value>
    </employeeNumber>
    <firstName>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </firstName>
    <focusAreas>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </focusAreas>
    <function>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </function>
    <image>
      <Value Culture="nl-nl"><![CDATA[[]]]></Value>
    </image>
    <initials>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </initials>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introduction>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introduction>
    <languages>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </languages>
    <lastName>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lastName>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <nameAffix>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </nameAffix>
    <olvgSince>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </olvgSince>
    <phoneNumber>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </phoneNumber>
    <promotion>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </promotion>
    <pubmedLink>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pubmedLink>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <specialistSince>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </specialistSince>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Test]]></Value>
    </title>
    <training>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </training>
    <workExperience>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </workExperience>
  </Properties>
</Content>