<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0dea990-e593-4023-9965-70fa3b135670" Alias="Test formulier onder overzichtpagina" Level="5">
  <Info>
    <Parent Key="abc7fe31-fb22-4c37-9c85-48cf6c0e7109">Test overzichtspagina</Parent>
    <Path>/Website/Pages/Home/TestOverzichtspagina/TestFormulierOnderOverzichtpagina</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2023-12-21T15:41:45</CreateDate>
    <NodeName Default="Test formulier onder overzichtpagina">
      <Name Culture="en-us">Test form EN</Name>
      <Name Culture="nl-nl">Test formulier onder overzichtpagina</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="be58ae5f-5c29-4dac-971f-6e0a891aa239">FormPage</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <formHasMaxSubmits>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[1]]></Value>
    </formHasMaxSubmits>
    <formMaxSubmitsContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Teveel inzendingen!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </formMaxSubmitsContent>
    <formulier>
      <Value Culture="en-us"><![CDATA[102204d7-857d-40af-a3cd-bc648b0a9880]]></Value>
      <Value Culture="nl-nl"><![CDATA[102204d7-857d-40af-a3cd-bc648b0a9880]]></Value>
    </formulier>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <introductionExpanded>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionExpanded>
    <introductionText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>jksjflk sdlkfljf</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introductionText>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <maxSubmissionCountForm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[3]]></Value>
    </maxSubmissionCountForm>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>dit is een subtitel</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="en-us"><![CDATA[Test form EN]]></Value>
      <Value Culture="nl-nl"><![CDATA[Test formulier onder overzichtpagina]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>