<?xml version="1.0" encoding="utf-8"?>
<Content Key="3535aa10-0cbf-4d76-8ae7-5ee0c79b003e" Alias="Test nested overzichtpagina" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/TestNestedOverzichtpagina</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspagina</ContentType>
    <CreateDate>2022-09-13T11:01:25</CreateDate>
    <NodeName Default="Test nested overzichtpagina">
      <Name Culture="nl-nl">Test nested overzichtpagina</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <featuredItems>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </featuredItemsBL>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p>Test test</p>
<p> </p>
<p><strong>test test</strong></p>
<p> </p>
<p><span class="big-button-red">button</span></p>]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[<p>dit is de uitklap tekst</p>]]></Value>
    </introductionTextExpandable>
    <links>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </links>
    <linksBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>Test subtitel</p>]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Test nested overzichtpagina]]></Value>
    </title>
  </Properties>
</Content>