<?xml version="1.0" encoding="utf-8"?>
<Content Key="a273e9f7-dc78-4ffa-bfd1-e4f04259a653" Alias="testitem" Level="5">
  <Info>
    <Parent Key="3cf9b593-6dce-4d4b-bdce-2dffc5caec40">Agenda</Parent>
    <Path>/Website/Pages/Home/Agenda/testitem</Path>
    <Trashed>false</Trashed>
    <ContentType>agendaItem</ContentType>
    <CreateDate>2024-05-14T13:11:26</CreateDate>
    <NodeName Default="testitem">
      <Name Culture="nl-nl">testitem</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="false">
      <Published Culture="nl-nl">false</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cardImage>
      <Value><![CDATA[umb://media/b9eeba2793a544acbd6045cacf3fc54e]]></Value>
    </cardImage>
    <content>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </content>
    <datesAndTimes>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/413beb2cf2f34682a654e728c12e7573"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b41215cd-5f6a-4d3e-b0d9-63edb202ed20",
      "dateTimeValue": "2024-05-16T12:00:00",
      "udi": "umb://element/413beb2cf2f34682a654e728c12e7573"
    }
  ],
  "settingsData": []
}]]></Value>
    </datesAndTimes>
    <datesAndTimesBL>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f25b114e42cd494d800712b528bcc4d2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b41215cd-5f6a-4d3e-b0d9-63edb202ed20",
      "dateTimeValue": "\"2024-05-16T12:00:00\"",
      "udi": "umb://element/f25b114e42cd494d800712b528bcc4d2"
    }
  ],
  "settingsData": []
}]]></Value>
    </datesAndTimesBL>
    <departments>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departments>
    <healthProfessionals>
      <Value><![CDATA[]]></Value>
    </healthProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>adsad</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introductionText>
    <locatieTableOfContents>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locatieTableOfContents>
    <locations>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locations>
    <manualRoutes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutes>
    <manualRoutesBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutesBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsItems>
      <Value><![CDATA[]]></Value>
    </newsItems>
    <routes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </routes>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <title>
      <Value Culture="nl-nl"><![CDATA[testitem]]></Value>
    </title>
  </Properties>
</Content>