<?xml version="1.0" encoding="utf-8"?>
<Content Key="870b2457-fd46-4dbb-b2f1-5b98dab255e6" Alias="Test Zorgpad Vincent" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/TestZorgpadVincent</Path>
    <Trashed>false</Trashed>
    <ContentType>zorgpad</ContentType>
    <CreateDate>2022-06-28T08:52:45</CreateDate>
    <NodeName Default="Test Zorgpad Vincent">
      <Name Culture="nl-nl">Test Zorgpad Vincent</Name>
    </NodeName>
    <SortOrder>46</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bottomContent>
      <Value Culture="nl-nl"><![CDATA[<div class="control-header" aria-hidden="false">Content onderaan de pagina</div>
<div class="controls">
<div>
<div class="umb-property-editor db">
<div>
<div>
<div class="umb-property-editor umb-rte --initialized">
<div class="umb-rte-editor-con"></div>
</div>
</div>
</div>
</div>
</div>
</div>]]></Value>
    </bottomContent>
    <contactContent>
      <Value Culture="nl-nl"><![CDATA[<p>Test contact content</p>]]></Value>
    </contactContent>
    <contactTitle>
      <Value Culture="nl-nl"><![CDATA[test titel contact]]></Value>
    </contactTitle>
    <content>
      <Value Culture="nl-nl"><![CDATA[<p>test content, onder het beige blok</p>
<p><a href="#" data-anchor="#">Dit is een linkje</a></p>]]></Value>
    </content>
    <departments>
      <Value><![CDATA[umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
    </departments>
    <externalLinksList>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "test",
    "url": "www.test.nl",
    "queryString": ""
  }
]]]></Value>
    </externalLinksList>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </headDepartment>
    <headHealthProfessional>
      <Value Culture="nl-nl"><![CDATA[umb://document/c1b3e3a75b7a40a4974295cfedaee2b9]]></Value>
    </headHealthProfessional>
    <healthProfessionalsContact>
      <Value Culture="nl-nl"><![CDATA[umb://document/1088e2578c7244adb6d90bab101cb653]]></Value>
    </healthProfessionalsContact>
    <internalLinksList>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/352e1179ba6d4d3eafdcf378b308d029"
  }
]]]></Value>
    </internalLinksList>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introduction>
      <Value Culture="nl-nl"><![CDATA[<p>test introductie, boven het beige blok</p>
<p><a href="#" data-anchor="#">dit is een linkje</a></p>]]></Value>
    </introduction>
    <introductionNavigationTitle>
      <Value Culture="nl-nl"><![CDATA[test nav titel]]></Value>
    </introductionNavigationTitle>
    <introductionTeam>
      <Value Culture="nl-nl"><![CDATA[<p>test behandelteam introductie</p>]]></Value>
    </introductionTeam>
    <introFactsAndNumbers>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/17ef524411ad4138b44bef41d4b36b02"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "40c70104-bf61-4972-b539-cf39ee38599b",
      "factTitle": "Feit",
      "medicalInfoFacts": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c12a528dc34d4b968cae548e25a9fd96"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
            "factAmount": "1",
            "factTitle": "Naam",
            "udi": "umb://element/c12a528dc34d4b968cae548e25a9fd96"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/17ef524411ad4138b44bef41d4b36b02"
    }
  ],
  "settingsData": []
}]]></Value>
    </introFactsAndNumbers>
    <introFactsAndNumbersBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dafaca3535404584b8edc71cb0b20162"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "40c70104-bf61-4972-b539-cf39ee38599b",
      "factTitle": "Feit",
      "medicalInfoFactsBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/613a6c9a4217429a8615e8465f4949cd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
            "factAmount": "1",
            "factTitle": "Naam",
            "udi": "umb://element/613a6c9a4217429a8615e8465f4949cd"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/dafaca3535404584b8edc71cb0b20162"
    }
  ],
  "settingsData": []
}]]></Value>
    </introFactsAndNumbersBL>
    <introReadMore>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introReadMore>
    <introUsefullSites>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/352e1179ba6d4d3eafdcf378b308d029"
  }
]]]></Value>
    </introUsefullSites>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <professionalContact>
      <Value Culture="nl-nl"><![CDATA[umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/c1b3e3a75b7a40a4974295cfedaee2b9]]></Value>
    </professionalContact>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <steps>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5bece14aee7e41eea64c536a2089009b"
      },
      {
        "contentUdi": "umb://element/bc8fb6fc62a241bcb89995bc5ddc1736"
      }
    ]
  },
  "contentData": [
    {
      "content": "<p>Content</p>",
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "externalLinksList": [
        {
          "name": "https://www.google.nl",
          "url": "https://www.google.nl"
        }
      ],
      "healthProfessionalsAndDepartment": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2363ab8bf5a7431ea3a8313864fb3e09"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c6f24214-3807-4667-8f9b-24844e9d44bc",
            "healthProfessionals": "umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/de600e1b2c8841c5bd46953922226e11,umb://document/167bc1d7fcbf4e458bf3bd62f44725eb",
            "introduction": "<p>Test intro</p>",
            "udi": "umb://element/2363ab8bf5a7431ea3a8313864fb3e09"
          }
        ],
        "settingsData": []
      },
      "introductionStep": "<p>Introductie</p>",
      "sections": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f6fa1b77fa6c4b788b1a96fb137e3580"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7053b8c8-7ef7-43dc-8a70-40f12f4796d5",
            "list": "umb://document/f983ad6572b1424b879e8c0f11f4dc3f",
            "title": "Medische",
            "udi": "umb://element/f6fa1b77fa6c4b788b1a96fb137e3580"
          }
        ],
        "settingsData": []
      },
      "stepNavigationTitle": "Navigatie titel",
      "titleStep": "Titel",
      "udi": "umb://element/5bece14aee7e41eea64c536a2089009b"
    },
    {
      "content": "<p>Test contentveld Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>",
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "externalLinksList": [
        {
          "name": "werken bij olvg",
          "url": "https://www.werkenbijolvg.nl"
        }
      ],
      "healthProfessionalsAndDepartment": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/41193cdcda9e4537b0c3a11b9827dffd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c6f24214-3807-4667-8f9b-24844e9d44bc",
            "healthProfessionals": "umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/167bc1d7fcbf4e458bf3bd62f44725eb,umb://document/fd5a32d920e84d27bf295c5763b8b282",
            "introduction": "<p>test</p>",
            "titel": "test behandelteam",
            "udi": "umb://element/41193cdcda9e4537b0c3a11b9827dffd"
          }
        ],
        "settingsData": []
      },
      "introductionStep": "<p>Dit is een stap met locaties</p>",
      "location": "umb://document/cbfdb501356d4d22a5535f415371df4e,umb://document/ba9acf866e4847a9b9eb727253bb9901,umb://document/cbf48fc81a6540c18df1e10fb2ac1eb7,umb://document/53a651c2a11c4b8c944d2b6eaa1e5ff9,umb://document/4454df2505d5466a83ee3129b8046125",
      "stepNavigationTitle": "locaties",
      "titleStep": "Stap met locaties",
      "udi": "umb://element/bc8fb6fc62a241bcb89995bc5ddc1736"
    }
  ],
  "settingsData": []
}]]></Value>
    </steps>
    <stepsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5ca23e8ed13e41b4853126b3b0ff442e"
      },
      {
        "contentUdi": "umb://element/f59012cc84f746bcb0f32ac620a4cb03"
      }
    ]
  },
  "contentData": [
    {
      "content": "<p>Content</p>",
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "externalLinksList": [
        {
          "name": "https://www.google.nl",
          "url": "https://www.google.nl"
        }
      ],
      "healthProfessionalsAndDepartmentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7cb303d8eff84895a9fffe2cd5ca2dcc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c6f24214-3807-4667-8f9b-24844e9d44bc",
            "healthProfessionals": "umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/de600e1b2c8841c5bd46953922226e11,umb://document/167bc1d7fcbf4e458bf3bd62f44725eb",
            "introduction": "<p>Test intro</p>",
            "udi": "umb://element/7cb303d8eff84895a9fffe2cd5ca2dcc"
          }
        ],
        "settingsData": []
      },
      "introductionStep": "<p>Introductie</p>",
      "sectionsBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/da050a12e518456a89b36cd1cc833963"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7053b8c8-7ef7-43dc-8a70-40f12f4796d5",
            "list": "umb://document/f983ad6572b1424b879e8c0f11f4dc3f",
            "title": "Medische",
            "udi": "umb://element/da050a12e518456a89b36cd1cc833963"
          }
        ],
        "settingsData": []
      },
      "stepNavigationTitle": "Navigatie titel",
      "titleStep": "Titel",
      "udi": "umb://element/5ca23e8ed13e41b4853126b3b0ff442e"
    },
    {
      "content": "<p>Test contentveld Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>",
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "externalLinksList": [
        {
          "name": "werken bij olvg",
          "url": "https://www.werkenbijolvg.nl"
        }
      ],
      "healthProfessionalsAndDepartmentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0c0ff3d83c574608a3c85b692c58c95c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c6f24214-3807-4667-8f9b-24844e9d44bc",
            "healthProfessionals": "umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/167bc1d7fcbf4e458bf3bd62f44725eb,umb://document/fd5a32d920e84d27bf295c5763b8b282",
            "introduction": "<p>test</p>",
            "titel": "test behandelteam",
            "udi": "umb://element/0c0ff3d83c574608a3c85b692c58c95c"
          }
        ],
        "settingsData": []
      },
      "introductionStep": "<p>Dit is een stap met locaties</p>",
      "location": "umb://document/cbfdb501356d4d22a5535f415371df4e,umb://document/ba9acf866e4847a9b9eb727253bb9901,umb://document/cbf48fc81a6540c18df1e10fb2ac1eb7,umb://document/53a651c2a11c4b8c944d2b6eaa1e5ff9,umb://document/4454df2505d5466a83ee3129b8046125",
      "stepNavigationTitle": "locaties",
      "titleStep": "Stap met locaties",
      "udi": "umb://element/f59012cc84f746bcb0f32ac620a4cb03"
    }
  ],
  "settingsData": []
}]]></Value>
    </stepsBL>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>Dit Is Een SubTitel Met HoofdLetters</p>]]></Value>
    </subtitle>
    <tableOfContents>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/57018b25ba554d43bec9c047bc588b12"
      },
      {
        "contentUdi": "umb://element/c4ca01cd880c44298ff034575b726eb4"
      },
      {
        "contentUdi": "umb://element/925ad9b1ee6e4822b46d822d30471a7d"
      }
    ]
  },
  "contentData": [
    {
      "abstractTextField": "inhoudsopgave tekst",
      "abstractTitleField": "inhoudsopgave titel 1",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/57018b25ba554d43bec9c047bc588b12"
    },
    {
      "abstractTextField": "inhoudsopgave tekst",
      "abstractTitleField": "inhoudsopgave titel 2",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/c4ca01cd880c44298ff034575b726eb4"
    },
    {
      "abstractTextField": "inhoudsopgave tekst",
      "abstractTitleField": "inhoudsopgave titel 3",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/925ad9b1ee6e4822b46d822d30471a7d"
    }
  ],
  "settingsData": []
}]]></Value>
    </tableOfContents>
    <tableOfContentsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a649cd512f5b4c25a32c3cc63ee15357"
      },
      {
        "contentUdi": "umb://element/ce7a0d75b6464c99adf71e2c87be4433"
      },
      {
        "contentUdi": "umb://element/51660b1921b34e759dffc0d01835a495"
      }
    ]
  },
  "contentData": [
    {
      "abstractTextField": "inhoudsopgave tekst",
      "abstractTitleField": "inhoudsopgave titel 1",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/a649cd512f5b4c25a32c3cc63ee15357"
    },
    {
      "abstractTextField": "inhoudsopgave tekst",
      "abstractTitleField": "inhoudsopgave titel 2",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/ce7a0d75b6464c99adf71e2c87be4433"
    },
    {
      "abstractTextField": "inhoudsopgave tekst",
      "abstractTitleField": "inhoudsopgave titel 3",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/51660b1921b34e759dffc0d01835a495"
    }
  ],
  "settingsData": []
}]]></Value>
    </tableOfContentsBL>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[test titel inhoudsopgave]]></Value>
    </tableOfContentsTitle>
    <textButton>
      <Value Culture="nl-nl"><![CDATA[test button tekst]]></Value>
    </textButton>
    <title>
      <Value Culture="nl-nl"><![CDATA[Test zorgpad Vincent]]></Value>
    </title>
    <titleTeam>
      <Value Culture="nl-nl"><![CDATA[test behandelteam titel]]></Value>
    </titleTeam>
  </Properties>
</Content>