<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e89db47-a541-4dcc-9a68-b85a48b4d938" Alias="test (1)" Level="5">
  <Info>
    <Parent Key="617e9701-57e2-4cf0-898f-6a6fcf89733d">Locatie</Parent>
    <Path>/Website/Pages/Home/Locatie/test1</Path>
    <Trashed>false</Trashed>
    <ContentType>location</ContentType>
    <CreateDate>2022-10-05T15:42:12</CreateDate>
    <NodeName Default="test (1)">
      <Name Culture="nl-nl">test (1)</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customRoutes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </customRoutes>
    <customRoutesBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </customRoutesBL>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </headDepartment>
    <hideSubtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </hideSubtitle>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <locationAddress>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationAddress>
    <locationConsultationTime>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationConsultationTime>
    <locationContentBlock>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationContentBlock>
    <locationEmail>
      <Value><![CDATA[]]></Value>
    </locationEmail>
    <locationInfo>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationInfo>
    <locationInfoTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationInfoTitle>
    <locationName>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationName>
    <locationPhone>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationPhone>
    <locationPhoto>
      <Value><![CDATA[[
  {
    "key": "c4b77b83-9001-4c43-923e-932159b2b501",
    "mediaKey": "b9eeba27-93a5-44ac-bd60-45cacf3fc54e"
  }
]]]></Value>
    </locationPhoto>
    <locationRouteTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationRouteTitle>
    <locationTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </locationTitle>
    <locationType>
      <Value><![CDATA[Verpleegafdelingen]]></Value>
    </locationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <routes>
      <Value><![CDATA[]]></Value>
    </routes>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[test]]></Value>
    </title>
  </Properties>
</Content>