<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1a7b99e-e3b1-45c2-a03d-572746b68d8a" Alias="Test ervaringsverhaal 1 jaar verpleegkundig stafbestuur" Level="5">
  <Info>
    <Parent Key="4f1f33b5-3229-4913-b1c7-d495380be388">Test ervaringsoverzicht</Parent>
    <Path>/Website/Pages/Home/TestErvaringsoverzicht/TestErvaringsverhaal1JaarVerpleegkundigStafbestuur</Path>
    <Trashed>false</Trashed>
    <ContentType>ervaringsverhaal</ContentType>
    <CreateDate>2022-07-05T12:19:45</CreateDate>
    <NodeName Default="Test ervaringsverhaal 1 jaar verpleegkundig stafbestuur">
      <Name Culture="nl-nl">Test ervaringsverhaal 1 jaar verpleegkundig stafbestuur</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <afbeelding>
      <Value><![CDATA[[
  {
    "key": "629533b3-e524-45aa-b426-df8a7bbb92b7",
    "mediaKey": "51de5e03-702f-4294-be90-21dc5afc107f"
  }
]]]></Value>
    </afbeelding>
    <connectionDepartments>
      <Value><![CDATA[]]></Value>
    </connectionDepartments>
    <connectionFaq>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </connectionFaq>
    <connectionHealthProvider>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </connectionHealthProvider>
    <datum>
      <Value Culture="nl-nl"><![CDATA[2022-07-05T00:00:00]]></Value>
    </datum>
    <departments>
      <Value><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </departments>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p class="component-expandable-introduction collapse-expand-component">‘Niets over ons, zonder ons.’ Onder dat motto werd vandaag precies een jaar geleden het verpleegkundig stafbestuur (VSB) in OLVG geïnstalleerd. Het VSB geeft verpleegkundigen en verpleegkundig specialisten zeggenschap en een plek aan de bestuurstafel. Op deze eerste verjaardag kijken we met bestuurslid Anita de Vette en commissielid Wout van der Ploeg terug én vooruit. </p>]]></Value>
    </introductionText>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>‘Niets over ons, zonder ons.’</p>]]></Value>
    </subtitle>
    <tekst>
      <Value Culture="nl-nl"><![CDATA[<h3>Jullie zijn een nieuwe adviesraad binnen OLVG. Hoe hebben jullie dit vormgegeven?</h3>
<p>Anita: Het VSB bestaat uit een VSB-bestuur en vier VSB-commissies: ‘Innovatie &amp; Digitalisering’, ‘Educatie &amp; Wetenschap’, ‘Excellente zorg’ en ‘Kwaliteit &amp; verbetering’. In december zijn de VSB-commissies gestart. Elke commissie heeft een voorzitter. De bestuursleden zijn portefeuillehouder. Daarnaast hebben we ook nog een VSB-klankbordgroep, met wie we 4 keer per jaar een thema bespreken. Zo gaan onze tentakels heel ver de organisatie in en weten we echt wat er speelt in het ziekenhuis.’</p>
<p>Wout: ‘Ik zit in de commissie Innovatie &amp; Digitalisering. Via het VSB worden we betrokken bij zaken die in het ziekenhuis spelen. Ik kom veel meer buiten mijn eigen afdeling en mag meedenken en meepraten over dingen die mij en mijn collega’s aangaan.’</p>
<h3>Wat heeft dat voor eerste resultaten opgeleverd?</h3>
<p>Wout: ‘Tijdens corona werd op de afdeling Anesthesiologie de poliklinische zorg voor een operatie veel meer telefonisch gedaan. Geconstateerd werd dat dat heel goed ging en dat er misschien wel helemaal geen verpleegkundigen meer nodig waren op de poli. Als commissie Digitalisering mochten wij het plan inzien en ons advies geven. Want digitalisering is goed, maar we willen wel de kwaliteit van zorg op peil houden.’</p>
<h3>Hoe was het om ineens aan de bestuurstafel te zitten?</h3>
<p>Anita: ‘In het begin was het wel wennen. Wie was wie? Wat betekenen al die afkortingen? Wie heeft wat waarover te zeggen, hoe lopen die lijnen? Wat speelt er allemaal? Wat schuurt, wat gaat goed? Moet je een bepaalde taal spreken? Ik had het gevoel dat ik ineens een kantoortijger moest zijn, terwijl ik met de voeten in de klei sta en ook die stem wil laten horen. Uiteindelijk merkte ik dat mezelf kon zijn. Natuurlijk moet je wel een beetje weten hoe alles loopt, maar in het bestuur zitten ook gewoon mensen.’</p>
<p>Wout: ‘We hebben een cursus gehad over hoe je met elkaar communiceert. Als verpleegkundigen ergens goed in zijn, is dat in het communiceren over emoties. Ze zien en voelen emoties en vertalen dat naar iedereen. In het management wordt op een ander niveau gecommuniceerd: de informatie is objectief en feitelijk. Daarnaast verwacht men dat je een uitgedacht plan hebt. Voor ons bleek het een uitdaging om onze emoties om te zetten in de juiste taal, om zo aan te sluiten bij de juiste persoon en tot een goed plan te komen.’</p>
<h3>Zag iedereen jullie direct als toevoeging?</h3>
<p>Anita: ‘De meesten gelukkig wel. Soms moeten mensen nog wennen dat verpleegkundigen zich professioneel organiseren en zeggenschap nemen. Er is nu echt een ontwikkeling gaande waarin professionals gelijkwaardig samenwerken en elkaar aanvullen. En die ontwikkeling wordt gelukkig breed gedragen.’</p>
<h3>Voelen jullie je wel gelijkwaardig?</h3>
<p>Anita: ‘Aan de bestuurstafel zeker. Op de werkvloer mogen we meer onze trots uitdragen.’<br />‘Klopt’, zegt Wout. ‘Veel verpleegkundigen stellen zich onderdanig op. Ik merk het ook bij mezelf: toen ik net verpleegkundige was, werd mij door een patiënt gevraagd of ik de dokter was. Ik zei: “nee, ik ben maar de verpleegkundige.” Nu ben ik me daar echt bewust van: ik ben niet ‘maar’ de verpleegkundige. Ik ben dé verpleegkundige.’<br />‘We hoeven ons niet onderdanig op te stellen’, vindt Anita. We hebben als verpleegkundige beroepsgroep echt een toegevoegde waarde. En als VSB-bestuur vertolken wij die stem, maar dat kan nooit voor 1.700 verpleegkundigen en verpleegkundig specialisten tegelijk. Het is dus ook aan henzelf om verpleegkundig leiderschap te tonen. We willen de verpleegkundige beroepsgroep stimuleren: we zijn professioneel, probeer zelf met plannen te komen, vóórdat het van boven opgelegd wordt.’</p>]]></Value>
    </tekst>
    <title>
      <Value Culture="nl-nl"><![CDATA[1 jaar verpleegkundig stafbestuur]]></Value>
    </title>
  </Properties>
</Content>