<?xml version="1.0" encoding="utf-8"?>
<Content Key="87666cfd-98cc-4c25-b8de-0ea790dd3efa" Alias="Test Zorgpad B" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/TestZorgpadB</Path>
    <Trashed>false</Trashed>
    <ContentType>zorgpad</ContentType>
    <CreateDate>2022-06-23T12:46:13</CreateDate>
    <NodeName Default="Test Zorgpad B">
      <Name Culture="en-us">Test zorgpad B EN</Name>
      <Name Culture="nl-nl">Test Zorgpad B</Name>
    </NodeName>
    <SortOrder>44</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bottomContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>hdsfkjfhs jsd kjhsfk&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bottomContent>
    <contactContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Wat zou ik hier zetten als we de standaard Contactgegevens gebruiken</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </contactContent>
    <contactTitle>
      <Value Culture="en-us"><![CDATA[Contact details]]></Value>
      <Value Culture="nl-nl"><![CDATA[Als je hier ook contact zet wordt het dubbel. ]]></Value>
    </contactTitle>
    <content>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Content</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <departments>
      <Value><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52,umb://document/b832a28a279b49248c0c9407edd9e4e0]]></Value>
    </departments>
    <externalLinksList>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </externalLinksList>
    <headDepartment>
      <Value Culture="en-us"><![CDATA[umb://document/f4470cf6c8624cc39ac8fbb65cbc291d]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/f4470cf6c8624cc39ac8fbb65cbc291d]]></Value>
    </headDepartment>
    <headHealthProfessional>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </headHealthProfessional>
    <healthProfessionalsContact>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/a5d543224e0742a7af32626c0dae8e72]]></Value>
    </healthProfessionalsContact>
    <internalLinksList>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Kankerbestrijding",
    "target": "_blank",
    "url": "https://www.kwf.nl/"
  }
]]]></Value>
    </internalLinksList>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introduction>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>Hier komt een inleidende tekst</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introduction>
    <introductionNavigationTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Wat is een navigatietitel?]]></Value>
    </introductionNavigationTitle>
    <introductionTeam>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>jfhkjahjf ahkj halzxfl lfalk ladj&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </introductionTeam>
    <introFactsAndNumbers>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f9b1cbca14d845038477feb371f816b9"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "40c70104-bf61-4972-b539-cf39ee38599b",
      "factTitle": "feiten en cijfers",
      "medicalInfoFacts": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1c7bb08ccce648cab56a4ec927cb01c9"
            },
            {
              "contentUdi": "umb://element/d99fa44eb7d94a4790a2f5f9bb15a157"
            },
            {
              "contentUdi": "umb://element/560c341b161d47c7a4a9fba49959eb19"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
            "factAmount": "123",
            "factTitle": "test",
            "udi": "umb://element/1c7bb08ccce648cab56a4ec927cb01c9"
          },
          {
            "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
            "factAmount": "123",
            "factTitle": "test 2",
            "udi": "umb://element/d99fa44eb7d94a4790a2f5f9bb15a157"
          },
          {
            "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
            "factAmount": "6544321",
            "factTitle": "test 3",
            "udi": "umb://element/560c341b161d47c7a4a9fba49959eb19"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/f9b1cbca14d845038477feb371f816b9"
    }
  ],
  "settingsData": []
}]]></Value>
    </introFactsAndNumbers>
    <introFactsAndNumbersBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/068aa24de8b041ff8cff8a2db8cabf1f"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentTypeKey": "40c70104-bf61-4972-b539-cf39ee38599b",
      "factTitle": "feiten en cijfers",
      "medicalInfoFactsBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/31148b98c6174d9bb55c24473c425d55"
            },
            {
              "contentUdi": "umb://element/2229627160594919a5a42d573a39379f"
            },
            {
              "contentUdi": "umb://element/69302fa3970e4bbbb1ad7c9fa12b2819"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
            "factAmount": "123",
            "factTitle": "test",
            "udi": "umb://element/31148b98c6174d9bb55c24473c425d55"
          },
          {
            "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
            "factAmount": "123",
            "factTitle": "test 2",
            "udi": "umb://element/2229627160594919a5a42d573a39379f"
          },
          {
            "contentTypeKey": "b3e9d223-3e81-4935-8bff-13a94524de62",
            "factAmount": "6544321",
            "factTitle": "test 3",
            "udi": "umb://element/69302fa3970e4bbbb1ad7c9fa12b2819"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/068aa24de8b041ff8cff8a2db8cabf1f"
    }
  ],
  "settingsData": []
}]]></Value>
    </introFactsAndNumbersBL>
    <introReadMore>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introReadMore>
    <introUsefullSites>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introUsefullSites>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <professionalContact>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </professionalContact>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <steps>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c225224e29604ebaac80eaccc0993e67"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "stepNavigationTitle": "Step 1",
      "titleStep": "Title step 1",
      "udi": "umb://element/c225224e29604ebaac80eaccc0993e67"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ab95788a70fd43df9583f867d1ee8f35"
      },
      {
        "contentUdi": "umb://element/2c844374792f43da9d73a2ed86d46404"
      },
      {
        "contentUdi": "umb://element/572a5a81652a4920af1f79f1cafc3efe"
      },
      {
        "contentUdi": "umb://element/4bc745a4d42e4a978268044d0b8f1572"
      },
      {
        "contentUdi": "umb://element/55e4701594a8424c87083359262b8715"
      },
      {
        "contentUdi": "umb://element/9eef624f8c25437696e98344200abd70"
      },
      {
        "contentUdi": "umb://element/73166a07f15a4f1290ce706281325194"
      },
      {
        "contentUdi": "umb://element/6e597ff803d84a11b7c4a47526643467"
      },
      {
        "contentUdi": "umb://element/0cd9a768cb8b4804aace162cf19328ed"
      },
      {
        "contentUdi": "umb://element/4dc4be56bdfb4d5ca23757ae7a3f413b"
      },
      {
        "contentUdi": "umb://element/c4b50087c89d4aa89b32bcdd505fa5ed"
      },
      {
        "contentUdi": "umb://element/0564f52f9d6646d795d15125711b0ea9"
      },
      {
        "contentUdi": "umb://element/5473cb7868a34197afe4eba03d00e760"
      },
      {
        "contentUdi": "umb://element/606fdcdf55b940a398e5202ef36cd74c"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "markup": "<p>Content</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "introductionStep": {
        "markup": "<p>Intro</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "stepNavigationTitle": "En dan is dit....",
      "titleStep": "Als ik deze invul, komt hij onderaan bij stap 0?",
      "udi": "umb://element/ab95788a70fd43df9583f867d1ee8f35"
    },
    {
      "content": {
        "markup": "<p>Content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "externalLinksList": [
        {
          "name": "https://www.werkenbijolvg.nl",
          "url": "https://www.werkenbijolvg.nl"
        },
        {
          "name": "google",
          "url": "https://www.google.com"
        }
      ],
      "healthProfessionalsAndDepartment": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/280005fa83c744e39e384743753553c8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c6f24214-3807-4667-8f9b-24844e9d44bc",
            "healthProfessionals": "umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/167bc1d7fcbf4e458bf3bd62f44725eb,umb://document/fd5a32d920e84d27bf295c5763b8b282",
            "introduction": {
              "markup": "<p>Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst die eigenlijk nergens over gaat. Het grappige is, dat mensen deze toch vaak lezen. Zelfs als men weet dat het om een faketekst gaat, lezen ze toch door.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "titel": "behandelteam custom kop",
            "udi": "umb://element/280005fa83c744e39e384743753553c8"
          }
        ],
        "settingsData": []
      },
      "internalListLinks": [
        {
          "name": "Dag van de Fietshelm",
          "udi": "umb://document/3f1b4f708d9d42a7a8a628a217910dd9"
        },
        {
          "name": "Test",
          "udi": "umb://document/5234cb9540744d2eaac55691ea352bf4"
        }
      ],
      "introductionStep": {
        "markup": "<p>introductietekst Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "location": "umb://document/cbfdb501356d4d22a5535f415371df4e,umb://document/ba9acf866e4847a9b9eb727253bb9901,umb://document/53a651c2a11c4b8c944d2b6eaa1e5ff9",
      "sections": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1284c08a163b4860a1108ae7003e42bc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7053b8c8-7ef7-43dc-8a70-40f12f4796d5",
            "list": "umb://document/f983ad6572b1424b879e8c0f11f4dc3f,umb://document/a692091fed52496d94ba885faa7fc48b,umb://document/11bb6c894f5a4810870b8a73f3c9fc77",
            "title": "medische info",
            "udi": "umb://element/1284c08a163b4860a1108ae7003e42bc"
          }
        ],
        "settingsData": []
      },
      "stepNavigationTitle": "Test volgorde",
      "titleStep": "test volgorde",
      "udi": "umb://element/2c844374792f43da9d73a2ed86d46404"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "Stap 2",
      "udi": "umb://element/572a5a81652a4920af1f79f1cafc3efe"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "healthProfessionalsAndDepartment": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b01f3230716e4c6e8cdd129e12fcd98f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c6f24214-3807-4667-8f9b-24844e9d44bc",
            "healthProfessionals": "umb://document/de600e1b2c8841c5bd46953922226e11,umb://document/a5d543224e0742a7af32626c0dae8e72,umb://document/514626f201304f30bf8d98f7fce4ac87",
            "introduction": {
              "markup": "<p>Ook al een behandelteam per stap?</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/b01f3230716e4c6e8cdd129e12fcd98f"
          }
        ],
        "settingsData": []
      },
      "titleStep": "STAP 3: wanneer wordt het problematisch?",
      "udi": "umb://element/4bc745a4d42e4a978268044d0b8f1572"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "stap 4 past ook nog",
      "udi": "umb://element/55e4701594a8424c87083359262b8715"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "voor stap 5 is misschien ook nog ruimte...",
      "udi": "umb://element/9eef624f8c25437696e98344200abd70"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "Na stap 5 moet het toch een keer genoeg zijn, zou je denken",
      "udi": "umb://element/73166a07f15a4f1290ce706281325194"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "Zo niet, dan moet hij nu toch echt gaan sputteren bij stap 7",
      "udi": "umb://element/6e597ff803d84a11b7c4a47526643467"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "8 dan?",
      "udi": "umb://element/0cd9a768cb8b4804aace162cf19328ed"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "of 9 pas?",
      "udi": "umb://element/4dc4be56bdfb4d5ca23757ae7a3f413b"
    },
    {
      "content": {
        "markup": "<p>Hier wat content </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "introductionStep": {
        "markup": "<p>Op deze stap staan locaties om te testen of dit mogelijk is.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "location": "umb://document/cbfdb501356d4d22a5535f415371df4e,umb://document/53a651c2a11c4b8c944d2b6eaa1e5ff9,umb://document/4454df2505d5466a83ee3129b8046125",
      "stepNavigationTitle": "locaties",
      "titleStep": "Locaties",
      "udi": "umb://element/c4b50087c89d4aa89b32bcdd505fa5ed"
    },
    {
      "content": {
        "markup": "<p>Locaties</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "introductionStep": {
        "markup": "<p>Locaties</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "stepNavigationTitle": "Locaties",
      "titleStep": "Locaties",
      "udi": "umb://element/0564f52f9d6646d795d15125711b0ea9"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "stepNavigationTitle": "asdfadsfasdfdas",
      "titleStep": "asdfadsfasdfdasf",
      "udi": "umb://element/5473cb7868a34197afe4eba03d00e760"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "stepNavigationTitle": "Zo niet, dan moet hij nu toch echt gaan sputteren bij stap 7",
      "titleStep": "Zo niet, dan moet hij nu toch echt gaan sputteren bij stap 7",
      "udi": "umb://element/606fdcdf55b940a398e5202ef36cd74c"
    }
  ],
  "settingsData": []
}]]></Value>
    </steps>
    <stepsBL>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/20e31c07f8f1469eae33d2bc99d88401"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "stepNavigationTitle": "Step 1",
      "titleStep": "Title step 1",
      "udi": "umb://element/20e31c07f8f1469eae33d2bc99d88401"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2a767cedabb1442d845f146537d74087"
      },
      {
        "contentUdi": "umb://element/e5f35471d076445cb08edc6e29d249cf"
      },
      {
        "contentUdi": "umb://element/74353b5e005343dc83efc282ca50117d"
      },
      {
        "contentUdi": "umb://element/b6aeae1efb8f4ae3ad952e9468a9a0f1"
      },
      {
        "contentUdi": "umb://element/2f0b5f58d16647c78810e3ef1d6f622a"
      },
      {
        "contentUdi": "umb://element/c23381b86d574eb1a01e2bd3939fc1fa"
      },
      {
        "contentUdi": "umb://element/76df4874fa7343aa809e3b709589c327"
      },
      {
        "contentUdi": "umb://element/192e2afff5a84f928b636eb337c76b57"
      },
      {
        "contentUdi": "umb://element/84d62a111a7e478dbdc46436d18ca52a"
      },
      {
        "contentUdi": "umb://element/3617c24102cc493a87fca9c1818e9993"
      },
      {
        "contentUdi": "umb://element/00e87cc8c6be49cfb367c88801ccaf3b"
      },
      {
        "contentUdi": "umb://element/c7563954f834478388abfc1295dff4ce"
      },
      {
        "contentUdi": "umb://element/e94a6da093654e8bbcba50bccc24778a"
      },
      {
        "contentUdi": "umb://element/db66deaf3f584cff87559f2cb31e07b7"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "markup": "<p>Content</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "introductionStep": {
        "markup": "<p>Intro</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "stepNavigationTitle": "En dan is dit....",
      "titleStep": "Als ik deze invul, komt hij onderaan bij stap 0?",
      "udi": "umb://element/2a767cedabb1442d845f146537d74087"
    },
    {
      "content": {
        "markup": "<p>Content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "externalLinksList": [
        {
          "name": "https://www.werkenbijolvg.nl",
          "url": "https://www.werkenbijolvg.nl"
        },
        {
          "name": "google",
          "url": "https://www.google.com"
        }
      ],
      "healthProfessionalsAndDepartmentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3f8628aec0884461820ca0395cb288d0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c6f24214-3807-4667-8f9b-24844e9d44bc",
            "healthProfessionals": "umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/167bc1d7fcbf4e458bf3bd62f44725eb,umb://document/fd5a32d920e84d27bf295c5763b8b282",
            "introduction": {
              "markup": "<p>Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst die eigenlijk nergens over gaat. Het grappige is, dat mensen deze toch vaak lezen. Zelfs als men weet dat het om een faketekst gaat, lezen ze toch door.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "titel": "behandelteam custom kop",
            "udi": "umb://element/3f8628aec0884461820ca0395cb288d0"
          }
        ],
        "settingsData": []
      },
      "internalListLinks": [
        {
          "name": "Dag van de Fietshelm",
          "udi": "umb://document/3f1b4f708d9d42a7a8a628a217910dd9"
        },
        {
          "name": "Test",
          "udi": "umb://document/5234cb9540744d2eaac55691ea352bf4"
        }
      ],
      "introductionStep": {
        "markup": "<p>introductietekst Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "location": "umb://document/cbfdb501356d4d22a5535f415371df4e,umb://document/ba9acf866e4847a9b9eb727253bb9901,umb://document/53a651c2a11c4b8c944d2b6eaa1e5ff9",
      "sectionsBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/04553165d41c4ed78c645df6d38c40c1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7053b8c8-7ef7-43dc-8a70-40f12f4796d5",
            "list": "umb://document/f983ad6572b1424b879e8c0f11f4dc3f,umb://document/a692091fed52496d94ba885faa7fc48b,umb://document/11bb6c894f5a4810870b8a73f3c9fc77",
            "title": "medische info",
            "udi": "umb://element/04553165d41c4ed78c645df6d38c40c1"
          }
        ],
        "settingsData": []
      },
      "stepNavigationTitle": "Test volgorde",
      "titleStep": "test volgorde",
      "udi": "umb://element/e5f35471d076445cb08edc6e29d249cf"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "Stap 2",
      "udi": "umb://element/74353b5e005343dc83efc282ca50117d"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "healthProfessionalsAndDepartmentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2d898c6c78b74699a00ed3c23b92fdb3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c6f24214-3807-4667-8f9b-24844e9d44bc",
            "healthProfessionals": "umb://document/de600e1b2c8841c5bd46953922226e11,umb://document/a5d543224e0742a7af32626c0dae8e72,umb://document/514626f201304f30bf8d98f7fce4ac87",
            "introduction": {
              "markup": "<p>Ook al een behandelteam per stap?</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "udi": "umb://element/2d898c6c78b74699a00ed3c23b92fdb3"
          }
        ],
        "settingsData": []
      },
      "titleStep": "STAP 3: wanneer wordt het problematisch?",
      "udi": "umb://element/b6aeae1efb8f4ae3ad952e9468a9a0f1"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "stap 4 past ook nog",
      "udi": "umb://element/2f0b5f58d16647c78810e3ef1d6f622a"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "voor stap 5 is misschien ook nog ruimte...",
      "udi": "umb://element/c23381b86d574eb1a01e2bd3939fc1fa"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "Na stap 5 moet het toch een keer genoeg zijn, zou je denken",
      "udi": "umb://element/76df4874fa7343aa809e3b709589c327"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "Zo niet, dan moet hij nu toch echt gaan sputteren bij stap 7",
      "udi": "umb://element/192e2afff5a84f928b636eb337c76b57"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "8 dan?",
      "udi": "umb://element/84d62a111a7e478dbdc46436d18ca52a"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "of 9 pas?",
      "udi": "umb://element/3617c24102cc493a87fca9c1818e9993"
    },
    {
      "content": {
        "markup": "<p>Hier wat content </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "introductionStep": {
        "markup": "<p>Op deze stap staan locaties om te testen of dit mogelijk is.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "location": "umb://document/cbfdb501356d4d22a5535f415371df4e,umb://document/53a651c2a11c4b8c944d2b6eaa1e5ff9,umb://document/4454df2505d5466a83ee3129b8046125",
      "stepNavigationTitle": "locaties",
      "titleStep": "Locaties",
      "udi": "umb://element/00e87cc8c6be49cfb367c88801ccaf3b"
    },
    {
      "content": {
        "markup": "<p>Locaties</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "introductionStep": {
        "markup": "<p>Locaties</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "stepNavigationTitle": "Locaties",
      "titleStep": "Locaties",
      "udi": "umb://element/c7563954f834478388abfc1295dff4ce"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "stepNavigationTitle": "asdfadsfasdfdas",
      "titleStep": "asdfadsfasdfdasf",
      "udi": "umb://element/e94a6da093654e8bbcba50bccc24778a"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "stepNavigationTitle": "Zo niet, dan moet hij nu toch echt gaan sputteren bij stap 7",
      "titleStep": "Zo niet, dan moet hij nu toch echt gaan sputteren bij stap 7",
      "udi": "umb://element/db66deaf3f584cff87559f2cb31e07b7"
    }
  ],
  "settingsData": []
}]]></Value>
    </stepsBL>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <tableOfContents>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/87bb2f6122c746fd954b5a5cf6b019d9"
      }
    ]
  },
  "contentData": [
    {
      "abstractTextField": "Genereren de kopjes 2 niet automatisch wat hierin komt?",
      "abstractTitleField": "Geen standaard titel 'op deze pagina snel naar'? ",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/87bb2f6122c746fd954b5a5cf6b019d9"
    }
  ],
  "settingsData": []
}]]></Value>
    </tableOfContents>
    <tableOfContentsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/af399de2fd304ea08739632bf9f69843"
      }
    ]
  },
  "contentData": [
    {
      "abstractTextField": "Genereren de kopjes 2 niet automatisch wat hierin komt?",
      "abstractTitleField": "Geen standaard titel 'op deze pagina snel naar'? ",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/af399de2fd304ea08739632bf9f69843"
    }
  ],
  "settingsData": []
}]]></Value>
    </tableOfContentsBL>
    <tableOfContentsTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Waar zie ik deze titel?]]></Value>
    </tableOfContentsTitle>
    <textButton>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[Contact]]></Value>
    </textButton>
    <title>
      <Value Culture="en-us"><![CDATA[Test EN]]></Value>
      <Value Culture="nl-nl"><![CDATA[Test Zorgpad B (8934=68346=50+++++_@)]]></Value>
    </title>
    <titleTeam>
      <Value Culture="en-us"><![CDATA[The team]]></Value>
      <Value Culture="nl-nl"><![CDATA[Uw behandelteam]]></Value>
    </titleTeam>
  </Properties>
</Content>