<?xml version="1.0" encoding="utf-8"?>
<Content Key="16d32b58-02ad-436d-8b5d-448405188f56" Alias="test (1)" Level="4">
  <Info>
    <Parent Key="28a44b42-75dd-41ad-895d-56e31aa6c0d9">Homepage</Parent>
    <Path>/Diaboss/Pages/Homepage/test1</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContentSubsite</ContentType>
    <CreateDate>2023-08-23T11:18:12</CreateDate>
    <NodeName Default="test (1)">
      <Name Culture="nl-nl">test (1)</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElementsBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[test]]></Value>
    </title>
  </Properties>
</Content>