<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfadcb9b-36cf-48ab-b164-3aabfabc62f8" Alias="Thuisarts pagina test Jeanne" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/ThuisartsPaginaTestJeanne</Path>
    <Trashed>false</Trashed>
    <ContentType>medicalInformation</ContentType>
    <CreateDate>2023-06-19T13:30:37</CreateDate>
    <NodeName Default="Thuisarts pagina test Jeanne">
      <Name Culture="nl-nl">Thuisarts pagina test Jeanne</Name>
    </NodeName>
    <SortOrder>76</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <gekoppeldeMedischeInformatiePaginaS>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaS>
    <gekoppeldeMedischeInformatiePaginaSBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </gekoppeldeMedischeInformatiePaginaSBL>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/01bb7c1d25c0499d9b2f3cb0b5670fa1]]></Value>
    </headDepartment>
    <hideMedicalContentOnDepartment>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </hideMedicalContentOnDepartment>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[Glaucoom is een oogziekte waarbij de oogzenuw steeds verder beschadigt. Hierdoor ontstaan er blinde vlekken in uw oog. Door glaucoom gaat u steeds minder zien. Vroege opsporing van glaucoom is belangrijk. Een snelle behandeling van glaucoom kan verdere schade aan uw ogen voorkomen. Zonder behandeling kan glaucoom leiden tot blindheid.]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <introTextAandoeningen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextAandoeningen>
    <introTextBehandelingen>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextBehandelingen>
    <introTextInstructionsAndAdvices>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextInstructionsAndAdvices>
    <introTextResearch>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextResearch>
    <introTextUnderstandYourBody>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introTextUnderstandYourBody>
    <introtextZorgpaden>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introtextZorgpaden>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <medicalInfoContent>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/33de1138c5584037b6d35ab2c9c3f68f"
      },
      {
        "contentUdi": "umb://element/bb8936274066491eacb28076444ed411"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "52831877-4880-4994-9aec-c3e210acb10b",
      "thuisartsInformation": "{\r\n  \"situationId\": 12214,\r\n  \"selectedVideoTitles\": [],\r\n  \"selectedTextblockTitles\": [\r\n    \"In het kort\",\r\n    \"Wat is glaucoom?\",\r\n    \"Verschijnselen van glaucoom\",\r\n    \"Oorzaken van glaucoom\",\r\n    \"Hoe wordt glaucoom vastgesteld? \",\r\n    \"Behandeling van glaucoom\",\r\n    \"Hoe gaat het verder bij glaucoom?\",\r\n    \"Leven met glaucoom\",\r\n    \"Wanneer contact opnemen bij glaucoom? \",\r\n    \"Meer informatie over glaucoom\"\r\n  ]\r\n}",
      "udi": "umb://element/33de1138c5584037b6d35ab2c9c3f68f"
    },
    {
      "backgroundColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 0,
        "id": "1"
      },
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3156341533c74d43993e989742421b3f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p>Om te kijken of u glaucoom heeft, krijgt u een aantal onderzoeken:</p>\n<ul>\n<li>meten van de oogdruk</li>\n<li>onderzoeken van de oogzenuw</li>\n<li>onderzoeken van uw gezichtsveld (alleen als dit nodig is)</li>\n</ul>\n<p>Na deze onderzoeken bespreekt de oogarts met u of u behandeld moet worden. Samen met de oogarts beslist u welke behandeling het best bij u past.</p>",
            "udi": "umb://element/3156341533c74d43993e989742421b3f"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Onderzoek in OLVG",
      "udi": "umb://element/bb8936274066491eacb28076444ed411"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContent>
    <medicalInfoContentBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e3871ad879ed49a09d74e2fcaa2c3dbe"
      },
      {
        "contentUdi": "umb://element/f33a4410d7cb42fab4bce36979c44fef"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "52831877-4880-4994-9aec-c3e210acb10b",
      "thuisartsInformation": {
        "situationId": 12214,
        "selectedVideoTitles": [],
        "selectedTextblockTitles": [
          "In het kort",
          "Wat is glaucoom?",
          "Verschijnselen van glaucoom",
          "Oorzaken van glaucoom",
          "Hoe wordt glaucoom vastgesteld? ",
          "Behandeling van glaucoom",
          "Hoe gaat het verder bij glaucoom?",
          "Leven met glaucoom",
          "Wanneer contact opnemen bij glaucoom? ",
          "Meer informatie over glaucoom"
        ]
      },
      "udi": "umb://element/e3871ad879ed49a09d74e2fcaa2c3dbe"
    },
    {
      "backgroundColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 0,
        "id": "1"
      },
      "backgroundImage": [],
      "backgroundImageOverlap": "0",
      "contentBL": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/410ba699049e45f9b053358b49c0a924"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a5a9c2d-5a4e-4d3b-879e-eef548859aeb",
            "text": "<p>Om te kijken of u glaucoom heeft, krijgt u een aantal onderzoeken:</p>\n<ul>\n<li>meten van de oogdruk</li>\n<li>onderzoeken van de oogzenuw</li>\n<li>onderzoeken van uw gezichtsveld (alleen als dit nodig is)</li>\n</ul>\n<p>Na deze onderzoeken bespreekt de oogarts met u of u behandeld moet worden. Samen met de oogarts beslist u welke behandeling het best bij u past.</p>",
            "udi": "umb://element/410ba699049e45f9b053358b49c0a924"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a84f0d79-7248-48b1-8332-4f5389f4202f",
      "title": "Onderzoek in OLVG",
      "udi": "umb://element/f33a4410d7cb42fab4bce36979c44fef"
    }
  ],
  "settingsData": []
}]]></Value>
    </medicalInfoContentBL>
    <medicalInformationType>
      <Value Culture="nl-nl"><![CDATA[Aandoeningen]]></Value>
    </medicalInformationType>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <questionContactLinksAndIcons>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIcons>
    <questionContactLinksAndIconsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </questionContactLinksAndIconsBL>
    <questionContactText>
      <Value Culture="nl-nl"><![CDATA[<p>Heeft u na het lezen van deze informatie nog vragen? Stel uw vraag aan de polikliniek via <a rel="noopener noreferrer System.String[]" href="https://www.mijnolvg.nl/" target="_blank" data-anchor="?">MijnOLVG</a> of per e-mail. Op werkdagen kunt u ook bellen.</p>
<p><strong>Polikliniek Oogheelkunde, locatie Oost, P3<br /></strong>020 510 88 87 (op werkdagen van 08.15 tot 16.15 uur)<br /><a rel="noopener noreferrer" href="mailto:oogheelkunde@olvg.nl">oogheelkunde@olvg.nl</a></p>
<p><strong>Polikliniek Oogheelkunde, locatie West, route 2</strong><br />020 510 88 87 (op werkdagen van 08.15 tot 16.15 uur)<br /><a rel="noopener noreferrer" href="mailto:oogheelkunde@olvg.nl">oogheelkunde@olvg.nl</a></p>
<p><strong>Polikliniek Oogheelkunde, locatie Spuistraat</strong><br />020 510 88 87 (op werkdagen van 08.15 tot 16.15 uur)<br /><a rel="noopener noreferrer" href="mailto:oogheelkunde@olvg.nl">oogheelkunde@olvg.nl</a></p>]]></Value>
    </questionContactText>
    <questionContactTitle>
      <Value Culture="nl-nl"><![CDATA[Contact]]></Value>
    </questionContactTitle>
    <redactioneleBlokken>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokken>
    <redactioneleBlokkenBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </redactioneleBlokkenBL>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>beschadiging van de oogzenuw</p>]]></Value>
    </subtitle>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Glaucoom]]></Value>
    </title>
  </Properties>
</Content>