<?xml version="1.0" encoding="utf-8"?>
<Content Key="992d4763-c5e0-4b0b-a812-828723e4ffc9" Alias="Tovertafel Geriatrie" Level="5">
  <Info>
    <Parent Key="4d1c2875-0102-4389-9203-263e0b6648b5">Projectenoverzicht</Parent>
    <Path>/VriendenVanOLVG/Pages/Homepage/Projectenoverzicht/TovertafelGeriatrie</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetailPage</ContentType>
    <CreateDate>2024-01-29T14:31:16</CreateDate>
    <NodeName Default="Tovertafel Geriatrie">
      <Name Culture="nl-nl">Tovertafel Geriatrie</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <afasCostCenter>
      <Value Culture="nl-nl"><![CDATA[V0017]]></Value>
    </afasCostCenter>
    <cardImage>
      <Value><![CDATA[umb://media/1138875c54f84cdcbd89a106b56f9aa0]]></Value>
    </cardImage>
    <content>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </content>
    <date>
      <Value><![CDATA[2024-01-29T00:00:00]]></Value>
    </date>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "ee62c0ce-a092-475c-adb1-7d1a243aace7",
    "mediaKey": "1138875c-54f8-4cdc-bd89-a106b56f9aa0"
  }
]]]></Value>
    </newsImage>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElementsBL>
    <projectFilters>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </projectFilters>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <title>
      <Value Culture="nl-nl"><![CDATA[Tovertafel Geriatrie]]></Value>
    </title>
  </Properties>
</Content>