<?xml version="1.0" encoding="utf-8"?>
<Content Key="57b24bd5-4fd7-473d-a2dc-7ea961375fab" Alias="Vasculaire-Geneeskunde" Level="5">
  <Info>
    <Parent Key="e6dc5fa5-2fad-45e5-96e8-61689168277e">Afdelingen</Parent>
    <Path>/Website/Pages/Home/Afdelingen/VasculaireGeneeskunde</Path>
    <Trashed>false</Trashed>
    <ContentType>department</ContentType>
    <CreateDate>2022-07-04T08:24:45</CreateDate>
    <NodeName Default="Vasculaire-Geneeskunde">
      <Name Culture="nl-nl">Vasculaire-Geneeskunde</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactLink>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Naar MijnOLVG",
    "target": "_blank",
    "url": "https://www.mijnolvg.nl/MyChart-PRD/Authentication/Login?"
  }
]]]></Value>
    </contactLink>
    <contactsTitle>
      <Value Culture="nl-nl"><![CDATA[Contact & afspraak]]></Value>
    </contactsTitle>
    <departmentContacts>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bfbc78d22d614e8ba39d86d86c1efe04"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<h3>Locatie West</h3>\n<p>020 510 88 82</p>\n<h3>Locatie Oost</h3>\n<p>020 599 30 37</p>",
      "abstractTitle": "Contact & afspraak",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/bfbc78d22d614e8ba39d86d86c1efe04"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContacts>
    <departmentContactsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9c4b8028eaad4e859f1747677ee00f91"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<h3>Locatie West</h3>\n<p>020 510 88 82</p>\n<h3>Locatie Oost</h3>\n<p>020 599 30 37</p>",
      "abstractTitle": "Contact & afspraak",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/9c4b8028eaad4e859f1747677ee00f91"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContactsBL>
    <departmentErvaringsverhaal>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentErvaringsverhaal>
    <departmentFacts>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFacts>
    <departmentFactsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFactsBL>
    <departmentImage>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "51ba96aa-2e45-4755-82f5-e305bbad0d9a",
    "mediaKey": "4994e657-220d-49aa-81bb-7ac01e48611e"
  }
]]]></Value>
    </departmentImage>
    <faq>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </faq>
    <healthcareProfessionals>
      <Value Culture="nl-nl"><![CDATA[umb://document/de600e1b2c8841c5bd46953922226e11]]></Value>
    </healthcareProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionExtraContentBlock>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionExtraContentBlock>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <lijstExterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <photobook>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </photobook>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <synonyms>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonyms>
    <synonymsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonymsBL>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Vasculaire-Geneeskunde]]></Value>
    </title>
    <videoComponentLink>
      <Value><![CDATA[]]></Value>
    </videoComponentLink>
    <videoComponentTitleItem>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </videoComponentTitleItem>
  </Properties>
</Content>