<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eeb7569-9221-4050-9cd9-0784ebf45cbc" Alias="Vessels" Level="4">
  <Info>
    <Parent Key="e1e3a1d5-a904-4248-871a-198b9dc12199">Homepage</Parent>
    <Path>/Echocardiografie/Pages/Homepage/Vessels</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspaginaSubsite</ContentType>
    <CreateDate>2023-07-05T16:16:27</CreateDate>
    <NodeName Default="Vessels">
      <Name Culture="nl-nl">Vessels</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredItems>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/745291b6c41a450f81a6e29f1faf62c8"
      },
      {
        "contentUdi": "umb://element/75e350ee7b784478a50eec0a80c2ce5a"
      },
      {
        "contentUdi": "umb://element/6c30ab3e1c6b4e4a942ff92e0c4315f2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "1e763f4d-c921-41ea-bd39-e183ebd2464f",
          "mediaKey": "c41df985-7368-48ee-bf9a-cd376e1f53d6"
        }
      ],
      "titleFeaturedItem": "Aortic Valve",
      "udi": "umb://element/745291b6c41a450f81a6e29f1faf62c8",
      "urlFeaturedItem": [
        {
          "name": "Aortic valve",
          "udi": "umb://document/590145441508479caf6e2b8f366a81c3"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "0a20539d-414d-48e6-afed-3d626b56431e",
          "mediaKey": "32318dc9-3716-4e31-b68e-587c464b3a01"
        }
      ],
      "textFeaturedItem": "<p>Begeleidende tekst erbij. Begeleidende tekst erbij. </p>",
      "titleFeaturedItem": "Pulmonary artery",
      "udi": "umb://element/75e350ee7b784478a50eec0a80c2ce5a",
      "urlFeaturedItem": [
        {
          "name": "Pulmonary artery",
          "udi": "umb://document/cbd6214e272e4dc0a2df3046f1e19aeb"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "320bc43c-8d6f-4fc0-b793-125991518142",
          "mediaKey": "c41df985-7368-48ee-bf9a-cd376e1f53d6"
        }
      ],
      "titleFeaturedItem": "Vena cava",
      "udi": "umb://element/6c30ab3e1c6b4e4a942ff92e0c4315f2",
      "urlFeaturedItem": [
        {
          "name": "Vena cava",
          "udi": "umb://document/a6bce1ff48b640949bc24b30516d6bda"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ba58e2fa1227491db4e27c772146bced"
      },
      {
        "contentUdi": "umb://element/bfed7c8e6a884395a383c54a14b61100"
      },
      {
        "contentUdi": "umb://element/2f88239f0a184eb9abe7e0d1bb578e9c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "1e763f4d-c921-41ea-bd39-e183ebd2464f",
          "mediaKey": "c41df985-7368-48ee-bf9a-cd376e1f53d6"
        }
      ],
      "titleFeaturedItem": "Aortic Valve",
      "udi": "umb://element/ba58e2fa1227491db4e27c772146bced",
      "urlFeaturedItem": [
        {
          "name": "Aortic valve",
          "udi": "umb://document/590145441508479caf6e2b8f366a81c3"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "0a20539d-414d-48e6-afed-3d626b56431e",
          "mediaKey": "32318dc9-3716-4e31-b68e-587c464b3a01"
        }
      ],
      "textFeaturedItem": "<p>Begeleidende tekst erbij. Begeleidende tekst erbij. </p>",
      "titleFeaturedItem": "Pulmonary artery",
      "udi": "umb://element/bfed7c8e6a884395a383c54a14b61100",
      "urlFeaturedItem": [
        {
          "name": "Pulmonary artery",
          "udi": "umb://document/cbd6214e272e4dc0a2df3046f1e19aeb"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "320bc43c-8d6f-4fc0-b793-125991518142",
          "mediaKey": "c41df985-7368-48ee-bf9a-cd376e1f53d6"
        }
      ],
      "titleFeaturedItem": "Vena cava",
      "udi": "umb://element/2f88239f0a184eb9abe7e0d1bb578e9c",
      "urlFeaturedItem": [
        {
          "name": "Vena cava",
          "udi": "umb://document/a6bce1ff48b640949bc24b30516d6bda"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItemsBL>
    <heroImage>
      <Value><![CDATA[umb://media/8c7bc22ce97b44c5a2373a140667c415]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[<p class="intro">Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. Dit is een introductietekst voor een overzichtspagina. </p>]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="nl-nl"><![CDATA[<p>Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. </p>
<h3>Titel</h3>
<p>Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. </p>
<p>Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. Dit is een uitklapbare introductietekst voor een overzichtspagina. </p>]]></Value>
    </introductionTextExpandable>
    <links>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </links>
    <linksBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>even de subtitel testen</p>]]></Value>
    </subtitle>
    <title>
      <Value Culture="nl-nl"><![CDATA[Vessels]]></Value>
    </title>
  </Properties>
</Content>