<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c72ecd6-36f1-468e-a805-0a8ebb6be409" Alias="Zoeken" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/Zoeken</Path>
    <Trashed>false</Trashed>
    <ContentType>searchResultPage</ContentType>
    <CreateDate>2022-07-18T14:13:45</CreateDate>
    <NodeName Default="Zoeken">
      <Name Culture="en-us">Search</Name>
      <Name Culture="nl-nl">Zoeken</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <filterButtonStandardText>
      <Value Culture="en-us"><![CDATA[Filter results]]></Value>
      <Value Culture="nl-nl"><![CDATA[Filter de resultaten]]></Value>
    </filterButtonStandardText>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noResultsFoundText>
      <Value Culture="en-us"><![CDATA[No results were found, try another term.]]></Value>
      <Value Culture="nl-nl"><![CDATA[Geen resultaten gevonden. Probeer een andere zoekterm.]]></Value>
    </noResultsFoundText>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Search]]></Value>
      <Value Culture="nl-nl"><![CDATA[Zoeken]]></Value>
    </pageTitle>
    <searchBarLabel>
      <Value Culture="en-us"><![CDATA[Search (again)]]></Value>
      <Value Culture="nl-nl"><![CDATA[Zoeken (nogmaals)]]></Value>
    </searchBarLabel>
  </Properties>
</Content>