<?xml version="1.0" encoding="utf-8"?>
<Domain Key="472597b5-0000-0000-0000-000000000000" Alias="https://localhost:55241/en">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="352e1179-ba6d-4d3e-afdc-f378b308d029">/Website/Pages/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>