<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39fc75f0-3d98-466e-be04-fff7ea70d4d3" Alias="Abstract Search - Niet vindbaar - Toggle" Level="1">
  <Info>
    <Name>Abstract Search - Niet vindbaar - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>