<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8118b002-1804-4401-acac-407f580513ff" Alias="Medische informatie blok - Medische informatie blok - Nested Content" Level="1">
  <Info>
    <Name>Medische informatie blok - Medische informatie blok - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "Gekoppelde pagina: {{medicalContentBlocks|ncNodeName}}",
      "ncAlias": "medischInformatieBlokElement",
      "ncTabAlias": "Inhoud"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>