<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5046035-96d2-4a23-962a-988db66a0f9d" Alias="Media picker - single item - images only (legacy)" Level="1">
  <Info>
    <Name>Media picker - single item - images only (legacy)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": false,
  "StartNodeId": null
}]]></Config>
</DataType>