<?xml version="1.0" encoding="utf-8"?>
<DataType Key="223989e8-05b2-4f8d-9ab6-4e09485c85fd" Alias="Multinode Treepicker - medical information or zorgpad" Level="1">
  <Info>
    <Name>Multinode Treepicker - medical information or zorgpad</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "medicalInformation,zorgpad",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Site",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "38830884-d571-4e77-9294-bfb8afad6e26"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>