<?xml version="1.0" encoding="utf-8"?>
<DataType Key="199c6d3c-cf84-478a-baf5-8429b7d80b32" Alias="Multinode Treepicker - agenda items" Level="2">
  <Info>
    <Name>Multinode Treepicker - agenda items</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "agendaItem",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Site",
      "originKey": null,
      "querySteps": []
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>