<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93201e80-74e1-4e35-aa59-920fa034454b" Alias="Nested Content - Verloop stappen" Level="1">
  <Info>
    <Name>Nested Content - Verloop stappen</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{contentItemTitle}}",
      "ncAlias": "verloopStep",
      "ncTabAlias": "Inhoud"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>