<?xml version="1.0" encoding="utf-8"?>
<DataType Key="45871603-98ed-40ad-b7f1-76f0a0f881ab" Alias="Nested content - title list links" Level="2">
  <Info>
    <Name>Nested content - title list links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "abstractTitleListLinks",
      "ncTabAlias": "General"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>