<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b0b4a75-5fd1-43e9-ab6e-a8135f9ccccb" Alias="Order By" Level="1">
  <Info>
    <Name>Order By</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Name (A-Z)"
    },
    {
      "id": 2,
      "value": "Publish Date"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>