<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d907624-df15-423e-b23b-c0fcf1350415" Alias="Radio button list - yes or no" Level="1">
  <Info>
    <Name>Radio button list - yes or no</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Ja"
    },
    {
      "id": 2,
      "value": "Nee"
    }
  ]
}]]></Config>
</DataType>