<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cff1c439-c424-422a-9c41-2df8782773e0" Alias="Thuisarts editor V2" Level="1">
  <Info>
    <Name>Thuisarts editor V2</Name>
    <EditorAlias>proudnerds.thuisarts.editor2</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>