<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5c9f9a4f-61c8-49b6-b7ce-749f81b17d11" Alias="AbstractMailGroup" Level="4">
  <Info>
    <Parent>Abstract mail</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Mail</Translation>
    <Translation Language="nl-NL">Mail</Translation>
  </Translations>
</Dictionary>