<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2bed9e69-b7b8-4ccf-a657-474075b327a7" Alias="Abstract" Level="2">
  <Info>
    <Parent>Document types</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Not used</Translation>
    <Translation Language="nl-NL">Not used</Translation>
  </Translations>
</Dictionary>