<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4b842d92-0e92-4880-83c8-e2c1e7a6db67" Alias="AbstractMailCcName" Level="5">
  <Info>
    <Parent>AbstractMailGroup</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cc</Translation>
    <Translation Language="nl-NL">Cc</Translation>
  </Translations>
</Dictionary>