<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="31d27dee-e894-4d28-ae7f-011ba9c0e4db" Alias="begrijp-uw-lichaam" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Understand your body</Translation>
    <Translation Language="nl-NL">Begrijp uw lichaam</Translation>
  </Translations>
</Dictionary>