<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="76c767e9-ae70-47f1-b5c0-995e4176eff8" Alias="Components folder" Level="1">
  <Info>
    <Parent>Umbraco frontend</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Put text that are specific for a certain component in a folder below this item</Translation>
    <Translation Language="nl-NL">Put text that are specific for a certain component in a folder below this item</Translation>
  </Translations>
</Dictionary>