<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="517430b8-79b3-4232-82b8-6c8b1cb8c17d" Alias="component-image-row" Level="3">
  <Info>
    <Parent>Image row component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Image row</Translation>
    <Translation Language="nl-NL">Afbeelding rij</Translation>
  </Translations>
</Dictionary>