<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d9b30946-b56f-4c5e-a24f-35bcdb08e506" Alias="Location tabs component" Level="2">
  <Info>
    <Parent>Components folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Vul hier dictionary keys in voor het component location tabs</Translation>
    <Translation Language="nl-NL">Vul hier dictionary keys in voor het component location tabs</Translation>
  </Translations>
</Dictionary>