<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fb372c64-b8ca-4b81-9114-2bc84084bc58" Alias="MailFormsResultText" Level="3">
  <Info>
    <Parent>Email Content Fields</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Form results:</Translation>
    <Translation Language="nl-NL">Resultaten formulier:</Translation>
  </Translations>
</Dictionary>