<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6a28c370-6a22-47d5-aa2f-e6a0dc47c539" Alias="page.afdelingoverzicht" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Department overview</Translation>
    <Translation Language="nl-NL">Afdelingsoverzicht</Translation>
  </Translations>
</Dictionary>