<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7fd8ae41-8ec3-4eac-8f07-e36d39eb07dd" Alias="page.agendaOverview" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Agenda overview</Translation>
    <Translation Language="nl-NL">Agenda overzicht</Translation>
  </Translations>
</Dictionary>