<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73f77240-ab26-4e35-83b2-b579d23fe629" Alias="page-not-found-text" Level="3">
  <Info>
    <Parent>Page not found component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unfortunately the page you request could not be found. Sorry for the inconvenience. Use the search function at the top right of the page to find the page you are looking for.</Translation>
    <Translation Language="nl-NL">Helaas is de door u opgevraagde pagina niet gevonden. Excuses voor het ongemak.
Gebruik de zoekfunctie rechtsboven om de pagina te vinden die u zoekt.</Translation>
  </Translations>
</Dictionary>