<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="296893bd-5851-41ee-af9a-17442dab855c" Alias="search-svg-aria-label" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search icon</Translation>
    <Translation Language="nl-NL">Zoek icoon</Translation>
  </Translations>
</Dictionary>