<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="26a63715-f120-4f0f-82e6-decf42759f2e" Alias="Settings google analytics activate description" Level="4">
  <Info>
    <Parent>Settings google analytics tab</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Turns Google Analytics on or off. A valid Google Analytics tracking id also needs to be supplied for this to work.</Translation>
    <Translation Language="nl-NL">Zet Google Analytics aan of uit. Een geldig tracking-id moet ook opgegeven worden om dit te laten werken.</Translation>
  </Translations>
</Dictionary>