<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a4ef1f2-c698-4f32-9b11-4bfedd029e75" Alias="Word meer" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">More</Translation>
    <Translation Language="nl-NL">Meer</Translation>
  </Translations>
</Dictionary>