<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2865a08b-1d63-4a32-b4c7-915673e3b039" Alias="Abstract social media media description" Level="4">
  <Info>
    <Parent>Abstract social media</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Is used as the image when this page is shared on social media.</Translation>
    <Translation Language="nl-NL">Wordt gebruikt als afbeelding als deze pagina op social media wordt gedeeld.</Translation>
  </Translations>
</Dictionary>