<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="93dd07aa-79bb-4e07-9890-594b520add60" Alias="Abstract meta sitemap description" Level="4">
  <Info>
    <Parent>Abstract meta</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If checked, the page will not be displayed in the sitemap.</Translation>
    <Translation Language="nl-NL">Indien aangevinkt wordt de pagina niet weergegeven in de sitemap.</Translation>
  </Translations>
</Dictionary>