<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e7eacaa9-2b79-4991-9d22-eb567774f870" Alias="Admin report" Level="1">
  <Info>
    <Parent>Content expiration package</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Folder for all translations for admin reports</Translation>
    <Translation Language="nl-NL">Folder for all translations for admin reports</Translation>
  </Translations>
</Dictionary>