<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="48a3f941-35c6-4d86-8f28-da992c771f38" Alias="bronvermelding-laatste-aanpassingsdatum" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Last modified: </Translation>
    <Translation Language="nl-NL">Laatst gewijzigd: </Translation>
  </Translations>
</Dictionary>