<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="faf0aa10-b9f4-4341-b261-487479447bcd" Alias="default-questions-title" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Contact</Translation>
    <Translation Language="nl-NL">Contact</Translation>
  </Translations>
</Dictionary>