<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0d06c72e-4836-4975-a4a9-0ada95d4a183" Alias="featured-items-section" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Featured items</Translation>
    <Translation Language="nl-NL">Uitgelichte artikelen</Translation>
  </Translations>
</Dictionary>