<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="422f148e-6ecf-49ac-bfd9-1ccd0be38e57" Alias="FooterBlockTitle4" Level="4">
  <Info>
    <Parent>FooterName</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Title 4</Translation>
    <Translation Language="nl-NL">Titel 4</Translation>
  </Translations>
</Dictionary>