<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3a08de18-fc96-4b4f-acfc-577703b2b902" Alias="header-navigation-buttons-aria" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Header navigation</Translation>
    <Translation Language="nl-NL">Header navigatie</Translation>
  </Translations>
</Dictionary>