<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="203bddf6-276c-4146-9c15-4a97e78ad566" Alias="header-when" Level="2">
  <Info>
    <Parent>Labels en woorden folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">When</Translation>
    <Translation Language="nl-NL">Wanneer</Translation>
  </Translations>
</Dictionary>