<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="209b1938-c15a-4304-abb6-17f48dee33d5" Alias="hpc-education-and-experience-title" Level="3">
  <Info>
    <Parent>Health professionals component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">Opleiding en werkervaring</Translation>
  </Translations>
</Dictionary>