<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4431e049-3b49-4124-94e5-c7a31610da22" Alias="involved-departments-title" Level="2">
  <Info>
    <Parent>Component titels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Involved departments</Translation>
    <Translation Language="nl-NL">Betrokken afdelingen</Translation>
  </Translations>
</Dictionary>