<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="945da830-3a32-41fc-a5b3-f611299efd94" Alias="Nested content text row" Level="3">
  <Info>
    <Parent>Nested content elements</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Text row</Translation>
    <Translation Language="nl-NL">Tekstrij</Translation>
  </Translations>
</Dictionary>