<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eb1565cf-4b5e-4329-848f-0ed175345bb3" Alias="overzicht-agenda" Level="3">
  <Info>
    <Parent>Back link component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Agenda overview</Translation>
    <Translation Language="nl-NL">Overzicht agenda</Translation>
  </Translations>
</Dictionary>