<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="008500c9-4a92-4197-a2b0-d811dbc58bb8" Alias="page.fotoboekoverzicht" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Photo book overview</Translation>
    <Translation Language="nl-NL">Foto book overzicht</Translation>
  </Translations>
</Dictionary>