<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3de3b905-aa44-42e4-92a2-a1c66af88db3" Alias="photobook-title" Level="2">
  <Info>
    <Parent>Component titels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Photo book</Translation>
    <Translation Language="nl-NL">Fotoboek</Translation>
  </Translations>
</Dictionary>