<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0d393337-582b-4c32-9006-f0ee48d9ef3e" Alias="Settings Google Tag Manager tab" Level="3">
  <Info>
    <Parent>Settings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Google Tag Manager</Translation>
    <Translation Language="nl-NL">Google Tag Manager</Translation>
  </Translations>
</Dictionary>