<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="18be665d-1b53-4330-a071-1257e20bc522" Alias="table-of-contents-about-page" Level="3">
  <Info>
    <Parent>Table of contents component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">Over de [PagePlaceholder]</Translation>
  </Translations>
</Dictionary>