<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fb927a40-6860-4de2-b83f-1f07849f13f0" Alias="zorgpad-contact-knop" Level="3">
  <Info>
    <Parent>Zorgpad</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Contact</Translation>
    <Translation Language="nl-NL">Contact</Translation>
  </Translations>
</Dictionary>