<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f11c243-bc4a-47d7-91c8-951f6aa00d1f" Alias="algemeenTitleSubtitleComponent" Level="3">
  <Info>
    <Name>Algemeen Title Subtitle Component</Name>
    <Icon>icon-chevron-up color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Abstract/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ea3779b0-bfe3-40e8-8192-115a54f34d76</Key>
      <Name>Subtitel</Name>
      <Alias>subtitle</Alias>
      <Definition>d73ddaeb-78bb-43b3-941f-353c84c535b7</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Subtitel die in het zwart onder de rode titel wordt weergegeven]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8850067a-9872-4d67-9686-b8035c8fe39c</Key>
      <Name>Titel</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Titel die in het rood wordt weergegeven.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d4ff2306-accb-4e42-9203-039a12969e6a</Key>
      <Caption>Algemeen</Caption>
      <Alias>algemeen</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>