<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77dbdb58-108c-41bf-a0dc-1a873bd55337" Alias="Error404Composition" Level="4">
  <Info>
    <Name>Error 404 composition</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition that can be used for all content types that are 404 error pages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Packages/UmbracoCore/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>