<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18e3c418-e876-46bd-8382-caf1d8a08b07" Alias="importantInformationComponent" Level="3">
  <Info>
    <Name>Important Information Component</Name>
    <Icon>icon-article color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Abstract/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>62fa7d13-1ed5-460f-bfd5-4d2f706e27ea</Key>
      <Name>ImportantInformationIcon</Name>
      <Alias>importantInformationIcon</Alias>
      <Definition>6db512be-dc3f-4503-b68a-406c59ebec32</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="belangrijkInformatie/importantInformation">Important Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a5956b7e-c260-456a-857c-b6e7f9d611d4</Key>
      <Name>ImportantInformationText</Name>
      <Alias>importantInformationText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="belangrijkInformatie/importantInformation">Important Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>af2e91ac-d515-4188-907d-b2368e2ccd84</Key>
      <Caption>Belangrijk Informatie</Caption>
      <Alias>belangrijkInformatie</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e072df7b-76f9-4b64-8c83-0995f2a298af</Key>
      <Caption>Important Information</Caption>
      <Alias>belangrijkInformatie/importantInformation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>