<?xml version="1.0" encoding="utf-8"?>
<Content Key="a51cede4-e124-46d9-aa37-a54bdca1ab58" Alias="Echocardiografie" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Echocardiografie</Path>
    <Trashed>false</Trashed>
    <ContentType>websiteContainer</ContentType>
    <CreateDate>2023-07-05T08:35:12</CreateDate>
    <NodeName Default="Echocardiografie" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>