<?xml version="1.0" encoding="utf-8"?>
<Content Key="af40c3ba-3124-4290-a02e-04b8b129ec0c" Alias="Expertisecentrum Toxicologie" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/ExpertisecentrumToxicologie</Path>
    <Trashed>false</Trashed>
    <ContentType>standaardContent</ContentType>
    <CreateDate>2023-05-03T13:35:25</CreateDate>
    <NodeName Default="Expertisecentrum Toxicologie">
      <Name Culture="nl-nl">Expertisecentrum Toxicologie</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="bc49de6b-905a-4cd6-b721-5cdfe311ce18">StandaardContent</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <content>
      <Value Culture="nl-nl"><![CDATA[<p>Het Expertisecentrum Toxicologie is hét verwijscentrum voor alle patiënten met een vergiftiging in de regio Groot-Amsterdam. Jaarlijks heeft OLVG te maken met duizenden patiënten met een vergiftiging. Een ander woord voor vergiftiging is intoxicatie.</p>
<p>Een vergiftiging kan ontstaan door bijvoorbeeld het gebruik van drugs, alcohol of (verkeerde) medicijnen. Dankzij de kennis op het gebied van vergiftiging, verslaving, onthouding en lichamelijke klachten als gevolg van middelengebruik, kunnen we elke patiënt de beste kwaliteit van zorg bieden. Daarnaast is er in OLVG bijzondere aandacht voor opleiding, wetenschap en onze maatschappelijke rol binnen de toxicologie.</p>
<h3>Samenwerking</h3>
<p>Het Expertisecentrum Toxicologie is erkend door <a href="http://www.stz.nl/">Stichting Topklinische Ziekenhuizen (STZ)</a><u>.</u> Om patiënten integrale zorg te bieden, werken we samen met huisartsen, ambulancediensten en GGZ. Ook wisselen we kennis en ervaring uit met GGD Amsterdam, het Trimbos-instituut, het Nederlands Forensisch Instituut, het Nationaal Vergiftigingen Informatie Centrum en Amsterdam UMC.</p>]]></Value>
    </content>
    <departments>
      <Value><![CDATA[umb://document/01bb7c1d25c0499d9b2f3cb0b5670fa1]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <fAQ>
      <Value><![CDATA[]]></Value>
    </fAQ>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <pageElements>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElements>
    <pageElementsBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </pageElementsBL>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>hulp voor patiënten met een vergiftiging</p>]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="nl-nl"><![CDATA[Expertisecentrum Toxicologie]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
    <zorgverleners>
      <Value Culture="nl-nl"><![CDATA[umb://document/cef3bd68d4ab48a0aff177b848806f07]]></Value>
    </zorgverleners>
  </Properties>
</Content>