<?xml version="1.0" encoding="utf-8"?>
<Content Key="36f6942f-9f26-4a93-8a7a-42ce6515f064" Alias="Fotoboek" Level="3">
  <Info>
    <Parent Key="61274dc3-5d66-4219-ab3d-bcab65886933">Shared Content Vrienden van OLVG</Parent>
    <Path>/VriendenVanOLVG/SharedContentVriendenVanOLVG/Fotoboek</Path>
    <Trashed>false</Trashed>
    <ContentType>fotoboekFolder</ContentType>
    <CreateDate>2023-07-19T08:31:00</CreateDate>
    <NodeName Default="Fotoboek" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>