<?xml version="1.0" encoding="utf-8"?>
<Content Key="7009101d-98ee-49ef-9510-9a4f5a9cc32e" Alias="Is dit een vraag?" Level="4">
  <Info>
    <Parent Key="2fc86a49-82e9-4d7f-b051-2cdee04a1fe8">Veelgestelde vragen</Parent>
    <Path>/Echocardiografie/SharedContentEchocardiografie/VeelgesteldeVragen/IsDitEenVraag</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2023-07-06T07:42:14</CreateDate>
    <NodeName Default="Is dit een vraag?">
      <Name Culture="nl-nl">Is dit een vraag?</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<p>Ja, dit is een vraag.</p>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Is dit een vraag?]]></Value>
    </question>
  </Properties>
</Content>