<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4470cf6-c862-4cc3-9ac8-fbb65cbc291d" Alias="Longgeneeskunde" Level="5">
  <Info>
    <Parent Key="e6dc5fa5-2fad-45e5-96e8-61689168277e">Afdelingen</Parent>
    <Path>/Website/Pages/Home/Afdelingen/Longgeneeskunde</Path>
    <Trashed>false</Trashed>
    <ContentType>department</ContentType>
    <CreateDate>2022-06-17T08:53:58</CreateDate>
    <NodeName Default="Longgeneeskunde">
      <Name Culture="en-us">Pulmonary medicine</Name>
      <Name Culture="nl-nl">Longgeneeskunde</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "name": "Naar MijnOLVG",
    "url": "#"
  }
]]]></Value>
    </contactLink>
    <contactsTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </contactsTitle>
    <departmentContacts>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/960ed5f30a1f4a71b0ab507fe2c99fcb"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<p>te</p>",
      "abstractTitle": "Contact",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/960ed5f30a1f4a71b0ab507fe2c99fcb"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/215e72f55f22405e8a0d70cce853fba2"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<h3>Locatie West</h3>\n<p>020 510 88 92</p>\n<h3>Locatie Oost</h3>\n<p>020 510 88 92</p>\n<p> </p>",
      "abstractTitle": "Contact & afspraak",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/215e72f55f22405e8a0d70cce853fba2"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContacts>
    <departmentContactsBL>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a4133847e4fc4490a372614f63dbc7e8"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<p>te</p>",
      "abstractTitle": "Contact",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/a4133847e4fc4490a372614f63dbc7e8"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1e58fb5217d74c5e99bc2eb71031e6b4"
      }
    ]
  },
  "contentData": [
    {
      "abstractText": "<h3>Locatie West</h3>\n<p>020 510 88 92</p>\n<h3>Locatie Oost</h3>\n<p>020 510 88 92</p>\n<p> </p>",
      "abstractTitle": "Contact & afspraak",
      "contentTypeKey": "95d840f5-a0c7-4b40-ba79-3dc1dcc42bb7",
      "udi": "umb://element/1e58fb5217d74c5e99bc2eb71031e6b4"
    }
  ],
  "settingsData": []
}]]></Value>
    </departmentContactsBL>
    <departmentErvaringsverhaal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[umb://document/7aaa0a748c434b97b4e6be5b9046988f]]></Value>
    </departmentErvaringsverhaal>
    <departmentFacts>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFacts>
    <departmentFactsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departmentFactsBL>
    <departmentImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "3a6da186-1c36-4537-9d41-01e52e8c460f",
    "mediaKey": "22bb2884-b6a3-4c23-a7b4-7b33b11fa052"
  }
]]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "key": "617ec86b-9d90-4217-b23b-5551ea0bb667",
    "mediaKey": "1c21cd39-41cd-4bbc-b2f8-e785459eb7db"
  }
]]]></Value>
    </departmentImage>
    <faq>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </faq>
    <healthcareProfessionals>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </healthcareProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionExtraContentBlock>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionExtraContentBlock>
    <introductionText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <lijstExterneLinks>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstExterneLinks>
    <lijstInterneLinks>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </lijstInterneLinks>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <photobook>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </photobook>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </subtitle>
    <synonyms>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonyms>
    <synonymsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </synonymsBL>
    <tableOfContentsTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </tableOfContentsTitle>
    <title>
      <Value Culture="en-us"><![CDATA[Pulmonary medicine]]></Value>
      <Value Culture="nl-nl"><![CDATA[Longgeneeskunde]]></Value>
    </title>
    <videoComponentLink>
      <Value><![CDATA[]]></Value>
    </videoComponentLink>
    <videoComponentTitleItem>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </videoComponentTitleItem>
  </Properties>
</Content>