<?xml version="1.0" encoding="utf-8"?>
<Content Key="0027196c-17ba-47c6-8797-211a411209d7" Alias="Redactionele contactgegevens" Level="3">
  <Info>
    <Parent Key="da8f90bb-08a2-48d8-86e2-c7013c502599">Shared content</Parent>
    <Path>/Website/SharedContent/RedactioneleContactgegevens</Path>
    <Trashed>false</Trashed>
    <ContentType>editorialFolder</ContentType>
    <CreateDate>2023-03-02T11:56:25</CreateDate>
    <NodeName Default="Redactionele contactgegevens">
      <Name Culture="nl-nl">Redactionele contactgegevens</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>