<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b191f92-bb9f-40fa-bbbb-5dfd75b272d4" Alias="Redactionele blokken" Level="3">
  <Info>
    <Parent Key="c8685dba-2eac-49b9-bf82-debde16f9f6f">Shared Content Ushamwari</Parent>
    <Path>/Ushamwari/SharedContentUshamwari/RedactioneleBlokken</Path>
    <Trashed>false</Trashed>
    <ContentType>editorialFolder</ContentType>
    <CreateDate>2023-07-19T09:30:50</CreateDate>
    <NodeName Default="Redactionele blokken">
      <Name Culture="nl-nl">Redactionele blokken</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>