<?xml version="1.0" encoding="utf-8"?>
<Content Key="d92dc0ff-5744-4380-9ee7-74310711e468" Alias="Routes" Level="3">
  <Info>
    <Parent Key="da8f90bb-08a2-48d8-86e2-c7013c502599">Shared content</Parent>
    <Path>/Website/SharedContent/Routes</Path>
    <Trashed>false</Trashed>
    <ContentType>routeFolder</ContentType>
    <CreateDate>2022-04-12T13:00:37</CreateDate>
    <NodeName Default="Routes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>