<?xml version="1.0" encoding="utf-8"?>
<Content Key="a877e1cf-e109-4316-b915-5503735ea58d" Alias="Styling" Level="3">
  <Info>
    <Parent Key="355af968-4be8-4fe7-83a4-b80fe8209e99">Configuration</Parent>
    <Path>/BeroerteAdviescentrum/Configuration/Styling</Path>
    <Trashed>false</Trashed>
    <ContentType>configurationStyling</ContentType>
    <CreateDate>2023-07-14T11:44:26</CreateDate>
    <NodeName Default="Styling" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <stylesheetUrl>
      <Value><![CDATA[/dist/beroerteadviescentrum.css]]></Value>
    </stylesheetUrl>
  </Properties>
</Content>