<?xml version="1.0" encoding="utf-8"?>
<Content Key="152b3b04-a70f-4352-8910-ea1919fcdc9c" Alias="Test document invariant" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocumentInvariant</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocument</ContentType>
    <CreateDate>2026-04-03T16:42:36</CreateDate>
    <NodeName Default="Test document invariant" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <nestedContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e7c62b5bb0a140f7b4a9f163bcf6bbec"
      },
      {
        "contentUdi": "umb://element/5346c92574034dfea907bc644d66d8da"
      },
      {
        "contentUdi": "umb://element/34b82cc2aea44364b42a10c39b54c89b"
      },
      {
        "contentUdi": "umb://element/20e4f4198eaf42dba23c1e8281c2f973"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4032b83c-f4e3-46e7-a2da-36ca460e9fdc",
      "text": {
        "markup": "<p>Invariant 1</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Invariant 1",
      "udi": "umb://element/e7c62b5bb0a140f7b4a9f163bcf6bbec"
    },
    {
      "contentTypeKey": "4032b83c-f4e3-46e7-a2da-36ca460e9fdc",
      "text": {
        "markup": "<p>Invariant 2</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Invariant 2",
      "udi": "umb://element/5346c92574034dfea907bc644d66d8da"
    },
    {
      "contentTypeKey": "10c6a773-bbd8-4627-b02b-cf5ff849a44c",
      "text": {
        "markup": "<p>Variant 1</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Variant 1",
      "udi": "umb://element/34b82cc2aea44364b42a10c39b54c89b"
    },
    {
      "contentTypeKey": "10c6a773-bbd8-4627-b02b-cf5ff849a44c",
      "text": {
        "markup": "<p>Variant 2</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Variant 2",
      "udi": "umb://element/20e4f4198eaf42dba23c1e8281c2f973"
    }
  ],
  "settingsData": []
}]]></Value>
    </nestedContent>
  </Properties>
</Content>