<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0d94ba0-531d-48e1-b702-cf920d18f63a" Alias="Test document variant EN" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocumentVariantEN</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocument1</ContentType>
    <CreateDate>2026-04-03T16:43:44</CreateDate>
    <NodeName Default="Test document variant EN">
      <Name Culture="en-us">Test document variant EN</Name>
      <Name Culture="nl-nl">Test document variant NL</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <nestedContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cb69ed8b85f440549c4f63ed8d76c881"
      },
      {
        "contentUdi": "umb://element/76626924c99f43eeae8ccb140d72bcbf"
      },
      {
        "contentUdi": "umb://element/c7533472a0884aa6ae6bf93d7497260e"
      },
      {
        "contentUdi": "umb://element/8fd0e734208a4351a0bff1fad2ef543c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4032b83c-f4e3-46e7-a2da-36ca460e9fdc",
      "text": {
        "markup": "<p>Invariant 1&nbsp;EN</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Invariant 1 EN",
      "udi": "umb://element/cb69ed8b85f440549c4f63ed8d76c881"
    },
    {
      "contentTypeKey": "4032b83c-f4e3-46e7-a2da-36ca460e9fdc",
      "text": {
        "markup": "<p>Invariant 2&nbsp;EN</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Invariant 2 EN",
      "udi": "umb://element/76626924c99f43eeae8ccb140d72bcbf"
    },
    {
      "contentTypeKey": "10c6a773-bbd8-4627-b02b-cf5ff849a44c",
      "text": {
        "markup": "<p>Variant 1 EN</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Variant 1 EN",
      "udi": "umb://element/c7533472a0884aa6ae6bf93d7497260e"
    },
    {
      "contentTypeKey": "10c6a773-bbd8-4627-b02b-cf5ff849a44c",
      "text": {
        "markup": "<p>Variant 2 EN</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Variant 2 EN",
      "udi": "umb://element/8fd0e734208a4351a0bff1fad2ef543c"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/63806c2efc994ded88a210b79e27613d"
      },
      {
        "contentUdi": "umb://element/1ed5a1e5e3d54069a2cbd1556029f232"
      },
      {
        "contentUdi": "umb://element/09e6bd7755d647caba2b2ac52f3a4a3e"
      },
      {
        "contentUdi": "umb://element/a1b00e54166b4d1180b8b493b7fa3984"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4032b83c-f4e3-46e7-a2da-36ca460e9fdc",
      "text": {
        "markup": "<p>Invariant 1</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Invariant 1",
      "udi": "umb://element/63806c2efc994ded88a210b79e27613d"
    },
    {
      "contentTypeKey": "4032b83c-f4e3-46e7-a2da-36ca460e9fdc",
      "text": {
        "markup": "<p>Invariant 2</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Invariant 2",
      "udi": "umb://element/1ed5a1e5e3d54069a2cbd1556029f232"
    },
    {
      "contentTypeKey": "10c6a773-bbd8-4627-b02b-cf5ff849a44c",
      "text": {
        "markup": "<p>Variant NL 1</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Variant NL 1",
      "udi": "umb://element/09e6bd7755d647caba2b2ac52f3a4a3e"
    },
    {
      "contentTypeKey": "10c6a773-bbd8-4627-b02b-cf5ff849a44c",
      "text": {
        "markup": "<p>Variant NL 2</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Variant NL 2",
      "udi": "umb://element/a1b00e54166b4d1180b8b493b7fa3984"
    }
  ],
  "settingsData": []
}]]></Value>
    </nestedContent>
  </Properties>
</Content>