<?xml version="1.0" encoding="utf-8"?>
<Content Key="e932d4c7-77e9-4b25-9bfc-883ff55802bb" Alias="Test document" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestDocument</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocument</ContentType>
    <CreateDate>2026-03-31T20:53:42</CreateDate>
    <NodeName Default="Test document" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <nestedContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5ed8eb4d949541329a2485ff16ca10a1"
      },
      {
        "contentUdi": "umb://element/10a2f0a026664bc79ecc31aaad377cff"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4032b83c-f4e3-46e7-a2da-36ca460e9fdc",
      "text": {
        "markup": "<p>Invariant text 1</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Invariant title 1",
      "udi": "umb://element/5ed8eb4d949541329a2485ff16ca10a1"
    },
    {
      "contentTypeKey": "10c6a773-bbd8-4627-b02b-cf5ff849a44c",
      "text": {
        "markup": "<p>Variant text 1</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Variant title 1",
      "udi": "umb://element/10a2f0a026664bc79ecc31aaad377cff"
    }
  ],
  "settingsData": []
}]]></Value>
    </nestedContent>
  </Properties>
</Content>