<?xml version="1.0" encoding="utf-8"?>
<Content Key="efa82752-8217-4dd3-8386-5c1f528f91d8" Alias="Voorbeeld vraag" Level="5">
  <Info>
    <Parent Key="cef356c9-8176-4317-89ff-ffbd4e8ba872">Voorbeeld onderwerp</Parent>
    <Path>/Website/SharedContent/VeelgesteldeVragen/VoorbeeldOnderwerp/VoorbeeldVraag</Path>
    <Trashed>false</Trashed>
    <ContentType>faqItem</ContentType>
    <CreateDate>2022-04-12T13:00:25</CreateDate>
    <NodeName Default="Voorbeeld vraag">
      <Name Culture="nl-nl">Voorbeeld vraag</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value Culture="nl-nl"><![CDATA[<p>Antwoord</p>]]></Value>
    </answer>
    <question>
      <Value Culture="nl-nl"><![CDATA[Voorbeeld vraag]]></Value>
    </question>
  </Properties>
</Content>