<?xml version="1.0" encoding="utf-8"?>
<Media Key="866c550b-cb6b-443a-a769-d79503dee8a7" Alias="10" Level="3">
  <Info>
    <Parent Key="ba842dd2-8168-4967-9d43-c07ac3cf12fc">fotoboek voorbeeld</Parent>
    <Path>/ExampleImages/fotoboekVoorbeeld/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-25T15:53:30</CreateDate>
    <NodeName Default="10" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bvkhzbtl/10.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>