<?xml version="1.0" encoding="utf-8"?>
<Media Key="0074980d-d302-4d9e-8721-e61c225b5a74" Alias="2093D6dc 52Ee 4645 8B89 D97eea208235" Level="3">
  <Info>
    <Parent Key="51c814c3-2ea1-4409-b555-f1778ee7e4d4">Readspeaker</Parent>
    <Path>/Systeemafbeeldingen/Readspeaker/D6dc52Ee46458B89D97eea208235</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-05T12:56:03</CreateDate>
    <NodeName Default="2093D6dc 52Ee 4645 8B89 D97eea208235" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bomhiaac/2093d6dc-52ee-4645-8b89-d97eea208235.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>