<?xml version="1.0" encoding="utf-8"?>
<Media Key="acd958e3-0e69-4dab-a7cd-62fc99a1eb89" Alias="4K Desktop Wallpaper" Level="4">
  <Info>
    <Parent Key="5c09d657-f060-4cf4-8a23-7a2ad7d3b221">Thomas Herckenrath (1)</Parent>
    <Path>/Contenttraining/TeunisRoes/ThomasHerckenrath1/KDesktopWallpaper</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T08:55:22</CreateDate>
    <NodeName Default="4K Desktop Wallpaper" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2vmntldj/4k-desktop-wallpaper.jpg",
  "focalPoint": {
    "left": 0.4974937343358396,
    "top": 0.9000278473962684
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>