<?xml version="1.0" encoding="utf-8"?>
<Media Key="af6da6c9-9aef-4b59-b9d0-155a3332a7cb" Alias="Blog C.Radder" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogCRadder</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T16:47:39</CreateDate>
    <NodeName Default="Blog C.Radder" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z4tg1l5p/blog_c-radder.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>