<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b96d693-d717-420a-93cb-3fad610ef7cd" Alias="Carpool" Level="3">
  <Info>
    <Parent Key="69a81e36-8823-4f98-81d8-ef65986aa548">Sanne G.</Parent>
    <Path>/Contenttraining/SanneG/Carpool</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-06T09:31:13</CreateDate>
    <NodeName Default="Carpool" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sxljmsyx/carpool.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>