<?xml version="1.0" encoding="utf-8"?>
<Media Key="272fa01e-4a44-4ae7-9d1d-8ed389fc1346" Alias="Diaboss vulbeeld 3" Level="3">
  <Info>
    <Parent Key="9b603a7c-184b-4a27-8936-000f864a5b17">Diaboss</Parent>
    <Path>/Subsites/Diaboss/DiabossVulbeeld3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-06T08:31:34</CreateDate>
    <NodeName Default="Diaboss vulbeeld 3" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dcqc4j0e/diaboss-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>