<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c056785-ab36-456b-ab53-795909a1e613" Alias="Dwergpapegaai Nieuwsfoto" Level="3">
  <Info>
    <Parent Key="7ae3d69a-811c-49ea-a2c4-4a76d56721f3">Nena</Parent>
    <Path>/Contenttraining/Nena/DwergpapegaaiNieuwsfoto</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T09:50:29</CreateDate>
    <NodeName Default="Dwergpapegaai Nieuwsfoto" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qntbkxbw/dwergpapegaai-nieuwsfoto.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>