<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfdf9c53-8f36-4ab0-9fc6-2963ba9f21a4" Alias="Els" Level="3">
  <Info>
    <Parent Key="df845caa-a4ef-4967-9443-1c5f5d8da7d4">Lizan</Parent>
    <Path>/Contenttraining/Lizan/Els</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-06T09:17:38</CreateDate>
    <NodeName Default="Els" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kwon5tzw/els.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>