<?xml version="1.0" encoding="utf-8"?>
<Media Key="4697c91e-69a0-45e2-a562-a89f792b6d87" Alias="Hartje 4" Level="3">
  <Info>
    <Parent Key="2816a3de-f6f6-4ea1-9530-be45c18a5218">Echocardiografie</Parent>
    <Path>/Subsites/Echocardiografie/Hartje4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-05T15:55:18</CreateDate>
    <NodeName Default="Hartje 4" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ddejorva/hartje-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>