<?xml version="1.0" encoding="utf-8"?>
<Media Key="fad21a25-54f7-4a67-b347-c3f842e0414c" Alias="Header Anesthesiologie" Level="3">
  <Info>
    <Parent Key="ef1dd071-e6a0-4807-95d7-683932e8fedd">Anesthesiologie</Parent>
    <Path>/Departments/Anesthesiologie/HeaderAnesthesiologie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-06T14:56:44</CreateDate>
    <NodeName Default="Header Anesthesiologie" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/emnnf4xx/header_anesthesiologie.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>