<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5d93f82-f7e4-4022-9260-0f908036f236" Alias="Nieuws" Level="2">
  <Info>
    <Parent Key="80de315e-71e5-4996-a1c4-c3bc8e75c677">Example images</Parent>
    <Path>/ExampleImages/Nieuws</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-02-03T11:50:29</CreateDate>
    <NodeName Default="Nieuws" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>