<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fe37379-9b0c-418a-8a69-2e12413ec47d" Alias="Siebol, P." Level="2">
  <Info>
    <Parent Key="85098ac3-393f-4579-afac-7ca67730ad82">zorgverleners</Parent>
    <Path>/zorgverleners/SiebolP</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-21T10:03:27</CreateDate>
    <NodeName Default="Siebol, P." />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p3zphhym/siebol-p.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>