<?xml version="1.0" encoding="utf-8"?>
<Media Key="60f0c6bc-2f85-4bfa-8c9e-b11a6b72c61c" Alias="Systeemafbeeldingen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Systeemafbeeldingen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-01-26T12:35:08</CreateDate>
    <NodeName Default="Systeemafbeeldingen" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>