<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b310d94-5442-4b04-85d9-ead0b7bd6fc4" Alias="Vriendenvanolvg Logo" Level="3">
  <Info>
    <Parent Key="ec0cdcdc-968c-4e3c-a112-0017ff5a4c71">Vrienden van OLVG</Parent>
    <Path>/Subsites/VriendenVanOLVG/VriendenvanolvgLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-20T14:55:20</CreateDate>
    <NodeName Default="Vriendenvanolvg Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sigdcw0c/vriendenvanolvg-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>