<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec0cdcdc-968c-4e3c-a112-0017ff5a4c71" Alias="Vrienden van OLVG" Level="2">
  <Info>
    <Parent Key="5e79cdb7-2bdc-4b84-9a79-62c3f4767986">Subsites</Parent>
    <Path>/Subsites/VriendenVanOLVG</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-20T14:55:12</CreateDate>
    <NodeName Default="Vrienden van OLVG" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>