<div ng-controller="legacyConverter.overview.controller as vm">
    <umb-editor-view>
        <umb-editor-header name="'Legacy Feature Converter'"
                           description="vm.headerDescription"
                           name-locked="true"
                           hide-icon="true"
                           hide-alias="true">
        </umb-editor-header>

        <umb-editor-container>
            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

            <div ng-if="!vm.loading">
                <!-- Converters section -->
                <umb-box>
                    <umb-box-header title-key="legacyConverter_availableConverters"></umb-box-header>
                    <umb-box-content>
                        <umb-empty-state ng-if="vm.converters.length === 0" size="small">
                            <localize key="legacyConverter_noConvertersFound">No converters found.</localize>
                        </umb-empty-state>

                        <div class="lfc-converter-cards" ng-if="vm.converters.length > 0">
                            <div class="lfc-converter-card"
                                 ng-repeat="converter in vm.converters"
                                 ng-click="vm.startWizard(converter)">
                                <div class="lfc-converter-card__header">
                                    <umb-icon icon="icon-axis-rotation" class="lfc-converter-card__icon"></umb-icon>
                                    <h4>{{converter.name}}</h4>
                                </div>
                                <p class="lfc-converter-card__description">{{converter.description}}</p>
                                <div class="lfc-converter-card__footer">
                                    <uui-tag color="default" look="secondary">
                                        {{converter.affectedDocumentTypesCount}}
                                        <localize key="legacyConverter_documentTypes">document types</localize>
                                    </uui-tag>
                                </div>
                            </div>
                        </div>
                    </umb-box-content>
                </umb-box>

                <!-- Queue section -->
                <umb-box ng-if="vm.queue.length > 0">
                    <umb-box-header title-key="legacyConverter_conversionQueue"></umb-box-header>
                    <umb-box-content>
                        <div class="umb-table">
                            <div class="umb-table-head">
                                <div class="umb-table-row">
                                    <div class="umb-table-cell umb-table__name">
                                        <localize key="legacyConverter_converter">Converter</localize>
                                    </div>
                                    <div class="umb-table-cell">
                                        <localize key="legacyConverter_status">Status</localize>
                                    </div>
                                    <div class="umb-table-cell">
                                        <localize key="legacyConverter_queuedAt">Queued at</localize>
                                    </div>
                                    <div class="umb-table-cell"></div>
                                </div>
                            </div>
                            <div class="umb-table-body">
                                <div class="umb-table-row" ng-repeat="item in vm.queue">
                                    <div class="umb-table-cell umb-table__name">
                                        {{vm.getConverterType(item)}}
                                    </div>
                                    <div class="umb-table-cell">
                                        <uui-tag ng-class="vm.getStatusClass(item.status)"
                                                 look="secondary">
                                            {{item.status}}
                                        </uui-tag>
                                    </div>
                                    <div class="umb-table-cell">
                                        {{item.queuedAt | date:'short'}}
                                    </div>
                                    <div class="umb-table-cell">
                                        <umb-button ng-if="item.status === 'Queued'"
                                                    type="button"
                                                    button-style="danger"
                                                    size="xs"
                                                    label-key="general_cancel"
                                                    action="vm.cancelQueueItem(item.id)">
                                        </umb-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </umb-box-content>
                </umb-box>

                <!-- History section -->
                <umb-box>
                    <umb-box-header title-key="legacyConverter_conversionHistory"></umb-box-header>
                    <umb-box-content>
                        <umb-empty-state ng-if="vm.history.totalItems === 0" size="small">
                            <localize key="legacyConverter_noHistoryFound">No conversions have been run yet.</localize>
                        </umb-empty-state>

                        <div class="umb-table" ng-if="vm.history.totalItems > 0">
                            <div class="umb-table-head">
                                <div class="umb-table-row">
                                    <div class="umb-table-cell umb-table__name">
                                        <localize key="legacyConverter_converter">Converter</localize>
                                    </div>
                                    <div class="umb-table-cell">
                                        <localize key="legacyConverter_status">Status</localize>
                                    </div>
                                    <div class="umb-table-cell">
                                        <localize key="legacyConverter_startedAt">Started</localize>
                                    </div>
                                    <div class="umb-table-cell">
                                        <localize key="legacyConverter_results">Results</localize>
                                    </div>
                                </div>
                            </div>
                            <div class="umb-table-body">
                                <div class="umb-table-row -selectable"
                                     ng-repeat="item in vm.history.items"
                                     ng-click="vm.viewDetails(item.id)">
                                    <div class="umb-table-cell umb-table__name">
                                        {{item.converterType}}
                                        <uui-tag ng-if="item.isTestRun" color="warning" look="secondary">
                                            <localize key="legacyConverter_testRun">Test run</localize>
                                        </uui-tag>
                                    </div>
                                    <div class="umb-table-cell">
                                        <uui-tag ng-class="vm.getStatusClass(item.status)" look="secondary">
                                            {{item.status}}
                                        </uui-tag>
                                    </div>
                                    <div class="umb-table-cell">
                                        {{item.startedAt | date:'short'}}
                                    </div>
                                    <div class="umb-table-cell">
                                        <span class="text-success">{{item.successCount}}</span> /
                                        <span class="text-danger">{{item.failureCount}}</span> /
                                        <span class="text-muted">{{item.skippedCount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <umb-pagination ng-if="vm.history.totalPages > 1"
                                        page-number="vm.history.pageNumber"
                                        total-pages="vm.history.totalPages"
                                        on-next="vm.nextPage"
                                        on-prev="vm.prevPage"
                                        on-go-to-page="vm.goToPage">
                        </umb-pagination>
                    </umb-box-content>
                </umb-box>
            </div>
        </umb-editor-container>
    </umb-editor-view>
</div>
