<?xml version="1.0" encoding="utf-8"?>
<Media Key="e53510e9-4764-49c3-aeea-77ad028be044" Alias="18" Level="3">
  <Info>
    <Parent Key="ba842dd2-8168-4967-9d43-c07ac3cf12fc">fotoboek voorbeeld</Parent>
    <Path>/ExampleImages/fotoboekVoorbeeld/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-25T15:53:25</CreateDate>
    <NodeName Default="18" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/32idlzle/18.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>