<?xml version="1.0" encoding="utf-8"?>
<Media Key="9675238a-2be6-4e40-b10b-255578db5aa2" Alias="Abg 2" Level="2">
  <Info>
    <Parent Key="46cbe100-3354-474a-a3fb-68e9c658f9a2">arm of been in het gips</Parent>
    <Path>/armOfBeenInHetGips/Abg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-08T11:37:59</CreateDate>
    <NodeName Default="Abg 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rqrhlfxg/abg-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>