<?xml version="1.0" encoding="utf-8"?>
<Media Key="15ba9420-8c0d-4752-8253-56e18e23bf7b" Alias="Abg 6" Level="2">
  <Info>
    <Parent Key="46cbe100-3354-474a-a3fb-68e9c658f9a2">arm of been in het gips</Parent>
    <Path>/armOfBeenInHetGips/Abg6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-08T11:38:01</CreateDate>
    <NodeName Default="Abg 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e0klufin/abg-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>