<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae832d5f-5c92-41d1-8415-d2132bf1f3db" Alias="Diaboss nieuwsbericht 2" Level="3">
  <Info>
    <Parent Key="9b603a7c-184b-4a27-8936-000f864a5b17">Diaboss</Parent>
    <Path>/Subsites/Diaboss/DiabossNieuwsbericht2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-06T09:02:55</CreateDate>
    <NodeName Default="Diaboss nieuwsbericht 2" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lewjhlus/diaboss-nieuwsbericht-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>