<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6c31912-80f9-4045-96fb-7b21dabfbacf" Alias="Esmée" Level="2">
  <Info>
    <Parent Key="b36b7405-c958-4b2d-9822-45fec4be39dc">Contenttraining</Parent>
    <Path>/Contenttraining/Esmee</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-08T08:52:38</CreateDate>
    <NodeName Default="Esmée" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>