<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e0177e6-ed3c-473e-83a0-26d26adf7d54" Alias="Fietsrek Final" Level="2">
  <Info>
    <Parent Key="80de315e-71e5-4996-a1c4-c3bc8e75c677">Example images</Parent>
    <Path>/ExampleImages/FietsrekFinal</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-05T11:20:26</CreateDate>
    <NodeName Default="Fietsrek Final" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2b1bclr2/fietsrek_final.jpeg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>