<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfbf7da0-c394-4b41-9ff9-4a897181b4d1" Alias="Image Header 2" Level="2">
  <Info>
    <Parent Key="ae78eb5b-0162-4306-85f8-b7a55d0790e5">headers</Parent>
    <Path>/headers/ImageHeader2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-06-23T09:58:36</CreateDate>
    <NodeName Default="Image Header 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uz4l5p2u/image-header-2.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>