<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dc0f9d6-16f6-4cb3-86f0-e858732f6f62" Alias="Thomas Herckenrath" Level="2">
  <Info>
    <Parent Key="b36b7405-c958-4b2d-9822-45fec4be39dc">Contenttraining</Parent>
    <Path>/Contenttraining/ThomasHerckenrath</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-06T09:16:51</CreateDate>
    <NodeName Default="Thomas Herckenrath" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>