<?xml version="1.0" encoding="utf-8"?>
<Media Key="07f66ccc-c95c-4ebe-a3a3-ad1cbea58438" Alias="Top taken" Level="2">
  <Info>
    <Parent Key="80de315e-71e5-4996-a1c4-c3bc8e75c677">Example images</Parent>
    <Path>/ExampleImages/TopTaken</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-01-26T14:59:11</CreateDate>
    <NodeName Default="Top taken" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>