<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="682fb529-391d-4719-89dd-91e0ca7864da" Alias="AbstractMailToDescription" Level="6">
  <Info>
    <Parent>AbstractMailToName</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The e-mail address the mail will be send to. Multiple addresses can be seperated with a semicolon ";".</Translation>
    <Translation Language="nl-NL">Het email adres waar de mail naartoe verstuurd wordt. Meerdere addressen kunnen worden ingevuld gescheiden door een puntkomma ";".</Translation>
  </Translations>
</Dictionary>