<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db0c4c7f-097d-4948-bc0f-6b095c82ba2d" Alias="Abstract nested content content tab" Level="4">
  <Info>
    <Parent>Abstract nested content</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Content</Translation>
    <Translation Language="nl-NL">Inhoud</Translation>
  </Translations>
</Dictionary>