<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="05ba6a05-2ef4-44f3-9374-71acd5ed7e57" Alias="Abstract meta description name" Level="4">
  <Info>
    <Parent>Abstract meta</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Meta description</Translation>
    <Translation Language="nl-NL">Meta omschrijving</Translation>
  </Translations>
</Dictionary>