<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="455612d8-f8ba-400b-8434-38ff6ae5def7" Alias="Consultation Time component" Level="2">
  <Info>
    <Parent>Components folder</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>