<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="11926509-8b3f-4b40-8599-e2c0c17925b1" Alias="hpc-big-number" Level="3">
  <Info>
    <Parent>Health professionals component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="nl-NL">BIG-nummer:</Translation>
  </Translations>
</Dictionary>