<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="56774aae-fffe-447a-a17b-cd18d8d706a8" Alias="Labels en woorden folder" Level="1">
  <Info>
    <Parent>Umbraco frontend</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Plaats labels voor knoppen en formulieren en losse woorden in deze folder</Translation>
    <Translation Language="nl-NL">Plaats labels voor knoppen en formulieren en losse woorden in deze folder</Translation>
  </Translations>
</Dictionary>