<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ef7de9c8-e2c1-4d83-b650-ef99f24f05f0" Alias="MandatoryErrorMessage" Level="2">
  <Info>
    <Parent>Forms Settings Translations</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please provide a value for</Translation>
    <Translation Language="nl-NL">Vul een waarde in voor </Translation>
  </Translations>
</Dictionary>