<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d9ad9c59-ebb1-4ab3-9b44-67b5d4334e25" Alias="overzicht-nieuws" Level="3">
  <Info>
    <Parent>Back link component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">News overview</Translation>
    <Translation Language="nl-NL">Overzicht nieuws</Translation>
  </Translations>
</Dictionary>