<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="45d0c76f-e675-4e00-81f6-f4980f267f6f" Alias="page.standaardContentSubsite" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Standard content</Translation>
    <Translation Language="nl-NL">Algemene pagina</Translation>
  </Translations>
</Dictionary>