<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="99d40a08-0c55-4d3b-86de-fb01b9671c3f" Alias="page.searchResultPage" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search result</Translation>
    <Translation Language="nl-NL">Zoek resultaat</Translation>
  </Translations>
</Dictionary>