<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1882f929-7d73-4c95-8dc8-17c6631dd1d3" Alias="page.location" Level="3">
  <Info>
    <Parent>Pages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Location</Translation>
    <Translation Language="nl-NL">Locatie</Translation>
  </Translations>
</Dictionary>