<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fe48739a-c966-4f7c-892f-cd47ddc989be" Alias="table-of-contents-about-department" Level="3">
  <Info>
    <Parent>Table of contents component</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Abount the department</Translation>
    <Translation Language="nl-NL">Over de afdeling</Translation>
  </Translations>
</Dictionary>