<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e72db4fb-6523-4917-837f-9f01546b1283" Alias="Thuisarts" Level="1">
  <Info>
    <Parent>Umbraco frontend</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Under this dictionary key you can managed the text for thuisarts.nl plugin</Translation>
    <Translation Language="nl-NL">Onder deze dictionary key kunnen de teksten voor de thuisarts.nl plugin gemaakt worden</Translation>
  </Translations>
</Dictionary>