<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd7c4edb-26d1-48f8-b70c-3995b27d46ad" Alias="contentContainer" Level="2">
  <Info>
    <Name>#Content container</Name>
    <Icon>icon-book-alt-2 color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>#Content container description</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="480d11f0-c749-47e1-89d3-7a8b8f3e449f" SortOrder="0">homepage</ContentType>
    <ContentType Key="e3718806-2f83-485e-9fcf-14edbce42062" SortOrder="1">homepageSubsite</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>