<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8c6f268c-2018-41b5-aafe-030358769544" Alias="customRouteItem" Level="2">
  <Info>
    <Name>Custom route item</Name>
    <Icon>icon-map-location color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5fa6d1bc-cf27-4f84-bd25-4759c9380b1d</Key>
      <Name>Beschrijving</Name>
      <Alias>customRouteItemDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Beschrijving van de route]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="route">Route</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09097702-a802-48d8-ac39-1fc1171a43bf</Key>
      <Name>Naam</Name>
      <Alias>customRouteItemName</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[De naam wordt als titel boven de beschrijving getoond]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="route">Route</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7d100778-5210-4782-8ebe-c0ac42b066f8</Key>
      <Name>Titel</Name>
      <Alias>customRouteItemTitle</Alias>
      <Definition>222c1184-d03f-483a-95ab-69e3ccc3fc2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Titel die wordt getoond op de website]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="route">Route</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3309bbce-bf08-43ec-b713-deeed643d78c</Key>
      <Caption>Route</Caption>
      <Alias>route</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>