<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e08f14d-4ab7-4074-a6df-fdef3f50858e" Alias="expandableRichIntroductionComponent" Level="3">
  <Info>
    <Name>Expandable Rich Introduction Component</Name>
    <Icon>icon-application-window-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Abstract/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>501ed543-742c-4129-98a0-d5f264c327bb</Key>
      <Name>Introductietekst</Name>
      <Alias>introductionText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introductietekst]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f5f3a1f6-b828-4faf-b6a3-f0d8b963bc64</Key>
      <Name>Introductie uitbreiding uitklapbaar</Name>
      <Alias>introductionTextExpandable</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Uitbeiding op de introductietekst die standaard verborgen is en uitgeklapt kan worden door een 'lees meer' knop.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="introductie">Introductie</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>542e3d58-901e-4f9b-a7b3-df29e6e81d3a</Key>
      <Caption>Introductie</Caption>
      <Alias>introductie</Alias>
      <Type>Tab</Type>
      <SortOrder>16</SortOrder>
    </Tab>
  </Tabs>
</ContentType>