<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="be2f80ef-c73b-427b-bc9b-02e17cb2f868" Alias="nestedContentGradientBlock" Level="2">
  <Info>
    <Name>Verloopblok</Name>
    <Icon>icon-layers color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Nested+content+elements</Folder>
    <Compositions>
      <Composition Key="ba1b147b-08f6-4e08-bbef-df4fac23575c">componentBackgroundColor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>942eadb2-826c-4fce-887f-25ab939485e2</Key>
      <Name>Stappen (oud)</Name>
      <Alias>gradientBlock</Alias>
      <Definition>247ba4e6-a4f2-4fae-910a-ceff55ae5d9c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dit is het een oud veld, niet meer gebruiken als het andere veld gevuld is.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec5fb45d-cbbd-4e48-b720-82238dd55492</Key>
      <Name>Stappen</Name>
      <Alias>gradientBlockBL</Alias>
      <Definition>21cf6c45-7292-4a77-b56b-91c7d1ed625d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce3ed7c3-190c-4f85-9641-76bbda2d7556</Key>
      <Name>Titel</Name>
      <Alias>verloopTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inhoud">Inhoud</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>596ccd05-7ba0-4423-9c14-4e7076cf9335</Key>
      <Caption>Inhoud</Caption>
      <Alias>inhoud</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>