<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eef27094-33ec-433c-be03-53de993f9dda" Alias="newsOverview" Level="2">
  <Info>
    <Name>Nieuwsoverzicht</Name>
    <Icon>icon-forms-stackoverflow color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Een overzicht waar nieuwsberichten onder kunnen worden aangemaakt</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="3dd376c0-c636-44a5-98f7-f647d75dbd85">abstractForAuthors</Composition>
      <Composition Key="2af9cb52-8db7-4541-a067-53380f2170eb">abstractMeta</Composition>
      <Composition Key="264246df-74e1-4ca1-a45d-be82a51dd0f4">abstractSearch</Composition>
      <Composition Key="52fd7350-1eea-4c28-ba9e-037afa5257f6">introductionTextSimple</Composition>
      <Composition Key="1b2b1eb3-efc4-4fb2-8e37-035d2614d864">seoPackage1902</Composition>
      <Composition Key="64e1ea0b-1a4a-4a2e-8ec0-e4226b576c54">seoPackage1902Sitemap</Composition>
      <Composition Key="7101fca8-68ee-456b-a9f2-4bfdee869de1">SiteMapComposition</Composition>
      <Composition Key="e135dec4-e6cf-462c-901c-8be9659945f0">titleSubtitleComponent</Composition>
    </Compositions>
    <DefaultTemplate>Nieuwsoverzicht</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a3dfe8e1-e0ac-46b7-a40b-e1d7ac0ca865">Nieuwsoverzicht</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5786b012-8cd9-4f24-983a-20faa8e0fb8e" SortOrder="0">newsArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>508b2580-e75c-4d7f-bed0-208f3246d48f</Key>
      <Name>Uitgelicht nieuwsberciht</Name>
      <Alias>highlightedNewsArticle</Alias>
      <Definition>185b9242-bada-474d-8531-8f50f0e9de49</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="algemeen">Algemeen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0bf931ff-4387-4552-ba63-9caffe52d185</Key>
      <Caption>Algemeen</Caption>
      <Alias>algemeen</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>