<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0170448-1f1f-446f-9ecf-985a966730e9" Alias="[Block List] Nested content" Level="1">
  <Info>
    <Name>[Block List] Nested content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e6c62d19-989d-4b37-8086-88c16570ecf4",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 5,
    "min": null
  }
}]]></Config>
</DataType>