<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d46b3f2c-3241-474a-bd42-9fdeafc2ebbf" Alias="[Block List] Nested Content - Feiten en cijfers - max 1" Level="1">
  <Info>
    <Name>[Block List] Nested Content - Feiten en cijfers - max 1</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "40c70104-bf61-4972-b539-cf39ee38599b",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{factTitle}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>