<?xml version="1.0" encoding="utf-8"?>
<DataType Key="191e66cc-a690-4372-93f7-a5fccbf19e38" Alias="[Block List] Nested Content - Title Image Link - Max 3" Level="1">
  <Info>
    <Name>[Block List] Nested Content - Title Image Link - Max 3</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6476aa8d-1c5a-4416-96fd-e7885a753d35",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{abstractTitleImageLinkTitle}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": 0
  }
}]]></Config>
</DataType>