<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7800a74c-2c29-4da8-8dfb-550905a0c296" Alias="[Block List] Medische informatie blok - Medische informatie blok - Nested Content" Level="1">
  <Info>
    <Name>[Block List] Medische informatie blok - Medische informatie blok - Nested Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ec0bdc38-48a6-42b8-a89e-046eaa34a983",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Gekoppelde pagina: {{medicalContentBlocks|ncNodeName}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>