<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f4382b8-0d52-40f0-87b4-a16c55198ed5" Alias="[Block List] Nested Content - Stappenpagina - Stappen" Level="1">
  <Info>
    <Name>[Block List] Nested Content - Stappenpagina - Stappen</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3d50be10-51da-4357-a38e-ed338e25ab00",
      "editorSize": null,
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{titleStep}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>