<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d66c82b0-25fa-4450-b55b-f4a2c6e4d5b1" Alias="Fundraiser pricing" Level="1">
  <Info>
    <Name>Fundraiser pricing</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>