<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61cedeac-f635-4bd5-ac61-9138510b6749" Alias="Multi Url Picker - single link" Level="1">
  <Info>
    <Name>Multi Url Picker - single link</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "OverlaySize": "small"
}]]></Config>
</DataType>