<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f39bc80f-1fdd-4dfb-9c7f-b6ca197e0755" Alias="Multinode Treepicker - Medical content or zorgpad - multiple" Level="1">
  <Info>
    <Name>Multinode Treepicker - Medical content or zorgpad - multiple</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "medicalInformation,zorgpad",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Site",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "38830884-d571-4e77-9294-bfb8afad6e26"
          ]
        }
      ]
    },
    "id": null,
    "query": "",
    "type": "content"
  }
}]]></Config>
</DataType>