<?xml version="1.0" encoding="utf-8"?>
<DataType Key="706649be-79d2-42db-82e8-4b4213c4c0b9" Alias="SEO Checker Meta Robots" Level="1">
  <Info>
    <Name>SEO Checker Meta Robots</Name>
    <EditorAlias>SEOChecker.RobotsTxt</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>