<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7fe0c4a-31d4-4664-937f-699aa5437f6b" Alias="1902 True False" Level="1">
  <Info>
    <Name>1902 True False</Name>
    <EditorAlias>truefalse.1902Seo</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>