<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdd96f78-a916-4cf9-a777-99dea9bc6e9f" Alias="OLVG, locatie Spuistraat" Level="4">
  <Info>
    <Parent Key="d92dc0ff-5744-4380-9ee7-74310711e468">Routes</Parent>
    <Path>/Website/SharedContent/Routes/OLVGLocatieSpuistraat</Path>
    <Trashed>false</Trashed>
    <ContentType>route</ContentType>
    <CreateDate>2022-09-07T20:04:26</CreateDate>
    <NodeName Default="OLVG, locatie Spuistraat">
      <Name Culture="en-us">OLVG, Location Spuistraat</Name>
      <Name Culture="nl-nl">OLVG, locatie Spuistraat</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <routeDescription>
      <Value Culture="en-us"><![CDATA[<p>These are the directions to our Spuistraat location in English</p>]]></Value>
      <Value Culture="nl-nl"><![CDATA[<h3><span>Bezoekadres</span></h3>
<p class="dummy"><span>Spuistraat 239 A<br />1012 VP Amsterdam</span></p>
<h3><span>Postadres</span></h3>
<p class="dummy"><span>OLVG Postbus 95500<br />1090 HM Amsterdam</span></p>
<p class="dummy"><span>Telefoon: (020) 599 41 00<br />E-mail: <a href="mailto:spuistraat@olvg.nl">spuistraat@olvg.nl</a></span></p>
<h3><span>Algemeen</span></h3>
<p class="dummy"><span>OLVG, locatie Spuistraat is een kleinschalige OLVG-locatie in het hart van Amsterdam, gehuisvest in voormalig schoolgebouw Prinsenschool aan de Spuistraat. In de Prinsenschool zijn meerderen zorgpraktijken gevestigd.</span></p>
<h3><span>Aanwezige specialismen</span></h3>
<p class="dummy"><span>In OLVG-locatie Spuistraat kunt u terecht voor poliklinische- en anderhalvelijnszorg. Ook is er een prikpost waar u zonder afspraak terecht kunt.<br /><br />De volgende specialismen houden spreekuur op deze locatie:</span></p>
<table border="0">
<tbody>
<tr>
<td>
<ul>
<li>
<p class="dummy"><span>Bloedafname</span></p>
</li>
<li>
<p class="dummy"><span>Hartcentrum</span></p>
</li>
<li>
<p class="dummy"><span>Dermatologie</span></p>
</li>
<li>
<p class="dummy"><span>Gynaecologie</span></p>
</li>
<li>
<p class="dummy"><span>Interne Geneeskunde</span></p>
</li>
<li>
<p class="dummy"><span>KNO</span></p>
</li>
<li>
<p class="dummy"><span>MDL</span></p>
</li>
</ul>
</td>
<td>
<ul>
<li>
<p class="dummy"><span>Neurologie</span></p>
</li>
<li>
<p class="dummy"><span>Oogheelkunde</span></p>
</li>
<li>
<p class="dummy"><span>Sportgeneeskunde </span></p>
</li>
<li>
<p class="dummy"><span>Longgeneeskunde</span></p>
</li>
<li>
<p class="dummy"><span>Fundusfotografie</span></p>
</li>
<li>
<p class="dummy"><span>Spirometrie</span></p>
</li>
<li>
<p class="dummy"><span>Huisartsen-pluspunt</span></p>
</li>
</ul>
</td>
</tr>
</tbody>
</table>
<h3><span>Bereikbaarheid</span></h3>
<p class="dummy"><span>Locatie Spuistraat is gemakkelijk te bereiken met het openbaarvervoer en ligt tussen de Dam en het Spui in, op 15 minuten lopen van Amsterdam CS.  Kijkt u voor actuele openbaarvervoer informatie op <a rel="noopener" href="http://www.9292.nl/" target="_blank" title="www.9292.nl" class="ext">www.9292.nl</a></span></p>
<p class="dummy"><span>Woont u niet nabij de locatie en is het niet mogelijk met het openbaarvervoer te komen, neemt u dan contact op met de Beveiliging (020 5994100). De Beveiliging bespreekt met u de parkeermogelijkheden.</span></p>
<p><span>Openingstijden</span></p>
<p class="dummy"><span>De locatie is geopend van maandag t/m vrijdag tussen 07.00 en 19.00 uur.<br />Let op! De bloedafname is geopend tussen 08.00 en 16.15 uur. U kunt hier zonder afspraak terecht.</span></p>]]></Value>
    </routeDescription>
    <routeName>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[OLVG, locatie Spuistraat]]></Value>
    </routeName>
  </Properties>
</Content>