<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b583079-b2ff-484b-93b8-bc609ab3d49a" Alias="Over OLVG" Level="4">
  <Info>
    <Parent Key="352e1179-ba6d-4d3e-afdc-f378b308d029">Home</Parent>
    <Path>/Website/Pages/Home/OverOLVG</Path>
    <Trashed>false</Trashed>
    <ContentType>overzichtspagina</ContentType>
    <CreateDate>2022-07-05T11:21:09</CreateDate>
    <NodeName Default="Over OLVG">
      <Name Culture="en-us">About OLVG</Name>
      <Name Culture="nl-nl">Over OLVG</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2d6a87a-5333-47ca-8e7d-96edf0e5a253">Overzichtspagina</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <departments>
      <Value><![CDATA[]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <featuredItems>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"486b2b77-4c67-49f4-af5e-59086982c46b\",\r\n    \"mediaKey\": \"dc199003-9927-4f10-87e5-71076351c300\"\r\n  }\r\n]",
    "key": "91d80979-b41e-462d-881d-fa7c6580cf3f",
    "name": "Ons verhaal",
    "ncContentTypeAlias": "featuredItem",
    "PropType": null,
    "textFeaturedItem": "{\r\n  \"markup\": \"<p class=\\\"highlighted-item__description\\\">OLVG is hét stadsziekenhuis van Groot-Amsterdam. Met hoofdlocaties in Oost en West.</p>\\n<p> </p>\",\r\n  \"blocks\": {\r\n    \"contentData\": [],\r\n    \"settingsData\": []\r\n  }\r\n}",
    "titleFeaturedItem": "Ons verhaal",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Ons verhaal\",\r\n    \"udi\": \"umb://document/600fb3290a874529b5e44ee3de7bd46e\"\r\n  }\r\n]"
  },
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"04737d9d-37a8-4ea9-af0c-324f53c65cb2\",\r\n    \"mediaKey\": \"1171f9bc-3d6d-4f7d-8a04-01b8d2a86807\"\r\n  }\r\n]",
    "key": "5d01c162-eced-4dfe-90e9-ef31fca2b156",
    "name": "Vertel het ons!",
    "ncContentTypeAlias": "featuredItem",
    "PropType": null,
    "textFeaturedItem": "{\r\n  \"markup\": \"<p>OLVG is er voor u als patiënt. Wij vinden het belangrijk dat u tevreden bent over onze medische zorg en dienstverlening.</p>\",\r\n  \"blocks\": {\r\n    \"contentData\": [],\r\n    \"settingsData\": []\r\n  }\r\n}",
    "titleFeaturedItem": "Vertel het ons!",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"#\",\r\n    \"url\": \"#\"\r\n  }\r\n]"
  },
  {
    "iconFeaturedItem": "[\r\n  {\r\n    \"key\": \"461257f6-ddf9-477f-ad62-c9c6f48cc5ca\",\r\n    \"mediaKey\": \"27b24869-a82c-423c-89d3-29027839cb72\"\r\n  }\r\n]",
    "key": "04c38353-36b3-4163-9f93-767e41395c47",
    "name": "Nieuws",
    "ncContentTypeAlias": "featuredItem",
    "PropType": null,
    "textFeaturedItem": "{\r\n  \"markup\": \"<p class=\\\"highlighted-item__description\\\">OLVG is volop in ontwikkeling. Bekijk het laatste nieuws.</p>\\n<p>&nbsp;</p>\",\r\n  \"blocks\": {\r\n    \"contentData\": [],\r\n    \"settingsData\": []\r\n  }\r\n}",
    "titleFeaturedItem": "Nieuws",
    "urlFeaturedItem": "[\r\n  {\r\n    \"name\": \"Nieuws\",\r\n    \"udi\": \"umb://document/3f29f0665629468f8765479c5c544d3a\"\r\n  }\r\n]"
  }
]]]></Value>
    </featuredItems>
    <featuredItemsBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a4158dc07f2b42509a7c5c6de09f4ced"
      },
      {
        "contentUdi": "umb://element/23ccf05cdaae442b934a1697ac86e94b"
      },
      {
        "contentUdi": "umb://element/436a5ab0da3242a981f1ce556da6a6cf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "486b2b77-4c67-49f4-af5e-59086982c46b",
          "mediaKey": "dc199003-9927-4f10-87e5-71076351c300"
        }
      ],
      "textFeaturedItem": {
        "markup": "<p class=\"highlighted-item__description\">OLVG is hét stadsziekenhuis van Groot-Amsterdam. Met hoofdlocaties in Oost en West.</p>\n<p> </p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "titleFeaturedItem": "Ons verhaal",
      "udi": "umb://element/a4158dc07f2b42509a7c5c6de09f4ced",
      "urlFeaturedItem": [
        {
          "name": "Ons verhaal",
          "udi": "umb://document/600fb3290a874529b5e44ee3de7bd46e"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "04737d9d-37a8-4ea9-af0c-324f53c65cb2",
          "mediaKey": "1171f9bc-3d6d-4f7d-8a04-01b8d2a86807"
        }
      ],
      "textFeaturedItem": {
        "markup": "<p>OLVG is er voor u als patiënt. Wij vinden het belangrijk dat u tevreden bent over onze medische zorg en dienstverlening.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "titleFeaturedItem": "Vertel het ons!",
      "udi": "umb://element/23ccf05cdaae442b934a1697ac86e94b",
      "urlFeaturedItem": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "540f547f-8840-4600-9e17-38de3c1a29f0",
      "iconFeaturedItem": [
        {
          "key": "461257f6-ddf9-477f-ad62-c9c6f48cc5ca",
          "mediaKey": "27b24869-a82c-423c-89d3-29027839cb72"
        }
      ],
      "textFeaturedItem": {
        "markup": "<p class=\"highlighted-item__description\">OLVG is volop in ontwikkeling. Bekijk het laatste nieuws.</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "titleFeaturedItem": "Nieuws",
      "udi": "umb://element/436a5ab0da3242a981f1ce556da6a6cf",
      "urlFeaturedItem": [
        {
          "name": "Nieuws",
          "udi": "umb://document/3f29f0665629468f8765479c5c544d3a"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </featuredItemsBL>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <heroImage>
      <Value><![CDATA[umb://media/360a7147258144218528b8ca6e209027]]></Value>
    </heroImage>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionText>
    <introductionTextExpandable>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTextExpandable>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <links>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "groupLinks": "[\r\n  {\r\n    \"name\": \"Ons verhaal\",\r\n    \"udi\": \"umb://document/600fb3290a874529b5e44ee3de7bd46e\",\r\n    \"queryString\": \"#\"\r\n  },\r\n  {\r\n    \"name\": \"Agenda\",\r\n    \"url\": \"#\"\r\n  },\r\n  {\r\n    \"name\": \"Kerngegevens\",\r\n    \"url\": \"#\"\r\n  }\r\n]",
    "key": "27ecc2c6-2bf4-4522-ac4a-db3c62fbd4da",
    "linkTitle": "Organisatie",
    "name": "Organisatie",
    "ncContentTypeAlias": "groupedLinks",
    "PropType": null
  },
  {
    "groupLinks": "[\r\n  {\r\n    \"name\": \"Corporate governance\",\r\n    \"url\": \"#\"\r\n  }\r\n]",
    "key": "8553708f-7e57-4047-9a2a-8c97678dc2ce",
    "linkTitle": "Bestuur, inspraak, advies",
    "name": "Bestuur, inspraak, advies",
    "ncContentTypeAlias": "groupedLinks",
    "PropType": null
  },
  {
    "groupLinks": "[\r\n  {\r\n    \"name\": \"Visie op kwaliteit\",\r\n    \"url\": \"#\"\r\n  }\r\n]",
    "key": "d3d15014-ff05-4abc-b9ea-d497691ead75",
    "linkTitle": "Kwaliteit van zorg",
    "name": "Kwaliteit van zorg",
    "ncContentTypeAlias": "groupedLinks",
    "PropType": null
  },
  {
    "groupLinks": "[\r\n  {\r\n    \"udi\": \"umb://document/d5f2777a13c2435987ff189c13fce7ea\"\r\n  }\r\n]",
    "key": "198602ac-7697-4fb9-add6-128d7e004698",
    "linkTitle": "Fotoboek",
    "name": "Fotoboek",
    "ncContentTypeAlias": "groupedLinks",
    "PropType": null
  }
]]]></Value>
    </links>
    <linksBL>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/922ff37e800143fea7663f8ef78016c4"
      },
      {
        "contentUdi": "umb://element/9f121fe3a4034f94818a29861cfdaec2"
      },
      {
        "contentUdi": "umb://element/ccecd76c48d94b43bf703cbaf150ef7e"
      },
      {
        "contentUdi": "umb://element/298af317d01d464f8febbd57b869217d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Ons verhaal",
          "udi": "umb://document/600fb3290a874529b5e44ee3de7bd46e",
          "queryString": "#"
        },
        {
          "name": "Agenda",
          "url": "#"
        },
        {
          "name": "Kerngegevens",
          "url": "#"
        }
      ],
      "linkTitle": "Organisatie",
      "udi": "umb://element/922ff37e800143fea7663f8ef78016c4"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Corporate governance",
          "url": "#"
        }
      ],
      "linkTitle": "Bestuur, inspraak, advies",
      "udi": "umb://element/9f121fe3a4034f94818a29861cfdaec2"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "name": "Visie op kwaliteit",
          "url": "#"
        }
      ],
      "linkTitle": "Kwaliteit van zorg",
      "udi": "umb://element/ccecd76c48d94b43bf703cbaf150ef7e"
    },
    {
      "contentTypeKey": "49661505-bb16-4a9b-8475-d58fe7deaecc",
      "groupLinks": [
        {
          "udi": "umb://document/d5f2777a13c2435987ff189c13fce7ea"
        }
      ],
      "linkTitle": "Fotoboek",
      "udi": "umb://element/298af317d01d464f8febbd57b869217d"
    }
  ],
  "settingsData": []
}]]></Value>
    </linksBL>
    <metaHideFromSitemap>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <searchboost>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[0]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </sitemapRelativePriority>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="nl-nl"><![CDATA[{
  "markup": "<p>hét stadsziekenhuis van Groot-Amsterdam TEST</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="en-us"><![CDATA[Verpleegafdeling Oost]]></Value>
      <Value Culture="nl-nl"><![CDATA[Over OLVG]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>