<?xml version="1.0" encoding="utf-8"?>
<Content Key="96711bc0-28a5-4e39-bb57-abe36e46b83a" Alias="Pages" Level="2">
  <Info>
    <Parent Key="9a7b449e-1d61-4f44-b166-25c7eaab8b87">Website</Parent>
    <Path>/Website/Pages</Path>
    <Trashed>false</Trashed>
    <ContentType>contentContainer</ContentType>
    <CreateDate>2019-07-11T15:33:07</CreateDate>
    <NodeName Default="Pages" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>