<?xml version="1.0" encoding="utf-8"?>
<Content Key="a33d0803-441f-4364-ace4-ef8cb2852aad" Alias="Plaspijn is niet fijn" Level="5">
  <Info>
    <Parent Key="88d3b80f-e4f3-4658-8df9-1207d536b987">Medische informatie</Parent>
    <Path>/Website/Pages/Home/MedischeInformatie/PlaspijnIsNietFijn</Path>
    <Trashed>false</Trashed>
    <ContentType>zorgpad</ContentType>
    <CreateDate>2022-09-08T11:50:20</CreateDate>
    <NodeName Default="Plaspijn is niet fijn">
      <Name Culture="nl-nl">Plaspijn is niet fijn</Name>
    </NodeName>
    <SortOrder>57</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="6ec1c855-c673-4ea6-bd1f-fd9e34a7512a">Zorgpad</Template>
  </Info>
  <Properties>
    <bottomContent>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </bottomContent>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <contactContent>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </contactContent>
    <contactTitle>
      <Value Culture="nl-nl"><![CDATA[Neem contact]]></Value>
    </contactTitle>
    <content>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </content>
    <departments>
      <Value><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <externalLinksList>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </externalLinksList>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <headDepartment>
      <Value Culture="nl-nl"><![CDATA[umb://document/2dde96fd534746048dbf12de43772d52]]></Value>
    </headDepartment>
    <headHealthProfessional>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </headHealthProfessional>
    <healthProfessionalsContact>
      <Value Culture="nl-nl"><![CDATA[umb://document/238e8e74f5054bc5ace5316cc3866fe5,umb://document/de600e1b2c8841c5bd46953922226e11,umb://document/167bc1d7fcbf4e458bf3bd62f44725eb,umb://document/a5d543224e0742a7af32626c0dae8e72,umb://document/fd5a32d920e84d27bf295c5763b8b282,umb://document/514626f201304f30bf8d98f7fce4ac87,umb://document/1088e2578c7244adb6d90bab101cb653,umb://document/c1b3e3a75b7a40a4974295cfedaee2b9,umb://document/d6f26bb53ffd4cb4a339cd30c2a4c84f,umb://document/76df44470937433d99cf9e3e4269c207,umb://document/10b785d67ec04194800219da96650dc7]]></Value>
    </healthProfessionalsContact>
    <internalLinksList>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </internalLinksList>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introduction>
      <Value Culture="nl-nl"><![CDATA[<p>Plaspijn is er vervelend. Op de afdeling urologie hebben wij handen die zijn helend. </p>]]></Value>
    </introduction>
    <introductionNavigationTitle>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionNavigationTitle>
    <introductionTeam>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introductionTeam>
    <introFactsAndNumbers>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introFactsAndNumbers>
    <introFactsAndNumbersBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introFactsAndNumbersBL>
    <introReadMore>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introReadMore>
    <introUsefullSites>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </introUsefullSites>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <professionalContact>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </professionalContact>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <steps>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "content": "",
    "externalLinksList": "",
    "healthProfessionalsAndDepartment": "",
    "internalListLinks": "",
    "introductionStep": "",
    "key": "1a29e84d-1315-426f-969a-dc08772df592",
    "location": "",
    "name": "Stap 1: drink niet met mate",
    "ncContentTypeAlias": "step",
    "sections": "",
    "stepNavigationTitle": "Het is een feit",
    "titleStep": "Stap 1: drink niet met mate"
  },
  {
    "content": "",
    "externalLinksList": "",
    "healthProfessionalsAndDepartment": "",
    "internalListLinks": "",
    "introductionStep": "",
    "key": "bb139f7c-f374-4c0f-b550-a329efeade46",
    "location": "",
    "name": "dfvfvsdfv",
    "ncContentTypeAlias": "step",
    "sections": "",
    "stepNavigationTitle": "",
    "titleStep": "dfvfvsdfv"
  }
]]]></Value>
    </steps>
    <stepsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fa379766c51a422faf1ccc7591d4dec6"
      },
      {
        "contentUdi": "umb://element/fa31560fdcdb4b25a374fd614d5b6927"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "stepNavigationTitle": "Het is een feit",
      "titleStep": "Stap 1: drink niet met mate",
      "udi": "umb://element/fa379766c51a422faf1ccc7591d4dec6"
    },
    {
      "contentTypeKey": "f94ed6c4-c3f1-4c24-939c-47218d9b0298",
      "titleStep": "dfvfvsdfv",
      "udi": "umb://element/fa31560fdcdb4b25a374fd614d5b6927"
    }
  ],
  "settingsData": []
}]]></Value>
    </stepsBL>
    <subtitle>
      <Value Culture="nl-nl"><![CDATA[<p>Wat te doen bij plaspijn</p>]]></Value>
    </subtitle>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <tableOfContents>
      <Value Culture="nl-nl"><![CDATA[[
  {
    "abstractTextField": "Wij zijn de afdeling die de pijn wegneemt, altijd",
    "abstractTitleField": "Het is een feit",
    "key": "a3ca9aed-3c97-4200-917f-aaee2694ad5b",
    "name": "Het is een feit",
    "ncContentTypeAlias": "abstractTitleTextField"
  }
]]]></Value>
    </tableOfContents>
    <tableOfContentsBL>
      <Value Culture="nl-nl"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e91c455220c94f09b979f6bee9aa37dc"
      }
    ]
  },
  "contentData": [
    {
      "abstractTextField": "Wij zijn de afdeling die de pijn wegneemt, altijd",
      "abstractTitleField": "Het is een feit",
      "contentTypeKey": "17ad4257-fc96-4903-bd97-989481640259",
      "udi": "umb://element/e91c455220c94f09b979f6bee9aa37dc"
    }
  ],
  "settingsData": []
}]]></Value>
    </tableOfContentsBL>
    <tableOfContentsTitle>
      <Value Culture="nl-nl"><![CDATA[Helende handen]]></Value>
    </tableOfContentsTitle>
    <textButton>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </textButton>
    <title>
      <Value Culture="nl-nl"><![CDATA[Plaspijn]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <titleTeam>
      <Value Culture="nl-nl"><![CDATA[test]]></Value>
    </titleTeam>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>