<?xml version="1.0" encoding="utf-8"?>
<Content Key="2892f20f-f77e-426e-9f77-4a935df00e90" Alias="Santeondag" Level="5">
  <Info>
    <Parent Key="3cf9b593-6dce-4d4b-bdce-2dffc5caec40">Agenda</Parent>
    <Path>/Website/Pages/Home/Agenda/Santeondag</Path>
    <Trashed>false</Trashed>
    <ContentType>agendaItem</ContentType>
    <CreateDate>2022-09-08T11:04:17</CreateDate>
    <NodeName Default="Santeondag">
      <Name Culture="nl-nl">Santeondag</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="nl-nl">true</Published>
    </Published>
    <Schedule />
    <Template Key="14293814-dc51-4b5f-a34d-8416eded6bd3">AgendaItem</Template>
  </Info>
  <Properties>
    <canonicalUrl1902Seo>
      <Value><![CDATA[]]></Value>
    </canonicalUrl1902Seo>
    <cardImage>
      <Value><![CDATA[umb://media/6f1d5171120c469e817774f90508b595]]></Value>
    </cardImage>
    <clearOpenGraph1902Seo>
      <Value><![CDATA[]]></Value>
    </clearOpenGraph1902Seo>
    <content>
      <Value Culture="nl-nl"><![CDATA[<p> </p>
<p>Santeondag bladiebla<img src="?width=195&amp;height=195&amp;mode=max" alt="Zwangere vrouw" width="195" height="195" data-udi="umb://media/6f1d5171120c469e817774f90508b595" /></p>]]></Value>
    </content>
    <datesAndTimes>
      <Value><![CDATA[[
  {
    "dateTimeEndValue": "2022-09-09T16:00:00",
    "dateTimeValue": "2022-09-09T12:00:00",
    "key": "dd5995f3-dcd3-4384-9058-f5b8ae329769",
    "name": "2022-09-09 12:00:00",
    "ncContentTypeAlias": "dateTimeContentElement"
  }
]]]></Value>
    </datesAndTimes>
    <datesAndTimesBL>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/361e0eda86634d92a2903fca0a8ed5ed"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b41215cd-5f6a-4d3e-b0d9-63edb202ed20",
      "dateTimeEndValue": "\"2022-09-09T16:00:00\"",
      "dateTimeValue": "\"2022-09-09T12:00:00\"",
      "udi": "umb://element/361e0eda86634d92a2903fca0a8ed5ed"
    }
  ],
  "settingsData": []
}]]></Value>
    </datesAndTimesBL>
    <departments>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </departments>
    <description1902Seo>
      <Value><![CDATA[]]></Value>
    </description1902Seo>
    <googleImage1902Seo>
      <Value><![CDATA[]]></Value>
    </googleImage1902Seo>
    <googleplusDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusDescription1902Seo>
    <googleplusTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </googleplusTitle1902Seo>
    <healthProfessionals>
      <Value><![CDATA[]]></Value>
    </healthProfessionals>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <introductionText>
      <Value Culture="nl-nl"><![CDATA[ekbflw rj hiuerhgcierhg erh  gue reuhw;rihfoiwrh ;iohwriueh wruh iurwh fiuh wrfy wrifhw oihwr ;oih owi hwioh wbvbefbg 3rwfh3rwhg irhe goirw hgi wrgoirweig wosiejowi  hv8iiyver]]></Value>
    </introductionText>
    <keyword1902Seo>
      <Value><![CDATA[]]></Value>
    </keyword1902Seo>
    <ldScript1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScript1902Seo>
    <ldScriptBusiness1902Seo>
      <Value><![CDATA[]]></Value>
    </ldScriptBusiness1902Seo>
    <locatieTableOfContents>
      <Value Culture="nl-nl"><![CDATA[[
  "OLVG, locatie Oost"
]]]></Value>
    </locatieTableOfContents>
    <locations>
      <Value Culture="nl-nl"><![CDATA[umb://document/53a651c2a11c4b8c944d2b6eaa1e5ff9]]></Value>
    </locations>
    <manualRoutes>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutes>
    <manualRoutesBL>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </manualRoutesBL>
    <metaHideFromSitemap>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </metaHideFromSitemap>
    <newsItems>
      <Value><![CDATA[]]></Value>
    </newsItems>
    <noFollow1902Seo>
      <Value><![CDATA[False]]></Value>
    </noFollow1902Seo>
    <noIndex1902Seo>
      <Value><![CDATA[False]]></Value>
    </noIndex1902Seo>
    <ogDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </ogDescription1902Seo>
    <ogImage1902Seo>
      <Value><![CDATA[]]></Value>
    </ogImage1902Seo>
    <ogTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </ogTitle1902Seo>
    <openGraphCollapse1902Seo>
      <Value><![CDATA[]]></Value>
    </openGraphCollapse1902Seo>
    <preview1902Seo>
      <Value><![CDATA[]]></Value>
    </preview1902Seo>
    <routes>
      <Value Culture="nl-nl"><![CDATA[umb://document/d557e292e77840c1b1cf60d429396913]]></Value>
    </routes>
    <searchboost>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchboost>
    <searchDescription>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchDescription>
    <searchDoNotFind>
      <Value Culture="nl-nl"><![CDATA[0]]></Value>
    </searchDoNotFind>
    <searchKeyWord>
      <Value Culture="nl-nl"><![CDATA[]]></Value>
    </searchKeyWord>
    <seoChecker>
      <Value><![CDATA[
                        <SEOChecker>
                            <focusKeyword></focusKeyword>
                            <seoTitle></seoTitle>
                            <seoKeywords></seoKeywords>
                            <seoDescription></seoDescription>
                            <culture />
                        </SEOChecker>
                    ]]></Value>
    </seoChecker>
    <seoCheckerMetaRobots>
      <Value><![CDATA[
                        <SEOCheckerMetaRobotValues>
                            <index>index</index>
                            <follow>follow</follow>
                        </SEOCheckerMetaRobotValues>
                    ]]></Value>
    </seoCheckerMetaRobots>
    <seoCheckerSitemap>
      <Value><![CDATA[]]></Value>
    </seoCheckerSitemap>
    <sitemapChangeFrequency>
      <Value><![CDATA[]]></Value>
    </sitemapChangeFrequency>
    <siteMapChangeFrequency1902seo>
      <Value><![CDATA[]]></Value>
    </siteMapChangeFrequency1902seo>
    <sitemapDisabled>
      <Value><![CDATA[]]></Value>
    </sitemapDisabled>
    <siteMapPriority1902Seo>
      <Value><![CDATA[]]></Value>
    </siteMapPriority1902Seo>
    <sitemapRelativePriority>
      <Value><![CDATA[]]></Value>
    </sitemapRelativePriority>
    <summary1902Seo>
      <Value><![CDATA[]]></Value>
    </summary1902Seo>
    <title>
      <Value Culture="nl-nl"><![CDATA[Santeon dag ]]></Value>
    </title>
    <title1902Seo>
      <Value><![CDATA[]]></Value>
    </title1902Seo>
    <twitterDescription1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterDescription1902Seo>
    <twitterImage1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterImage1902Seo>
    <twitterTitle1902Seo>
      <Value><![CDATA[]]></Value>
    </twitterTitle1902Seo>
  </Properties>
</Content>