<?xml version="1.0" encoding="utf-8"?>
<Content Key="69d966d3-4817-476a-8278-6f6e32b4be73" Alias="Settings" Level="2">
  <Info>
    <Parent Key="a51cede4-e124-46d9-aa37-a54bdca1ab58">Echocardiografie</Parent>
    <Path>/Echocardiografie/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-07-05T08:52:19</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <analyticsActivityIndicator>
      <Value><![CDATA[0]]></Value>
    </analyticsActivityIndicator>
    <enableTagManager>
      <Value><![CDATA[0]]></Value>
    </enableTagManager>
    <expiredContentPage>
      <Value><![CDATA[]]></Value>
    </expiredContentPage>
    <googleOwnershipVerificationString>
      <Value><![CDATA[]]></Value>
    </googleOwnershipVerificationString>
    <mostSearchedTerms>
      <Value><![CDATA[]]></Value>
    </mostSearchedTerms>
    <newsFallbackImage>
      <Value><![CDATA[[]]]></Value>
    </newsFallbackImage>
    <readspeakerEnabled>
      <Value><![CDATA[0]]></Value>
    </readspeakerEnabled>
    <reCaptchaSecretKey>
      <Value><![CDATA[]]></Value>
    </reCaptchaSecretKey>
    <reCaptchaSiteKey>
      <Value><![CDATA[]]></Value>
    </reCaptchaSiteKey>
    <searchIndexName>
      <Value><![CDATA[EchocardiografieSearchIndex]]></Value>
    </searchIndexName>
    <settingsAnalyticsCodes>
      <Value><![CDATA[]]></Value>
    </settingsAnalyticsCodes>
    <settingsSeoDisableSiteIndexing>
      <Value><![CDATA[0]]></Value>
    </settingsSeoDisableSiteIndexing>
    <settingsSeoDisableSocialMediaTags>
      <Value><![CDATA[0]]></Value>
    </settingsSeoDisableSocialMediaTags>
    <settingsTagManagerContainerID>
      <Value><![CDATA[]]></Value>
    </settingsTagManagerContainerID>
    <umbracoUsers>
      <Value><![CDATA[]]></Value>
    </umbracoUsers>
    <umbracoUsersBL>
      <Value><![CDATA[]]></Value>
    </umbracoUsersBL>
    <websiteName>
      <Value><![CDATA[]]></Value>
    </websiteName>
  </Properties>
</Content>