<?xml version="1.0" encoding="utf-8"?>
<Content Key="416228b8-ad79-47a8-a88e-7f937a2d6d2b" Alias="Settings" Level="2">
  <Info>
    <Parent Key="5b861f81-35a8-4c77-9065-a77976a2e6b4">Beroerte Adviescentrum</Parent>
    <Path>/BeroerteAdviescentrum/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-07-14T11:44:26</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <analyticsActivityIndicator>
      <Value><![CDATA[0]]></Value>
    </analyticsActivityIndicator>
    <enableTagManager>
      <Value><![CDATA[0]]></Value>
    </enableTagManager>
    <expiredContentPage>
      <Value><![CDATA[]]></Value>
    </expiredContentPage>
    <googleOwnershipVerificationString>
      <Value><![CDATA[]]></Value>
    </googleOwnershipVerificationString>
    <mostSearchedTerms>
      <Value><![CDATA[]]></Value>
    </mostSearchedTerms>
    <newsFallbackImage>
      <Value><![CDATA[[]]]></Value>
    </newsFallbackImage>
    <readspeakerEnabled>
      <Value><![CDATA[0]]></Value>
    </readspeakerEnabled>
    <reCaptchaSecretKey>
      <Value><![CDATA[]]></Value>
    </reCaptchaSecretKey>
    <reCaptchaSiteKey>
      <Value><![CDATA[]]></Value>
    </reCaptchaSiteKey>
    <searchIndexName>
      <Value><![CDATA[BeroerteAdviescentrumSearchIndex]]></Value>
    </searchIndexName>
    <settingsAnalyticsCodes>
      <Value><![CDATA[]]></Value>
    </settingsAnalyticsCodes>
    <settingsSeoDisableSiteIndexing>
      <Value><![CDATA[0]]></Value>
    </settingsSeoDisableSiteIndexing>
    <settingsSeoDisableSocialMediaTags>
      <Value><![CDATA[0]]></Value>
    </settingsSeoDisableSocialMediaTags>
    <settingsTagManagerContainerID>
      <Value><![CDATA[]]></Value>
    </settingsTagManagerContainerID>
    <umbracoUsers>
      <Value><![CDATA[]]></Value>
    </umbracoUsers>
    <umbracoUsersBL>
      <Value><![CDATA[]]></Value>
    </umbracoUsersBL>
    <websiteName>
      <Value><![CDATA[]]></Value>
    </websiteName>
  </Properties>
</Content>