<?xml version="1.0" encoding="utf-8"?>
<Media Key="eff9ceb0-f586-4376-a336-dd23b9d3e085" Alias="1" Level="3">
  <Info>
    <Parent Key="ba842dd2-8168-4967-9d43-c07ac3cf12fc">fotoboek voorbeeld</Parent>
    <Path>/ExampleImages/fotoboekVoorbeeld/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-25T15:53:26</CreateDate>
    <NodeName Default="1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w1hpt12g/1.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>