<?xml version="1.0" encoding="utf-8"?>
<Media Key="98a10dab-fd6a-4a12-9af8-667655138ac4" Alias="Diaboss vulbeeld 5" Level="3">
  <Info>
    <Parent Key="9b603a7c-184b-4a27-8936-000f864a5b17">Diaboss</Parent>
    <Path>/Subsites/Diaboss/DiabossVulbeeld5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-06T08:32:10</CreateDate>
    <NodeName Default="Diaboss vulbeeld 5" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vugldgdk/diaboss-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>