<?xml version="1.0" encoding="utf-8"?>
<Media Key="f14d3adc-91bf-4b32-a8fe-445f981fe257" Alias="Oogheelkunde 6406" Level="2">
  <Info>
    <Parent Key="80de315e-71e5-4996-a1c4-c3bc8e75c677">Example images</Parent>
    <Path>/ExampleImages/Oogheelkunde6406</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-06-30T10:50:47</CreateDate>
    <NodeName Default="Oogheelkunde 6406" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1i3e12n5/oogheelkunde-6406.jpeg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>