<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc433f89-2d87-4cab-8388-d2da6fee9baf" Alias="Rood bos" Level="3">
  <Info>
    <Parent Key="2dc0f9d6-16f6-4cb3-86f0-e858732f6f62">Thomas Herckenrath</Parent>
    <Path>/Contenttraining/ThomasHerckenrath/RoodBos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-06T09:22:43</CreateDate>
    <NodeName Default="Rood bos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[Crying woman]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[Huilende vrouw]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r25fhxeh/4k-desktop-wallpaper.jpg",
  "focalPoint": {
    "left": 0.4774436090225564,
    "top": 0.9178501810080757
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>