<?xml version="1.0" encoding="utf-8"?>
<Media Key="874843fe-d4e4-4380-9ef5-78fef5cc4429" Alias="table of contents" Level="3">
  <Info>
    <Parent Key="12032e78-33ac-41f4-bd52-dc41c82fdf15">Cardiologie</Parent>
    <Path>/Departments/Cardiologie/tableOfContents</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-11T13:19:34</CreateDate>
    <NodeName Default="table of contents" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "crops": null,
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/5bbfrb5e/amoroso.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>