<?xml version="1.0" encoding="utf-8"?>
<Media Key="988f46bd-80f2-4ad7-a47c-2e3fe3889f8c" Alias="twee" Level="3">
  <Info>
    <Parent Key="ffab1899-58c2-41af-b2d0-32907fcb4172">Maartje</Parent>
    <Path>/Contenttraining/Maartje/twee</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T08:58:52</CreateDate>
    <NodeName Default="twee" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xndi5ghs/lou-bakken.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>