<?xml version="1.0" encoding="utf-8"?>
<Domain Key="85ffae86-0000-0000-0000-000000000000" Alias="https://localhost:55241/vvolvg/en">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="993ef43d-6eba-4efb-a1c8-f201b3c1201e">/Vrienden van OLVG/Pages/Homepage</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>