<?xml version="1.0" encoding="utf-8"?>
<Media Key="4700bac5-80ec-46be-865e-f677513a853d" Alias="12" Level="3">
  <Info>
    <Parent Key="ba842dd2-8168-4967-9d43-c07ac3cf12fc">fotoboek voorbeeld</Parent>
    <Path>/ExampleImages/fotoboekVoorbeeld/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-25T15:53:31</CreateDate>
    <NodeName Default="12" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yo3aar5m/12.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>