<?xml version="1.0" encoding="utf-8"?>
<Media Key="05862446-9c30-448d-902f-fea949a3d6a8" Alias="Aoascdilatatie01" Level="3">
  <Info>
    <Parent Key="2816a3de-f6f6-4ea1-9530-be45c18a5218">Echocardiografie</Parent>
    <Path>/Subsites/Echocardiografie/Aoascdilatatie01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-06T12:17:36</CreateDate>
    <NodeName Default="Aoascdilatatie01" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iasimbjq/aoascdilatatie01.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>