<?xml version="1.0" encoding="utf-8"?>
<Media Key="46cbe100-3354-474a-a3fb-68e9c658f9a2" Alias="arm of been in het gips" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/armOfBeenInHetGips</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-08T11:37:23</CreateDate>
    <NodeName Default="arm of been in het gips" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties />
</Media>