<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac2af6f1-4e11-42db-86fe-e9ef2657e4bc" Alias="Doktersassistent 3" Level="3">
  <Info>
    <Parent Key="9b603a7c-184b-4a27-8936-000f864a5b17">Diaboss</Parent>
    <Path>/Subsites/Diaboss/Doktersassistent3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-06T09:37:47</CreateDate>
    <NodeName Default="Doktersassistent 3" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/451cvlar/doktersassistent-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>