<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f9bdd1a-0a48-4064-900d-9d7044439d25" Alias="Example files" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ExampleFiles</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-03-31T09:48:10</CreateDate>
    <NodeName Default="Example files" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>