<?xml version="1.0" encoding="utf-8"?>
<Media Key="15b7bcbd-ee31-43ff-9dbb-b483edb3d147" Alias="Hartkatheterisatie 0165 0" Level="2">
  <Info>
    <Parent Key="80de315e-71e5-4996-a1c4-c3bc8e75c677">Example images</Parent>
    <Path>/ExampleImages/Hartkatheterisatie01650</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-07-04T11:17:28</CreateDate>
    <NodeName Default="Hartkatheterisatie 0165 0" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uw4lofjr/hartkatheterisatie-0165_0.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>