<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed6fdb6f-fb3a-4c20-9a17-5036217b86d7" Alias="iconen" Level="2">
  <Info>
    <Parent Key="80de315e-71e5-4996-a1c4-c3bc8e75c677">Example images</Parent>
    <Path>/ExampleImages/iconen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-05-25T16:37:12</CreateDate>
    <NodeName Default="iconen" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>