<?xml version="1.0" encoding="utf-8"?>
<Media Key="c41df985-7368-48ee-bf9a-cd376e1f53d6" Alias="icoon 3 mensen" Level="3">
  <Info>
    <Parent Key="cfae608b-de4c-420e-873e-be3f6312c370">Marjon</Parent>
    <Path>/Contenttraining/Marjon/icoon3Mensen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T08:56:16</CreateDate>
    <NodeName Default="icoon 3 mensen" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qp2b1rdi/12228804_20210830_ebp-400p_ebp-coach.png",
  "focalPoint": {
    "left": 0.3308270676691729,
    "top": 0.2192295646727216
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>