<?xml version="1.0" encoding="utf-8"?>
<Media Key="79e43b47-90c0-4d82-9b7a-ece6914b65ac" Alias="nuchter" Level="3">
  <Info>
    <Parent Key="cfae608b-de4c-420e-873e-be3f6312c370">Marjon</Parent>
    <Path>/Contenttraining/Marjon/nuchter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T09:03:27</CreateDate>
    <NodeName Default="nuchter" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ie3pi4oa/nuchter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>