<?xml version="1.0" encoding="utf-8"?>
<Media Key="24178962-db02-4ba2-bbde-3e17baf03a90" Alias="OLVG Medische Informatie Template Document" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OLVGMedischeInformatieTemplateDocument</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-05-23T12:13:52</CreateDate>
    <NodeName Default="OLVG Medische Informatie Template Document" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pkebojac/olvg-medische-informatie-template-document.docx]]></Value>
    </umbracoFile>
  </Properties>
</Media>