<?xml version="1.0" encoding="utf-8"?>
<Media Key="0735dd2f-70a1-4850-9fce-c37047fc2d23" Alias="Oog Zijaanzicht 01 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OogZijaanzicht011</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-05T12:31:39</CreateDate>
    <NodeName Default="Oog Zijaanzicht 01 (1)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fhodkb3b/oog-zijaanzicht-01-1.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>