<?xml version="1.0" encoding="utf-8"?>
<Media Key="eff64994-2686-42f8-a734-a302792f546f" Alias="Oost2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Oost2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-31T15:20:16</CreateDate>
    <NodeName Default="Oost2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sjepn12g/oost2.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>