<?xml version="1.0" encoding="utf-8"?>
<Media Key="9694ef66-2459-49df-9e7a-3c05176cd99d" Alias="Pavlik Bandage" Level="3">
  <Info>
    <Parent Key="2a0e4376-1052-4310-b29d-44cc72116c36">Medical Information</Parent>
    <Path>/ExampleFiles/MedicalInformation/PavlikBandage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-01T12:07:51</CreateDate>
    <NodeName Default="Pavlik Bandage" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mdxjjfsz/pavlik-bandage.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>