<?xml version="1.0" encoding="utf-8"?>
<Media Key="77d4aa6e-6557-4cc7-aff8-1cf6e1cfed8b" Alias="Poli 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Poli4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-05-03T18:33:12</CreateDate>
    <NodeName Default="Poli 4" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ncvni30x/poli_4.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>