<?xml version="1.0" encoding="utf-8"?>
<Media Key="51c814c3-2ea1-4409-b555-f1778ee7e4d4" Alias="Readspeaker" Level="2">
  <Info>
    <Parent Key="60f0c6bc-2f85-4bfa-8c9e-b11a6b72c61c">Systeemafbeeldingen</Parent>
    <Path>/Systeemafbeeldingen/Readspeaker</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-10-05T12:55:27</CreateDate>
    <NodeName Default="Readspeaker" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>