<?xml version="1.0" encoding="utf-8"?>
<Media Key="93e2d7dd-df58-4011-9b7b-99970bf0e8d7" Alias="Renée" Level="2">
  <Info>
    <Parent Key="b36b7405-c958-4b2d-9822-45fec4be39dc">Contenttraining</Parent>
    <Path>/Contenttraining/Renee</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-09-06T09:16:44</CreateDate>
    <NodeName Default="Renée" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>