<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea7d0a96-59ad-44d3-9d29-32f032fbf912" Alias="Schouder Pezen En Spieren" Level="3">
  <Info>
    <Parent Key="7ae3d69a-811c-49ea-a2c4-4a76d56721f3">Nena</Parent>
    <Path>/Contenttraining/Nena/SchouderPezenEnSpieren</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-08T08:55:42</CreateDate>
    <NodeName Default="Schouder Pezen En Spieren" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/safh10vn/schouder-pezen-en-spieren.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>