<?xml version="1.0" encoding="utf-8"?>
<Media Key="963b40ec-e0a0-4204-ba7a-3c5fff9cfe93" Alias="Table of content image" Level="2">
  <Info>
    <Parent Key="60f0c6bc-2f85-4bfa-8c9e-b11a6b72c61c">Systeemafbeeldingen</Parent>
    <Path>/Systeemafbeeldingen/TableOfContentImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-30T09:30:02</CreateDate>
    <NodeName Default="Table of content image" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3jadxfva/olvg_intranet-pictogrammen_organisatie-01.png",
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>