<?xml version="1.0" encoding="utf-8"?>
<Media Key="09989ad3-5c40-4cad-8897-ff21da493116" Alias="Test PDF" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestPDF</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-05-25T13:30:35</CreateDate>
    <NodeName Default="Test PDF" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zonjqcka/test-pdf.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>