<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6bf871e-ece2-414a-96df-f95b75e5561d" Alias="Wolf" Level="2">
  <Info>
    <Parent Key="60f0c6bc-2f85-4bfa-8c9e-b11a6b72c61c">Systeemafbeeldingen</Parent>
    <Path>/Systeemafbeeldingen/Wolf</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-26T10:10:16</CreateDate>
    <NodeName Default="Wolf" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dcdl5nxc/wolf.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>