<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f1d5171-120c-469e-8177-74f90508b595" Alias="Zwanger" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Zwanger</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-06-16T11:48:01</CreateDate>
    <NodeName Default="Zwanger" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <alt_enUS>
      <Value><![CDATA[]]></Value>
    </alt_enUS>
    <alt_nlNL>
      <Value><![CDATA[]]></Value>
    </alt_nlNL>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o3ib01ym/zwanger.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>